Workflows/-T25r5IjXA5M06pY1eBhI.json
{"updatedAt":"2026-01-14T23:30:28.584Z","createdAt":"2026-01-14T22:04:36.770Z","id":"-T25r5IjXA5M06pY1eBhI","name":"[WhatsApp Alessando - Evo] Mensageria - Envia mensagens para os grupos","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"groups-api","operation":"fetch-groups","instanceName":"Alessandro","searchMethod":"fetchAll"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[176,-384],"id":"7fea8c40-c134-43c2-b024-dea2b9fdb14c","name":"Buscar grupos1","credentials":{"evolutionApi":{"id":"gqMlUQxrxPNWPCn1","name":"Evolution - Hetzner Scala Server-1"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[384,-384],"id":"8b123705-97dc-4f13-bd9b-fb29518a0efc","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[592,-384],"id":"ab6c07f5-ff57-4718-bc5b-23f863b59dbe","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e3cdf156-08a5-473c-83b5-a7e9b61d4385","leftValue":"={{ $json.subject }}","rightValue":"TERRA","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[800,-288],"id":"dba35124-08fc-4ee8-8d61-b95d9074fb5e","name":"If"},{"parameters":{"dataTableId":{"__rl":true,"value":"1X3dCyBOWBbxWaeN","mode":"list","cachedResultName":"Grupos Terra","cachedResultUrl":"/projects/Cf0rhzAQivp560yX/datatables/1X3dCyBOWBbxWaeN"},"columns":{"mappingMode":"defineBelow","value":{"Nome_Grupo":"={{ $json.subject }}","Id_Grupo":"={{ $json.id }}","Ativo":true,"Empresa":"Terra"},"matchingColumns":[],"schema":[{"id":"Ativo","displayName":"Ativo","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Nome_Grupo","displayName":"Nome_Grupo","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Empresa","displayName":"Empresa","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Id_Grupo","displayName":"Id_Grupo","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[1008,-304],"id":"8d14e908-7c91-413e-a901-6cf045674c6d","name":"Insert row"},{"parameters":{"content":"## Busca grupos TERRA e coloca na tabela\nNão faz verificação se já existe","height":464,"width":1072},"type":"n8n-nodes-base.stickyNote","position":[112,-528],"typeVersion":1,"id":"9262ca73-b075-4c38-8130-60ea885b0254","name":"Sticky Note"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-320,96],"id":"e41f8e0f-821c-4c36-ab51-bb60189c209b","name":"When chat message received","webhookId":"facb03fa-02a8-46b8-b72d-cef422499d19"},{"parameters":{"resource":"messages-api","instanceName":"Alessandro","remoteJid":"={{ $json.Id_Grupo }}","messageText":"={{ $('When chat message received').item.json.chatInput }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[592,208],"id":"988320c2-b3b1-4fc2-9930-f182798a32e9","name":"Enviar texto","credentials":{"evolutionApi":{"id":"gqMlUQxrxPNWPCn1","name":"Evolution - Hetzner Scala Server-1"}}},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"1X3dCyBOWBbxWaeN","mode":"list","cachedResultName":"Grupos Terra","cachedResultUrl":"/projects/Cf0rhzAQivp560yX/datatables/1X3dCyBOWBbxWaeN"},"filters":{"conditions":[{"keyName":"Ativo","condition":"isTrue"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[160,96],"id":"53c0d50f-8a72-48b1-a362-e4e92fc0b266","name":"Get row(s)"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[368,96],"id":"88594f40-0e7f-4d57-8751-d59c11d5ff11","name":"Loop Over Items1"},{"parameters":{"amount":60},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[800,208],"id":"df4a6364-51ab-4231-8103-42c5a9d5c849","name":"60s","webhookId":"d8c41b3a-4c50-4946-8894-c50edac9c857"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-288,-288],"id":"a825747c-9d04-4501-948b-9003e54a5ca9","name":"When clicking ‘Execute workflow’"},{"parameters":{"content":"## Envia mesagm para os grupos ativos da TERRA\nConexão com chat","height":448,"width":1072},"type":"n8n-nodes-base.stickyNote","position":[112,0],"typeVersion":1,"id":"d4867d62-8bc0-4e94-904e-31d3556902b7","name":"Sticky Note1"}],"connections":{"Buscar grupos1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Insert row","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Insert row":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Enviar texto","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"60s","type":"main","index":0}]]},"60s":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Buscar grupos1":[{"json":{"success":true,"data":[{"id":"120363423302848377@g.us","subject":"FC Tech Week IA for Devs #36","subjectOwner":"163187718680686@lid","subjectTime":1765814970,"pictureUrl":null,"size":3,"creation":1765814970,"owner":"163187718680686@lid","restrict":false,"announce":false,"isCommunity":true,"isCommunityAnnounce":false},{"id":"120363395279347130@g.us","subject":"Botvance Comunidade","subjectOwner":"165958006104067@lid","subjectTime":1739016906,"pictureUrl":null,"size":1,"creation":1739016743,"owner":"165958006104067@lid","desc":"Botvance comunidade para trocar conhecimentos sobre automação, inteligência artificial, agentes de IA, n8n, banco de dados e muito mais. Seja bem-vindo(a)!\nhttps://youtube.com/@botvance","descId":"2656824FDCDBB187F2FB4E98C4873011","restrict":false,"announce":false,"isCommunity":true,"isCommunityAnnounce":false},{"id":"120363386041326231@g.us","subject":"#10 IMERSÃO JORNADA CYBER 🦅","subjectOwner":"257925738172506@lid","subjectTime":1736448606,"pictureUrl":null,"size":3,"creation":1735927850,"owner":"257925738172506@lid","desc":"Bem-vindo ao grupo exclusivo da Imersão Jornada Cyber!\r\n\r\n🔑 Este é o único canal oficial para acessar materiais e informações importantes.\r\n\r\n🚨 Atenção: Não estamos falando de conteúdo comum. Serão dois dias de imersão intensa, com estratégias e técnicas que já transformaram entusiastas em profissionais de destaque no universo da segurança digital, hacking ético e investigação. \r\n\r\nPara garantir que você tire o máximo proveito dessa experiência, precisamos de apenas um passo seu agora:\r\n\r\n👉 Preencha o formulário abaixo ⬇️\r\n\r\nEssa etapa simples nos ajudará a personalizar o evento para atender às suas expectativas, elevando seu aprendizado a outro nível.\r\n\r\nClique aqui para preencher agora:\r\nhttps://focoemsec.com/pesquisa-cyber\r\n\r\nImportante: Confie apenas nos administradores deste grupo. Qualquer comunicação será feita exclusivamente pelos nossos canais oficiais.","descId":"E502837448EC6DF3303561B7B9127EA2","restrict":false,"announce":false,"isCommunity":true,"isCommunityAnnounce":false},{"id":"120363379815387183@g.us","subject":"🧠 Comunidade | Mente Conectada | Leonardo Candiani","subjectOwner":"25898736681154@lid","subjectTime":1738079704,"pictureUrl":null,"size":4,"creation":1734122638,"owner":"25898736681154@lid","desc":"Bem-vindo ao grupo *Mente Conectada*! Aqui você terá acesso a templates gratuitos, dicas práticas e conteúdos exclusivos sobre Inteligência Artificial e Automação.\n\n*Nosso servidor do discord*:\nhttps://discord.gg/PR8nPTRHtn\n\n*Acesse os nosso links:* https://leonardocandiani.com.br/\n\n*Regras do Grupo*\n\n1. *Proibido vender mentorias, cursos ou consultorias!*\n- É expressamente proibido vender produtos como mentorias, cursos, consultorias ou divulgar vagas. Denúncias recorrentes levam ao banimento.\n\n2. *Sem pesca em balde!*\n- Sabemos que temos muitas pessoas qualificadas no grupo, mas prospectar clientes diretamente aqui é proibido. Contamos com seu bom senso!\n\n3. *Sem anúncios ou divulgação não autorizada!*\n- Não crie ou divulgue grupos paralelos nem promova qualquer tipo de produto ou serviço sem autorização prévia. Mensagens não autorizadas serão deletadas sem aviso prévio.\n\n4. *Respeite o propósito do grupo!*\n- Foco em networking, discussões profissionais e conteúdos relevantes. Evite mensagens fora desse contexto.\n\n5. *Sem spam ou mensagens irrelevantes!*\n- Não compartilhe fake news, correntes ou conteúdos repetitivos. Poste apenas algo que agregue valor.\n\n6. *Seja educado e respeitoso!*\n- Ofensas, preconceitos ou provocações não serão tolerados. Preserve o respeito e a harmonia.\n\n7. *Dúvidas, denúncias ou problemas?*\n- Fale com os administradores imediatamente. Estamos aqui para ajudar e manter a ordem.","descId":"1741772517-519","restrict":false,"announce":false,"isCommunity":true,"isCommunityAnnounce":false},{"id":"120363333243733572@g.us","subject":"Negócio com Agentes Comunidade Free","subjectOwner":"219932440703016@lid","subjectTime":1765230536,"pictureUrl":null,"size":3,"creation":1725468065,"desc":"TEMPLATE GRATUITO\nhttps://drive.google.com/drive/folders/1_WiEcltW_2_EtYdsCRG1I0vNZG8AxxVQ?usp=sharing\n\nTREINAMENTO COMPLETO: https://negociocomagentesdeia.com/?utm_sourcer=gwpp\n\nCANAL YOUTUBE: \nhttps://www.youtube.com/channel/UCL1tvwMtUt5A6OAvFmhuQlA/","descId":"5F75449CD73CA271","restrict":false,"announce":false,"isCommunity":true,"isCommunityAnnounce":false},{"id":"120363303790685611@g.us","subject":"Jornada Creators","subjectOwner":"237219717603452@lid","subjectTime":1722558706,"pictureUrl":null,"size":1,"creation":1722558706,"owner":"237219717603452@lid","desc":"‎Olá! Esta comunidade foi criada para que os membros possam conversar em grupos de assuntos específicos e receber avisos importantes.","descId":"1722558097-41","restrict":false,"announce":false,"isCommunity":true,"isCommunityAnnounce":false},{"id":"120363303312425779@g.us","subject":"FÁBRICA DE AUTOMAÇÕES IA    cooperação, cursos, mentoria e serviços ","subjectOwner":"132250784018630@lid","subjectTime":1727743865,"pictureUrl":null,"size":1,"creation":1722907110,"owner":"132250784018630@lid","desc":"Link do grupo :https://fabricadeautomacoesia.com.br/grupo-whatsapp\n\nJobs como:\ninstalações em vps\nmentorias individuais \nTurma de mentoria pro\nCurso ia maker\nCriação ou compra de fluxos \nChame no 91984698653\n\nOu mesmo torne-se um afiliado e ganhe dinheiro vendendo nossas automações para empresas através a inovare ia\n\nObjetivo do grupo é fazer automações em cooperação compartilhar fluxos de Inteligência Artificial do N8N com base no fluxo desenvolvido e disponibilizado gratuitamente pelo grupo com foco em Multi agentes de ia para atendimento, ou outros fluxos de n8n que sejam ulteis a comunidade como tools para esses agentes \n\naqui você aprender e pegar o um flow funcional de Multi agentes em n8n para construir em cima os seus agentes, voltar e compartilhar na comunidade, também fazemos projetos conjuntos de automação e  oferecemos mentoria gratuita para a construção desse agente \n\nno grupo vip já temos mais 100 fluxos disponíveis gratuitamente, o grupo vip é exclusivo para que já compartilhou fluxos de Multi agentes ia com base no fluxo template da comunidade, os fluxos devem ser autorais, e para atendimento ao cliente é validados pelo grupo\n\n# fluxos que a comunidade tem  objetivo de fazer \n\n1- fluxos de agentes de atendimento em n8n, baseados no fluxo da comunidade para ramos variados de empresa que estão no Drive ainda ainda em Tipebot para serem convertidos \n\n2- tools para agentes que executem funções ulteis para a comunidade já com o fluxo template da comunidade \n\n3- html’s ou Php que sejam úteis ao fluxo template da comunidade e já estejam integrados no mesmo\n\nQuaisquer contribuições dentro dos bjetivos de fluxo da comunidade darão acesso ao grupo vip para cooperadores em que estão todos os fluxos já compartilhados aqui, e fluxos exclusivos bem como automações como izing, whatiket, stacks, fluxos de grandes automadores e etc  de comunidades pagas como pack typebot, Zdg VIP club e etc\n\n#lives semanais no canal xpopdigital para tirar dulvidas e trocar ideias e lives e vídeos em outros canais parceiros tb","descId":"1728868399-309","restrict":false,"announce":false,"isCommunity":true,"isCommunityAnnounce":false},{"id":"120363279545285725@g.us","subject":"illumi","subjectOwner":"4380950536447@lid","subjectTime":1712241520,"pictureUrl":null,"size":1,"creation":1712241520,"owner":"4380950536447@lid","restrict":false,"announce":false,"isCommunity":true,"isCommunityAnnounce":false},{"id":"120363153397802380@g.us","subject":"Mundo do Marketing #2","subjectOwner":"224790031929447@lid","subjectTime":1683768922,"pictureUrl":null,"size":3,"creation":1683768922,"owner":"224790031929447@lid","desc":"Comunidade do Mundo do Marketing, o principal portal de conteúdo para os profissionais da área com casos de sucesso, entrevistas, pesquisas, tendências, insights, estudos de mercado, notícias, lançamentos, artigos, ativações e promoções.","descId":"1725935399-144","restrict":false,"announce":false,"isCommunity":true,"isCommunityAnnounce":false},{"id":"120363138044665005@g.us","subject":"Comunidade Promovaweb","subjectOwner":"155598108754046@lid","subjectTime":1684487312,"pictureUrl":null,"size":2,"creation":1684248069,"owner":"155598108754046@lid","desc":"Essa é a Comunidade Promovaweb, onde você pode fazer networking, tirar suas dúvidas, descobrir novas ferramentas e receber notificações sobre cursos, vídeos, aulas e mentorias da Promovaweb.","descId":"64534.63651-10859","restrict":false,"announce":false,"isCommunity":true,"isCommunityAnnounce":false},{"id":"120363175510309781@g.us","subject":"Monte das Oliveiras Qd.6 Lt.5","subjectOwner":"204779829641392@lid","subjectTime":1707746059,"pictureUrl":null,"size":1,"creation":1698145854,"owner":"204779829641392@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"556292445646-1548858441@g.us","subject":"LEMBRETE","subjectOwner":"204779829641392@lid","subjectTime":1548858441,"pictureUrl":null,"size":1,"creation":1548858441,"owner":"204779829641392@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363371967457059@g.us","subject":"TERRA / NEGÃO CHANDON","subjectOwner":"204779829641392@lid","subjectTime":1736860108,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/484887598_1141177794360089_3814432869813482714_n.jpg?ccb=11-4&oh=01_Q5Aa3gEfkKAFiYOAKbkelbQYOx9rUFXQvT39r2tUiJ695jkzfw&oe=697533AD&_nc_sid=5e03e0&_nc_cat=105","size":2,"creation":1736860108,"owner":"204779829641392@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363401617558479@g.us","subject":"TERRA / JAPA","subjectOwner":"187599926853884@lid","subjectTime":1743509106,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/473397448_1615529249130515_5063717926984671236_n.jpg?ccb=11-4&oh=01_Q5Aa3gG7UAxNywtBPrRR4yUIY4_OYCMV6yJnUuwh4VkaDImcWQ&oe=6975385A&_nc_sid=5e03e0&_nc_cat=108","size":2,"creation":1743509106,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363403669048878@g.us","subject":"André e Andrade - Chamadinhas pra fazer","subjectOwner":"204779829641392@lid","subjectTime":1758125401,"pictureUrl":null,"size":2,"creation":1758125375,"owner":"204779829641392@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363401181042699@g.us","subject":"Perguntar para o Alessandro ","subjectOwner":"70377384497392@lid","subjectTime":1755027212,"pictureUrl":null,"size":2,"creation":1755027212,"owner":"70377384497392@lid","desc":"","descId":"none","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363420314087204@g.us","subject":"Comunicados e Informações - Monte da Oliveiras","subjectOwner":"204779829641392@lid","subjectTime":1745503962,"pictureUrl":null,"size":2,"creation":1745503962,"owner":"204779829641392@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"556299156468-1559069575@g.us","subject":"Material André e Andrade ","subjectOwner":"70377384497392@lid","subjectTime":1559069575,"pictureUrl":null,"size":2,"creation":1559069575,"owner":"70377384497392@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363362625878853@g.us","subject":"teste 2","subjectOwner":"204779829641392@lid","subjectTime":1731527790,"pictureUrl":null,"size":2,"creation":1731527790,"owner":"204779829641392@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363370659900701@g.us","subject":"TERRA / JOÃO MORENO E MARIANO","subjectOwner":"187599926853884@lid","subjectTime":1736787831,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/473405466_927717149341064_1042950678128456072_n.jpg?ccb=11-4&oh=01_Q5Aa3gEoM_JCHSCEskW9exhtqGv8mleD9hN95FAHoLiYj0Flgg&oe=69751FD5&_nc_sid=5e03e0&_nc_cat=100","size":2,"creation":1736787831,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363404387349467@g.us","subject":"teste","subjectOwner":"204779829641392@lid","subjectTime":1765317488,"pictureUrl":null,"size":2,"creation":1765317488,"owner":"204779829641392@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363333808771423@g.us","subject":"teste","subjectOwner":"27797263270076@lid","subjectTime":1729971719,"pictureUrl":null,"size":2,"creation":1729971719,"owner":"27797263270076@lid","desc":"Esse é um grupo de teste de resumo de grupos de WhatsApp","descId":"02C51A8125E6377687D1D3CBF177E192","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363418071000905@g.us","subject":"ASI certified 🤖","subjectOwner":"32998317621411@lid","subjectTime":1748519068,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/491865922_1427657878256567_4629536075779673795_n.jpg?ccb=11-4&oh=01_Q5Aa3gGJnsRZ6AoLD5GRpJ7jwWM0XYeNUKEeZfEL0D1GqZUm_Q&oe=697539BC&_nc_sid=5e03e0&_nc_cat=108","size":3,"creation":1748519068,"owner":"32998317621411@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363423571814692@g.us","subject":"TERRA / REI DA GAIA","subjectOwner":"187599926853884@lid","subjectTime":1763923445,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/534425461_1594449755319672_4849083017512387082_n.jpg?ccb=11-4&oh=01_Q5Aa3gHA_hD2jdiLlj8a6WMe7VXNQaxUxjnprGif02Ayoohv9A&oe=697520D1&_nc_sid=5e03e0&_nc_cat=103","size":3,"creation":1763923445,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363404687089617@g.us","subject":"MKT TERRA GRAVADORA","subjectOwner":"187599926853884@lid","subjectTime":1762864152,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/534426274_1333178051922480_3984467245838014538_n.jpg?ccb=11-4&oh=01_Q5Aa3gGxEIJoE88DUi5Wn-rbth5KliqG1YQMVh2_iMcivqcMZA&oe=69752927&_nc_sid=5e03e0&_nc_cat=103","size":3,"creation":1762285249,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363404872943104@g.us","subject":"MIGRAÇÃO NANDO","subjectOwner":"187599926853884@lid","subjectTime":1762806215,"pictureUrl":null,"size":3,"creation":1762806215,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363400137513382@g.us","subject":"PANCADANCE","subjectOwner":"187599926853884@lid","subjectTime":1743454138,"pictureUrl":null,"size":3,"creation":1743454138,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363370717031210@g.us","subject":"TERRA / PANCADANCE","subjectOwner":"187599926853884@lid","subjectTime":1736787725,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/481357591_2835655249950852_3549886028900329935_n.jpg?ccb=11-4&oh=01_Q5Aa3gGjG5xk94lSpOWymRWl5v9g7Hzi0DGTfX0mTjuC417Klg&oe=69752EA3&_nc_sid=5e03e0&_nc_cat=108","size":3,"creation":1736787725,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363402127779235@g.us","subject":"UPLOAD MURIEL","subjectOwner":"187599926853884@lid","subjectTime":1754675481,"pictureUrl":null,"size":3,"creation":1754675481,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363424034046259@g.us","subject":"Jardinagem Monte das Oliveiras - Concelho🌿","subjectOwner":"263801320554519@lid","subjectTime":1767656542,"pictureUrl":null,"size":3,"creation":1767656542,"owner":"263801320554519@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363403825451930@g.us","subject":"Material Gravação","subjectOwner":"243881195139290@lid","subjectTime":1753958343,"pictureUrl":null,"size":3,"creation":1753958343,"owner":"243881195139290@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"556292445646-1421845537@g.us","subject":"Irmãos Torres ","subjectOwner":"204779829641392@lid","subjectTime":1421845537,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/57265607_629512374176025_8779361612034211840_n.jpg?ccb=11-4&oh=01_Q5Aa3gGoP95DV0BKCp4Bg7niao8WcleCCGWJc-lBVxbjV5Ragg&oe=697528FF&_nc_sid=5e03e0&_nc_cat=106","size":3,"creation":1421845537,"owner":"204779829641392@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363404557709329@g.us","subject":"Design Chandon Produções","subjectOwner":"204779829641392@lid","subjectTime":1766762707,"pictureUrl":null,"size":3,"creation":1766762707,"owner":"204779829641392@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363379315606402@g.us","subject":"CONTRATOS TERRA","subjectOwner":"187599926853884@lid","subjectTime":1740150868,"pictureUrl":null,"size":3,"creation":1738609703,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363423607401418@g.us","subject":"FEAT GUILHERME SILVA","subjectOwner":"187599926853884@lid","subjectTime":1767906079,"pictureUrl":null,"size":3,"creation":1767906079,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363423745061939@g.us","subject":"Conselho MO (somente conselheiros)","subjectOwner":"204779829641392@lid","subjectTime":1767742727,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/540744295_1578888583382859_4319236333513616778_n.jpg?ccb=11-4&oh=01_Q5Aa3gETaQlDJcb-ZNI9dml72QQ5buglmO04Ev-Ut22WTvvHRg&oe=697519BC&_nc_sid=5e03e0&_nc_cat=105","size":3,"creation":1767742727,"owner":"204779829641392@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363310370634504@g.us","subject":"Site Lopes & Rodrigues (Brainstorm)","subjectOwner":"27797263270076@lid","subjectTime":1718206739,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/427811422_1640296000135318_436859538576947635_n.jpg?ccb=11-4&oh=01_Q5Aa3gEXFHuIWmSpH25NVurA8WwzUskGEQpehdVDDvacMfXw4Q&oe=69751924&_nc_sid=5e03e0&_nc_cat=108","size":3,"creation":1718206739,"owner":"27797263270076@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363404798848818@g.us","subject":"Liberações Cláudio e Mateus","subjectOwner":"187599926853884@lid","subjectTime":1760562834,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/541118449_2333741893732369_1297090999084672115_n.jpg?ccb=11-4&oh=01_Q5Aa3gGpRxzcdc-MM1u1Vx9Nz4uQqMa9ro4mLqW_J0Ms3XlksA&oe=69752BDB&_nc_sid=5e03e0&_nc_cat=108","size":4,"creation":1760562834,"owner":"187599926853884@lid","desc":"https://docs.google.com/spreadsheets/d/14_LsnRed5PuuDo8YRa4QhzdiLlH6vOz0/edit?usp=sharing&ouid=112555450877286259464&rtpof=true&sd=true ( Planilha de autorização)","descId":"5158D25248969593","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363423588274424@g.us","subject":"TERRA / GLAUCO FAVORITO","subjectOwner":"187599926853884@lid","subjectTime":1764686955,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/589232761_1866778633940775_948402741615261378_n.jpg?ccb=11-4&oh=01_Q5Aa3gF0ou8GR_MBG7-EwCKmBZcnreHw8QDVsm8VMqyg9XPE8g&oe=6975194C&_nc_sid=5e03e0&_nc_cat=111","size":4,"creation":1764686955,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363423068861728@g.us","subject":"MKT GeF Produções","subjectOwner":"187599926853884@lid","subjectTime":1762446316,"pictureUrl":null,"size":4,"creation":1762446316,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363267909061740@g.us","subject":"Digital - Move Mix","subjectOwner":"204779829641392@lid","subjectTime":1742580239,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/471851008_1685855522058121_3603488787162388071_n.jpg?ccb=11-4&oh=01_Q5Aa3gF2ZOxnFjLOJSTHTOMfWSNlCF5D0HuhwHDEFRbJzu8E4Q&oe=6975489D&_nc_sid=5e03e0&_nc_cat=102","size":4,"creation":1711036714,"owner":"234646998675584@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363420884570261@g.us","subject":"TERRA / EDIÇÃO - WANDERSON","subjectOwner":"187599926853884@lid","subjectTime":1759894414,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/534417097_1788885518662189_3004421989777731207_n.jpg?ccb=11-4&oh=01_Q5Aa3gGCM_TkSnLxwmmnOazWTRoSG3A0-jG7rfkkz2iOCKiImg&oe=69751E8A&_nc_sid=5e03e0&_nc_cat=107","size":4,"creation":1758359037,"owner":"168070861557850@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363422643747212@g.us","subject":"TERRA / PANCANEJO","subjectOwner":"187599926853884@lid","subjectTime":1760617374,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/534426910_2265127810579525_392626486003810859_n.jpg?ccb=11-4&oh=01_Q5Aa3gErZEKstbTyxHdOggqJjTpUuDLZqMRI7YbDNnwsdjmGJA&oe=69751D81&_nc_sid=5e03e0&_nc_cat=109","size":4,"creation":1760617374,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363422986894572@g.us","subject":"TERRA / JAPÃO DO FORRÓ","subjectOwner":"187599926853884@lid","subjectTime":1763298057,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/550411371_819229854332874_1918562336594807251_n.jpg?ccb=11-4&oh=01_Q5Aa3gHbATWUpOLbms3aW3SrQ8ENYcGfSLoJ2ldhCLVKmHwvJA&oe=69751A5B&_nc_sid=5e03e0&_nc_cat=102","size":4,"creation":1763298057,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363405548678273@g.us","subject":"EDIÇÃO CHANDON PRODUÇÕES","subjectOwner":"168070861557850@lid","subjectTime":1762568068,"pictureUrl":null,"size":4,"creation":1762568068,"owner":"168070861557850@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363402914392945@g.us","subject":"TERRA / JEFFERSON ROCHA","subjectOwner":"187599926853884@lid","subjectTime":1751205498,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/491840751_709918228576931_5880336469200062041_n.jpg?ccb=11-4&oh=01_Q5Aa3gH9WV5pxLPaTSJgVvqqNCqZ9rq9BRzvFcN7t9f4h8Oo1Q&oe=6975235C&_nc_sid=5e03e0&_nc_cat=102","size":4,"creation":1751205498,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363400258307889@g.us","subject":"🚀15º Workshop MoveMix INSCRITOS","subjectOwner":"204779829641392@lid","subjectTime":1746781787,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/491839024_1044548221076184_499433489809747086_n.jpg?ccb=11-4&oh=01_Q5Aa3gEbQC2_9b4qL2qhfmiJZjwtmk5DLmZQAGRaT-SMz2ZGnQ&oe=69753BF1&_nc_sid=5e03e0&_nc_cat=109","size":4,"creation":1746654958,"owner":"204779829641392@lid","desc":"15º Workshop MoveMix dia 29/06/25","descId":"EC6D0E89649EF61D4592531FA84DC886","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363398517352790@g.us","subject":"TERRA / CLÁUDIO E MATEUS","subjectOwner":"187599926853884@lid","subjectTime":1742909162,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/483300397_2152915281837211_5787130572724207621_n.jpg?ccb=11-4&oh=01_Q5Aa3gH3cKKp4SkTMbBMcEx4ihbk1pgzKx_gGL5FYbI959YD4Q&oe=69754919&_nc_sid=5e03e0&_nc_cat=102","size":4,"creation":1742909162,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363403868039275@g.us","subject":"Gestão Fonográfica | Terra Produções ","subjectOwner":"254880740581611@lid","subjectTime":1759329452,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/546509321_790422377071210_3614747350327369309_n.jpg?ccb=11-4&oh=01_Q5Aa3gFQSdlWSxHKlLcruZZ_rmIiIxJaS7EFJQGE1p4clkBsaA&oe=69752F5B&_nc_sid=5e03e0&_nc_cat=101","size":4,"creation":1759329452,"owner":"254880740581611@lid","desc":"Link de autorizações: André e Andrade: https://docs.google.com/spreadsheets/d/1KMVN71yhR0W7cIlkccd_c64TxLZzPnY4/edit?usp=sharing&ouid=112555450877286259464&rtpof=true&sd=true","descId":"B2C7C8C202644E94","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363374211187903@g.us","subject":"Castração da Sol","subjectOwner":"127058353107122@lid","subjectTime":1733167834,"pictureUrl":null,"size":4,"creation":1733167834,"owner":"127058353107122@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363382765461150@g.us","subject":"TERRA / ANDRÉ E ANDRADE","subjectOwner":"204779829641392@lid","subjectTime":1736860320,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/473411471_9901358253248668_473744910741716796_n.jpg?ccb=11-4&oh=01_Q5Aa3gEcWfjQ3OurqDNfI_sLXrvBiyqvpPOk2Gs_i8BB7iU4Cg&oe=69753A61&_nc_sid=5e03e0&_nc_cat=108","size":4,"creation":1735318962,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363398412506445@g.us","subject":"TERRA / MARCIANO CIGANO","subjectOwner":"187599926853884@lid","subjectTime":1743964711,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/488525770_1362053371506705_8034463959408033273_n.jpg?ccb=11-4&oh=01_Q5Aa3gEWmG0fWm2dPJ1FzSWmqcWXXKa9CwRDJCw4IO_PgeNb8w&oe=69753ABC&_nc_sid=5e03e0&_nc_cat=107","size":4,"creation":1743964711,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363403968509901@g.us","subject":"Vet de Campo Play - INTERNO✅","subjectOwner":"147540750163974@lid","subjectTime":1759531944,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/510337864_1546252663037929_225113859035397010_n.jpg?ccb=11-4&oh=01_Q5Aa3gGQSIb-w_x_V2zOnKXwZTeXQWZWauSJjYzGfnAu_I57Eg&oe=697549C3&_nc_sid=5e03e0&_nc_cat=107","size":5,"creation":1759531723,"owner":"147540750163974@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363373680906195@g.us","subject":"FINALIZAÇÃO SÉRGIO SILVA","subjectOwner":"187599926853884@lid","subjectTime":1753107855,"pictureUrl":null,"size":5,"creation":1737045129,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363319436865632@g.us","subject":"Farofeiros ","subjectOwner":"281032762859650@lid","subjectTime":1726508174,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/459494054_490150837340104_334294041105817795_n.jpg?ccb=11-4&oh=01_Q5Aa3gGEpWj7bNYzl3RLlkOrxrUJeZXYFNaOvT_4KFpx64xq2A&oe=69754737&_nc_sid=5e03e0&_nc_cat=103","size":5,"creation":1726508174,"owner":"281032762859650@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363421460148869@g.us","subject":"15º Workshop Move Mix ✅","subjectOwner":"243881195139290@lid","subjectTime":1750900344,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/508553630_1505281184152618_7293370045648994187_n.jpg?ccb=11-4&oh=01_Q5Aa3gGbJqXDDrH3z4fTndXiN5vWUOFS0YfNMva3m4x9QUUILQ&oe=6975235D&_nc_sid=5e03e0&_nc_cat=108","size":5,"creation":1750900344,"owner":"243881195139290@lid","desc":"LOCAL: ACADEMIA EVOQUE PASSEIO DAS ÁGUAS SHOPPING \nDATA: 29/06/2025\nHORÁRIO: 08:00h/18:00h (com intervalo de almoço)","descId":"1750899867-560","restrict":true,"announce":true,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363375966059635@g.us","subject":"TERRA / PEDRINHA MORAES","subjectOwner":"187599926853884@lid","subjectTime":1751893843,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/505260466_548662931546981_619615096216012191_n.jpg?ccb=11-4&oh=01_Q5Aa3gEhuzlGltUkDumLuCe_4nUH0dmISes-wU8zGfOjRXOPkA&oe=697534A3&_nc_sid=5e03e0&_nc_cat=109","size":5,"creation":1737561493,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363393754002877@g.us","subject":"CuraVox  / Tiago Rocha","subjectOwner":"187599926853884@lid","subjectTime":1743104468,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/486142854_1030529405667185_3007212196766516591_n.jpg?ccb=11-4&oh=01_Q5Aa3gHcxymPX_WYH1DlUDzQsydsfCFeBvV3pyTT5PT_vtSwDA&oe=6975485B&_nc_sid=5e03e0&_nc_cat=109","size":5,"creation":1737387021,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363406326489263@g.us","subject":"TERRA / WL","subjectOwner":"187599926853884@lid","subjectTime":1764162685,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/577124674_1401211621618801_8969073970807982618_n.jpg?ccb=11-4&oh=01_Q5Aa3gEXbBiH4KhMktvF2UmBFlyyLqrxsTtn7h-elWkhepeV1A&oe=69754316&_nc_sid=5e03e0&_nc_cat=106","size":5,"creation":1764162685,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363423910683919@g.us","subject":"Mkt Mariozan Rocha","subjectOwner":"120250611814516@lid","subjectTime":1759841165,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/538466135_572162135959901_193472793736391159_n.jpg?ccb=11-4&oh=01_Q5Aa3gFm9HpsQPwwPnTNYeeTCAy8hOI_B3odc2N1ZIpKHlnu3A&oe=69754925&_nc_sid=5e03e0&_nc_cat=105","size":5,"creation":1759841165,"owner":"120250611814516@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363403360894558@g.us","subject":"Projeto Colbiflex","subjectOwner":"204779829641392@lid","subjectTime":1758755477,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/539971829_1105666251754341_3015320994670000882_n.jpg?ccb=11-4&oh=01_Q5Aa3gGeCrBu1mQTeXRefVc6KQxtQAVlJQ7xiOexu0acOgdH_w&oe=697539C9&_nc_sid=5e03e0&_nc_cat=109","size":5,"creation":1758755477,"owner":"204779829641392@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363348656954945@g.us","subject":"CuraVox / Gyan Sylva","subjectOwner":"23884933890240@lid","subjectTime":1742299547,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/488912774_1398990128182961_7952918365686790758_n.jpg?ccb=11-4&oh=01_Q5Aa3gHtcESa5jj4xU32ignFAPukaBnQEW5P9iO70n2IcSBdrQ&oe=69751AE6&_nc_sid=5e03e0&_nc_cat=105","size":5,"creation":1729104940,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363389032234973@g.us","subject":"TERRA / SÉRGIO SILVA","subjectOwner":"204779829641392@lid","subjectTime":1736860024,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/488707142_675822301797742_3422221200333565820_n.jpg?ccb=11-4&oh=01_Q5Aa3gHi8aiuk0PAXzU19SY_ayZT5x_injpoUgMs-jY-BiKaCQ&oe=69753605&_nc_sid=5e03e0&_nc_cat=109","size":5,"creation":1736860024,"owner":"204779829641392@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363420861591680@g.us","subject":"MKT CURAVOX MUSIC","subjectOwner":"187599926853884@lid","subjectTime":1762864237,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/559115748_797507233113579_5417619372471074159_n.jpg?ccb=11-4&oh=01_Q5Aa3gHxQDx9bXuX414sf7O7rnjcFh1lD44lDA62k652CRZToQ&oe=697545B9&_nc_sid=5e03e0&_nc_cat=100","size":5,"creation":1762864237,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363421665363709@g.us","subject":"TERRA / ALISSON E ALEX","subjectOwner":"187599926853884@lid","subjectTime":1751205640,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/513542097_1253503779544509_2964169288059506979_n.jpg?ccb=11-4&oh=01_Q5Aa3gExXzch7jsa1gH4mFxaqAsW8sDvQU7cxMceTvp-j14G1A&oe=697526EA&_nc_sid=5e03e0&_nc_cat=104","size":5,"creation":1751205640,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363402661056217@g.us","subject":"Emergência na chácara","subjectOwner":"79294072135725@lid","subjectTime":1739711227,"pictureUrl":null,"size":5,"creation":1739711227,"owner":"79294072135725@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363419884528916@g.us","subject":"TERRA / LEAOZINHO","subjectOwner":"187599926853884@lid","subjectTime":1747680860,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/510392833_2057181784808189_8629810574676289092_n.jpg?ccb=11-4&oh=01_Q5Aa3gGgQBYF91KZ0E1KkX2wFyZaFV-jGxIFvy74_hgqARkCIQ&oe=697523F6&_nc_sid=5e03e0&_nc_cat=103","size":6,"creation":1747680860,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363405074661483@g.us","subject":"Colbiflex - Marketing","subjectOwner":"204779829641392@lid","subjectTime":1754082783,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/514613524_1404783053965951_5422613929336692280_n.jpg?ccb=11-4&oh=01_Q5Aa3gG_Ga9f9p-MM3jLcbrhZF6MW9cM8TQ8phqV4BbHxulTjA&oe=69753DAD&_nc_sid=5e03e0&_nc_cat=102","size":6,"creation":1754082783,"owner":"204779829641392@lid","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363419630199145@g.us","subject":"TERRA / RENATO E RAFAEL","subjectOwner":"187599926853884@lid","subjectTime":1756822783,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/534415793_2488750724814819_5037045923481529662_n.jpg?ccb=11-4&oh=01_Q5Aa3gEC7fq9IVxZkI6OXmVCtnL3o2k1LnvIIvUCgNhpxyNbng&oe=697526F3&_nc_sid=5e03e0&_nc_cat=111","size":6,"creation":1756822783,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363099907429846@g.us","subject":"🚙 Viagem Outubro - Paúba 🚙","subjectOwner":"204779829641392@lid","subjectTime":1692129318,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/366956206_3576125286005879_1719626921036614993_n.jpg?ccb=11-4&oh=01_Q5Aa3gE2sM3i5eC5kLy3LQdAxDW6FAZVh9RB4iln3v-Z1MiEqQ&oe=6975459A&_nc_sid=5e03e0&_nc_cat=103","size":6,"creation":1679427715,"owner":"204779829641392@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363419249757689@g.us","subject":"TERRA / MURIEL ALVES","subjectOwner":"187599926853884@lid","subjectTime":1749434416,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/491877665_704032839255392_7163833291508299896_n.jpg?ccb=11-4&oh=01_Q5Aa3gF_QlgocZgTtz9vX_zeRb2OFYNWcpcvvPVtYHLvF5b3LQ&oe=69753C32&_nc_sid=5e03e0&_nc_cat=108","size":6,"creation":1749434395,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"5519971504813-1484862113@g.us","subject":"Família Mãe","subjectOwner":"170256999919635@lid","subjectTime":1735409321,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/59752319_2279076995472409_8241155171363586048_n.jpg?ccb=11-4&oh=01_Q5Aa3gEU3I4zcCqsoEtYHoM91SAizZOKZFwUOYhYT7PxpwSdaQ&oe=69753A71&_nc_sid=5e03e0&_nc_cat=101","size":6,"creation":1484862113,"owner":"139693979091013@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363417519428459@g.us","subject":"MO - Conselho e Embaixadores","subjectOwner":"204779829641392@lid","subjectTime":1765834877,"pictureUrl":null,"size":6,"creation":1744720589,"owner":"204779829641392@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363403184452912@g.us","subject":"Curavox / Gersinho","subjectOwner":"187599926853884@lid","subjectTime":1764905810,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/594160796_1237714011542406_1476834825474864593_n.jpg?ccb=11-4&oh=01_Q5Aa3gH3QV-nRUGr-tOs3gDp11cyxTK44YyqwErS7IG6Q9IfwQ&oe=697532C1&_nc_sid=5e03e0&_nc_cat=104","size":7,"creation":1764905810,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363417056990703@g.us","subject":"TERRA / RIQUELVES","subjectOwner":"187599926853884@lid","subjectTime":1750471799,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/506192554_3610160145946225_2807106585549564398_n.jpg?ccb=11-4&oh=01_Q5Aa3gF5Fn8LF-vGbmeFboouxpMLtaXXe5HAq0FWSCq15qwqAw&oe=69751593&_nc_sid=5e03e0&_nc_cat=110","size":7,"creation":1750471799,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363421282031153@g.us","subject":"MKT RIQUELVES","subjectOwner":"187599926853884@lid","subjectTime":1763336198,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/544616452_25288438247434405_3273719605108594647_n.jpg?ccb=11-4&oh=01_Q5Aa3gH33MazKTXgM9NDeQTcfBaxTqZfnfLaswclbaNajbV4GA&oe=69753B27&_nc_sid=5e03e0&_nc_cat=102","size":7,"creation":1763336198,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363396545045080@g.us","subject":"TERRA / MARCOS ALVES","subjectOwner":"187599926853884@lid","subjectTime":1743774027,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/484434418_1249863209693251_4896129479238754455_n.jpg?ccb=11-4&oh=01_Q5Aa3gG91uqa2Asav_GYyxCVnbT3hqH4jEPnGAhgYAnxWDj-kw&oe=69754633&_nc_sid=5e03e0&_nc_cat=102","size":7,"creation":1739021627,"owner":"102813128491218@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363406096138723@g.us","subject":"CURAVOX / ELIELTON","subjectOwner":"187599926853884@lid","subjectTime":1765982095,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/592272601_1205498865012414_7522447057386138533_n.jpg?ccb=11-4&oh=01_Q5Aa3gEf7QpQ53eGSOLM8_DjiIzrv7CkiCe-RkjtvGGIhPFiqA&oe=6975208D&_nc_sid=5e03e0&_nc_cat=101","size":7,"creation":1765982095,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363401192083445@g.us","subject":"TERRA / MARIOZAN ROCHA","subjectOwner":"187599926853884@lid","subjectTime":1750609627,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/506901194_1261290702249673_6210269465600806775_n.jpg?ccb=11-4&oh=01_Q5Aa3gE4btzNN0xtMMDvJ-kU_JvaJJKVXSGR4VaElxqduNeWnQ&oe=6975324F&_nc_sid=5e03e0&_nc_cat=110","size":7,"creation":1750609627,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363378765065923@g.us","subject":"🔴 Pedrinha Moraes - Arte XD Produtora","subjectOwner":"114143201870053@lid","subjectTime":1738877823,"pictureUrl":null,"size":7,"creation":1738877823,"owner":"114143201870053@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363401770161117@g.us","subject":"OBNESS","subjectOwner":"187599926853884@lid","subjectTime":1759839097,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/564783380_1611804109785440_6586585647703378830_n.jpg?ccb=11-4&oh=01_Q5Aa3gF0_67thbcbbHpwIXxbexxiBB0x4TzK6WsRFAiF4-LlIQ&oe=69754620&_nc_sid=5e03e0&_nc_cat=110","size":7,"creation":1746188984,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363401828018963@g.us","subject":"FINALIZAÇÃO CLÁUDIO E MATEUS","subjectOwner":"187599926853884@lid","subjectTime":1756314161,"pictureUrl":null,"size":7,"creation":1756314161,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363399729955146@g.us","subject":"CuraVox / Celine Gouveia","subjectOwner":"187599926853884@lid","subjectTime":1743104574,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/488613057_640984368808675_7614551871746126834_n.jpg?ccb=11-4&oh=01_Q5Aa3gGTAzfIphOQS7VpGkfL0ZQoMW6wJX8VZttIveKNQhul9w&oe=6975437E&_nc_sid=5e03e0&_nc_cat=101","size":7,"creation":1743104574,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363422522468589@g.us","subject":"Liberação de Ordens","subjectOwner":"91483390623835@lid","subjectTime":1756139315,"pictureUrl":null,"size":7,"creation":1756139315,"owner":"91483390623835@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363404436499352@g.us","subject":"Marketing Cláudio e Mateus","subjectOwner":"144809218019519@lid","subjectTime":1756387483,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/534428684_791325436992148_6601116445650076078_n.jpg?ccb=11-4&oh=01_Q5Aa3gEyx2jGVmvlU9FaDzcJlT-F6mpV6YGKVKW4ALeJRIA-WQ&oe=6975163E&_nc_sid=5e03e0&_nc_cat=104","size":7,"creation":1756387483,"owner":"144809218019519@lid","desc":"LINKS \n- Vídeos: https://drive.google.com/drive/folders/1VStHm4NdUxwuhEeMfzftRFRuKdbwDXfc\n\n- Audios: https://drive.google.com/drive/folders/1n4YzkZwRHw9ovom61tmqEZzaNBLXSonp?usp=sharing","descId":"8B95E79A506EFD43","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363420163023038@g.us","subject":"TERRA / KAROL E KARINE","subjectOwner":"187599926853884@lid","subjectTime":1751901035,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/513555067_1588779908747647_1030797474262832793_n.jpg?ccb=11-4&oh=01_Q5Aa3gHaJVvV_7QUyrnBAXQGOyoea_VjqstpgCKmdmkoMQnsRQ&oe=69751E0C&_nc_sid=5e03e0&_nc_cat=103","size":7,"creation":1750507125,"owner":"176862475092043@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363402070209053@g.us","subject":"Vet de Campo Play - LANÇAMENTO🚀","subjectOwner":"147540750163974@lid","subjectTime":1753902996,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/559043995_819064837239736_2108795616756961866_n.jpg?ccb=11-4&oh=01_Q5Aa3gHKObCH-2q8Vhajx2rn-NAl6ymjip9y1dNJKtO2tmilVw&oe=697544F4&_nc_sid=5e03e0&_nc_cat=105","size":8,"creation":1746296005,"owner":"168070861557850@lid","desc":"Materiais VET DE CAMPO PLAY:\nhttps://drive.google.com/drive/folders/16nhp1AupP7UH-meydSfuM-MtrfQ7-Lks?usp=sharing","descId":"F4BAA912A0A6F15B","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363328019459935@g.us","subject":"Karting ","subjectOwner":"215165060546787@lid","subjectTime":1724774231,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/418387301_393168550216288_6214503622121204998_n.jpg?ccb=11-4&oh=01_Q5Aa3gE6MDTuCjxBzZHRF8JDywogNj_d3wPtCHzpA8422P_3Ig&oe=697538F1&_nc_sid=5e03e0&_nc_cat=101","size":8,"creation":1724774231,"owner":"215165060546787@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363419638508230@g.us","subject":"CuraVox / Carta Sonora","subjectOwner":"187599926853884@lid","subjectTime":1743607443,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/487566645_682147134347267_2520652325950474608_n.jpg?ccb=11-4&oh=01_Q5Aa3gH6_yXYTH615pYAURB6K_VgGC_60GyyKDQCGhiLV6oUgA&oe=69752B75&_nc_sid=5e03e0&_nc_cat=104","size":9,"creation":1743607443,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363402450542737@g.us","subject":"MKT KAROL E KARINE","subjectOwner":"187599926853884@lid","subjectTime":1757972600,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/534422819_828013316529104_1305516922505584811_n.jpg?ccb=11-4&oh=01_Q5Aa3gELVegwLxntGh0wWnbZS_kfzzlyx8or1_ap7Kgpt_5zig&oe=6975161A&_nc_sid=5e03e0&_nc_cat=111","size":9,"creation":1757972600,"owner":"187599926853884@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363402724401992@g.us","subject":"Niver vovó","subjectOwner":"120010093633559@lid","subjectTime":1762052283,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/534416384_1546282556262412_592321797200211652_n.jpg?ccb=11-4&oh=01_Q5Aa3gGA7wVyHLT4CntYGbtalNhRXFkVibRoRjsrn7JQT3HLLA&oe=69754404&_nc_sid=5e03e0&_nc_cat=104","size":9,"creation":1762052283,"owner":"120010093633559@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"5511982377636-1550056686@g.us","subject":"Bom dia boa noite","subjectOwner":"51724425412726@lid","subjectTime":1550056686,"pictureUrl":null,"size":9,"creation":1550056686,"owner":"51724425412726@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363372280303107@g.us","subject":"PRIME ADM M. O. DIRETORIA 2025","subjectOwner":"80981608402965@lid","subjectTime":1733230390,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/442246196_365940423244275_3006506424742999132_n.jpg?ccb=11-4&oh=01_Q5Aa3gGpS6sbp60uG7-NHaqujzUw6wK7WKU5OhhtqiI5G0WqeA&oe=697524EF&_nc_sid=5e03e0&_nc_cat=111","size":11,"creation":1733229444,"owner":"80981608402965@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"556484163634-1412552912@g.us","subject":"Republicaneco ","subjectTime":1412552912,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/57618621_294723271422260_3328277660701818880_n.jpg?ccb=11-4&oh=01_Q5Aa3gEqsCVc3HKtHSw3HddWuzZ_3PENQsdFpmYv37Kn17dJVg&oe=69752E7B&_nc_sid=5e03e0&_nc_cat=106","size":11,"creation":1412552912,"restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363395881926304@g.us","subject":"Chandon Produções midia ","subjectOwner":"48348614660183@lid","subjectTime":1738787064,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/473402133_592192193778511_2443011583957915406_n.jpg?ccb=11-4&oh=01_Q5Aa3gGiE_aKmmHvxVN0ZZSkprsQjQT4MBg5-WZqv44DXq6E-g&oe=6975144B&_nc_sid=5e03e0&_nc_cat=103","size":11,"creation":1738787064,"owner":"48348614660183@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"556292445646-1382307775@g.us","subject":"Galera de Limeira","subjectOwner":"204779829641392@lid","subjectTime":1590414510,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/56800953_665804277210192_1176508425614393344_n.jpg?ccb=11-4&oh=01_Q5Aa3gEMaFCCp1ljwVgd1JNMXBUiBBx1409nFtdSeGdDlk13dg&oe=697539D5&_nc_sid=5e03e0&_nc_cat=101","size":12,"creation":1382307775,"owner":"204779829641392@lid","desc":"Aqui a amizade é algo impar 🌴🚫🌏","descId":"7B21F7586575C5588A75DA6CD57FBC27","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363405306740557@g.us","subject":"MARKETING CHANDON PRODUCÕES","subjectOwner":"35691648036990@lid","subjectTime":1762866708,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/588925915_1369796784545777_6606109618150174387_n.jpg?ccb=11-4&oh=01_Q5Aa3gF_wBTph3JPfWIyemHcRjGTwSrpNyv7F-Usc6JBEiN2IA&oe=69752348&_nc_sid=5e03e0&_nc_cat=110","size":12,"creation":1762866708,"owner":"35691648036990@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363369493353419@g.us","subject":"GUILHERME SILVA 🎧 SOM MUSIC","subjectOwner":"279095799730211@lid","subjectTime":1736186500,"pictureUrl":null,"size":14,"creation":1736186500,"owner":"279095799730211@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363423802318631@g.us","subject":"WL O Caipira Estourado + SMD","subjectOwner":"24820716707861@lid","subjectTime":1768323695,"pictureUrl":null,"size":14,"creation":1768323695,"owner":"24820716707861@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363386053644740@g.us","subject":"WHITE LABEL 🎧 TERRA ","subjectOwner":"279095799730211@lid","subjectTime":1736259213,"pictureUrl":null,"size":15,"creation":1736259213,"owner":"279095799730211@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363370550941288@g.us","subject":"WHITE LABEL 🎧 CURA VOX","subjectOwner":"279095799730211@lid","subjectTime":1734722668,"pictureUrl":null,"size":15,"creation":1732821228,"owner":"279095799730211@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"5519991702988-1387675455@g.us","subject":"🍺🍺 Torresmo Big Family 🍺🍺","subjectOwner":"204779829641392@lid","subjectTime":1583071456,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/424851810_250620268094893_3918595720187132212_n.jpg?ccb=11-4&oh=01_Q5Aa3gErtVUZHGDQEe90DlpkW2baZ0JWQZN35FYb4ygJePMfoA&oe=69753031&_nc_sid=5e03e0&_nc_cat=104","size":16,"creation":1387675455,"owner":"88029817499683@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363243113199939@g.us","subject":"Controle o seu DIABETES! 🤩","subjectOwner":"172017986883613@lid","subjectTime":1725490346,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/457777732_1734793647274724_3369018953695282514_n.jpg?ccb=11-4&oh=01_Q5Aa3gFR6vxP33BoG1v-Ii3BdHASrgxS9HoW6pvCZjJ3pCpkwg&oe=69753C69&_nc_sid=5e03e0&_nc_cat=102","size":17,"creation":1708478969,"owner":"172017986883613@lid","desc":"Sejam muito Bem Vindos(as) !!\n\n👩🏻‍⚕️ Eu sou a Dra Jaqueline Fernandes, médica endocrinologista especialista em Diabetes!\n\n🏆 Estarei compartilhando aqui meu Ebook “15 DICAS para Controlar o seu DIABETES!” no dia 06/09!\n\n🗓 Toda sexta feira abrirei o grupo para conversarmos sobre uma DICA!\n\n🤩 Quer saber como controlar o seu Diabetes? Vem comigo!\n\n🙇🏻‍♀️ Vocês podem compartilhar o link com familiares e amigos que também quiserem participar!\n\n📱 Para acompanhamento personalizado, agendamento por aqui: https://api.whatsapp.com/send/?phone=5521976601634&text&type=phone_number&app_absent=0","descId":"1725379020-950","restrict":true,"announce":true,"isCommunity":false,"isCommunityAnnounce":false},{"id":"556281175815-1422543171@g.us","subject":"Vizinhos em ação","subjectOwner":"279426411577442@lid","subjectTime":1422543171,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/57685334_2539977089364001_5899559613132439552_n.jpg?ccb=11-4&oh=01_Q5Aa3gGg7eqGPAjTMBKDee-KSNG9E9f1ZH0R85qTTYa08ermPQ&oe=69754207&_nc_sid=5e03e0&_nc_cat=107","size":19,"creation":1422543171,"owner":"279426411577442@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"556282677765-1539034895@g.us","subject":"Família do Barulho 💙🤍","subjectTime":1606192822,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/123051719_3152863811482143_1810484076540339275_n.jpg?ccb=11-4&oh=01_Q5Aa3gFfxK7T7cmmJAEORAAzmpOGM8xhJ8Wz4kpelBnoViPP7A&oe=69753A0F&_nc_sid=5e03e0&_nc_cat=105","size":20,"creation":1539034895,"owner":"110239043051630@lid","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363044952960852@g.us","subject":"Comunidade NG","subjectOwner":"22033333285044@lid","subjectTime":1665690194,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/310471526_472314418250285_3713397861813066582_n.jpg?ccb=11-4&oh=01_Q5Aa3gF6Wz6mNG-ltFH2QeXXgeT0a9M5TdzzXlFDwaXziUUc2A&oe=69751775&_nc_sid=5e03e0&_nc_cat=101","size":25,"creation":1665690194,"owner":"22033333285044@lid","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363322857920902@g.us","subject":"[20/08] Workshop: Reter clientes na Black Friday","subjectOwner":"79268084195534@lid","subjectTime":1722963511,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/453930736_865001644971624_7374710145150767515_n.jpg?ccb=11-4&oh=01_Q5Aa3gGCC2goQUdqQ9EN_2RDgiqJiqPoJBDZNIrDc5Uf-wx_Rg&oe=697537D3&_nc_sid=5e03e0&_nc_cat=101","size":27,"creation":1722963511,"owner":"79268084195534@lid","desc":"Fidelizar clientes que compraram a 1° vez na Black Friday não é impossível.\n\n✅️ 19 horas, dia 20 de agosto, você terá acesso aos hacks nunca vistos antes para manter seus clientes comprando.\n\n👉 Mesmo após o fim das promoções agressivas de Black Friday.👈\n\nA preparação para tudo dar certo deve vir desde agora. Te esperamos no grande dia.\n\n📌 Link do evento: https://www.youtube.com/watch?v=LYDykZtRTcA","descId":"a0860942-851b-433c-baee-8e65e7334ad9","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"556241038261-1617232584@g.us","subject":"Dupla André e Andrade 🤠🎶","subjectTime":1617232584,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/158461917_742861612970711_3691272141620378461_n.jpg?ccb=11-4&oh=01_Q5Aa3gH6XbtmCsq-R7ajFDVnyQFVL_yq16xH9w4kPwF6F77mkg&oe=69752D26&_nc_sid=5e03e0&_nc_cat=109","size":39,"creation":1617232584,"desc":"Grupo para unir os fãs de André e Andrade, se postar vídeos ou músicas de outros artistas será retirado do grupo e por favor ao mandarem músicas, use os links do youtube ou facebook, não mandem mp3... pois sobrecarrega os celulares...  Obrigado e boa diversão","descId":"3EB02C5D4204A532DC49","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363212745407022@g.us","subject":"Tudo sobre TIREOIDE!","subjectOwner":"172017986883613@lid","subjectTime":1706914579,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/426347829_262411706924201_2572866067336943656_n.jpg?ccb=11-4&oh=01_Q5Aa3gG179tSIQIQp00HlIVNs1Qb-GsEMNhSr34Zo7nzPI8sPQ&oe=6975364B&_nc_sid=5e03e0&_nc_cat=107","size":46,"creation":1706911516,"owner":"172017986883613@lid","desc":"Sejam muito Bem Vindos!!\n\n👩🏻‍⚕️ Eu sou a Dra Jaqueline Fernandes, médica endocrinologista, muito prazer!\n\n🎯 Este grupo é dedicado a cuidados com a Tireoide! E nele TODA SEGUNDA feira divulgarei  informações e vídeos pra vocês!\n\n😴 Cansaço, unhas e cabelos quebradiços, dificuldade em perder peso, sonolência excessiva, tudo isso pode estar relacionada à Tireoide!\n\n🔐 Para melhor conforto de vocês, manterei o grupo fechado. O grupo será aberto para perguntas nos dias de live sobre Tireoide! (Sim, haverão outras! 🤩)\n\n🙇🏻‍♀️ Vocês podem compartilhar o link com familiares e amigos que também quiserem participar!\n\n📲 Para agendamento de consultas comigo:\nhttps://api.whatsapp.com/send/?phone=5521976601634&text&type=phone_number&app_absent=0","descId":"1708739259-511","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363402023230374@g.us","subject":"2025/2026 CRED. ATIVO 〽OVE 〽IX","subjectOwner":"243881195139290@lid","subjectTime":1753375726,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/520153479_720138554516044_8243498096491275674_n.jpg?ccb=11-4&oh=01_Q5Aa3gHc6vpEDQsSvpwNsYrrqK6PPo9oXWS_ZVTQJebpk99C3Q&oe=69752000&_nc_sid=5e03e0&_nc_cat=106","size":48,"creation":1753375726,"owner":"243881195139290@lid","desc":"Credenciados MoveMix 2025/2026 👯💃🕺\n\nMATERIAL DE APOIO A CREDENCIADOS\nhttps://bit.ly/MoveMix-Drive","descId":"AF732180B5DAE13E","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363337264763227@g.us","subject":"Dify","subjectOwner":"132250784018630@lid","subjectTime":1727478930,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/461809529_8102923086485168_1603933932315591590_n.jpg?ccb=11-4&oh=01_Q5Aa3gFz8hMRHisdk1HxSljYDxzX--uuwhvT2Sn7RgZKIg4QPg&oe=69753B9F&_nc_sid=5e03e0&_nc_cat=104","size":49,"creation":1727478930,"owner":"132250784018630@lid","desc":"Link do grupo: https://chat.whatsapp.com/Cm8LIrVsbtZJMiGl5uXRJ7","descId":"1727527371-506","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363193175754205@g.us","subject":"G Digital","subjectOwner":"258428249325790@lid","subjectTime":1715712271,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/389194808_1805853059826174_7488406578790445021_n.jpg?ccb=11-4&oh=01_Q5Aa3gHYNhCoJ4WfUmGElX_ZFWsrohjsa3KNfW7RZ8xWt_qfoA&oe=6975243A&_nc_sid=5e03e0&_nc_cat=100","size":62,"creation":1697553489,"owner":"258428249325790@lid","desc":"A Nova G Digital Está Chegandoo 😉\n\nLançamos uma série de vídeos para que entenda melhor o que vem chegando por aí.\n\n👉🏼Parte 1: Como tudo começou\nhttps://www.youtube.com/watch?v=124jrmBKcIo\n\n👉🏼Parte 2: O que os clientes podem esperar da Nova G Digital!\nhttps://www.youtube.com/watch?v=1UKXkvUvfrI\n\n👉🏼Parte 3: Qual será o impacto que a GD 2.0 pode causar no negócio dos clientes?!\nhttps://www.youtube.com/watch?v=lFPf3q_9Rbw\n\n👉🏼Parte 4:Descubra as 5 palavras que traduzem a Nova G Digital:\nhttps://www.youtube.com/watch?v=8d8LhsQKQ4Y\n\n👉🏼Parte 5: Módulo extra de planejamento estratégico:\nhttps://www.youtube.com/watch?v=itBGsHD_5yo\n\n👉🏼Parte 6: A Nova G Digital pe dedicada a você cliente.\nhttps://www.youtube.com/watch?v=G5IdADXvRaM","descId":"1697624700-52","restrict":true,"announce":true,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363422231092475@g.us","subject":"TRAE Meetup Brasil","subjectOwner":"235974311338102@lid","subjectTime":1761690278,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/513716068_1178874690828881_6223437702356168860_n.jpg?ccb=11-4&oh=01_Q5Aa3gEqYn7GANUtKwvRpVA2ZM4YqHMiBmYox15AYB5VO4Xh5g&oe=69754017&_nc_sid=5e03e0&_nc_cat=108","size":73,"creation":1761690278,"owner":"235974311338102@lid","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363223600771967@g.us","subject":"TEMPO ENCERRADO #013","subjectOwner":"263951828922548@lid","subjectTime":1709939839,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/424439898_1753081408517129_6833163761366973864_n.jpg?ccb=11-4&oh=01_Q5Aa3gHwQaRO7OFXC2LRAORhqHcFD8YJ2VshDmH5QLP23BPpAA&oe=69753CBC&_nc_sid=5e03e0&_nc_cat=105","size":78,"creation":1708422262,"owner":"144353934758061@lid","desc":"*Assista ao vídeo que Revela toda a Oferta, Bônus e Preço no link abaixo👇🏻*\n\nhttps://youtu.be/vNH1wNgoEas\n\n(Versão YouTube, pois o outro travou pra algumas pessoas)\n\n_Ps1: O link de compra vai ser enviado aqui no grupo amanhã às 08:08 e fica ativo até 20:08._\n\n_Ps2: Se te mandarem qualquer link FORA desse grupo e que não seja da HOTMART, não compre, é golpe._","descId":"15979.60155-5809","restrict":true,"announce":true,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363162918726763@g.us","subject":"MICHELZÃO - GESTÃO DE TRÁFEGO HIGH TICKET","subjectOwner":"196220026888193@lid","subjectTime":1690813476,"pictureUrl":null,"size":107,"creation":1690813476,"owner":"196220026888193@lid","restrict":false,"announce":true,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363315190408956@g.us","subject":"Mentoria Gestão de Anúncios!","subjectOwner":"161469412966493@lid","subjectTime":1720741805,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/437068908_979995227148696_8834818235179355911_n.jpg?ccb=11-4&oh=01_Q5Aa3gHd1jO20VsvoUjO8v9kum0vbSY9qWSURuYsXRaSWFMYRQ&oe=69754737&_nc_sid=5e03e0&_nc_cat=111","size":116,"creation":1719992848,"owner":"161469412966493@lid","desc":"*Mentoria | Gestão de Anúncio*\n\n- 12 Aulas\n- 12 Live de Dúvidas\n- Curso de CRM\n\n*BONUS | 5 Primeiros*\n3 Mentorias Individuais\n\nTudo que você precisa para ter resultados!\nVou pegar na sua mão e te ensinar a fazer anúncios de captação para você fechar mais clientes!\n\n6x R$ 166\n\nhttps://pay.hotmart.com/W94241277F?bid=1720700013787","descId":"1720734265-382","restrict":true,"announce":true,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363310368343580@g.us","subject":"FÁBRICA DE AUTOMAÇÕES 3","subjectOwner":"132250784018630@lid","subjectTime":1732038346,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/459433063_1477918666231262_9115892995246883744_n.jpg?ccb=11-4&oh=01_Q5Aa3gEfDoh6N4r6OHrEe8yiXg0UmdYfenpu19QBroj57ZLqLQ&oe=697549F7&_nc_sid=5e03e0&_nc_cat=111","size":123,"creation":1724492993,"owner":"132250784018630@lid","desc":"Dulvidas sobre sobre lógica n8n, funcionamento do fluxo da comunidade etc","descId":"1724470914-303","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363217388567290@g.us","subject":"A Segunda Chance #09","subjectOwner":"263870006464735@lid","subjectTime":1706809901,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/415210731_898443761942455_8288638168928003328_n.jpg?ccb=11-4&oh=01_Q5Aa3gGeqIWi2K9ipA4iqgfl70fRrwPgTpeeXCqkLXE-KBwE_g&oe=69754AC5&_nc_sid=5e03e0&_nc_cat=102","size":154,"creation":1704720129,"owner":"263870006464735@lid","desc":"Link da comunidade 👇\nhttps://lp.lendario.ai/comunidade-lendaria/","descId":"1707227952-345","restrict":true,"announce":true,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363389115135815@g.us","subject":"🧠 | Mente Conectada | Reunião Secreta","subjectOwner":"11944337633463@lid","subjectTime":1736551904,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/473398571_2625732194304543_7271356451858896550_n.jpg?ccb=11-4&oh=01_Q5Aa3gE89CUtQZgHPYopahiiHvwAH7yJplyv5TVFheb2KIbCiQ&oe=69751872&_nc_sid=5e03e0&_nc_cat=105","size":173,"creation":1736551904,"owner":"11944337633463@lid","desc":"Bem-vindo(a) ao nosso espaço de conexão sobre *automações e IA*! Aqui você vai acompanhar:\n\n- *Template Exclusivo*: No link abaixo. \n- *Reunião de Análise de Fluxos*: Periodicamente, fique ligado.\n- *Bônus Imediato*: Enquanto isso, aproveite o *link do GPT* para acelerar seu aprendizado em até *7x*:  (https://chatgpt.com/g/g-6781a8d583e4819198c6435c54ca25d8-aprendizado-ate-7x-mais-rapido-leonardo-candiani)  \n\nMantenha-se no grupo para receber todas as atualizações e participar das próximas *lives exclusivas* — temos muitas novidades a caminho!\n\n----\n\nLink do Template EXCLUSIVO: https://drive.google.com/file/d/1GgrCIfXXfb_mqlaKktlyQr_C-ASVpgei/view?usp=sharing\n\nLINK DA NOSSA REUNIÃO ONLINE AGORA","descId":"F581FBD0E4131E55","restrict":true,"announce":true,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363357073797515@g.us","subject":"UMA BRECHA DE R$10.000,00! 🔥 #50","subjectTime":1732636221,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/468550921_597750529266489_6183587996634061069_n.jpg?ccb=11-4&oh=01_Q5Aa3gEu9GF_LTf3gJnO8GxStexVVYGKnRAeJCH4R76pXZalig&oe=6975368A&_nc_sid=5e03e0&_nc_cat=106","size":173,"creation":1730816888,"desc":"*[RESGATE AQUI SUA RECOMPENSA GRÁTIS:]*\n\nPegue + de R$3.000 em conteúdos GRATUITAMENTE aqui: https://thiagofinch.com/VIP-100K\n\n👉 No dia 14 você vai entender como replicar o meu sistema de vendas em massa para faturar R$100.000,00 nos próximos 12 meses - ainda que você nunca tenha vendido nada online.\n\n📆 O Desafio será no dia 14/11, às 20h (horário de Brasília).\n\n⚠️ PS.: Confie somente nas mensagens dos administradores e em links oficiais (thiagofinch.com.br / omecanismoinvisivel.com)","descId":"3EB06906500B938F51E7711C74B4BC5BA6D1701E","restrict":true,"announce":true,"isCommunity":false,"isCommunityAnnounce":false},{"id":"556291828064-1624664631@g.us","subject":"Cond. Monte das Oliveiras","subjectTime":1624664714,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/184939663_408691673933954_1224212053540433036_n.jpg?ccb=11-4&oh=01_Q5Aa3gHjMRsni4y3nMaVtYy1VMk1bqKA1KOh0D5sTJ0q99CVRQ&oe=6975193B&_nc_sid=5e03e0&_nc_cat=102","size":179,"creation":1624664631,"desc":"Lista de Condôminos, indicação de prestadores de serviço e assuntos para reuniões, no link abaixo👇🏻\nhttps://1drv.ms/x/s!Aj5ZMqvswDgLtIMZ_wvjpUJsbVZ2mQ","descId":"D27BACDD43F40FFFEA84DCFFB560E14D","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363421650798139@g.us","subject":"Chatwoot 🔁 UaZapi #1 - Promovaweb ®","subjectOwner":"208151781625986@lid","subjectTime":1760108067,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/580089402_1127998762657184_1582797231423671506_n.jpg?ccb=11-4&oh=01_Q5Aa3gFqPDHMxb1cImomVxRESGxcgyXITgZaoZYwZA3w7OUbLg&oe=69751847&_nc_sid=5e03e0&_nc_cat=100","size":179,"creation":1760108067,"owner":"208151781625986@lid","desc":"*Integração Premium Chatwoot 🔁 UaZapi*\n\n_Versão Atual: v1.0.1, de 17/11/2025_\n\nLinks úteis:\n\n* *Playlist oficial*: https://go.edisonmartinsmkt.com.br/ytpl-cwt-x-uazapi\n* *Loja/Kit*: https://edisonmartinsmkt.com.br/loja\n* *Recuperar Senha*: https://edisonmartinsmkt.com.br/minha-conta/senha-perdida/\n* *Minha conta* (acessos e downloads): https://edisonmartinsmkt.com.br/minha-conta/\n* *Downloads*: https://edisonmartinsmkt.com.br/minha-conta/downloads/\n* *PDF de Instalação/Configuração/Utilização*: https://go.edisonmartinsmkt.com.br/pdf-cwt-x-uazapi\n* *Grupo de Suporte*: https://go.edisonmartinsmkt.com.br/wpp-cwt-x-uazapi\n* *Suporte Rápido* (sessões extraordinárias): https://go.edisonmartinsmkt.com.br/sup-cwt-x-uazapi","descId":"FBBAF94117FC1EB0","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363421411914318@g.us","subject":"Growth Club - Network","subjectOwner":"111016465686557@lid","subjectTime":1759366078,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/584761403_2159566067909564_4821769746446419310_n.jpg?ccb=11-4&oh=01_Q5Aa3gFQUeowhEqqtO-YIqlYyG4zTZACP24gQzme-RAywTESVQ&oe=697542CB&_nc_sid=5e03e0&_nc_cat=106","size":194,"creation":1757189955,"owner":"111016465686557@lid","desc":"Growth Club — parcerias, insights e conversa que gera resultado.\nSomos uma comunidade prática pra quem quer crescer: trocar ideias, validar projetos, fechar parcerias e receber feedback honesto. Aqui tem espaço pra pitch rápido, teste de ideia, pedido de ajuda e conversa casual — tudo com foco em execução. Se você traz valor (insights, skill, network ou vontade de trabalhar junto), tá dentro. Se veio só pra divulgar sem contribuir, não rola.\nNo Growth Club a regra é simples: contribua, aprenda, colabore. Crescimento real.\n\nO que rola aqui\n\nInsights acionáveis e testes de ideia.\n\nParcerias, collabs e oportunidades reais.\n\nFeedback franco e construtivo.\n\nConversa casual sobre negócios, conteúdo e tecnologia.\n\nRegras rápidas\n\nRespeito sempre. Debate forte sim, ataque pessoal nunca.\n\nNada de spam — 1 pitch por semana; mostre o que faz, não fique só pedindo.\n\nCompartilhe conhecimento antes de pedir favores.\n\nPrivacidade: o que é compartilhado aqui fica aqui (sem prints públicos sem permissão).","descId":"52ce9981-bad4-4229-837f-d1ff72f1945b","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363337157502879@g.us","subject":"Black do Greenn Sales 💲","subjectOwner":"26521926414569@lid","subjectTime":1730904433,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/421731614_950332300258116_111715103429995196_n.jpg?ccb=11-4&oh=01_Q5Aa3gFEmPNtijUV1l_V7BQrmYh0ch2E1nP-UQ6TOV84tMp4mQ&oe=6975483E&_nc_sid=5e03e0&_nc_cat=106","size":224,"creation":1730297781,"owner":"26521926414569@lid","desc":"🎉 Aqui nesse grupo exclusivo, você vai receber todas as informações sobre uma oportunidade única para adquirir o Greenn Sales! \n\nFica de olho e não deixa essa oportunidade passar não, hein! 👀","descId":"1731932452-1254","restrict":true,"announce":true,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363147939490719@g.us","subject":"Greenn","subjectOwner":"258428249325790@lid","subjectTime":1715712743,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/425234513_750426100616008_1660359685783991066_n.jpg?ccb=11-4&oh=01_Q5Aa3gE-5wcTHXuZ_iuSTxWqf7xlPLd3ZsXQzL2pC4h6kNg_Ng&oe=69752773&_nc_sid=5e03e0&_nc_cat=107","size":230,"creation":1689267542,"owner":"258428249325790@lid","desc":"Se você está nesse grupo é porque ja participou de algumas de nossas ações, fique atento e ligado em nossas novidades, sempre estaremos te notificando por aqui 💚","descId":"A8E605C2AEFC8B33","restrict":true,"announce":true,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363165487018752@g.us","subject":"Imersão Global SAAS 🌐","subjectTime":1693345493,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/364475588_1523403911745274_6976241066679899227_n.jpg?ccb=11-4&oh=01_Q5Aa3gF28Cg-kAOFwBL3c5VTf68uJ06Ri02LPlpjcU7gibtBug&oe=697514D9&_nc_sid=5e03e0&_nc_cat=103","size":251,"creation":1690847207,"desc":"Conteúdo aqui, em breve. 👁️‍🗨️\n\nAcompanhe e descubra como este novo Modelo de Negócios pode ser o caminho para você se tornar definitivamente bem-sucedido no digital.\n\n(Dúvidas me chame no privado).","descId":"13dbc173-f53d-4be1-ab88-046c461044b2","restrict":true,"announce":true,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363239583983747@g.us","subject":"UnoApi, Evolution-API, Typebot SaaS e Outras Stacks","subjectOwner":"16544230846621@lid","subjectTime":1742415214,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/425734505_792822259367550_2091351363185008744_n.jpg?ccb=11-4&oh=01_Q5Aa3gGjYm0S9CnPAkELBlDNlj00iCPE_H0R3X7dh0T-fqmwkQ&oe=6975269D&_nc_sid=5e03e0&_nc_cat=110","size":272,"creation":1708178830,"owner":"16544230846621@lid","desc":"🚀 Bem-vindo ao \n🧑‍💻 Colaboração e Networking:\nEste é mais do que um grupo informativo. Encorajamos a colaboração entre os membros, incentivando o networking e a troca de ideias. Juntos, moldaremos o futuro do gerenciamento de ferramentas Saas.\n🚧 Regras do Grupo:\nMantenha as discussões focadas no tema central: o Dashboard Saas.\nSeja respeitoso e profissional. Diferenças de opiniões são bem-vindas, desde que expressas de maneira construtiva.\nEvite compartilhar conteúdo não relacionado ao propósito do grupo.\n⚡ Prepare-se para Transformar o Gerenciamento Saas!\nEstamos animados para ver as ideias inovadoras e colaborações que surgirão neste grupo. Juntos, estamos!\n\nGitHub: https://github.com/wagner-costa/fluxos","descId":"4e46108f-07ac-48cc-9a58-5565b57ae197","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363141130616011@g.us","subject":"Desafio 30 vendas - G126","subjectOwner":"44650933006353@lid","subjectTime":1736558631,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/473399964_1117602926685668_5917349635009447494_n.jpg?ccb=11-4&oh=01_Q5Aa3gGfdM0lC28GjeWJy2Vvdx7boUxGXqKknrCn05i-RTCGGg&oe=69751901&_nc_sid=5e03e0&_nc_cat=108","size":274,"creation":1681772357,"owner":"21766944624690@lid","desc":"Como vai funcionar o Desafio?\n\n3 Dias de conteúdos práticos para te ajudar a fazer as 30 primeiras vendas do seu curso online, e-book ou serviço mesmo que não tenha o produto pronto. \n\n1º Dia - Dia 20/01 Segunda feira às 20h ao vivo pelo Zoom\n\n2º Dia - Dia 21/01 Terça feira às 20h ao vivo pelo Zoom\n\n3º Dia - Dia 22/01 Quarta feira às 20h ao vivo pelo Zoom\n\nNão vai ficar gravado, programe-se para assistir as aulas ao vivo no zoom.","descId":"3450D8A84C6FDFC3","restrict":true,"announce":true,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363308223773631@g.us","subject":"Aulão API de Conversões - Métricas Boss","subjectTime":1718052484,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/436944074_940678707807476_8145682381137735642_n.jpg?ccb=11-4&oh=01_Q5Aa3gEuq20CzKp-7WKkDVLtALqtDdPnufMD3UOOaOvwOOnF1A&oe=697523DC&_nc_sid=5e03e0&_nc_cat=107","size":277,"creation":1718052351,"owner":"129991798948002@lid","desc":"Como potencializar seu tráfego pago e qualificar sua audiência","descId":"681333AD65D303B4","restrict":true,"announce":true,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363317500853178@g.us","subject":"CLUB PRO-perguntas sobre","subjectOwner":"132250784018630@lid","subjectTime":1728466380,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/436690254_6778947905563141_1822056899662154938_n.jpg?ccb=11-4&oh=01_Q5Aa3gFHCjSl2zLWQZ6WbOVQ3JNNgo0udEPMOScK6eHUc2sWvw&oe=697544C8&_nc_sid=5e03e0&_nc_cat=102","size":283,"creation":1725634933,"owner":"132250784018630@lid","desc":"⚠️⚠️Faça aqui perguntas sobre como entrar no grupo pro ⚠️⚠️\n\nLink do grupo: https://chat.whatsapp.com/F4HmX30lFpj35d8nKnkE3K\n\nhttps://go.perfectpay.com.br/PPU38CP4EK3\n\nhttps://go.perfectpay.com.br/PPU38CP4ELS\n\nhttps://go.perfectpay.com.br/PPU38CP4EM0\n\nAs turmas do club pro foi criado para prestar mentoria pessoal na tela do aluno de forma que mais barata do que horas individuais \n\nTento reuniões semanais aos todos os sábados e dias extras em horários diferente para cada turma em que todos tem a oportunidade de mostrar a sua tela e revisar com auxílio profissional a sua dulvida ou problema no fluxo padrão da comunidade \n\nO bjetivo auxiliar iniciantes ou mesmo veteranos a colocar o seu fluxo da comunidade ia que ainda não estão no vip nem no avançado para 1 nicho específico escolhido, tb estarei lançando nas turmas antes as atualizaçoes das versões do template da comunidade antes \n\n-Aulas serão gravadas caso o aluno não possa participar \n-Vídeos detalhados sobre o fluxo da comunidade \n-Lives da comunidade anteriores disponíveis apenas para membros \n-Participando do grupo club vip você tem descontos em:\n\nMentorias individuais \nCompra de fluxos \nCriação de fluxos \nInstalações em vps \n\nA entrada será uma contribuição simbólica de 99R$ visto que em produção pode ser vendido de 5 a 10 mil, a intenção ajudar nos custos da vps da comunidade e anúncios e ajudar de forma mais pessoal quem vai ganhar dinheiro com o fluxo colocando ele em produção \nLinks para compra \nhttps://go.perfectpay.com.br/PPU38CP4EK3\n\nhttps://go.perfectpay.com.br/PPU38CP4ELS\n\nhttps://go.perfectpay.com.br/PPU38CP4EM0\n\nCada turma dura um mês, o grupo de cada turma será deletado e reiniciado mensalmente \nAs perguntas deverão ser feitas dentro do grupo para que possam esclarecer a dulvida de outros\n\nJobs como:\ninstalações em vps\nmentorias individuais \nTurma de mentoria pro\nCurso ia maker\nCriação ou compra de fluxos \nChame no 91984698653\n\ntorne-se um afiliado e ganhe dinheiro vendendo nossas automações","descId":"1728581708-275","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false,"linkedParent":"120363303312425779@g.us"},{"id":"556296257611-1610062129@g.us","subject":"Associação Terra Santa 1","subjectOwner":"152514422939863@lid","subjectTime":1610062129,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/137100033_257545322465471_722035439147671749_n.jpg?ccb=11-4&oh=01_Q5Aa3gFEc60ssbwQayjpqhtfnEzPQMvRcRASfcwx4aoxu6mz9g&oe=6975369C&_nc_sid=5e03e0&_nc_cat=104","size":284,"creation":1610062129,"owner":"152514422939863@lid","desc":"🌳Associação dos Condomínios do Complexo Terra Santa \n\nUnidos somos mais fortes 🫱🏻‍🫲🏼🤜🏻🤛🏻\n\n- Monte Sinai \n- Canaã \n- Monte Hermon \n- Galiléia \n- Monte Sião \n- Monte das Oliveiras","descId":"1677297903-258","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363179432576849@g.us","subject":"#04 Aulas gratuitas Otávio Passos","subjectOwner":"95653350907962@lid","subjectTime":1700683955,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/389790485_2013103635719753_2457839397506325023_n.jpg?ccb=11-4&oh=01_Q5Aa3gGWBDAtTDY7g96TCi2f5AizS0kA6Pa9AMFixdhg7t5ULQ&oe=697546F6&_nc_sid=5e03e0&_nc_cat=110","size":294,"creation":1699978473,"owner":"95653350907962@lid","desc":"Grupo de avisos e recados de aulas gratuitas que farei no meu Instagram ou canal do YouTube.\nInsta: @otaviojpassos\nYouTube: Otávio Passos","descId":"1700593441-1925","restrict":true,"announce":true,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363315927503886@g.us","subject":"#8 Na Greenn vc Vende +","subjectOwner":"214946033975302@lid","subjectTime":1720035374,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/328118776_8493087487372607_6561905337612701816_n.jpg?ccb=11-4&oh=01_Q5Aa3gGKejc83kZSbO6gobkdvLgZ1T_YYdhSQj8rDfqeuynplA&oe=6975471D&_nc_sid=5e03e0&_nc_cat=103","size":377,"creation":1719867336,"owner":"258428249325790@lid","desc":"*⏰ A live Greenn Vende + vai acontecer na quinta-feira, 04/07, às 19h, no YouTube.*\n\nVocê vai descobrir como fazer o melhor semestre de vendas da sua história com a Greenn.\n\n🔴 Para garantir que você não vai perder nada, permaneça no grupo para receber o link da live.\n\n⚠️ Confie apenas nos administradores desse grupo. Não enviaremos mensagens individuais.","descId":"C93E7918D4D2E192","restrict":true,"announce":true,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363307172179541@g.us","subject":"Vinícius Lopes | Flow Flux","subjectOwner":"12361385680975@lid","subjectTime":1733322440,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/473411509_1188123216357914_8120069800414619201_n.jpg?ccb=11-4&oh=01_Q5Aa3gGywAaqBoiTTd1JGOpFtaWjuuzoUXLivxShpj5vENMzsg&oe=69753124&_nc_sid=5e03e0&_nc_cat=105","size":379,"creation":1718137774,"owner":"12361385680975@lid","desc":"Quer aprender IA do zero e entrar para e melhor comunidade do mercado? Garanta já!\nhttps://flowfluxauto.com/\n\nMeu Canal:\nhttps://www.youtube.com/@ViniciusLopes-FlowFlux\n\nQuer agendar uma consultoria comigo ? \nwww.calendly.com/viniciuslopesauto/consultoria-para-empresas\n\nConvide um amigo\nhttps://chat.whatsapp.com/EbY0W68OW1X05XuzqRnrpZ\n\nPara promoções e anuncios de qualquer ambiente por favor solicitar ao admin antes","descId":"DFC6D540D5FE4CDA","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363400599210973@g.us","subject":"LISA - Marketing em segundos","subjectOwner":"165227526107213@lid","subjectTime":1744811597,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/486318923_685968537226838_5477745320892249616_n.jpg?ccb=11-4&oh=01_Q5Aa3gE6xWDe-9IVLRQnHgm08ajOsm_VaKWNudyjmM36TXiyUQ&oe=69752F70&_nc_sid=5e03e0&_nc_cat=109","size":381,"creation":1744811597,"owner":"165227526107213@lid","desc":"Olá, tudo bem? Seja muito bem vindo(a)! \n\nLink de convite do grupo: https://chat.whatsapp.com/EFHtdLgtZgX7oCgtrHoyHh\n\nAqui neste grupo será enviado o acesso a solução que vai construir seu marketing em segundos, já conectados nas plataformas de anúncios, de início, a Meta.\n\nVocê vai poder *criar uma estrutura de marketing lucrativa, do zero, sem investir mais em outras soluções, agências, ou freelas. \n\n📕 E, para te ajudar, nos próximos dias *iremos enviar um e-book com as estruturas de marketing mais lucrativas do mercado* para você poder utilizar com a LISA.\n\nNós estamos nos ajustes finais e *falta muito pouco para liberarmos as primeiras licenças gratuitas de uso da ferramenta*, aqui diretamente no grupo.\n\nFique atento aos próximos passos que serão entregues aqui no grupo, o marketing da sua empresa nunca mais será o mesmo.","descId":"1754605874-2598","restrict":true,"announce":true,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363420100739307@g.us","subject":"illumi Conect | I.A Networking","subjectOwner":"4380950536447@lid","subjectTime":1754175668,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/526651873_1205033554999099_8645231661378753120_n.jpg?ccb=11-4&oh=01_Q5Aa3gGPo1E2IXbn4Y0LJDKUojvdR2FcbQlyQ7heBcM_LBTuCA&oe=6975171F&_nc_sid=5e03e0&_nc_cat=109","size":404,"creation":1754175668,"owner":"4380950536447@lid","desc":"O melhor grupo de networking sobre i.a de Goiás\nEsse grupo tem i.a integrado formando uma inteligência de negócio insana! NADA é perdido :)\n\n- Proibido chamar no PV dos colegas de grupo sem permissão.\n- Proibido disparo SPAM de anuncios no grupo.\n- Suspeite de pessoas que chamam dizendo ser do time da illumi, comunique aos admin sempre.\n- Para conhecer nossos cursos de i.a ou serviços entre em contato com um admin.","descId":"1760035888-119","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false,"linkedParent":"120363279545285725@g.us"},{"id":"120363380233400215@g.us","subject":"Botvance Agentes IA 1⃣","subjectOwner":"165958006104067@lid","subjectTime":1739030320,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/473401513_1180856120255128_3762340641300061572_n.jpg?ccb=11-4&oh=01_Q5Aa3gFUlPn0Eyn_cYXBnJaSxtW9BItpwisyNf-uT9TGuKY_Uw&oe=697524C0&_nc_sid=5e03e0&_nc_cat=110","size":435,"creation":1739016613,"owner":"165958006104067@lid","desc":"Botvance comunidade para trocar conhecimentos sobre automação, inteligência artificial, agentes de IA, n8n, banco de dados e muito mais. Seja bem-vindo(a)!\nhttps://youtube.com/@botvance","descId":"82F96EC4024812199CB234D3FF5D1CC4","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false,"linkedParent":"120363395279347130@g.us"},{"id":"120363297849724420@g.us","subject":"Next / Aigents","subjectOwner":"236683064799282@lid","subjectTime":1759753378,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/555127158_4046740315639364_7314895030454515799_n.jpg?ccb=11-4&oh=01_Q5Aa3gGvMwwx0jyxHszvRdfzpA8Zjzn0HrHfypRcXfc6DmWXSg&oe=69754943&_nc_sid=5e03e0&_nc_cat=106","size":439,"creation":1720123146,"owner":"236683064799282@lid","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363160112842505@g.us","subject":"💚 Greenn Partners","subjectOwner":"258428249325790@lid","subjectTime":1691489432,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/408227979_820763516466596_5852013058438219576_n.jpg?ccb=11-4&oh=01_Q5Aa3gFIJLW0x76ak-C5pKJbIb3wdeFLcAh0onLp9Fzjg7GHVQ&oe=697547B4&_nc_sid=5e03e0&_nc_cat=101","size":442,"creation":1687544538,"owner":"258428249325790@lid","desc":"Seja parceiro da Greenn, conheça o Greenn Partner, o programa de indicação da Greenn. Saiba mais detalhes chamando um de nossos adms do grupo.","descId":"1715305740-536","restrict":true,"announce":true,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363247422727333@g.us","subject":"Meu lançamento 0a30","subjectOwner":"108791672639701@lid","subjectTime":1721913538,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/427299860_8010566748972287_3426889133263799501_n.jpg?ccb=11-4&oh=01_Q5Aa3gH68lRWL6I5C7U8emBK1tmrM0yHqXJHibT5rhHKCt7BnA&oe=69753962&_nc_sid=5e03e0&_nc_cat=106","size":523,"creation":1709157210,"owner":"108791672639701@lid","desc":"Você está no grupo oficial da aula exclusiva que acontecerá no Zoom com *Gabriel Rockenbach, sócio da Greenn*\n\nSerá nesta quainta- feira, às 19h, horário de Brasília.\n\nVocê vai descobrir na prática como *Criar sua própria inteligência artificial para vender seu curso on-line e mentoria que fatura pelo menos R$30.000 por mês mesmo começando do absoluto zero*\n\nFique de olho no grupo, pois temos avisos importantes para você não perder a hora da aula.","descId":"1715008318-44","restrict":true,"announce":true,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363347787801853@g.us","subject":"VibeCoding | Automatik®","subjectOwner":"163513834184783@lid","subjectTime":1757028767,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/491842556_1584599626259325_6571697979555290594_n.jpg?ccb=11-4&oh=01_Q5Aa3gGGp3YbDBxGPZmNtqX1oa4mWl91wxVVUbWvAREJf6GyKQ&oe=69753EBF&_nc_sid=5e03e0&_nc_cat=107","size":571,"creation":1731933009,"desc":"🚀 *Sejam bem vindos ao grupo Code-no-Code com IA | Automatik®!* 🚀\n\nEste grupo é uma comunidade voltada para usuários e entusiastas desta super ferramenta. O objetivo aqui é compartilhar conhecimento, trocar experiências, tirar dúvidas com outros usuários e divulgar atualizações e explorar juntos todo o potencial que ela oferece.\n\n── ✦ ─ △ ─ ✦ ──\n\n*[ REGRAS DO GRUPO ]*\n\n*⚠️ Proibidos:*\n🚫 *Bots:* Proibido uso de bots por membros – banimento imediato.\n\n*🔗 Links externos:* Não compartilhe links de outras comunidades sem permissão.\n\n*📢 Spam e autopromoção:* Evite spam, links de afiliados e mensagens repetitivas.\n\n*🗣️ Respeito sempre:* Linguagem ofensiva, brigas e preconceito não serão tolerados.\n\n*⚠️ Conteúdo ilegal:* Proibido conteúdo pirata, falso, ilegal ou fora do tema.\n\n*🚷 Abordagem no privado:* Sem spam ou ofertas no privado. Denuncie abusos.\n\n*🗯️ Discussões e brigas:* Problemas pessoais devem ser resolvidos no privado.\n\n*🚫 Exposição ou ofensas:* Qualquer forma de difamação resultará em banimento imediato.\n\n\n*✅ Permitidos:*\n🎉 *Compartilhar conhecimento:* Poste ideias e experiências que ajudem a comunidade.\n\n📚 *Aprendizado contínuo:* Busque aprender e ensinar sempre que possível.\n\n🎨 *Respeito mútuo:* Opiniões e colaborações devem ser valorizadas.\n\n🤖 *Foco no tema:* Assuntos sobre automações, IA, bots, marketing e CRM são bem-vindos.\n\n*Obs:* Caso desrespeite as regras listadas poderá ser banido sem aviso prévio!\n\n── ✦ ─ △ ─ ✦ ──\n\n*Link do grupo:* https://chat.whatsapp.com/GCXPyIxDtHX8zR8aLOMHxV\n\n📱 *Link de todos os Grupos Automatik:* https://links.mundoautomatik.com\n","descId":"3EB09F11CE9457A969354E","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363268129662024@g.us","subject":"Sandeco Músicas Por IA","subjectOwner":"31254678368277@lid","subjectTime":1713635637,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/425049587_732342382304627_246853454072894749_n.jpg?ccb=11-4&oh=01_Q5Aa3gEgkNea51rRjhi8in4u_NJOtcoCFSaZzkgI071V3uUxvw&oe=69752AB4&_nc_sid=5e03e0&_nc_cat=102","size":630,"creation":1713635637,"owner":"31254678368277@lid","desc":"**REGRAS DE UTILIZAÇÃO DO GRUPO DE SANDECO – LEIA ANTES DE PARTICIPAR**\n\nO propósito do grupo é discutir **Inteligência Artificial, Ciência de Dados e o Desenvolvimento da Computação em Geral**.\n\n- **Proibido** postar mensagens com conteúdo de racismo, pornografia ou ativismo político, bem como solicitar ou divulgar vídeos de conteúdo deep fake.\n- **Proibido** publicar links para vídeos ou conteúdos de outros canais sobre inteligência artificial que possam conflitar com o conteúdo deste canal. Sugira novos temas aos administradores.\n- **Proibido** expressar opiniões pessoais sobre assuntos políticos e religiosos.\n- **Proibido** ofender qualquer membro.\n- Tenha atenção ao compartilhar links e arquivos para evitar links maliciosos. Utilize ferramentas como o [Antivírus Online Gratuito](https://www.virustotal.com).\n- **Proibido** qualquer tipo de propaganda, venda de produtos e serviços, ou enquetes, sem autorização do administrador.\n- **Proibido** solicitar pix, mesmo para ajudas relacionadas à saúde; entre em contato com o administrador.\n- **Proibido** postar fotos ou vídeos repugnantes ou de gosto duvidoso, como mutilações, mortes, ou conteúdo sexual explícito.\n- **Respeite** os outros usuários e suas opiniões. Não tente impor sua opinião a outros.\n- A **Comunidade Sandeco** e seus administradores **não se responsabilizam** por transações realizadas dentro do grupo.\n- **Proibido** qualquer tipo de correntes, mesmo de utilidade pública.\n- Caso observe infrações, **comunique o administrador** imediatamente.\n- Inatividade por **6 meses** pode resultar em remoção.\n\n- Membros que **desrespeitarem as regras** serão **banidos**.","descId":"1A71AF36A70E9C99D8CEE3381CFB93FC","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"556281685163-1606997092@g.us","subject":"Tópicos Avançados em IA","subjectOwner":"31254678368277@lid","subjectTime":1606997092,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/128144139_373949873893941_4158447622114854869_n.jpg?ccb=11-4&oh=01_Q5Aa3gG-GFHTEYNpzo7aYuISHQaVJGKoipX_wzCdYXmoMT_7LQ&oe=697518A8&_nc_sid=5e03e0&_nc_cat=107","size":663,"creation":1606997092,"owner":"31254678368277@lid","desc":"**REGRAS DE UTILIZAÇÃO DO GRUPO DE SANDECO – LEIA ANTES DE PARTICIPAR**\n\nO propósito do grupo é discutir **Inteligência Artificial, Ciência de Dados e o Desenvolvimento da Computação em Geral**.\n\n- **Proibido** postar mensagens com conteúdo de racismo, pornografia ou ativismo político, bem como solicitar ou divulgar vídeos de conteúdo deep fake.\n- **Proibido** publicar links para vídeos ou conteúdos de outros canais sobre inteligência artificial que possam conflitar com o conteúdo deste canal. Sugira novos temas aos administradores.\n- **Proibido** expressar opiniões pessoais sobre assuntos políticos e religiosos.\n- **Proibido** ofender qualquer membro.\n- Tenha atenção ao compartilhar links e arquivos para evitar links maliciosos. Utilize ferramentas como o [Antivírus Online Gratuito](https://www.virustotal.com).\n- **Proibido** qualquer tipo de propaganda, venda de produtos e serviços, ou enquetes, sem autorização do administrador.\n- **Proibido** solicitar pix, mesmo para ajudas relacionadas à saúde; entre em contato com o administrador.\n- **Proibido** postar fotos ou vídeos repugnantes ou de gosto duvidoso, como mutilações, mortes, ou conteúdo sexual explícito.\n- **Respeite** os outros usuários e suas opiniões. Não tente impor sua opinião a outros.\n- A **Comunidade Sandeco** e seus administradores **não se responsabilizam** por transações realizadas dentro do grupo.\n- **Proibido** qualquer tipo de correntes, mesmo de utilidade pública.\n- Caso observe infrações, **comunique o administrador** imediatamente.\n- Inatividade por **6 meses** pode resultar em remoção.\n- Ao postar mensagens na **Comunidade Sandeco**, você concede automaticamente à comunidade uma **licença de uso irrestrita**, perpétua, mundial e livre de royalties para exibição, transmissão, reprodução, adaptação, e exploração do conteúdo postado.\n- Membros que **desrespeitarem as regras** serão **banidos**.","descId":"8cdf3fa6-5c57-4f2d-b99c-04a702869343","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363027398681807@g.us","subject":"Perfex CRM BR | Automatik®","subjectTime":1708192814,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/317676712_687850236218694_1543036820202201632_n.jpg?ccb=11-4&oh=01_Q5Aa3gHsbPkvSP0UdKeIp27x_LYg3rf_GRIMzNlA6njnQfIjPg&oe=6975425B&_nc_sid=5e03e0&_nc_cat=100","size":677,"creation":1674137720,"desc":"🚀 *Sejam bem vindos ao grupo Perfex CRM BR | Automatik®!* 🚀\n\nEste grupo é uma comunidade voltada para usuários e entusiastas desta super ferramenta. O objetivo aqui é compartilhar conhecimento, trocar experiências, tirar dúvidas com outros usuários e divulgar atualizações e explorar juntos todo o potencial que ela oferece.\n\n── ✦ ─ △ ─ ✦ ──\n\n*[ REGRAS DO GRUPO ]*\n\n*⚠️ Proibidos:*\n🚫 *Bots:* Proibido uso de bots por membros – banimento imediato.\n\n*🔗 Links externos:* Não compartilhe links de outras comunidades sem permissão.\n\n*📢 Spam e autopromoção:* Evite spam, links de afiliados e mensagens repetitivas.\n\n*🗣️ Respeito sempre:* Linguagem ofensiva, brigas e preconceito não serão tolerados.\n\n*⚠️ Conteúdo ilegal:* Proibido conteúdo pirata, falso, ilegal ou fora do tema.\n\n*🚷 Abordagem no privado:* Sem spam ou ofertas no privado. Denuncie abusos.\n\n*🗯️ Discussões e brigas:* Problemas pessoais devem ser resolvidos no privado.\n\n*🚫 Exposição ou ofensas:* Qualquer forma de difamação resultará em banimento imediato.\n\n\n*✅ Permitidos:*\n🎉 *Compartilhar conhecimento:* Poste ideias e experiências que ajudem a comunidade.\n\n📚 *Aprendizado contínuo:* Busque aprender e ensinar sempre que possível.\n\n🎨 *Respeito mútuo:* Opiniões e colaborações devem ser valorizadas.\n\n🤖 *Foco no tema:* Assuntos sobre automações, IA, bots, marketing e CRM são bem-vindos.\n\n*Obs:* Caso desrespeite as regras listadas poderá ser banido sem aviso prévio!\n\n── ✦ ─ △ ─ ✦ ──\n\n*Link do grupo:* https://chat.whatsapp.com/FVVOxOhMOcr4esh6WFdlB5\n\n📱 *Link de todos os Grupos Automatik:* https://links.mundoautomatik.com\n","descId":"3EB030410C9568E214C782","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363174485597952@g.us","subject":"Prussia Bier: VIP 🍻","subjectOwner":"135373476880422@lid","subjectTime":1701960890,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/594908768_1221092939909380_1586126397019610809_n.jpg?ccb=11-4&oh=01_Q5Aa3gHRkAbWl_k7S2jnQRgybVfFtxXxUOwanKSPTJM3ztP2LA&oe=697548EF&_nc_sid=5e03e0&_nc_cat=102","size":689,"creation":1697833010,"owner":"70205552255156@lid","desc":"🍻 Bem-vindo(a) ao Grupo VIP da Prussia!\nAqui você fica por dentro de lançamentos, cupons exclusivos, brindes e novidades em primeira mão. Prepare-se para beber conteúdo de qualidade! \n\n📦 Nosso site (loja, novidades e muito mais):\n👉 https://loja.prussiabier.com.br/\n\n📲 Fale com a gente direto no atendimento:\n👉 https://wa.me/31935007211/\n\n📸 Acompanhe os bastidores no Insta:\n👉 https://www.instagram.com/prussiabier/\n\nFique à vontade pra aproveitar o melhor do universo cervejeiro com a gente!","descId":"ACE86362E36A99FE","restrict":true,"announce":true,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363301138151721@g.us","subject":"Jornada Creators 👾","subjectOwner":"237219717603452@lid","subjectTime":1724265437,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/453637539_484199717551400_4301118598029761337_n.jpg?ccb=11-4&oh=01_Q5Aa3gGDagm1y04t8LryR55wbQ6ueNa2qPT0l-JdVDFSQZZZfw&oe=69751DEF&_nc_sid=5e03e0&_nc_cat=103","size":732,"creation":1722631706,"owner":"237219717603452@lid","desc":"Boas Práticas 👾\n\nRegras:\n\nProibido ANUNCIAR dentro do grupo, sujeito a revisão.\n\nProibido disparar TESTES e bots dentro do grupo, sujeito a revisão.\n\nMencionar todos no grupo é permitido somente pelos administradores.\n\nVocê está aqui para aprender e se conectar com outras pessoas que estão na mesma jornada que você.\n\nOBS.: Como um membro deste grupo, não se esqueça de dar boas-vindas aos novos membros! 🪽\n\nNosso Canal no Discord : https://discord.gg/gVcUAZhPgR\n\nLink de convite do grupo: https://bit.ly/jornadacreators\n\nNosso Fórum : https://bit.ly/forum-jc\n\nContribuições, Tutoriais ou dúvidas, crie um post no fórum e inclua a tag específica ao tema abordado, é possível incluir mais de uma tag.","descId":"08B3A18120ED5341","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false,"linkedParent":"120363303790685611@g.us"},{"id":"120363302727589900@g.us","subject":"FABRICA DE AUTOMAÇÕES IA-N8N, Dify, flowise, typebot, whatiket e outros","subjectOwner":"132250784018630@lid","subjectTime":1730472051,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/461369989_552097627381679_8041094017945821516_n.jpg?ccb=11-4&oh=01_Q5Aa3gG4eAyDMMDHYR6kko2sJdTWg1EqQqfF_xtSaXPWc4xpdg&oe=697542DA&_nc_sid=5e03e0&_nc_cat=108","size":734,"creation":1722776675,"owner":"114705825812607@lid","desc":"Link do grupo : https://fabricadeautomacoesia.com.br/grupo-whatsapp\n💰Jobs como:\ninstalações em vps\nmentorias individuais \nTurma de mentoria pro\nCurso ia maker\nCriação ou compra de fluxos \nChame no 91984698653\n\n💰Ou mesmo torne-se um afiliado mercado livre ia ou inovare e ganhe dinheiro vendendo nossas automações para empresas através a inovare ia\n\n⚠️regras do grupo:\n\n1-agir sempre em cooperação \n\n2-vídeos ou chamadas ao vivo ou Meet podem ser postados apenas pelos youtubers da comunidade já verificados ou informados antes no pv\n\n⚠️ passíveis de banimento sem aviso prévio  :\n1-Sem ofensas ou palavrões \n2-Sem assuntos polêmicos, reclamações ou perturbação da paz(sugestões ou críticas devem ser enviadas para ao grupo da comunidade caixa de ideias )\n3- bots que fiquem ligados respondendo no grupo de qualquer natureza exceto com autorização do admin\n4-marcação fantasma ou envio em massa exceto pelo admin\n\n⚠️Objetivo do grupo é fazer automações em cooperação compartilhar fluxos de Inteligência Artificial do N8N com base no fluxo desenvolvido e disponibilizado gratuitamente pelo grupo com foco em Multi agentes de ia para atendimento\npara construir em cima os seus agentes, voltar e compartilhar na comunidade, também fazemos projetos conjuntos de automação  \n\n💡no grupo vip cooperadores, vip Dify e vip ferramentas já temos mais 100 fluxos disponíveis gratuitamente, é exclusivo para que já compartilhou e apresentou fluxos na live \n\n# fluxos que a comunidade tem  objetivo de fazer \n\n1- com base no fluxo ia base da comunidade, para ramos variados de empresa\n\n2 fluxos ferramenta tenha função diferente do que tivermos no banco \n\n3-fluxos de Dify+tratamento\n\nos fluxos devem ser autorais\n\n👍Quaisquer contribuições dentro dos objetivos de fluxo da comunidade darão acesso ao grupo vip contribuidores , vip ferramentas ou vip Dify para fazerem os dowloads dos fluxos até a data da sua última contribuição\n\n#lives semanais no canal promovaweb\n\n👉Fluxos aqui:\nhttps://drive.google.com/drive/folders/1N4Ea5K_sB8k_YXXy4_uzl8SbVJckTAAX?usp=shferra","descId":"1729168587-524","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false,"linkedParent":"120363303312425779@g.us"},{"id":"120363334206762529@g.us","subject":"Vet de Campo - Comunidade oficial✅","subjectOwner":"147540750163974@lid","subjectTime":1752592998,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/516445481_1089092195880373_5416106299234291641_n.jpg?ccb=11-4&oh=01_Q5Aa3gFDal9D7tRO-CQ8p5LC6gMA04GC8KqRw7F5Hs_BtLVxNg&oe=69753835&_nc_sid=5e03e0&_nc_cat=107","size":749,"creation":1729868185,"owner":"147540750163974@lid","desc":"Fala Doutores, seis tá batuta de bão??? Que bão!!! Sejam muito bem vindos a nossa Comunidade Oficial de discussão de casos clínicos do Vet de Campo.","descId":"1752536235-1163","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363350047128838@g.us","subject":"Sandeco Agentes de IA","subjectOwner":"31254678368277@lid","subjectTime":1729528342,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/464285072_890071516164179_6510258921184662937_n.jpg?ccb=11-4&oh=01_Q5Aa3gEdWLRzgi1FbiyUlaGu_avBroSgj7cnospLhdZ4h7IsaA&oe=697539C4&_nc_sid=5e03e0&_nc_cat=101","size":793,"creation":1729528342,"owner":"31254678368277@lid","desc":"**REGRAS DE UTILIZAÇÃO DO GRUPO DE SANDECO – LEIA ANTES DE PARTICIPAR**\n\nO propósito do grupo é discutir **Inteligência Artificial, Ciência de Dados e o Desenvolvimento da Computação em Geral**.\n\n- **Proibido** postar mensagens com conteúdo de racismo, pornografia ou ativismo político, bem como solicitar ou divulgar vídeos de conteúdo deep fake.\n- **Proibido** publicar links para vídeos ou conteúdos de outros canais sobre inteligência artificial que possam conflitar com o conteúdo deste canal. Sugira novos temas aos administradores.\n- **Proibido** expressar opiniões pessoais sobre assuntos políticos e religiosos.\n- **Proibido** ofender qualquer membro.\n- Tenha atenção ao compartilhar links e arquivos para evitar links maliciosos. Utilize ferramentas como o [Antivírus Online Gratuito](https://www.virustotal.com).\n- **Proibido** qualquer tipo de propaganda, venda de produtos e serviços, ou enquetes, sem autorização do administrador.\n- **Proibido** solicitar pix, mesmo para ajudas relacionadas à saúde; entre em contato com o administrador.\n- **Proibido** postar fotos ou vídeos repugnantes ou de gosto duvidoso, como mutilações, mortes, ou conteúdo sexual explícito.\n- **Respeite** os outros usuários e suas opiniões. Não tente impor sua opinião a outros.\n- A **Comunidade Sandeco** e seus administradores **não se responsabilizam** por transações realizadas dentro do grupo.\n- **Proibido** qualquer tipo de correntes, mesmo de utilidade pública.\n- Caso observe infrações, **comunique o administrador** imediatamente.\n- Inatividade por **6 meses** pode resultar em remoção.\n- Ao postar mensagens na **Comunidade Sandeco**, você concede automaticamente à comunidade uma **licença de uso irrestrita**, perpétua, mundial e livre de royalties para exibição, transmissão, reprodução, adaptação, e exploração do conteúdo postado.\n- Membros que **desrespeitarem as regras** serão **banidos**.\n\n---","descId":"8fe61682-29ee-4021-afb8-78ce26dbafea","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363420212569781@g.us","subject":"AI Festival Goiânia - Grupo VIP","subjectOwner":"61667157266582@lid","subjectTime":1759307438,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/554848707_828970746135711_3717224802965485659_n.jpg?ccb=11-4&oh=01_Q5Aa3gGz6jCU3daZ0xBa0dg-p2jNPBBA5zTl30vuwUM79P9ITg&oe=697526F0&_nc_sid=5e03e0&_nc_cat=111","size":819,"creation":1759307438,"owner":"61667157266582@lid","desc":"Vem aí… *AI Festival Goiânia!*\n📆 *03 de Fevereiro de 2026*\n\n*Local: Hub Cerrado*\n_Rua do Parque, 361_\n_QD 145, LT Área3, Jd. Atlântico_\n\nO *AI Festival* é um evento imersivo que conecta pessoas, empresas e soluções em torno do tema que está transformando o mundo: Inteligência Artificial.\n\nEm um único dia, reuniremos especialistas, ferramentas, cases e experiências para mostrar, na prática, como a IA já impacta carreiras, negócios e o nosso dia a dia.\n\n*Você está neste grupo VIP para:*\n✅ Receber informações privilegiadas antes de todo mundo\n✅ Ter acesso a condições especiais nos primeiros lotes\n✅ Participar de sorteios, promoções e conteúdos exclusivos\n✅ Acompanhar bastidores, agenda e nomes confirmados\n\n💡 Fique de olho! As novidades e oportunidades do AI Festival começam por aqui.","descId":"C9F3D0F91555E64B","restrict":true,"announce":true,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363372133487828@g.us","subject":"#1 Geral - 🧠 Mente Conectada | Leonardo Candiani","subjectOwner":"25898736681154@lid","subjectTime":1738079124,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/457529069_1262559708278612_1537968625954886270_n.jpg?ccb=11-4&oh=01_Q5Aa3gGea79yWH07HAol3xT_60vKGYAVxR2IISOwAd6IJ1VHYQ&oe=69752D20&_nc_sid=5e03e0&_nc_cat=111","size":823,"creation":1733186195,"owner":"25898736681154@lid","desc":"Bem-vindo ao grupo *Mente Conectada*! Aqui você terá acesso a templates gratuitos, dicas práticas e conteúdos exclusivos sobre Inteligência Artificial e Automação.\n\n*Nosso servidor do discord*:\nhttps://discord.gg/PR8nPTRHtn\n\n*Acesse os nosso links:* https://leonardocandiani.com.br/\n\n*Use a mesma VPS que eu uso, e ganhe 70% de desconto no primeiro mês adquirindo pelo meu link:*\nhttps://parks.sh/leonardo-candiani/\n\n*Regras do Grupo*\n\n1. *Proibido vender mentorias, cursos ou consultorias!*\n- É expressamente proibido vender produtos como mentorias, cursos, consultorias ou divulgar vagas. Denúncias recorrentes levam ao banimento.\n\n2. *Sem pesca em balde!*\n- Sabemos que temos muitas pessoas qualificadas no grupo, mas prospectar clientes diretamente aqui é proibido. Contamos com seu bom senso!\n\n3. *Sem anúncios ou divulgação não autorizada!*\n- Não crie ou divulgue grupos paralelos nem promova qualquer tipo de produto ou serviço sem autorização prévia. Mensagens não autorizadas serão deletadas sem aviso prévio.\n\n4. *Respeite o propósito do grupo!*\n- Foco em networking, discussões profissionais e conteúdos relevantes. Evite mensagens fora desse contexto.\n\n5. *Sem spam ou mensagens irrelevantes!*\n- Não compartilhe fake news, correntes ou conteúdos repetitivos. Poste apenas algo que agregue valor.\n\n6. *Seja educado e respeitoso!*\n- Ofensas, preconceitos ou provocações não serão tolerados. Preserve o respeito e a harmonia.\n\n7. *Dúvidas, denúncias ou problemas?*\n- Fale com os administradores imediatamente. Estamos aqui para ajudar e manter a ordem.","descId":"1741618820-4320","restrict":true,"announce":true,"isCommunity":false,"isCommunityAnnounce":false,"linkedParent":"120363379815387183@g.us"},{"id":"120363379419198101@g.us","subject":"Botvance Comunidade","subjectOwner":"165958006104067@lid","subjectTime":1739016906,"pictureUrl":null,"size":824,"creation":1739016743,"owner":"165958006104067@lid","desc":"Olá! Esta comunidade foi criada para que os participantes possam conversar em grupos de assuntos específicos e receber avisos importantes.","descId":"95BD9E3E2D72A7FCB9D43178069A9EB2","restrict":false,"announce":true,"isCommunity":false,"isCommunityAnnounce":true,"linkedParent":"120363395279347130@g.us"},{"id":"120363321853352308@g.us","subject":"Jornada Creators","subjectOwner":"237219717603452@lid","subjectTime":1722558707,"pictureUrl":null,"size":846,"creation":1722558707,"owner":"237219717603452@lid","desc":"‎Olá! Esta comunidade foi criada para que os membros possam conversar em grupos de assuntos específicos e receber avisos importantes.","descId":"1722558097-41","restrict":false,"announce":true,"isCommunity":false,"isCommunityAnnounce":true,"linkedParent":"120363303790685611@g.us"},{"id":"120363184136356670@g.us","subject":"AI Builders","subjectOwner":"56161176973551@lid","subjectTime":1704489738,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/411798477_745214260807618_2425139198212718861_n.jpg?ccb=11-4&oh=01_Q5Aa3gES2NRKcdGg2lqHrOiiTFhFU-DOCNFXvfC87XpzVttPWg&oe=6975215D&_nc_sid=5e03e0&_nc_cat=106","size":858,"creation":1701808652,"owner":"56161176973551@lid","desc":"Regras:\nAntes de enviar links para outros grupos de WhatsApp, lives no YouTube ou links do Google meet ou zoom, converse com André Prado ou Felipe Raitano! \n\n✅Faça Upgrade pra Comunidade e cursos exclusivos AI Builders! \nwww.aibuilders.com.br!\n\n🤖 *Automações usando IA!*\n\n▶️ Playlist com n8n, IA e Automações:\nhttps://www.youtube.com/playlist?list=PLxl3CEaxigx2zOREi6FLR5QuGfRpm-MCJ\n\n▶️ Minicurso introdução a n8n\nhttps://www.youtube.com/playlist?list=PLxl3CEaxigx0nAAtkP8Hv0x2c2732xX0M\n\n▶️ Playlist últimos encontros online:\nhttps://www.youtube.com/playlist?list=PLxl3CEaxigx3f8-6iP9IHp_cOSuWrlHHl","descId":"F2300FF766546B240BEB549FC95BDC9C","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363265838070619@g.us","subject":"SANDECO - AGENTES E GPTS","subjectOwner":"31254678368277@lid","subjectTime":1713205995,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/427350752_1121176142267427_6974317087889660525_n.jpg?ccb=11-4&oh=01_Q5Aa3gF31Yu5W6ng9AjnTxF5iTkufDYZbinxlNho49SxeeyBkw&oe=697513C6&_nc_sid=5e03e0&_nc_cat=108","size":868,"creation":1713205967,"owner":"31254678368277@lid","desc":"**REGRAS DE UTILIZAÇÃO DO GRUPO DE SANDECO – LEIA ANTES DE PARTICIPAR**\n\nO propósito do grupo é discutir **Inteligência Artificial, Ciência de Dados e o Desenvolvimento da Computação em Geral**.\n\n- **Proibido** postar mensagens com conteúdo de racismo, pornografia ou ativismo político, bem como solicitar ou divulgar vídeos de conteúdo deep fake.\n- **Proibido** publicar links para vídeos ou conteúdos de outros canais sobre inteligência artificial que possam conflitar com o conteúdo deste canal. Sugira novos temas aos administradores.\n- **Proibido** expressar opiniões pessoais sobre assuntos políticos e religiosos.\n- **Proibido** ofender qualquer membro.\n- Tenha atenção ao compartilhar links e arquivos para evitar links maliciosos. Utilize ferramentas como o [Antivírus Online Gratuito](https://www.virustotal.com).\n- **Proibido** qualquer tipo de propaganda, venda de produtos e serviços, ou enquetes, sem autorização do administrador.\n- **Proibido** solicitar pix, mesmo para ajudas relacionadas à saúde; entre em contato com o administrador.\n- **Proibido** postar fotos ou vídeos repugnantes ou de gosto duvidoso, como mutilações, mortes, ou conteúdo sexual explícito.\n- **Respeite** os outros usuários e suas opiniões. Não tente impor sua opinião a outros.\n- A **Comunidade Sandeco** e seus administradores **não se responsabilizam** por transações realizadas dentro do grupo.\n- **Proibido** qualquer tipo de correntes, mesmo de utilidade pública.\n- Caso observe infrações, **comunique o administrador** imediatamente.\n- Inatividade por **6 meses** pode resultar em remoção.\n- Ao postar mensagens na **Comunidade Sandeco**, você concede automaticamente à comunidade uma **licença de uso irrestrita**, perpétua, mundial e livre de royalties para exibição, transmissão, reprodução, adaptação, e exploração do conteúdo postado.\n- Membros que **desrespeitarem as regras** serão **banidos**.","descId":"7f3c67b6-4771-4b75-8e5c-4dfb426adc7a","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363273592717912@g.us","subject":"Sandeco IA e Marketing","subjectOwner":"31254678368277@lid","subjectTime":1711466162,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/422523812_339990115198188_4396423279677219302_n.jpg?ccb=11-4&oh=01_Q5Aa3gEiqpfLF4_bA1d_S5UwyecOeFMKW27xpkE00UrwZValMA&oe=697537A5&_nc_sid=5e03e0&_nc_cat=108","size":872,"creation":1711466162,"owner":"31254678368277@lid","desc":"**REGRAS DE UTILIZAÇÃO DO GRUPO DE SANDECO – LEIA ANTES DE PARTICIPAR**\n\nO propósito do grupo é discutir **Inteligência Artificial, Ciência de Dados e o Desenvolvimento da Computação em Geral**.\n\n- **Proibido** postar mensagens com conteúdo de racismo, pornografia ou ativismo político, bem como solicitar ou divulgar vídeos de conteúdo deep fake.\n- **Proibido** publicar links para vídeos ou conteúdos de outros canais sobre inteligência artificial que possam conflitar com o conteúdo deste canal. Sugira novos temas aos administradores.\n- **Proibido** expressar opiniões pessoais sobre assuntos políticos e religiosos.\n- **Proibido** ofender qualquer membro.\n- Tenha atenção ao compartilhar links e arquivos para evitar links maliciosos. Utilize ferramentas como o [Antivírus Online Gratuito](https://www.virustotal.com).\n- **Proibido** qualquer tipo de propaganda, venda de produtos e serviços, ou enquetes, sem autorização do administrador.\n- **Proibido** solicitar pix, mesmo para ajudas relacionadas à saúde; entre em contato com o administrador.\n- **Proibido** postar fotos ou vídeos repugnantes ou de gosto duvidoso, como mutilações, mortes, ou conteúdo sexual explícito.\n- **Respeite** os outros usuários e suas opiniões. Não tente impor sua opinião a outros.\n- A **Comunidade Sandeco** e seus administradores **não se responsabilizam** por transações realizadas dentro do grupo.\n- **Proibido** qualquer tipo de correntes, mesmo de utilidade pública.\n- Caso observe infrações, **comunique o administrador** imediatamente.\n- Inatividade por **6 meses** pode resultar em remoção.\n- Ao postar mensagens na **Comunidade Sandeco**, você concede automaticamente à comunidade uma **licença de uso irrestrita**, perpétua, mundial e livre de royalties para exibição, transmissão, reprodução, adaptação, e exploração do conteúdo postado.\n- Membros que **desrespeitarem as regras** serão **banidos**.","descId":"2a0610ea-230c-4b3b-a317-e7ccbe6f74a6","restrict":false,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"553591904710-1622311707@g.us","subject":"Clube do Presidente 19","subjectTime":1622311707,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/353732337_993173645151654_1470423547007046803_n.jpg?ccb=11-4&oh=01_Q5Aa3gGB-9SyxD3Eg36Gn-Aok0Jke0GS74CTeC9eKQiedfw2AQ&oe=69752ABC&_nc_sid=5e03e0&_nc_cat=106","size":939,"creation":1622311707,"desc":"⚠ *ATENÇÃO PESSOAL!! MENSAGEM IMPORTANTE* \n\nTodas as postagens são promoções, sempre com estoque limitado. E sempre que o estoque destinado à promoção for vendido, o produto se esgotará ou terá seu preço aumentado.\n\nAlgumas versões do WhatsApp estão desabilitando o link para clicar (o link não fica azul). Para resolver isso, adicione o contato do administrador do grupo à sua agenda, e o link voltará a aparecer e ficará clicável.\n\nPromoções sempre de lojas confiáveis!\n\nNosso grupo faz postagens durante o horário comercial. Se você entrou fora desse horário, aguarde as próximas postagens!\n\nInstagram: @clubedopresidente\n\nOBRIGADO! 👍🏻","descId":"EE489D301A201E71","restrict":true,"announce":true,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363403310858554@g.us","subject":"#1 Tecnologia & Automação - Guilherme Lazarotto","subjectOwner":"207369627779146@lid","subjectTime":1746820749,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/473399364_2533642510316052_3326949872194465487_n.jpg?ccb=11-4&oh=01_Q5Aa3gHxVTIu4jUx1XcK4iIEdvILpL7WIrsfHoK5M5Xxiw2BKA&oe=697517C8&_nc_sid=5e03e0&_nc_cat=102","size":945,"creation":1739559676,"owner":"256723717726233@lid","desc":"*Links comentados nos vídeos:*\n\n📕 Curso: https://guilhermelaz.com.br/curso\n\n🤖 Fluxo Agente de IA Simples (Base): https://www.guilhermelaz.com.br/agenteSimples\n\n📁 Templates e Scripts: https://guilhermelaz.com.br/gDriveTemplates\n\n*Links da comunidade:*\n\n📱 Server no Discord (Fórum): https://guilhermelaz.com.br/discordAutomacao\n\nGrupo Whatsapp 2: https://guilhermelaz.com.br/grupoWhatsapp2\n\nGrupo Whatsapp 3: https://guilhermelaz.com.br/grupoWhatsapp\n\nYoutube: www.youtube.com/@guilherme_laz\n\n*Links VPS:*\n\n🟪 Hostinger (VPS): \nhttps://guilhermelaz.com.br/hostingerVps\n\n*Outros:*\n\nGPT Customizado / Assistente N8N (Feito por Artur Boaz): https://chatgpt.com/g/g-67b5fb7b5ff8819188abfadb5efbe0e9-assistente-n8n\n\nGrupo voltado para tirar dúvidas e compartilhar informações sobre tecnologia e automação! \n\n⚠️ Regras (sujeito a expulsão caso violadas):\n\n1. O Grupo foi criado por Guilherme Lazarotto, no intuito de ajudar seus inscritos e tirar dúvidas, portanto, é proíbido a divulgação de outros canais através desse meio, salvo quando o conteúdo do vídeo for para ajudar ou responder uma pergunta feita no chat.\n\n2. Ressaltando a importância do respeito com todos os membros do grupo, é proibido \nquaisquer tipos de desrespeito com o próximo.","descId":"F49BF154ABEFAAC5","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363206229319843@g.us","subject":"SetupOrion #01 | Automatik®","subjectTime":1716739205,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/469266411_1741896619999186_3109048640239355892_n.jpg?ccb=11-4&oh=01_Q5Aa3gG4o6Qx1nzneaytHnXoKCd-e_uCysFdvnPHAaHyCqr6hg&oe=697548FC&_nc_sid=5e03e0&_nc_cat=100","size":969,"creation":1706033962,"desc":"🚀 *Bem-vindo ao Grupo 1 do SetupOrion!* 🚀\n\nEste grupo foi criado em parceria com a Automatik para reunir entusiastas do Open Source, desde iniciantes até os mais experientes. Aqui, discutimos a instalação, o uso e as melhores práticas das ferramentas que compõem o nosso Setup.\n\n── ✦ ─ △ ─ ✦ ──\n\n*[ REGRAS DO GRUPO ]*\n\n⚠️ *Proibidos*:\n🚫 *Bots*: Proibido uso de bots por membros – banimento imediato.\n\n🔗 *Links externos*: Não compartilhe links de outras comunidades sem permissão.\n\n📢 *Spam, autopromoção e venda de conteúdo*: Evite spam, links de afiliados, mensagens repetitivas e a venda de conteúdos no grupo.\n\n🗣️ *Respeito sempre*: Linguagem ofensiva, brigas e preconceito não serão tolerados.\n\n⚠️ *Conteúdo ilegal*: Proibido conteúdo pirata, falso, ilegal ou fora do tema.\n\n🚷 *Abordagem no privado*: Sem spam ou ofertas no privado dos membros. Denuncie abusos.\n\n✅ *Permitidos*:\n🎉 *Compartilhar conhecimento*: Poste ideias e experiências que ajudem a comunidade.\n\n📚 *Aprendizado contínuo*: Busque aprender e ensinar sempre que possível.\n\n🎨 *Respeito mútuo*: Opiniões e colaborações devem ser valorizadas.\n\n🤖 *Foco no tema*: Assuntos sobre automações, IA, bots, marketing e CRM são bem-vindos.\n\n💬 *Consultorias*: O privado dos administradores é reservado para serviços e consultorias pagas. Use o grupo para tirar dúvidas gratuitamente.\n\n*Obs: _Caso desrespeite as regras listadas poderá ser banido sem aviso prévio!_*\n\n── ✦ ─ △ ─ ✦ ──\n\nPix Coffee Orion:\n👉 Pix Email: pix@oriondesign.art.br\n\nLink do Grupo:\n👉 https://hub.setuporion.com.br/grupo1\n\nSobre o SetupOrion:\n👉 https://oriondesign.art.br\n\nGitHub do projeto:\n👉 https://github.com/oriondesign2015/setuporion\n\nClubOrion - Apoiadores:\n👉 https://join.oriondesign.art.br\n\nTodos Grupos Automatik®:\n👉 https://links.mundoautomatik.com","descId":"66E832E09690A52C8442752540D75066","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363338245111929@g.us","subject":"Promovaweb - IA Makers","subjectOwner":"208151781625986@lid","subjectTime":1729779469,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/460455072_1062594072040534_1634402936636315936_n.jpg?ccb=11-4&oh=01_Q5Aa3gEHyqzCebEUZcmK2_588NBs21VD995TSB3ZdOV2QmWcTA&oe=69752656&_nc_sid=5e03e0&_nc_cat=111","size":976,"creation":1727187733,"owner":"155598108754046@lid","desc":"*[ REGRAS DO GRUPO ]*\n\nPara suporte individual utilize o Canal de Suporte da Comunidade: https://comunidade.promovaweb.com/c/suporte-ajuda/\n\nNão é permitido suporte nos grupos.\n\n⚠️ *Proibido*:\n\n01 - *Bots*: Proibido uso de bots por membros – banimento imediato.\n\n02 - *Links externos*: Não compartilhe links de outras comunidades ou redes sociais sem permissão.\n\n03 - *Proibição de códigos*: Não é permitido enviar stacks, scripts, códigos ou snippets no grupo.\n\n*04 - Spam e autopromoção*: Evite spam, links de afiliados e mensagens repetitivas.\n\n*05 - Respeito sempre*: Linguagem ofensiva, brigas e preconceito não serão tolerados.\n\n*06 - Conteúdo ilegal*: Proibido conteúdo pirata, falso, ilegal ou fora do tema.\n\n*07 - Promoção de conteúdos*: Não é permitido referenciar outros criadores de conteúdos que não são parceiros da *Promovaweb*, nem promover links de vídeos ou conteúdo.\n\n*08 - Proibido vender ou anunciar*: Não é permitido vender serviços, produtos, cursos ou oferecer links de afiliados no grupo.\n\n*09 - Abordagem no privado*: Sem spam ou ofertas no privado. Denuncie abusos.\n\n*10 - Discussões e brigas*: Problemas pessoais devem ser resolvidos no privado.\n\n*11 - Exposição ou ofensas*: Qualquer forma de difamação resultará em banimento imediato.\n\n12 - Não é permitido suporte nos grupos, nem para alunos e nem para não alunos.\n\n✅ *Permitido*:\n\n🎉 *Compartilhar conhecimento*: Poste ideias e experiências que ajudem a comunidade.\n\n📚 *Aprendizado contínuo*: Busque aprender e ensinar sempre que possível.\n\n🎨 *Respeito mútuo*: Opiniões e colaborações devem ser valorizadas.\n\n🤖 *Foco no tema*: Assuntos sobre automações, IA, bots, marketing e CRM são bem-vindos.\n\n*Obs*: Caso desrespeite as regras listadas poderá ser banido sem aviso prévio!","descId":"8E9050DE68E615C2","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363277851471209@g.us","subject":"illumi","subjectOwner":"4380950536447@lid","subjectTime":1712241520,"pictureUrl":null,"size":1005,"creation":1712241520,"owner":"4380950536447@lid","desc":"Lista de espera.","descId":"0D9C5088323D3B504FA1D508BEF0364D","restrict":false,"announce":true,"isCommunity":false,"isCommunityAnnounce":true,"linkedParent":"120363279545285725@g.us"},{"id":"556281357121-1528760626@g.us","subject":"🏡JARDIM HELVÉCIA🏡","subjectOwner":"102916174139628@lid","subjectTime":1537735901,"pictureUrl":"https://pps.whatsapp.net/v/t61.24694-24/231833255_663582981566801_6484031440651208828_n.jpg?ccb=11-4&oh=01_Q5Aa3gEkPKSQWTSs1VdSVfazsPPnXt_9Mf64vnMpUlN0ibHsfg&oe=69751E3C&_nc_sid=5e03e0&_nc_cat=101","size":1024,"creation":1528760626,"owner":"102916174139628@lid","desc":"*O objetivo do grupo é a interação das pessoas do Jardim Helvécia e região, seja com informações, comércio, segurança, lazer e etc.*\n\n🛑 *Atenção para as regras:* \n*1°) É proibido propaganda política, discussão política, religiosa, pornografia e Fake News;*\n*2°) É permitido a postagem de no máximo 2 imagens por anúncio a cada período (matutino, vespertino e noturno);*\n*3°) É proibido a postagem de anúncios duvidosos ou falsos;*\n*4°) É proibido o uso de palavras ofensivas e desrespeitosas, bem como de discussões e xingamentos entre os membros;*\n*5°) As publicações de links de outros grupos precisam de consulta e autorização dos Administradores do Grupo;*\n*6°) O membro que descumprir as regras será removido pelos Administradores do Grupo.* \n\n*Sejam bem-vindos!* 🎊🎉🍹🍻","descId":"24FAADE6E927D82D23A61ACA2D08CF7B","restrict":true,"announce":false,"isCommunity":false,"isCommunityAnnounce":false},{"id":"120363384488711711@g.us","subject":"#10 IMERSÃO JORNADA CYBER 🦅","subjectOwner":"257925738172506@lid","subjectTime":1736448606,"pictureUrl":null,"size":1039,"creation":1735927850,"owner":"257925738172506@lid","desc":"Olá! Esta comunidade foi criada para que os participantes possam conversar em grupos de assuntos específicos e receber avisos importantes.","descId":"F2F890FEDD6076A4AC85575B21CCBB9F","restrict":false,"announce":true,"isCommunity":false,"isCommunityAnnounce":true,"linkedParent":"120363386041326231@g.us"},{"id":"120363422351763427@g.us","subject":"FC Tech Week IA for Devs #36","subjectOwner":"163187718680686@lid","subjectTime":1765814970,"pictureUrl":null,"size":1277,"creation":1765814970,"owner":"163187718680686@lid","restrict":false,"announce":true,"isCommunity":false,"isCommunityAnnounce":true,"linkedParent":"120363423302848377@g.us"},{"id":"120363304367067854@g.us","subject":"FÁBRICA DE AUTOMAÇÕES IA    cooperação, cursos, mentoria e serviços ","subjectOwner":"132250784018630@lid","subjectTime":1727743865,"pictureUrl":null,"size":1353,"creation":1722907110,"owner":"132250784018630@lid","desc":"‎Olá! Esta comunidade foi criada para que os membros possam compartilhar suas automações","descId":"1722880240-1431","restrict":false,"announce":true,"isCommunity":false,"isCommunityAnnounce":true,"linkedParent":"120363303312425779@g.us"},{"id":"120363152610237275@g.us","subject":"Mundo do Marketing #2","subjectOwner":"224790031929447@lid","subjectTime":1683768922,"pictureUrl":null,"size":1369,"creation":1683768922,"owner":"224790031929447@lid","desc":"Comunidade do Mundo do Marketing, o principal portal de conteúdo para os profissionais da área com casos de sucesso, entrevistas, pesquisas, tendências, insights, estudos de mercado, notícias, lançamentos, artigos, ativações e promoções.","descId":"35181FFD38682E94","restrict":false,"announce":true,"isCommunity":false,"isCommunityAnnounce":true,"linkedParent":"120363153397802380@g.us"},{"id":"120363361835058190@g.us","subject":"🧠 Comunidade | Mente Conectada | Leonardo Candiani","subjectOwner":"25898736681154@lid","subjectTime":1738079704,"pictureUrl":null,"size":1538,"creation":1734122638,"owner":"25898736681154@lid","desc":"Uma comunidade que você pode escolher em qual grupo participar, o que combina mais com seu momento atual! Vamos ter divisões para facilitar a comunicação e conseguirmos organizar melhor nossa conversa! \n\nConto com vocês e vamos crescer juntos!","descId":"1734119929-198","restrict":false,"announce":true,"isCommunity":false,"isCommunityAnnounce":true,"linkedParent":"120363379815387183@g.us"},{"id":"120363155312074887@g.us","subject":"Comunidade Promovaweb","subjectOwner":"155598108754046@lid","subjectTime":1684487312,"pictureUrl":null,"size":1755,"creation":1684248069,"owner":"155598108754046@lid","desc":"Essa é a Comunidade Promovaweb, onde você pode fazer networking, tirar suas dúvidas, descobrir novas ferramentas e receber notificações sobre cursos, vídeos, aulas e mentorias da Promovaweb. https://chat.whatsapp.com/F79Xxmk49mL5hc1BxLcZCn","descId":"B9EF35C5E1344E49","restrict":false,"announce":true,"isCommunity":false,"isCommunityAnnounce":true,"linkedParent":"120363138044665005@g.us"},{"id":"120363314006399138@g.us","subject":"Negócio com Agentes Comunidade Free","subjectOwner":"219932440703016@lid","subjectTime":1765230536,"pictureUrl":null,"size":1999,"creation":1725468065,"desc":"‎Olá! Esta comunidade foi criada para que os membros possam conversar em grupos de assuntos específicos e receber avisos importantes.","descId":"1725397798-178","restrict":false,"announce":true,"isCommunity":false,"isCommunityAnnounce":true,"linkedParent":"120363333243733572@g.us"}]},"pairedItem":{"item":0}}]},"versionId":"1fb20ae6-7ba6-42e1-8ff6-695a6f3c4696","activeVersionId":"a6dfa5d2-029d-4508-b6dc-6b8e811c1e03","triggerCount":1,"shared":[{"updatedAt":"2026-01-14T22:04:36.770Z","createdAt":"2026-01-14T22:04:36.770Z","role":"workflow:owner","workflowId":"-T25r5IjXA5M06pY1eBhI","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":{"updatedAt":"2026-01-14T22:06:26.288Z","createdAt":"2026-01-14T22:06:23.033Z","versionId":"a6dfa5d2-029d-4508-b6dc-6b8e811c1e03","workflowId":"-T25r5IjXA5M06pY1eBhI","nodes":[{"parameters":{"httpMethod":"POST","path":"sdn8nevo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"ab6a9db1-c86a-4a15-a960-3c2b5f247589","name":"Webhook","webhookId":"d25039c5-2f32-4c26-854a-d4f1c041f80f"}],"connections":{},"authors":"Alessadro Torres","name":"Version a6dfa5d2","description":"","autosaved":false},"tags":[]}