Workflows/B0pHr1oeOUlz2wVq.json
{"updatedAt":"2025-11-22T13:48:54.132Z","createdAt":"2025-11-17T13:48:08.594Z","id":"B0pHr1oeOUlz2wVq","name":"[ WhatsApp ] Projeto Colbiflex","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"588ee71b-9c2b-4494-8db5-81aaff959f55","name":"Encerra","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1504,1472],"notesInFlow":true,"notes":"msg privada"},{"parameters":{"method":"POST","url":"={{ $json.SubDominioEvolution }}/chat/getBase64FromMediaMessage/{{ $json.InstanceEvolution }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.api_global }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\": \"{{ $('When Executed by Another Workflow').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": false\n}","options":{"redirect":{"redirect":{}}}},"id":"2badd1a0-55dc-417b-a4b9-7e0b2da70cd3","name":"Imagem para base64","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-848,1504]},{"parameters":{"assignments":{"assignments":[{"id":"78a45b8f-21b7-4562-ade5-fdd95b3315d7","name":"v_texto","value":"=Descição da imagem:\n{{ $json.choices[0].message.content }}\n\nLegenda da imagem:\n{{ $('When Executed by Another Workflow').item.json.body.data.message.imageMessage.caption }}","type":"string"}]},"options":{}},"id":"621f9ad8-2a96-4334-ad06-1955142e65c2","name":"Junta","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,1440],"notesInFlow":true,"notes":"Legenda + descr.imagem"},{"parameters":{"assignments":{"assignments":[{"id":"c4aadd9c-a9fb-44ed-9a45-71fb59f98de5","name":"v_texto","value":"={{ $('When Executed by Another Workflow').item.json.body.data.message.conversation }}{{ $('When Executed by Another Workflow').item.json.body.data.message.contactMessage.vcard }}","type":"string"}]},"options":{}},"id":"e6679be6-2633-4509-8d3d-1b1c8e28b402","name":"Coleta texto","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,1264]},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"audio/mpeg"}},"id":"09515cc3-4291-419d-b2e3-9789c9914d47","name":"converte para binario1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-624,1024]},{"parameters":{"method":"POST","url":"={{ $('Parametros').item.json.SubDominioEvolution }}/chat/getBase64FromMediaMessage/{{ $('Parametros').item.json.InstanceEvolution }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Parametros').item.json.api_global }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\": \"{{ $('When Executed by Another Workflow').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": false\n}","options":{"redirect":{"redirect":{}}}},"id":"97b21d67-78a5-4306-8259-d550abb8d7cf","name":"Audio para base","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-848,1024]},{"parameters":{"assignments":{"assignments":[{"id":"78a45b8f-21b7-4562-ade5-fdd95b3315d7","name":"v_texto","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"9f61fc44-f48e-4c1d-9eb9-ef47a8628ee5","name":"Coleta texto1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,1024],"notesInFlow":false},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"id":"27080bb1-be52-4aa0-b0f6-abd63cccd772","name":"Transcreve audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-1952,672]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"groqApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"model","value":"whisper-large-v3"}]},"options":{}},"id":"686193d1-f8fc-4c22-ac31-9cd66dcfe2ea","name":"Groq Transcreve audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,1024],"credentials":{"groqApi":{"id":"6rn8J5eLJzXo1VuJ","name":"Groq account"}}},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"groqApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"O que há na imagem? Seja extremamente objetivo em sua resposta e responda em pt-br\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/jpeg;base64,{{ $('Imagem para base64').item.json.base64 }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"model\": \"meta-llama/llama-4-scout-17b-16e-instruct\",\n  \"temperature\": 0.0,\n  \"max_tokens\": 1024,\n  \"top_p\": 1,\n  \"stream\": false\n}","options":{}},"id":"c572961f-da17-4c53-90f2-2671147abc60","name":"Groq Transcreve imagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-624,1504],"credentials":{"groqApi":{"id":"6rn8J5eLJzXo1VuJ","name":"Groq account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fd2f0bca-15f9-4307-9c16-dea0066bbdf6","leftValue":"={{ $json.body.data.message.ptvMessage.mimetype }}","rightValue":"video/mp4","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"options":{}},"id":"fbfb74a3-c787-47b0-bdf2-83b32e9f9132","name":"Img / txt / audio","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1728,1376]},{"parameters":{"method":"POST","url":"={{ $('Parametros').item.json.SubDominioEvolution }}/chat/getBase64FromMediaMessage/{{ $('Parametros').item.json.InstanceEvolution }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Parametros').item.json.api_global }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\": \"{{ $('When Executed by Another Workflow').item.json.body.data.contextInfo.stanzaId }}\"\n        }\n    },\n    \"convertToMp4\": false\n}","options":{"redirect":{"redirect":{}}}},"id":"7a1a5358-d221-452e-8f16-7cf50861e6d0","name":"Imagem para base","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,912]},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"id":"c0362c3f-b48b-4580-9b3b-8e53ff3b3d2f","name":"converte para binario2","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1952,224]},{"parameters":{"assignments":{"assignments":[{"id":"c4aadd9c-a9fb-44ed-9a45-71fb59f98de5","name":"v_texto","value":"={{ $('Merge').item.json.v_texto }} (em resposta a mensagem:\"{{ $('Merge2').item.json.v_texto }}{{ $('Merge2').item.json.content }}{{ $('Merge2').item.json.text }}\")","type":"string"},{"id":"60810441-1b40-4262-ac4b-e3f06dca80e3","name":"v_quem_enviou","value":"={{ $('Parametros').item.json.v_quem_enviou }}","type":"string"}]},"options":{}},"id":"31d423e7-78ac-4600-a032-d144922713f3","name":"Contexto","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1632,1136],"notesInFlow":true,"notes":"Inclui contexto se houver"},{"parameters":{"numberInputs":3},"id":"057ca76b-664c-4f32-8af8-492429cb2406","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[48,1248]},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"audio/mpeg"}},"id":"622ca7e5-0437-433f-a7f8-925010733aa2","name":"converte para binario3","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[944,1104]},{"parameters":{"method":"POST","url":"={{ $('Parametros').item.json.SubDominioEvolution }}/chat/getBase64FromMediaMessage/{{ $('Parametros').item.json.InstanceEvolution }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Parametros').item.json.api_global }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\": \"{{ $('When Executed by Another Workflow').item.json.body.data.contextInfo.stanzaId }}\"\n        }\n    },\n    \"convertToMp4\": false\n}","options":{"redirect":{"redirect":{}}}},"id":"d3fa39f6-3233-4cc3-a03c-76e55567505b","name":"Audio para base1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,1104]},{"parameters":{"assignments":{"assignments":[{"id":"c4aadd9c-a9fb-44ed-9a45-71fb59f98de5","name":"v_texto","value":"={{ $('When Executed by Another Workflow').item.json.body.data.contextInfo.quotedMessage.conversation }}","type":"string"}]},"options":{}},"id":"4937814f-15ed-4220-9304-741c34b08516","name":"Coleta texto2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,1328]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b615da8-8cad-4fd1-9d22-921c5780999b","leftValue":"={{ $('When Executed by Another Workflow').item.json.body.data.contextInfo.quotedMessage.conversation }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"d5ff32bd-caa5-4c4b-8abe-ee42f2b65b7f","leftValue":"={{ $('When Executed by Another Workflow').item.json.body.data.contextInfo.quotedMessage.audioMessage.url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"b43440e0-4808-4bef-8bf8-3af4a8c229f4","leftValue":"={{ $('When Executed by Another Workflow').item.json.body.data.contextInfo.quotedMessage.imageMessage.url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"id":"822c1596-a3c7-4f8a-93ff-fdd2948d8998","name":"Citação de msg","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,1264]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('When Executed by Another Workflow').item.json.body.data.contextInfo.quotedMessage.imageMessage.url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"IMG"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8134b082-6bd1-4a13-b675-090a628cf46b","leftValue":"={{ $('When Executed by Another Workflow').item.json.body.data.contextInfo.quotedMessage.audioMessage.url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"AUDIO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19a046a9-4fa9-4f8f-aa80-0bbc114c67c6","leftValue":"={{ $('When Executed by Another Workflow').item.json.body.data.contextInfo.quotedMessage.conversation }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"TXT"}]},"options":{}},"id":"94b758d8-7319-40da-b579-e80e2c28633d","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[480,1088]},{"parameters":{"assignments":{"assignments":[{"id":"c4aadd9c-a9fb-44ed-9a45-71fb59f98de5","name":"v_texto","value":"={{ $('Merge').item.json.v_texto }}","type":"string"},{"id":"c04e3745-feaf-4586-a820-9aaa46478fcb","name":"v_quem_enviou","value":"={{ $('Parametros').item.json.v_quem_enviou }}","type":"string"}]},"options":{}},"id":"3ec18518-3a41-441e-a147-fa8a3e222dd9","name":"Msg","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,1552],"notesInFlow":true,"notes":"Recupera msg principal"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"O que há nessa imagem? Seja objetivo e responda em português","inputType":"base64","options":{}},"id":"7d717442-65fd-46b7-bcb2-81334706c0a4","name":"Descreve Imagem1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-1728,224]},{"parameters":{},"id":"3ce7767d-d249-4377-ac29-0a09aede46cb","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1840,1280]},{"parameters":{"content":"## MENSAGENS COM CITAÇÕES\n\nTRATA AS MENSAGEM COM CITAÇÕES, INCLUINDO NA MENSAGEM RECEBIDA","height":667.2398792583011,"width":1430.4011039241054,"color":7},"id":"dcaa39eb-d583-494a-aa29-866cd72b3fd5","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"## TRATATIVA DAS MENSAGENS\n\nTRABALHA DE FORMA INDIVIDUAL CADA TIPO DE MENSAGEM","height":775.0066062958176,"width":1242.121604139716,"color":7},"id":"94fd47d7-8ecb-47d5-897c-a663cdada045","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1520,96]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"21dee8ad-29a0-4e35-998e-1520b53789b4","leftValue":"={{ $('When Executed by Another Workflow').item.json.body.data.message.imageMessage.caption }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"425bda07-447d-4bb5-b508-7cb01ab001af","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-400,1504]},{"parameters":{"assignments":{"assignments":[{"id":"78a45b8f-21b7-4562-ade5-fdd95b3315d7","name":"v_texto","value":"=Descição da imagem:\n{{ $json.choices[0].message.content }}","type":"string"}]},"options":{}},"id":"d684d402-cda4-401f-866c-c53fc7bba358","name":"Descr. Img","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,1600],"notesInFlow":false},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"groqApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"O que há na imagem? Seja extremamente objetivo em sua resposta e responda em pt-br\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/jpeg;base64,{{ $json.base64 }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"model\": \"meta-llama/llama-4-scout-17b-16e-instruct\",\n  \"temperature\": 0.0,\n  \"max_tokens\": 1024,\n  \"top_p\": 1,\n  \"stream\": false\n}\n\n\n","options":{}},"id":"2da0286d-162a-45c0-aec5-5e82606c8846","name":"Groq Transcreve imagem1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,912],"credentials":{"groqApi":{"id":"6rn8J5eLJzXo1VuJ","name":"Groq account"}}},{"parameters":{"assignments":{"assignments":[{"id":"25635828-afb7-4243-bcff-6d189401db2d","name":"v_texto","value":"={{ $json.choices[0].message.content }}","type":"string"}]},"options":{}},"id":"9ee5d95f-348d-4e1a-a9cb-abc19c77d47c","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1168,912]},{"parameters":{"numberInputs":3},"id":"296fd95c-1730-401a-94d9-4ada6c5a722d","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1424,1088]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"groqApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"model","value":"whisper-large-v3"}]},"options":{}},"id":"d8dcca3b-94b2-49c9-a22e-29cee27bc41f","name":"Groq Transcreve audio1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,1104],"credentials":{"groqApi":{"id":"6rn8J5eLJzXo1VuJ","name":"Groq account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"id":"e272738e-935c-4d59-a25b-58272d7aef15","name":"Transcreve audio1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-1952,448]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb9b68fc-f457-4456-8774-a2bfa2a8c47a","leftValue":"={{ $json.v_mensagem2 }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b00c92e-8aff-461d-8c10-e75146e9179b","leftValue":"={{ $json.v_mensagem }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"=Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"68f1780d-4daf-4f81-8617-7aad0945e133","leftValue":"={{ $json.v_mensagem2 }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"}]},"options":{}},"id":"12c84ca7-3987-45da-ac86-799d7bf0c7e3","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1280,1248],"alwaysOutputData":false,"retryOnFail":false,"notesInFlow":false},{"parameters":{"content":"# BUGS\n- Não pega vcards direito \n-- solução: fracionar captura por IA\n- Diagramação não está padronizada\n-- solução: pesquisar formas de padronizar\n\n## Implementar\n- Fracionamento do tratamento das informações pela IA limitar pro token de saída\n- Aviso de desconexão da evolution\n- Criar sistema para monitorar se o serviço caiu","height":374,"width":521},"id":"083b2e18-e58b-4955-9e2e-86b524e3541f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-912,16]},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1952,1376],"id":"4524dae8-1fff-45ee-8666-9bd052f751ea","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"9853de1d-2645-438b-8728-1cfa8f631187","name":"v_nome_quem_enviou","value":"={{ $('When Executed by Another Workflow').item.json.body.message.senderName }}","type":"string"},{"id":"e0a10f62-39c0-4fe8-9a37-62dab77b0e3b","name":"v_mensagem","value":"={{ $('When Executed by Another Workflow').item.json.body.chat.wa_lastMessageTextVote }}","type":"string"}]},"options":{}},"id":"a029b0d3-33e1-4619-a343-e71dec93ae8d","name":"Parametros","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1504,1280]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1hQLfb4t6bYXo32zOJsscUiG_NBtBRySYEvUuNmmjiV0","mode":"list","cachedResultName":"[ Colbiflex ] Projeto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hQLfb4t6bYXo32zOJsscUiG_NBtBRySYEvUuNmmjiV0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Grupo WhatsApp","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hQLfb4t6bYXo32zOJsscUiG_NBtBRySYEvUuNmmjiV0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Quem":"={{ $('Parametros').item.json.v_nome_quem_enviou }}","Mensagem":"={{ $('Parametros').item.json.v_mensagem }}","Data":"={{(() => { \n    const now = new Date(); \n    return now.toLocaleDateString('pt-BR'); \n})()}}","Hora":"={{(() => {    const date = new Date().toLocaleTimeString('pt-BR', { timeZone: 'America/Sao_Paulo', hour: '2-digit', minute: '2-digit' });   return date; })()}}"},"matchingColumns":[],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Quem","displayName":"Quem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mensagem","displayName":"Mensagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2016,1280],"id":"d8919947-95f9-4312-b595-70f1ef018f6e","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets account"}}}],"connections":{"Imagem para base64":{"main":[[{"node":"Groq Transcreve imagem","type":"main","index":0}]]},"Junta":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Coleta texto":{"main":[[{"node":"Merge","type":"main","index":1}]]},"converte para binario1":{"main":[[{"node":"Groq Transcreve audio","type":"main","index":0}]]},"Audio para base":{"main":[[{"node":"converte para binario1","type":"main","index":0}]]},"Coleta texto1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Groq Transcreve audio":{"main":[[{"node":"Coleta texto1","type":"main","index":0}]]},"Groq Transcreve imagem":{"main":[[{"node":"If1","type":"main","index":0}]]},"Img / txt / audio":{"main":[[{"node":"Parametros","type":"main","index":0}],[{"node":"Encerra","type":"main","index":0}]]},"Imagem para base":{"main":[[{"node":"Groq Transcreve imagem1","type":"main","index":0}]]},"converte para binario2":{"main":[[{"node":"Descreve Imagem1","type":"main","index":0}]]},"Contexto":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Citação de msg","type":"main","index":0}]]},"converte para binario3":{"main":[[{"node":"Groq Transcreve audio1","type":"main","index":0}]]},"Audio para base1":{"main":[[{"node":"converte para binario3","type":"main","index":0}]]},"Coleta texto2":{"main":[[{"node":"Merge2","type":"main","index":2}]]},"Citação de msg":{"main":[[{"node":"Switch2","type":"main","index":0}],[{"node":"Msg","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Imagem para base","type":"main","index":0}],[{"node":"Audio para base1","type":"main","index":0}],[{"node":"Coleta texto2","type":"main","index":0}]]},"Msg":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"If1":{"main":[[{"node":"Junta","type":"main","index":0}],[{"node":"Descr. Img","type":"main","index":0}]]},"Descr. Img":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Groq Transcreve imagem1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Contexto","type":"main","index":0}]]},"Groq Transcreve audio1":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Switch":{"main":[[{"node":"Audio para base","type":"main","index":0}],[{"node":"Coleta texto","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Img / txt / audio","type":"main","index":0}]]},"Parametros":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"CGfCVWSuvoZUb15y"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"headers":{"host":"apps-n8n.2xtadi.easypanel.host","user-agent":"uazapiGO-Webhook/1.0","content-length":"3079","accept-encoding":"gzip","content-type":"application/json","x-forwarded-for":"187.45.178.254","x-forwarded-host":"apps-n8n.2xtadi.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6cf2db555c5d","x-real-ip":"187.45.178.254"},"params":{},"query":{},"body":{"BaseUrl":"https://scala.uazapi.com","EventType":"messages","chat":{"chatbot_agentResetMemoryAt":0,"chatbot_disableUntil":0,"chatbot_lastTriggerAt":0,"chatbot_lastTrigger_id":"","id":"re587afae3afd62","image":"","imagePreview":"https://pps.whatsapp.net/v/t61.24694-24/539971829_1105666251754341_3015320994670000882_n.jpg?stp=dst-jpg_s96x96_tt6&ccb=11-4&oh=01_Q5Aa2gEM9t1DgFS6VdbqyIieVEjMvoPYlHf9lBVLTqw9os1RsQ&oe=68E3FC89&_nc_sid=5e03e0&_nc_cat=109","lead_assignedAttendant_id":"","lead_email":"","lead_field01":"","lead_field02":"","lead_field03":"","lead_field04":"","lead_field05":"","lead_field06":"","lead_field07":"","lead_field08":"","lead_field09":"","lead_field10":"","lead_field11":"","lead_field12":"","lead_field13":"","lead_field14":"","lead_field15":"","lead_field16":"","lead_field17":"","lead_field18":"","lead_field19":"","lead_field20":"","lead_fullName":"","lead_isTicketOpen":false,"lead_kanbanOrder":0,"lead_name":"","lead_notes":"","lead_personalid":"","lead_status":"","lead_tags":[],"name":"Projeto Colbiflex","owner":"556296722259","phone":"","wa_archived":false,"wa_chatid":"120363403360894558@g.us","wa_contactName":"","wa_ephemeralExpiration":0,"wa_fastid":"556296722259:120363403360894558","wa_isBlocked":false,"wa_isGroup":true,"wa_isGroup_admin":true,"wa_isGroup_announce":false,"wa_isGroup_community":false,"wa_isGroup_member":true,"wa_isPinned":false,"wa_label":[],"wa_lastMessageSender":"204779829641392:97@lid","wa_lastMessageTextVote":"pelo que li nos relatórios das pesquisas, é extremamente viável, há risco grandes, mas que negócio não tem? podemos pensar em um MVP antes de apostar tudo..  esse MVP vai servir de base para tudo que possamos enfrentar na grande escala..","wa_lastMessageType":"Conversation","wa_lastMsgTimestamp":1759259167000,"wa_muteEndTime":0,"wa_name":"Projeto Colbiflex","wa_unreadCount":30},"message":{"buttonOrListid":"","chatid":"120363403360894558@g.us","content":"pelo que li nos relatórios das pesquisas, é extremamente viável, há risco grandes, mas que negócio não tem? podemos pensar em um MVP antes de apostar tudo..  esse MVP vai servir de base para tudo que possamos enfrentar na grande escala..","convertOptions":"","edited":"","fromMe":false,"groupName":"Projeto Colbiflex","id":"556296722259:3EB01F817E0898EE151DE3","isGroup":true,"mediaType":"","messageTimestamp":1759259167000,"messageType":"Conversation","messageid":"3EB01F817E0898EE151DE3","owner":"556296722259","quoted":"","reaction":"","sender":"204779829641392:97@lid","senderName":"Alessandro Torres","sender_lid":"204779829641392@lid","sender_pn":"556292445646@s.whatsapp.net","source":"web","status":"","text":"pelo que li nos relatórios das pesquisas, é extremamente viável, há risco grandes, mas que negócio não tem? podemos pensar em um MVP antes de apostar tudo..  esse MVP vai servir de base para tudo que possamos enfrentar na grande escala..","track_id":"","track_source":"","type":"text","vote":"","wasSentByApi":false},"owner":"556296722259","token":"46810d70-fb9d-4097-867c-3ad781de8664"},"webhookUrl":"https://apps-n8n.2xtadi.easypanel.host/webhook/Rich_Uazapi","executionMode":"production"}}]},"versionId":"80fe834a-09fc-421a-81a8-f7a8ac30cb3a","activeVersionId":"80fe834a-09fc-421a-81a8-f7a8ac30cb3a","triggerCount":0,"shared":[{"updatedAt":"2025-11-17T13:48:08.594Z","createdAt":"2025-11-17T13:48:08.594Z","role":"workflow:owner","workflowId":"B0pHr1oeOUlz2wVq","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":{"updatedAt":"2025-11-26T21:17:26.817Z","createdAt":"2025-11-26T21:17:26.817Z","versionId":"80fe834a-09fc-421a-81a8-f7a8ac30cb3a","workflowId":"B0pHr1oeOUlz2wVq","nodes":[{"parameters":{},"id":"588ee71b-9c2b-4494-8db5-81aaff959f55","name":"Encerra","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1504,1472],"notesInFlow":true,"notes":"msg privada"},{"parameters":{"method":"POST","url":"={{ $json.SubDominioEvolution }}/chat/getBase64FromMediaMessage/{{ $json.InstanceEvolution }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.api_global }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\": \"{{ $('When Executed by Another Workflow').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": false\n}","options":{"redirect":{"redirect":{}}}},"id":"2badd1a0-55dc-417b-a4b9-7e0b2da70cd3","name":"Imagem para base64","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-848,1504]},{"parameters":{"assignments":{"assignments":[{"id":"78a45b8f-21b7-4562-ade5-fdd95b3315d7","name":"v_texto","value":"=Descição da imagem:\n{{ $json.choices[0].message.content }}\n\nLegenda da imagem:\n{{ $('When Executed by Another Workflow').item.json.body.data.message.imageMessage.caption }}","type":"string"}]},"options":{}},"id":"621f9ad8-2a96-4334-ad06-1955142e65c2","name":"Junta","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,1440],"notesInFlow":true,"notes":"Legenda + descr.imagem"},{"parameters":{"assignments":{"assignments":[{"id":"c4aadd9c-a9fb-44ed-9a45-71fb59f98de5","name":"v_texto","value":"={{ $('When Executed by Another Workflow').item.json.body.data.message.conversation }}{{ $('When Executed by Another Workflow').item.json.body.data.message.contactMessage.vcard }}","type":"string"}]},"options":{}},"id":"e6679be6-2633-4509-8d3d-1b1c8e28b402","name":"Coleta texto","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,1264]},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"audio/mpeg"}},"id":"09515cc3-4291-419d-b2e3-9789c9914d47","name":"converte para binario1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-624,1024]},{"parameters":{"method":"POST","url":"={{ $('Parametros').item.json.SubDominioEvolution }}/chat/getBase64FromMediaMessage/{{ $('Parametros').item.json.InstanceEvolution }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Parametros').item.json.api_global }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\": \"{{ $('When Executed by Another Workflow').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": false\n}","options":{"redirect":{"redirect":{}}}},"id":"97b21d67-78a5-4306-8259-d550abb8d7cf","name":"Audio para base","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-848,1024]},{"parameters":{"assignments":{"assignments":[{"id":"78a45b8f-21b7-4562-ade5-fdd95b3315d7","name":"v_texto","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"9f61fc44-f48e-4c1d-9eb9-ef47a8628ee5","name":"Coleta texto1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,1024],"notesInFlow":false},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"id":"27080bb1-be52-4aa0-b0f6-abd63cccd772","name":"Transcreve audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-1952,672]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"groqApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"model","value":"whisper-large-v3"}]},"options":{}},"id":"686193d1-f8fc-4c22-ac31-9cd66dcfe2ea","name":"Groq Transcreve audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,1024],"credentials":{"groqApi":{"id":"6rn8J5eLJzXo1VuJ","name":"Groq account"}}},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"groqApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"O que há na imagem? Seja extremamente objetivo em sua resposta e responda em pt-br\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/jpeg;base64,{{ $('Imagem para base64').item.json.base64 }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"model\": \"meta-llama/llama-4-scout-17b-16e-instruct\",\n  \"temperature\": 0.0,\n  \"max_tokens\": 1024,\n  \"top_p\": 1,\n  \"stream\": false\n}","options":{}},"id":"c572961f-da17-4c53-90f2-2671147abc60","name":"Groq Transcreve imagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-624,1504],"credentials":{"groqApi":{"id":"6rn8J5eLJzXo1VuJ","name":"Groq account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fd2f0bca-15f9-4307-9c16-dea0066bbdf6","leftValue":"={{ $json.body.data.message.ptvMessage.mimetype }}","rightValue":"video/mp4","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"options":{}},"id":"fbfb74a3-c787-47b0-bdf2-83b32e9f9132","name":"Img / txt / audio","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1728,1376]},{"parameters":{"method":"POST","url":"={{ $('Parametros').item.json.SubDominioEvolution }}/chat/getBase64FromMediaMessage/{{ $('Parametros').item.json.InstanceEvolution }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Parametros').item.json.api_global }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\": \"{{ $('When Executed by Another Workflow').item.json.body.data.contextInfo.stanzaId }}\"\n        }\n    },\n    \"convertToMp4\": false\n}","options":{"redirect":{"redirect":{}}}},"id":"7a1a5358-d221-452e-8f16-7cf50861e6d0","name":"Imagem para base","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,912]},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"id":"c0362c3f-b48b-4580-9b3b-8e53ff3b3d2f","name":"converte para binario2","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1952,224]},{"parameters":{"assignments":{"assignments":[{"id":"c4aadd9c-a9fb-44ed-9a45-71fb59f98de5","name":"v_texto","value":"={{ $('Merge').item.json.v_texto }} (em resposta a mensagem:\"{{ $('Merge2').item.json.v_texto }}{{ $('Merge2').item.json.content }}{{ $('Merge2').item.json.text }}\")","type":"string"},{"id":"60810441-1b40-4262-ac4b-e3f06dca80e3","name":"v_quem_enviou","value":"={{ $('Parametros').item.json.v_quem_enviou }}","type":"string"}]},"options":{}},"id":"31d423e7-78ac-4600-a032-d144922713f3","name":"Contexto","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1632,1136],"notesInFlow":true,"notes":"Inclui contexto se houver"},{"parameters":{"numberInputs":3},"id":"057ca76b-664c-4f32-8af8-492429cb2406","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[48,1248]},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"audio/mpeg"}},"id":"622ca7e5-0437-433f-a7f8-925010733aa2","name":"converte para binario3","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[944,1104]},{"parameters":{"method":"POST","url":"={{ $('Parametros').item.json.SubDominioEvolution }}/chat/getBase64FromMediaMessage/{{ $('Parametros').item.json.InstanceEvolution }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Parametros').item.json.api_global }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\": \"{{ $('When Executed by Another Workflow').item.json.body.data.contextInfo.stanzaId }}\"\n        }\n    },\n    \"convertToMp4\": false\n}","options":{"redirect":{"redirect":{}}}},"id":"d3fa39f6-3233-4cc3-a03c-76e55567505b","name":"Audio para base1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,1104]},{"parameters":{"assignments":{"assignments":[{"id":"c4aadd9c-a9fb-44ed-9a45-71fb59f98de5","name":"v_texto","value":"={{ $('When Executed by Another Workflow').item.json.body.data.contextInfo.quotedMessage.conversation }}","type":"string"}]},"options":{}},"id":"4937814f-15ed-4220-9304-741c34b08516","name":"Coleta texto2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,1328]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b615da8-8cad-4fd1-9d22-921c5780999b","leftValue":"={{ $('When Executed by Another Workflow').item.json.body.data.contextInfo.quotedMessage.conversation }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"d5ff32bd-caa5-4c4b-8abe-ee42f2b65b7f","leftValue":"={{ $('When Executed by Another Workflow').item.json.body.data.contextInfo.quotedMessage.audioMessage.url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"b43440e0-4808-4bef-8bf8-3af4a8c229f4","leftValue":"={{ $('When Executed by Another Workflow').item.json.body.data.contextInfo.quotedMessage.imageMessage.url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"id":"822c1596-a3c7-4f8a-93ff-fdd2948d8998","name":"Citação de msg","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,1264]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('When Executed by Another Workflow').item.json.body.data.contextInfo.quotedMessage.imageMessage.url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"IMG"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8134b082-6bd1-4a13-b675-090a628cf46b","leftValue":"={{ $('When Executed by Another Workflow').item.json.body.data.contextInfo.quotedMessage.audioMessage.url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"AUDIO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19a046a9-4fa9-4f8f-aa80-0bbc114c67c6","leftValue":"={{ $('When Executed by Another Workflow').item.json.body.data.contextInfo.quotedMessage.conversation }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"TXT"}]},"options":{}},"id":"94b758d8-7319-40da-b579-e80e2c28633d","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[480,1088]},{"parameters":{"assignments":{"assignments":[{"id":"c4aadd9c-a9fb-44ed-9a45-71fb59f98de5","name":"v_texto","value":"={{ $('Merge').item.json.v_texto }}","type":"string"},{"id":"c04e3745-feaf-4586-a820-9aaa46478fcb","name":"v_quem_enviou","value":"={{ $('Parametros').item.json.v_quem_enviou }}","type":"string"}]},"options":{}},"id":"3ec18518-3a41-441e-a147-fa8a3e222dd9","name":"Msg","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,1552],"notesInFlow":true,"notes":"Recupera msg principal"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"O que há nessa imagem? Seja objetivo e responda em português","inputType":"base64","options":{}},"id":"7d717442-65fd-46b7-bcb2-81334706c0a4","name":"Descreve Imagem1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-1728,224]},{"parameters":{},"id":"3ce7767d-d249-4377-ac29-0a09aede46cb","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1840,1280]},{"parameters":{"content":"## MENSAGENS COM CITAÇÕES\n\nTRATA AS MENSAGEM COM CITAÇÕES, INCLUINDO NA MENSAGEM RECEBIDA","height":667.2398792583011,"width":1430.4011039241054,"color":7},"id":"dcaa39eb-d583-494a-aa29-866cd72b3fd5","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"## TRATATIVA DAS MENSAGENS\n\nTRABALHA DE FORMA INDIVIDUAL CADA TIPO DE MENSAGEM","height":775.0066062958176,"width":1242.121604139716,"color":7},"id":"94fd47d7-8ecb-47d5-897c-a663cdada045","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1520,96]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"21dee8ad-29a0-4e35-998e-1520b53789b4","leftValue":"={{ $('When Executed by Another Workflow').item.json.body.data.message.imageMessage.caption }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"425bda07-447d-4bb5-b508-7cb01ab001af","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-400,1504]},{"parameters":{"assignments":{"assignments":[{"id":"78a45b8f-21b7-4562-ade5-fdd95b3315d7","name":"v_texto","value":"=Descição da imagem:\n{{ $json.choices[0].message.content }}","type":"string"}]},"options":{}},"id":"d684d402-cda4-401f-866c-c53fc7bba358","name":"Descr. Img","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,1600],"notesInFlow":false},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"groqApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"O que há na imagem? Seja extremamente objetivo em sua resposta e responda em pt-br\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/jpeg;base64,{{ $json.base64 }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"model\": \"meta-llama/llama-4-scout-17b-16e-instruct\",\n  \"temperature\": 0.0,\n  \"max_tokens\": 1024,\n  \"top_p\": 1,\n  \"stream\": false\n}\n\n\n","options":{}},"id":"2da0286d-162a-45c0-aec5-5e82606c8846","name":"Groq Transcreve imagem1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,912],"credentials":{"groqApi":{"id":"6rn8J5eLJzXo1VuJ","name":"Groq account"}}},{"parameters":{"assignments":{"assignments":[{"id":"25635828-afb7-4243-bcff-6d189401db2d","name":"v_texto","value":"={{ $json.choices[0].message.content }}","type":"string"}]},"options":{}},"id":"9ee5d95f-348d-4e1a-a9cb-abc19c77d47c","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1168,912]},{"parameters":{"numberInputs":3},"id":"296fd95c-1730-401a-94d9-4ada6c5a722d","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1424,1088]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"groqApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"model","value":"whisper-large-v3"}]},"options":{}},"id":"d8dcca3b-94b2-49c9-a22e-29cee27bc41f","name":"Groq Transcreve audio1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,1104],"credentials":{"groqApi":{"id":"6rn8J5eLJzXo1VuJ","name":"Groq account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"id":"e272738e-935c-4d59-a25b-58272d7aef15","name":"Transcreve audio1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-1952,448]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb9b68fc-f457-4456-8774-a2bfa2a8c47a","leftValue":"={{ $json.v_mensagem2 }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b00c92e-8aff-461d-8c10-e75146e9179b","leftValue":"={{ $json.v_mensagem }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"=Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"68f1780d-4daf-4f81-8617-7aad0945e133","leftValue":"={{ $json.v_mensagem2 }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"}]},"options":{}},"id":"12c84ca7-3987-45da-ac86-799d7bf0c7e3","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1280,1248],"alwaysOutputData":false,"retryOnFail":false,"notesInFlow":false},{"parameters":{"content":"# BUGS\n- Não pega vcards direito \n-- solução: fracionar captura por IA\n- Diagramação não está padronizada\n-- solução: pesquisar formas de padronizar\n\n## Implementar\n- Fracionamento do tratamento das informações pela IA limitar pro token de saída\n- Aviso de desconexão da evolution\n- Criar sistema para monitorar se o serviço caiu","height":374,"width":521},"id":"083b2e18-e58b-4955-9e2e-86b524e3541f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-912,16]},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1952,1376],"id":"4524dae8-1fff-45ee-8666-9bd052f751ea","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"9853de1d-2645-438b-8728-1cfa8f631187","name":"v_nome_quem_enviou","value":"={{ $('When Executed by Another Workflow').item.json.body.message.senderName }}","type":"string"},{"id":"e0a10f62-39c0-4fe8-9a37-62dab77b0e3b","name":"v_mensagem","value":"={{ $('When Executed by Another Workflow').item.json.body.chat.wa_lastMessageTextVote }}","type":"string"}]},"options":{}},"id":"a029b0d3-33e1-4619-a343-e71dec93ae8d","name":"Parametros","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1504,1280]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1hQLfb4t6bYXo32zOJsscUiG_NBtBRySYEvUuNmmjiV0","mode":"list","cachedResultName":"[ Colbiflex ] Projeto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hQLfb4t6bYXo32zOJsscUiG_NBtBRySYEvUuNmmjiV0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Grupo WhatsApp","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hQLfb4t6bYXo32zOJsscUiG_NBtBRySYEvUuNmmjiV0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Quem":"={{ $('Parametros').item.json.v_nome_quem_enviou }}","Mensagem":"={{ $('Parametros').item.json.v_mensagem }}","Data":"={{(() => { \n    const now = new Date(); \n    return now.toLocaleDateString('pt-BR'); \n})()}}","Hora":"={{(() => {    const date = new Date().toLocaleTimeString('pt-BR', { timeZone: 'America/Sao_Paulo', hour: '2-digit', minute: '2-digit' });   return date; })()}}"},"matchingColumns":[],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Quem","displayName":"Quem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mensagem","displayName":"Mensagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2016,1280],"id":"d8919947-95f9-4312-b595-70f1ef018f6e","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets account"}}}],"connections":{"Imagem para base64":{"main":[[{"node":"Groq Transcreve imagem","type":"main","index":0}]]},"Junta":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Coleta texto":{"main":[[{"node":"Merge","type":"main","index":1}]]},"converte para binario1":{"main":[[{"node":"Groq Transcreve audio","type":"main","index":0}]]},"Audio para base":{"main":[[{"node":"converte para binario1","type":"main","index":0}]]},"Coleta texto1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Groq Transcreve audio":{"main":[[{"node":"Coleta texto1","type":"main","index":0}]]},"Groq Transcreve imagem":{"main":[[{"node":"If1","type":"main","index":0}]]},"Img / txt / audio":{"main":[[{"node":"Parametros","type":"main","index":0}],[{"node":"Encerra","type":"main","index":0}]]},"Imagem para base":{"main":[[{"node":"Groq Transcreve imagem1","type":"main","index":0}]]},"converte para binario2":{"main":[[{"node":"Descreve Imagem1","type":"main","index":0}]]},"Contexto":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Citação de msg","type":"main","index":0}]]},"converte para binario3":{"main":[[{"node":"Groq Transcreve audio1","type":"main","index":0}]]},"Audio para base1":{"main":[[{"node":"converte para binario3","type":"main","index":0}]]},"Coleta texto2":{"main":[[{"node":"Merge2","type":"main","index":2}]]},"Citação de msg":{"main":[[{"node":"Switch2","type":"main","index":0}],[{"node":"Msg","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Imagem para base","type":"main","index":0}],[{"node":"Audio para base1","type":"main","index":0}],[{"node":"Coleta texto2","type":"main","index":0}]]},"Msg":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"If1":{"main":[[{"node":"Junta","type":"main","index":0}],[{"node":"Descr. Img","type":"main","index":0}]]},"Descr. Img":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Groq Transcreve imagem1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Contexto","type":"main","index":0}]]},"Groq Transcreve audio1":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Switch":{"main":[[{"node":"Audio para base","type":"main","index":0}],[{"node":"Coleta texto","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Img / txt / audio","type":"main","index":0}]]},"Parametros":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}