Workflows/B2sFlaGEqSEyB0A_8KqTy.json
{"updatedAt":"2026-01-15T22:04:38.690Z","createdAt":"2026-01-10T19:35:15.528Z","id":"B2sFlaGEqSEyB0A_8KqTy","name":"[ TERRA ] 3 / 5- Monitoramento OTIMIZADO - Encontra no Spotify e manda pra checagem","active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[6976,-192],"id":"6bf5669f-3d2b-4dd7-91f2-4780175d75b1","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"1f3cb18e-cb56-49b1-9a9e-6f7a7cf12b0c","name":"v_id_planilha","value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7200,-192],"id":"eadfb08f-0873-4101-8766-312849391c57","name":"Parametro","executeOnce":true},{"parameters":{"jsCode":"// ==============================================================================\n// DECISÃO: Usa o cache de URLs recebido do workflow pai\n// para evitar múltiplas chamadas à API do Google Sheets\n// ==============================================================================\n\n// 1. Busca os dados de entrada (itens do workflow pai)\nconst inputItems = $('When Executed by Another Workflow').all();\n\n// 2. Extrai o cache de URLs do primeiro item (enviado pelo workflow pai)\nconst primeiroItem = inputItems[0]?.json || {};\nconst urlsCacheString = primeiroItem._urlsExistentesCache || '[]';\n\n// 3. Converte o cache de string JSON para array e cria Set para O(1) lookup\nlet urlsExistentesArray;\ntry {\n  urlsExistentesArray = JSON.parse(urlsCacheString);\n} catch (e) {\n  urlsExistentesArray = [];\n}\nconst urlsExistentesSet = new Set(urlsExistentesArray);\n\n// 4. Função para converter URL para formato intl-pt\nconst converteURL = (url) => {\n  if (!url) return null;\n  return url.replace('open.spotify.com/', 'open.spotify.com/intl-pt/');\n};\n\n// 5. Processa todos os itens e filtra:\n//    - Remove se o artista que gravou é o artista original (autogravação)\n//    - Remove se a URL já existe no cache\nconst itensParaInserir = [];\nconst itensDescartados = {\n  artistaOriginal: [],\n  urlJaExiste: []\n};\n\nfor (const item of inputItems) {\n  const artista = item.json['Artista'];\n  const quemGravou = item.json['Quem Gravou'];\n  const urlOriginal = item.json['Link da Música'];\n  const nomeMusica = item.json['Nome da Música'];\n  \n  // Pula itens que são metadata/aviso\n  if (item.json.aviso || item.json._status) {\n    continue;\n  }\n  \n  // Filtro 1: É o artista original?\n  if (artista === quemGravou) {\n    itensDescartados.artistaOriginal.push({\n      musica: nomeMusica,\n      artista: artista\n    });\n    continue;\n  }\n  \n  // Converte a URL\n  const urlConvertida = converteURL(urlOriginal);\n  \n  // Filtro 2: URL já existe no cache?\n  if (urlsExistentesSet.has(urlConvertida) || urlsExistentesSet.has(urlOriginal)) {\n    itensDescartados.urlJaExiste.push({\n      musica: nomeMusica,\n      quemGravou: quemGravou,\n      url: urlConvertida\n    });\n    continue;\n  }\n  \n  // Item passou em todos os filtros - preparar para inserção\n  itensParaInserir.push({\n    json: {\n      'Data de inclusão': new Date().toISOString().slice(0,10).split('-').reverse().join('/'),\n      'URL Spotify': urlConvertida,\n      'Artista que gravou': quemGravou,\n      'Música': nomeMusica,\n      'Artista Original': artista,\n      'Derrubar': '???'\n    }\n  });\n  \n  // Adiciona ao Set para evitar duplicatas dentro do mesmo lote\n  urlsExistentesSet.add(urlConvertida);\n}\n\n// 6. Retorna os itens a serem inseridos ou um item vazio para indicar \"nada a fazer\"\nif (itensParaInserir.length === 0) {\n  return [{\n    json: {\n      _status: 'nenhum_item_novo',\n      _totalProcessados: inputItems.length,\n      _cacheRecebido: urlsExistentesArray.length,\n      _descartadosArtistaOriginal: itensDescartados.artistaOriginal.length,\n      _descartadosUrlExistente: itensDescartados.urlJaExiste.length,\n      _detalhesDescartados: itensDescartados\n    }\n  }];\n}\n\n// Adiciona metadados ao primeiro item para log/debug\nitensParaInserir[0].json._meta = {\n  totalProcessados: inputItems.length,\n  totalNovos: itensParaInserir.length,\n  cacheRecebido: urlsExistentesArray.length,\n  descartadosArtistaOriginal: itensDescartados.artistaOriginal.length,\n  descartadosUrlExistente: itensDescartados.urlJaExiste.length\n};\n\nreturn itensParaInserir;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7424,-192],"id":"a54609fa-d132-42be-bc6c-cdf731eeed95","name":"Filtra e Processa (Usa Cache)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"check-novos-itens","leftValue":"={{ $json._status }}","rightValue":"nenhum_item_novo","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7648,-192],"id":"484b0583-7060-4e4e-b13a-ae3a3dcc53de","name":"Tem itens novos?"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","mode":"id"},"sheetName":{"__rl":true,"value":915258316,"mode":"list","cachedResultName":"Links encontrados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=915258316"},"columns":{"mappingMode":"defineBelow","value":{"Data de inclusão":"={{ $json['Data de inclusão'] }}","URL Spotify":"={{ $json['URL Spotify'] }}","Artista que gravou":"={{ $json['Artista que gravou'] }}","Música":"={{ $json['Música'] }}","Artista Original":"={{ $json['Artista Original'] }}","Derrubar":"={{ $json['Derrubar'] }}"},"matchingColumns":[],"schema":[{"id":"Data de inclusão","displayName":"Data de inclusão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Artista Original","displayName":"Artista Original","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Música","displayName":"Música","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Artista que gravou","displayName":"Artista que gravou","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Derrubar","displayName":"Derrubar","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"URL Spotify","displayName":"URL Spotify","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[7856,-272],"id":"a120a066-fa56-413f-8d31-21b0c9fb7b7e","name":"Insere TODOS em Lote","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"content":"## ✅ Workflow OTIMIZADO v2 - USA CACHE DO PAI\n\n### O que mudou:\n1. **NÃO lê mais planilhas** - usa cache do workflow pai\n2. **Zero chamadas ao Google Sheets para leitura**\n3. **Filtragem em memória** usando Set para O(1) lookup\n4. **Inserção em lote** de todos os itens novos\n\n### Filtros aplicados:\n1. ❌ Remove se \"Quem Gravou\" = \"Artista\" (autogravação)\n2. ❌ Remove se URL já existe no cache recebido\n3. ✅ Insere apenas URLs realmente novas\n\n### Resultado:\n- Elimina rate limit 429\n- Execução muito mais rápida","height":424,"width":828},"type":"n8n-nodes-base.stickyNote","position":[6864,-16],"typeVersion":1,"id":"b952c53b-a027-4a5a-b77b-551a7fea47e1","name":"Sticky Note"},{"parameters":{"content":"## Nenhum item novo encontrado\nTodos os itens foram filtrados:\n- Eram do artista original\n- Já existiam no cache"},"type":"n8n-nodes-base.stickyNote","position":[7856,-112],"typeVersion":1,"id":"0371896f-0c97-49d6-8691-d68c428854e6","name":"Sem Novos Itens"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Parametro","type":"main","index":0}]]},"Parametro":{"main":[[{"node":"Filtra e Processa (Usa Cache)","type":"main","index":0}]]},"Filtra e Processa (Usa Cache)":{"main":[[{"node":"Tem itens novos?","type":"main","index":0}]]},"Tem itens novos?":{"main":[[{"node":"Insere TODOS em Lote","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"CGfCVWSuvoZUb15y"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo Do Marajó - Ao Vivo","Quem Gravou":"O Muriel","Link da Música":"https://open.spotify.com/track/4ScIxqcGDrJI8jCrd31brK","_urlsExistentesCache":"[]"}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó","Quem Gravou":"O Muriel","Link da Música":"https://open.spotify.com/track/5JOqMN734zqcTt5k5drwfj","_urlsExistentesCache":"[]"}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó","Quem Gravou":"Banda 007","Link da Música":"https://open.spotify.com/track/6xDjpCRQkiEIwcdjRVswjm","_urlsExistentesCache":"[]"}}]},"versionId":"8a5659c8-8296-4998-a270-b6f623cf13f9","activeVersionId":"8a5659c8-8296-4998-a270-b6f623cf13f9","triggerCount":0,"shared":[{"updatedAt":"2026-01-10T19:35:15.528Z","createdAt":"2026-01-10T19:35:15.528Z","role":"workflow:owner","workflowId":"B2sFlaGEqSEyB0A_8KqTy","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":{"updatedAt":"2026-01-15T22:04:32.879Z","createdAt":"2026-01-15T22:04:30.636Z","versionId":"8a5659c8-8296-4998-a270-b6f623cf13f9","workflowId":"B2sFlaGEqSEyB0A_8KqTy","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[6976,-192],"id":"6bf5669f-3d2b-4dd7-91f2-4780175d75b1","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"1f3cb18e-cb56-49b1-9a9e-6f7a7cf12b0c","name":"v_id_planilha","value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7200,-192],"id":"eadfb08f-0873-4101-8766-312849391c57","name":"Parametro","executeOnce":true},{"parameters":{"jsCode":"// ==============================================================================\n// DECISÃO: Usa o cache de URLs recebido do workflow pai\n// para evitar múltiplas chamadas à API do Google Sheets\n// ==============================================================================\n\n// 1. Busca os dados de entrada (itens do workflow pai)\nconst inputItems = $('When Executed by Another Workflow').all();\n\n// 2. Extrai o cache de URLs do primeiro item (enviado pelo workflow pai)\nconst primeiroItem = inputItems[0]?.json || {};\nconst urlsCacheString = primeiroItem._urlsExistentesCache || '[]';\n\n// 3. Converte o cache de string JSON para array e cria Set para O(1) lookup\nlet urlsExistentesArray;\ntry {\n  urlsExistentesArray = JSON.parse(urlsCacheString);\n} catch (e) {\n  urlsExistentesArray = [];\n}\nconst urlsExistentesSet = new Set(urlsExistentesArray);\n\n// 4. Função para converter URL para formato intl-pt\nconst converteURL = (url) => {\n  if (!url) return null;\n  return url.replace('open.spotify.com/', 'open.spotify.com/intl-pt/');\n};\n\n// 5. Processa todos os itens e filtra:\n//    - Remove se o artista que gravou é o artista original (autogravação)\n//    - Remove se a URL já existe no cache\nconst itensParaInserir = [];\nconst itensDescartados = {\n  artistaOriginal: [],\n  urlJaExiste: []\n};\n\nfor (const item of inputItems) {\n  const artista = item.json['Artista'];\n  const quemGravou = item.json['Quem Gravou'];\n  const urlOriginal = item.json['Link da Música'];\n  const nomeMusica = item.json['Nome da Música'];\n  \n  // Pula itens que são metadata/aviso\n  if (item.json.aviso || item.json._status) {\n    continue;\n  }\n  \n  // Filtro 1: É o artista original?\n  if (artista === quemGravou) {\n    itensDescartados.artistaOriginal.push({\n      musica: nomeMusica,\n      artista: artista\n    });\n    continue;\n  }\n  \n  // Converte a URL\n  const urlConvertida = converteURL(urlOriginal);\n  \n  // Filtro 2: URL já existe no cache?\n  if (urlsExistentesSet.has(urlConvertida) || urlsExistentesSet.has(urlOriginal)) {\n    itensDescartados.urlJaExiste.push({\n      musica: nomeMusica,\n      quemGravou: quemGravou,\n      url: urlConvertida\n    });\n    continue;\n  }\n  \n  // Item passou em todos os filtros - preparar para inserção\n  itensParaInserir.push({\n    json: {\n      'Data de inclusão': new Date().toISOString().slice(0,10).split('-').reverse().join('/'),\n      'URL Spotify': urlConvertida,\n      'Artista que gravou': quemGravou,\n      'Música': nomeMusica,\n      'Artista Original': artista,\n      'Derrubar': '???'\n    }\n  });\n  \n  // Adiciona ao Set para evitar duplicatas dentro do mesmo lote\n  urlsExistentesSet.add(urlConvertida);\n}\n\n// 6. Retorna os itens a serem inseridos ou um item vazio para indicar \"nada a fazer\"\nif (itensParaInserir.length === 0) {\n  return [{\n    json: {\n      _status: 'nenhum_item_novo',\n      _totalProcessados: inputItems.length,\n      _cacheRecebido: urlsExistentesArray.length,\n      _descartadosArtistaOriginal: itensDescartados.artistaOriginal.length,\n      _descartadosUrlExistente: itensDescartados.urlJaExiste.length,\n      _detalhesDescartados: itensDescartados\n    }\n  }];\n}\n\n// Adiciona metadados ao primeiro item para log/debug\nitensParaInserir[0].json._meta = {\n  totalProcessados: inputItems.length,\n  totalNovos: itensParaInserir.length,\n  cacheRecebido: urlsExistentesArray.length,\n  descartadosArtistaOriginal: itensDescartados.artistaOriginal.length,\n  descartadosUrlExistente: itensDescartados.urlJaExiste.length\n};\n\nreturn itensParaInserir;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7424,-192],"id":"a54609fa-d132-42be-bc6c-cdf731eeed95","name":"Filtra e Processa (Usa Cache)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"check-novos-itens","leftValue":"={{ $json._status }}","rightValue":"nenhum_item_novo","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7648,-192],"id":"484b0583-7060-4e4e-b13a-ae3a3dcc53de","name":"Tem itens novos?"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","mode":"id"},"sheetName":{"__rl":true,"value":915258316,"mode":"list","cachedResultName":"Links encontrados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=915258316"},"columns":{"mappingMode":"defineBelow","value":{"Data de inclusão":"={{ $json['Data de inclusão'] }}","URL Spotify":"={{ $json['URL Spotify'] }}","Artista que gravou":"={{ $json['Artista que gravou'] }}","Música":"={{ $json['Música'] }}","Artista Original":"={{ $json['Artista Original'] }}","Derrubar":"={{ $json['Derrubar'] }}"},"matchingColumns":[],"schema":[{"id":"Data de inclusão","displayName":"Data de inclusão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Artista Original","displayName":"Artista Original","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Música","displayName":"Música","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Artista que gravou","displayName":"Artista que gravou","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Derrubar","displayName":"Derrubar","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"URL Spotify","displayName":"URL Spotify","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[7856,-272],"id":"a120a066-fa56-413f-8d31-21b0c9fb7b7e","name":"Insere TODOS em Lote","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"content":"## ✅ Workflow OTIMIZADO v2 - USA CACHE DO PAI\n\n### O que mudou:\n1. **NÃO lê mais planilhas** - usa cache do workflow pai\n2. **Zero chamadas ao Google Sheets para leitura**\n3. **Filtragem em memória** usando Set para O(1) lookup\n4. **Inserção em lote** de todos os itens novos\n\n### Filtros aplicados:\n1. ❌ Remove se \"Quem Gravou\" = \"Artista\" (autogravação)\n2. ❌ Remove se URL já existe no cache recebido\n3. ✅ Insere apenas URLs realmente novas\n\n### Resultado:\n- Elimina rate limit 429\n- Execução muito mais rápida","height":424,"width":828},"type":"n8n-nodes-base.stickyNote","position":[6864,-16],"typeVersion":1,"id":"b952c53b-a027-4a5a-b77b-551a7fea47e1","name":"Sticky Note"},{"parameters":{"content":"## Nenhum item novo encontrado\nTodos os itens foram filtrados:\n- Eram do artista original\n- Já existiam no cache"},"type":"n8n-nodes-base.stickyNote","position":[7856,-112],"typeVersion":1,"id":"0371896f-0c97-49d6-8691-d68c428854e6","name":"Sem Novos Itens"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Parametro","type":"main","index":0}]]},"Parametro":{"main":[[{"node":"Filtra e Processa (Usa Cache)","type":"main","index":0}]]},"Filtra e Processa (Usa Cache)":{"main":[[{"node":"Tem itens novos?","type":"main","index":0}]]},"Tem itens novos?":{"main":[[{"node":"Insere TODOS em Lote","type":"main","index":0}]]}},"authors":"Alessadro Torres","name":"Version 8a5659c8","description":"","autosaved":false},"tags":[]}