Workflows/B2sFlaGEqSEyB0A_8KqTy.json
{"updatedAt":"2026-01-10T20:05:36.048Z","createdAt":"2026-01-10T19:35:15.528Z","id":"B2sFlaGEqSEyB0A_8KqTy","name":"[ TERRA ] 3 / 5 - NOVA VERSÃO para testar - Monitoramento OTIMIZADO - Sem Wait","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[4832,544],"id":"a5123965-c9ea-41a6-a347-1a9506e58e53","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"1f3cb18e-cb56-49b1-9a9e-6f7a7cf12b0c","name":"v_id_planilha","value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5056,544],"id":"156973cb-385d-49e3-9ad9-9929595b8f1e","name":"Parametro"},{"parameters":{"documentId":{"__rl":true,"value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","mode":"id"},"sheetName":{"__rl":true,"value":8523260,"mode":"list","cachedResultName":"Monitorando","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=8523260"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[5264,416],"id":"43e4763c-d491-4462-957a-eb229997578c","name":"Carrega TODA Planilha Monitorando","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('Parametro').item.json.v_id_planilha }}","mode":"id"},"sheetName":{"__rl":true,"value":915258316,"mode":"list","cachedResultName":"Links encontrados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=915258316"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[5264,656],"id":"45e5e7af-dd3d-45bf-96cf-6533733809e1","name":"Carrega TODA Planilha Links Encontrados","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[5488,544],"id":"0293323e-110b-4d4b-8f3c-290111163872","name":"Aguarda Ambas Planilhas"},{"parameters":{"jsCode":"// ========================================================\n// FLUXO OTIMIZADO - Processamento em Lote (Batch)\n// ========================================================\n// Este código substitui múltiplas consultas individuais\n// ao Google Sheets por processamento local.\n// --------------------------------------------------------\n\n// 1. Recebe os dados combinados do Merge (ambas planilhas + trigger)\nconst todosOsInputs = $input.all();\n\n// 2. Obtém os dados de entrada originais (do workflow pai)\nconst itemsEntrada = $('When Executed by Another Workflow').all();\n\n// 3. Separa as URLs das planilhas (todos os items recebidos têm URL Spotify se forem das planilhas)\nconst urlsExistentes = new Set();\n\nfor (const item of todosOsInputs) {\n  const urlSpotify = item.json['URL Spotify'];\n  if (urlSpotify) {\n    urlsExistentes.add(urlSpotify.trim());\n  }\n}\n\n// 4. Processa cada item de entrada localmente\nconst urlsParaIncluir = [];\nconst dataInclusao = new Date().toISOString().slice(0,10).split('-').reverse().join('/');\n\nfor (const item of itemsEntrada) {\n  const dados = item.json || item;\n  \n  // Converte URL (adiciona /intl-pt/)\n  const urlOriginal = dados['Link da Música'] || '';\n  const urlConvertida = urlOriginal.replace('open.spotify.com/', 'open.spotify.com/intl-pt/');\n  \n  // Verifica se é o artista original (ignora se for)\n  const artistaOriginal = dados['Artista'] || '';\n  const quemGravou = dados['Quem Gravou'] || '';\n  \n  if (artistaOriginal === quemGravou) {\n    // É o artista original, pula\n    continue;\n  }\n  \n  // Verifica se a URL já existe em alguma das planilhas\n  if (!urlsExistentes.has(urlConvertida)) {\n    // URL nova! Adiciona à lista para inclusão\n    urlsParaIncluir.push({\n      json: {\n        'Data de inclusão': dataInclusao,\n        'Artista Original': artistaOriginal,\n        'Música': dados['Nome da Música'] || '',\n        'Artista que gravou': quemGravou,\n        'Derrubar': '???',\n        'URL Spotify': urlConvertida\n      }\n    });\n    // Adiciona ao Set para evitar duplicatas no mesmo lote\n    urlsExistentes.add(urlConvertida);\n  }\n}\n\n// 5. Retorna apenas as URLs novas para inserção em batch\nif (urlsParaIncluir.length === 0) {\n  // Se não há URLs novas, retorna um item vazio para sinalizar\n  return [{ json: { _nenhumaUrlNova: true, mensagem: 'Nenhuma URL nova encontrada' } }];\n}\n\nreturn urlsParaIncluir;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5712,544],"id":"23e40cd2-0649-4c07-81b5-78f30c375772","name":"Processa Localmente (Sem Wait)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-tem-urls","leftValue":"={{ $json._nenhumaUrlNova }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5936,544],"id":"2214788c-9bc5-4010-82af-424e5b580023","name":"Tem URLs novas?"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Parametro').first().json.v_id_planilha }}","mode":"id"},"sheetName":{"__rl":true,"value":915258316,"mode":"list","cachedResultName":"Links encontrados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=915258316"},"columns":{"mappingMode":"defineBelow","value":{"Data de inclusão":"={{ $json['Data de inclusão'] }}","URL Spotify":"={{ $json['URL Spotify'] }}","Artista que gravou":"={{ $json['Artista que gravou'] }}","Música":"={{ $json['Música'] }}","Artista Original":"={{ $json['Artista Original'] }}","Derrubar":"={{ $json['Derrubar'] }}"},"matchingColumns":[],"schema":[{"id":"Data de inclusão","displayName":"Data de inclusão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Artista Original","displayName":"Artista Original","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Música","displayName":"Música","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Artista que gravou","displayName":"Artista que gravou","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Derrubar","displayName":"Derrubar","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL Spotify","displayName":"URL Spotify","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[6144,480],"id":"111885f4-2802-45dc-8de1-9938a4d459e7","name":"Insere TODAS URLs de uma vez (Batch)","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"content":"## 🚀 FLUXO OTIMIZADO\n\n**Antes:** N × 3 chamadas à API (com waits de 10s cada)\n**Agora:** Apenas 3 chamadas no total!\n\n### Como funciona:\n1. Baixa TODA a planilha \"Monitorando\" (1 chamada)\n2. Baixa TODA a planilha \"Links Encontrados\" (1 chamada)\n3. Processa TUDO localmente via JavaScript (0 chamadas)\n4. Insere TODAS as URLs novas de uma vez (1 chamada)\n\n### Resultado:\n- Sem waits!\n- Execução ~10x mais rápida\n- Menos risco de rate limiting"},"type":"n8n-nodes-base.stickyNote","position":[4704,336],"typeVersion":1,"id":"05b4dcb4-c9d6-402d-8412-0d92a9e3bb3e","name":"Explicação"},{"parameters":{"content":"## ⚡ Processamento Local\n\nEste nó de código:\n1. Converte as URLs\n2. Filtra artistas originais\n3. Compara com AMBAS planilhas\n4. Retorna apenas URLs NOVAS\n\nTudo em memória, sem chamadas à API!"},"type":"n8n-nodes-base.stickyNote","position":[5696,336],"typeVersion":1,"id":"ed896013-2771-4ca7-a84c-d5bc1261b6fd","name":"Sobre o Código"},{"parameters":{"content":"## ✅ Inserção em Batch\n\nO nó Google Sheets aceita múltiplos items.\nTodos serão inseridos em UMA ÚNICA chamada à API!"},"type":"n8n-nodes-base.stickyNote","position":[6128,336],"typeVersion":1,"id":"6559c5b3-32a8-4f36-91b5-b359d1303c26","name":"Sobre o Batch"},{"parameters":{"assignments":{"assignments":[{"id":"resultado-final","name":"resultado","value":"Nenhuma URL nova para inserir","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6144,640],"id":"105ea066-696d-48b2-a4d3-08af67fdd1e7","name":"Sem URLs novas"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Parametro","type":"main","index":0}]]},"Parametro":{"main":[[{"node":"Carrega TODA Planilha Monitorando","type":"main","index":0},{"node":"Carrega TODA Planilha Links Encontrados","type":"main","index":0}]]},"Carrega TODA Planilha Monitorando":{"main":[[{"node":"Aguarda Ambas Planilhas","type":"main","index":0}]]},"Carrega TODA Planilha Links Encontrados":{"main":[[{"node":"Aguarda Ambas Planilhas","type":"main","index":1}]]},"Aguarda Ambas Planilhas":{"main":[[{"node":"Processa Localmente (Sem Wait)","type":"main","index":0}]]},"Processa Localmente (Sem Wait)":{"main":[[{"node":"Tem URLs novas?","type":"main","index":0}]]},"Tem URLs novas?":{"main":[[{"node":"Insere TODAS URLs de uma vez (Batch)","type":"main","index":0}],[{"node":"Sem URLs novas","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo Do Marajó - Ao Vivo","Quem Gravou":"O Muriel","Link da Música":"https://open.spotify.com/track/4ScIxqcGDrJI8jCrd31brK"}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó","Quem Gravou":"O Muriel","Link da Música":"https://open.spotify.com/track/5JOqMN734zqcTt5k5drwfj"}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó","Quem Gravou":"Banda 007","Link da Música":"https://open.spotify.com/track/6xDjpCRQkiEIwcdjRVswjm"}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó","Quem Gravou":"Forró Playlist","Link da Música":"https://open.spotify.com/intl-pt/track/0a7W6TJkhVaxZ3BbHGefgz"}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó - Ao Vivo","Quem Gravou":"Skema X","Link da Música":"https://open.spotify.com/track/4f1nWRTD5IiV1hKvZWXZFx"}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó","Quem Gravou":"Banda Kenner","Link da Música":"https://open.spotify.com/track/47x0lh8xYgyKfxS0A2LPnt"}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó","Quem Gravou":"Aretuza Lovi","Link da Música":"https://open.spotify.com/track/76tnBMbH2D5HbvZ3g5ZRSI"}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó","Quem Gravou":"Gibão e 500","Link da Música":"https://open.spotify.com/track/0y2kTqDgw3wPkeX6sju3sg"}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó - Ao Vivo","Quem Gravou":"Garcia do Piseiro","Link da Música":"https://open.spotify.com/track/6C0N8rCRPFN2RmLMSsOEmP"}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Para de Pegar no Meu Pé (Búfalo do Marajó)","Quem Gravou":"Batiddao Oficial","Link da Música":"https://open.spotify.com/track/1oBXRPC3wYZCPEeg04mNwj"}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó","Quem Gravou":"Aretuza Lovi","Link da Música":"https://open.spotify.com/track/5UMFk3vUe7rWvMYVnZEJk7"}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó","Quem Gravou":"Banda Quero+","Link da Música":"https://open.spotify.com/track/2QnTK0BK7WUmerkEgTmK7F"}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Para de Pegar no Meu Pé (Búfalo do Marajó)","Quem Gravou":"Batiddao Oficial","Link da Música":"https://open.spotify.com/track/1oBXRPC3wYZCPEeg04mNwj"}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Ela Tá Com Piripake No Búfalo do Marajó","Quem Gravou":"Marlon Branco","Link da Música":"https://open.spotify.com/track/3zUyhTFURAEfPBtQsfNKDD"}}]},"versionId":"703cbd6f-2aa8-4726-836d-98487b92fc9a","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-10T19:35:15.528Z","createdAt":"2026-01-10T19:35:15.528Z","role":"workflow:owner","workflowId":"B2sFlaGEqSEyB0A_8KqTy","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":null,"tags":[]}