Workflows/CubDFyKfqJ7SKDXO.json
{"updatedAt":"2025-12-09T21:42:27.685Z","createdAt":"2025-11-17T17:03:19.435Z","id":"CubDFyKfqJ7SKDXO","name":"[ TERRA ] 1 / 5 - Monitoramento de Derrubada de Música - Envia Links da Música","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Musica para derrubar","formFields":{"values":[{"fieldLabel":"Artista","placeholder":"Nome do artista que solicitou a derrubada","requiredField":true},{"fieldLabel":"Nome da música","requiredField":true},{"fieldLabel":"URLs encontradas no Spotify","fieldType":"textarea","placeholder":"Cole aqui uma URL por linha","requiredField":true}]},"options":{"buttonLabel":"Enviar"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[0,256],"id":"f5c49fc2-b140-4de5-a856-a832cf20dd38","name":"On form submission","webhookId":"873c753d-b505-4824-9517-b09fded57558"},{"parameters":{"assignments":{"assignments":[{"id":"ddc92f00-0097-41eb-9a97-c18adb753458","name":"v_instancia_evolution","value":"Rich","type":"string"},{"id":"348cc98f-cf81-42c9-8a0b-30292b8233cc","name":"v_id_planilha","value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,256],"id":"1bbe0205-8607-4879-873b-5fd0f9f0ad92","name":"Parametros"},{"parameters":{"jsCode":"// Divide o texto em várias linhas e cria um item para cada URL\nconst urls = $node[\"On form submission\"].json[\"URLs encontradas no Spotify\"];\nif (!urls) return [];\n\nreturn urls\n  .split(/\\r?\\n/) // separa por quebra de linha\n  .map(url => url.trim())\n  .filter(url => url !== '')\n  .map(url => ({ json: { url } }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,240],"id":"1a30a3c7-b682-4646-9307-bcb8371fc581","name":"Separa as URLs"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1168,240],"id":"b238f4f0-0ede-43eb-be43-8d36854c23f7","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2336,576],"id":"a25e17b4-d028-495a-9a4b-c4c8e5e03077","name":"5s","webhookId":"9c1e1d11-c10c-421e-8608-c86386e97ed8"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Parametros\"].json[\"v_id_planilha\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":1283597464,"mode":"list","cachedResultName":"Musica para monitorar","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=1283597464"},"columns":{"mappingMode":"defineBelow","value":{"Data Inclusão":"={{(() => {\n  const dateStr = $json[\"data\"] || \"2025-10-11T16:47:38.100-04:00\"; // substitua pelo seu campo\n  const date = new Date(dateStr);\n  const day = String(date.getDate()).padStart(2, '0');\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const year = date.getFullYear();\n  return `${day}/${month}/${year}`;\n})()}}","Artista":"={{ $item(\"0\").$node[\"On form submission\"].json[\"Artista\"] }}","Nome da Música":"={{ $item(\"0\").$node[\"On form submission\"].json[\"Nome da música\"] }}"},"matchingColumns":[],"schema":[{"id":"Data Inclusão","displayName":"Data Inclusão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Artista","displayName":"Artista","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome da Música","displayName":"Nome da Música","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[816,416],"id":"c780ee07-b6a3-429f-b4e7-ecb30b010102","name":"Inclui musica para monitorar","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Parametros\"].json[\"v_id_planilha\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":1283597464,"mode":"list","cachedResultName":"Musica para monitorar","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=1283597464"},"filtersUI":{"values":[{"lookupColumn":"Nome da Música","lookupValue":"={{ $item(\"0\").$node[\"On form submission\"].json[\"Nome da música\"] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[432,256],"id":"b2deb253-a450-4b6f-b99d-04d79d9886e3","name":"Carrega Dados","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c4c61f2-1521-48c3-a821-7f452309c3da","leftValue":"={{ $item(\"0\").$node[\"Carrega Dados\"].json }}","rightValue":"{}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[640,256],"id":"86f9537e-9bb5-435e-8a78-62e70efcbbc2","name":"Já tem a música?"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Parametros\"].json[\"v_id_planilha\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":8523260,"mode":"list","cachedResultName":"Monitorando","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=8523260"},"filtersUI":{"values":[{"lookupColumn":"URL Spotify","lookupValue":"={{ $item(\"0\").$node[\"Loop Over Items\"].json[\"url\"] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1376,336],"id":"57957af3-f580-49c1-9179-f62850c63993","name":"Carrega Dados da URL","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c4c61f2-1521-48c3-a821-7f452309c3da","leftValue":"={{ $item(\"0\").$node[\"Carrega Dados da URL\"].json }}","rightValue":"{}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1568,336],"id":"444dc21f-73f8-4227-9b02-4e65a380cb67","name":"Já tem a URL?"},{"parameters":{"resource":"track","operation":"get","id":"={{(() => {\n  const url = $json[\"url\"] || $item(\"0\").$node[\"Loop Over Items\"].json[\"url\"]; // substitua pelo seu campo\n  return url.split(\"https://open.spotify.com/intl-pt/track/\")[1];\n})()}}"},"type":"n8n-nodes-base.spotify","typeVersion":1,"position":[1808,576],"id":"1ea89a52-cba9-4c96-b010-8df4cce211ae","name":"Pega informações do Spotify","credentials":{"spotifyOAuth2Api":{"id":"JwkIB1F2cpDaCBxK","name":"Spotify account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","mode":"id"},"sheetName":{"__rl":true,"value":8523260,"mode":"list","cachedResultName":"Monitorando","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=8523260"},"columns":{"mappingMode":"defineBelow","value":{"Solicitou Remoção":"Não","Data de inclusão":"={{(() => {\n  const dateStr = $json[\"data\"] || \"2025-10-11T16:47:38.100-04:00\"; // substitua pelo seu campo\n  const date = new Date(dateStr);\n  const day = String(date.getDate()).padStart(2, '0');\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const year = date.getFullYear();\n  return `${day}/${month}/${year}`;\n})()}}","Artista Solicitante":"={{ $('On form submission').item.json.Artista }}","URL Spotify":"={{ $item(\"0\").$node[\"Loop Over Items\"].json[\"url\"] }}","Artista que gravou":"={{ $item(\"0\").$node[\"Pega informações do Spotify\"].json[\"album\"][\"artists\"][\"0\"][\"name\"] }}","Música":"={{ $item(\"0\").$node[\"Pega informações do Spotify\"].json[\"name\"] }}","Ativa no Spotify":"Sim"},"matchingColumns":[],"schema":[{"id":"Solicitou Remoção","displayName":"Solicitou Remoção","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data de inclusão","displayName":"Data de inclusão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Artista Solicitante","displayName":"Artista Solicitante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Artista que gravou","displayName":"Artista que gravou","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Música","displayName":"Música","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ativa no Spotify","displayName":"Ativa no Spotify","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL Spotify","displayName":"URL Spotify","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2000,576],"id":"fb6b1f09-54da-409c-9f6b-3b61a578d406","name":"Inclui URL para monitorar","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1376,96],"id":"7c0a7350-778b-4805-a1ac-ea9ffae5a149","name":"FIM"},{"parameters":{"content":"## O que faz?\n\nAtravés do formulário os links para derrubar são enviados para a automação"},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"e680948e-59f5-4c4b-bbeb-788e98b26ed9","name":"Sticky Note"}],"connections":{"On form submission":{"main":[[{"node":"Parametros","type":"main","index":0}]]},"Parametros":{"main":[[{"node":"Carrega Dados","type":"main","index":0}]]},"Separa as URLs":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"FIM","type":"main","index":0}],[{"node":"Carrega Dados da URL","type":"main","index":0}]]},"5s":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Inclui musica para monitorar":{"main":[[{"node":"Carrega Dados","type":"main","index":0}]]},"Carrega Dados":{"main":[[{"node":"Já tem a música?","type":"main","index":0}]]},"Já tem a música?":{"main":[[{"node":"Separa as URLs","type":"main","index":0}],[{"node":"Inclui musica para monitorar","type":"main","index":0}]]},"Carrega Dados da URL":{"main":[[{"node":"Já tem a URL?","type":"main","index":0}]]},"Já tem a URL?":{"main":[[{"node":"5s","type":"main","index":0}],[{"node":"Pega informações do Spotify","type":"main","index":0}]]},"Pega informações do Spotify":{"main":[[{"node":"Inclui URL para monitorar","type":"main","index":0}]]},"Inclui URL para monitorar":{"main":[[{"node":"5s","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"CGfCVWSuvoZUb15y"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"706dc28f-a795-42ed-b46c-627b84831cf1","activeVersionId":"706dc28f-a795-42ed-b46c-627b84831cf1","triggerCount":1,"shared":[{"updatedAt":"2025-11-17T17:03:19.435Z","createdAt":"2025-11-17T17:03:19.435Z","role":"workflow:owner","workflowId":"CubDFyKfqJ7SKDXO","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":{"updatedAt":"2025-12-09T21:42:27.692Z","createdAt":"2025-12-09T21:42:27.692Z","versionId":"706dc28f-a795-42ed-b46c-627b84831cf1","workflowId":"CubDFyKfqJ7SKDXO","nodes":[{"parameters":{"formTitle":"Musica para derrubar","formFields":{"values":[{"fieldLabel":"Artista","placeholder":"Nome do artista que solicitou a derrubada","requiredField":true},{"fieldLabel":"Nome da música","requiredField":true},{"fieldLabel":"URLs encontradas no Spotify","fieldType":"textarea","placeholder":"Cole aqui uma URL por linha","requiredField":true}]},"options":{"buttonLabel":"Enviar"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[0,256],"id":"f5c49fc2-b140-4de5-a856-a832cf20dd38","name":"On form submission","webhookId":"873c753d-b505-4824-9517-b09fded57558"},{"parameters":{"assignments":{"assignments":[{"id":"ddc92f00-0097-41eb-9a97-c18adb753458","name":"v_instancia_evolution","value":"Rich","type":"string"},{"id":"348cc98f-cf81-42c9-8a0b-30292b8233cc","name":"v_id_planilha","value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,256],"id":"1bbe0205-8607-4879-873b-5fd0f9f0ad92","name":"Parametros"},{"parameters":{"jsCode":"// Divide o texto em várias linhas e cria um item para cada URL\nconst urls = $node[\"On form submission\"].json[\"URLs encontradas no Spotify\"];\nif (!urls) return [];\n\nreturn urls\n  .split(/\\r?\\n/) // separa por quebra de linha\n  .map(url => url.trim())\n  .filter(url => url !== '')\n  .map(url => ({ json: { url } }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,240],"id":"1a30a3c7-b682-4646-9307-bcb8371fc581","name":"Separa as URLs"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1168,240],"id":"b238f4f0-0ede-43eb-be43-8d36854c23f7","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2336,576],"id":"a25e17b4-d028-495a-9a4b-c4c8e5e03077","name":"5s","webhookId":"9c1e1d11-c10c-421e-8608-c86386e97ed8"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Parametros\"].json[\"v_id_planilha\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":1283597464,"mode":"list","cachedResultName":"Musica para monitorar","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=1283597464"},"columns":{"mappingMode":"defineBelow","value":{"Data Inclusão":"={{(() => {\n  const dateStr = $json[\"data\"] || \"2025-10-11T16:47:38.100-04:00\"; // substitua pelo seu campo\n  const date = new Date(dateStr);\n  const day = String(date.getDate()).padStart(2, '0');\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const year = date.getFullYear();\n  return `${day}/${month}/${year}`;\n})()}}","Artista":"={{ $item(\"0\").$node[\"On form submission\"].json[\"Artista\"] }}","Nome da Música":"={{ $item(\"0\").$node[\"On form submission\"].json[\"Nome da música\"] }}"},"matchingColumns":[],"schema":[{"id":"Data Inclusão","displayName":"Data Inclusão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Artista","displayName":"Artista","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome da Música","displayName":"Nome da Música","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[816,416],"id":"c780ee07-b6a3-429f-b4e7-ecb30b010102","name":"Inclui musica para monitorar","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Parametros\"].json[\"v_id_planilha\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":1283597464,"mode":"list","cachedResultName":"Musica para monitorar","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=1283597464"},"filtersUI":{"values":[{"lookupColumn":"Nome da Música","lookupValue":"={{ $item(\"0\").$node[\"On form submission\"].json[\"Nome da música\"] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[432,256],"id":"b2deb253-a450-4b6f-b99d-04d79d9886e3","name":"Carrega Dados","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c4c61f2-1521-48c3-a821-7f452309c3da","leftValue":"={{ $item(\"0\").$node[\"Carrega Dados\"].json }}","rightValue":"{}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[640,256],"id":"86f9537e-9bb5-435e-8a78-62e70efcbbc2","name":"Já tem a música?"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Parametros\"].json[\"v_id_planilha\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":8523260,"mode":"list","cachedResultName":"Monitorando","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=8523260"},"filtersUI":{"values":[{"lookupColumn":"URL Spotify","lookupValue":"={{ $item(\"0\").$node[\"Loop Over Items\"].json[\"url\"] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1376,336],"id":"57957af3-f580-49c1-9179-f62850c63993","name":"Carrega Dados da URL","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c4c61f2-1521-48c3-a821-7f452309c3da","leftValue":"={{ $item(\"0\").$node[\"Carrega Dados da URL\"].json }}","rightValue":"{}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1568,336],"id":"444dc21f-73f8-4227-9b02-4e65a380cb67","name":"Já tem a URL?"},{"parameters":{"resource":"track","operation":"get","id":"={{(() => {\n  const url = $json[\"url\"] || $item(\"0\").$node[\"Loop Over Items\"].json[\"url\"]; // substitua pelo seu campo\n  return url.split(\"https://open.spotify.com/intl-pt/track/\")[1];\n})()}}"},"type":"n8n-nodes-base.spotify","typeVersion":1,"position":[1808,576],"id":"1ea89a52-cba9-4c96-b010-8df4cce211ae","name":"Pega informações do Spotify","credentials":{"spotifyOAuth2Api":{"id":"JwkIB1F2cpDaCBxK","name":"Spotify account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","mode":"id"},"sheetName":{"__rl":true,"value":8523260,"mode":"list","cachedResultName":"Monitorando","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=8523260"},"columns":{"mappingMode":"defineBelow","value":{"Solicitou Remoção":"Não","Data de inclusão":"={{(() => {\n  const dateStr = $json[\"data\"] || \"2025-10-11T16:47:38.100-04:00\"; // substitua pelo seu campo\n  const date = new Date(dateStr);\n  const day = String(date.getDate()).padStart(2, '0');\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const year = date.getFullYear();\n  return `${day}/${month}/${year}`;\n})()}}","Artista Solicitante":"={{ $('On form submission').item.json.Artista }}","URL Spotify":"={{ $item(\"0\").$node[\"Loop Over Items\"].json[\"url\"] }}","Artista que gravou":"={{ $item(\"0\").$node[\"Pega informações do Spotify\"].json[\"album\"][\"artists\"][\"0\"][\"name\"] }}","Música":"={{ $item(\"0\").$node[\"Pega informações do Spotify\"].json[\"name\"] }}","Ativa no Spotify":"Sim"},"matchingColumns":[],"schema":[{"id":"Solicitou Remoção","displayName":"Solicitou Remoção","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data de inclusão","displayName":"Data de inclusão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Artista Solicitante","displayName":"Artista Solicitante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Artista que gravou","displayName":"Artista que gravou","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Música","displayName":"Música","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ativa no Spotify","displayName":"Ativa no Spotify","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL Spotify","displayName":"URL Spotify","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2000,576],"id":"fb6b1f09-54da-409c-9f6b-3b61a578d406","name":"Inclui URL para monitorar","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1376,96],"id":"7c0a7350-778b-4805-a1ac-ea9ffae5a149","name":"FIM"},{"parameters":{"content":"## O que faz?\n\nAtravés do formulário os links para derrubar são enviados para a automação"},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"e680948e-59f5-4c4b-bbeb-788e98b26ed9","name":"Sticky Note"}],"connections":{"On form submission":{"main":[[{"node":"Parametros","type":"main","index":0}]]},"Parametros":{"main":[[{"node":"Carrega Dados","type":"main","index":0}]]},"Separa as URLs":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"FIM","type":"main","index":0}],[{"node":"Carrega Dados da URL","type":"main","index":0}]]},"5s":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Inclui musica para monitorar":{"main":[[{"node":"Carrega Dados","type":"main","index":0}]]},"Carrega Dados":{"main":[[{"node":"Já tem a música?","type":"main","index":0}]]},"Já tem a música?":{"main":[[{"node":"Separa as URLs","type":"main","index":0}],[{"node":"Inclui musica para monitorar","type":"main","index":0}]]},"Carrega Dados da URL":{"main":[[{"node":"Já tem a URL?","type":"main","index":0}]]},"Já tem a URL?":{"main":[[{"node":"5s","type":"main","index":0}],[{"node":"Pega informações do Spotify","type":"main","index":0}]]},"Pega informações do Spotify":{"main":[[{"node":"Inclui URL para monitorar","type":"main","index":0}]]},"Inclui URL para monitorar":{"main":[[{"node":"5s","type":"main","index":0}]]}},"authors":"Alessadro Torres","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2025-11-16T22:16:21.441Z","createdAt":"2025-11-16T22:16:21.441Z","id":"mVpu2CtzXTHTzLu8","name":"Rodando"},{"updatedAt":"2025-11-17T15:34:22.271Z","createdAt":"2025-11-17T15:34:22.271Z","id":"4mZt4Tj9U8vgK8P4","name":"Terra"}]}