Workflows/Ej249jVvNE8dFkXwM4JQ7.json
{"updatedAt":"2026-01-08T18:26:31.885Z","createdAt":"2026-01-08T17:56:12.506Z","id":"Ej249jVvNE8dFkXwM4JQ7","name":"[Terra] Confirmação de presença","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1vD2ZbHti9udjhoUrdhMeFqrTBdTJ0NNED-I4d745UQg","mode":"list","cachedResultName":"Gravação Fernando e Renan (respostas)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vD2ZbHti9udjhoUrdhMeFqrTBdTJ0NNED-I4d745UQg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1588352899,"mode":"list","cachedResultName":"Respostas ao formulário 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vD2ZbHti9udjhoUrdhMeFqrTBdTJ0NNED-I4d745UQg/edit#gid=1588352899"},"event":"rowAdded","options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[3152,-16],"id":"8768c7e7-2542-4918-b86f-1721a279c606","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"yNjkc2V3pNI3oQZP","name":"Google Sheets Trigger [aterrafluxo@gmail.com]"}}},{"parameters":{"promptType":"define","text":"={{ $json['Qual é o seu whatsapp?'] }}","hasOutputParser":true,"options":{"systemMessage":"Converta para um numero de whatsapp, inclua o 55 antes do ddd se não existir"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[3360,-16],"id":"40a61783-ab67-45c2-b420-da17a9789368","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3264,160],"id":"3522aba8-7781-4241-a8f5-2764ad44f9d6","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"1eRhrPexZ1WlWgeo","name":"OpenAi"}}},{"parameters":{"resource":"messages-api","instanceName":"Rich","remoteJid":"={{ $json.output.telefone }}","messageText":"=Olá! Aqui é Rich da *Terra Produções* a sua presença e de seus convidados foram confirmadas para a Gravação do DVD da dupla *Fernando e Renan*.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3712,-16],"id":"75f7925f-7d5e-48bc-8cfe-48187b12dddb","name":"Enviar texto","credentials":{"evolutionApi":{"id":"gqMlUQxrxPNWPCn1","name":"Evolution - Hetzner Scala Server-1"}}},{"parameters":{"resource":"messages-api","instanceName":"Rich","remoteJid":"={{ $('AI Agent').item.json.output.telefone }}","messageText":"=Segue a seguir o link da localização onde acontecerá a gravação, lembrando que será dia 20/01 às 19 hs","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3936,-16],"id":"e777d1bf-df26-4cc0-a390-720e6026fcc4","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"gqMlUQxrxPNWPCn1","name":"Evolution - Hetzner Scala Server-1"}}},{"parameters":{"resource":"messages-api","instanceName":"Rich","remoteJid":"={{ $('AI Agent').item.json.output.telefone }}","messageText":"=https://maps.app.goo.gl/MGhKD3UkVBkwKNFCA","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4128,-16],"id":"a6ec706e-56d8-4cfd-967e-d46cfb8ea69f","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"gqMlUQxrxPNWPCn1","name":"Evolution - Hetzner Scala Server-1"}}},{"parameters":{"resource":"messages-api","instanceName":"Rich","remoteJid":"={{ $('AI Agent').item.json.output.telefone }}","messageText":"=_ps. Essa é uma mensagem automática de confirmação, não há necessidade de interagir_ 😉","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4320,-16],"id":"f4d6b106-5a4c-4201-8fd2-76106fb7332f","name":"Enviar texto3","credentials":{"evolutionApi":{"id":"gqMlUQxrxPNWPCn1","name":"Evolution - Hetzner Scala Server-1"}}},{"parameters":{"jsonSchemaExample":"{\n  \"telefone\": \"+5599999999999\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[3536,192],"id":"73d36563-67bb-45de-8867-f0d9ce372ac1","name":"Structured Output Parser"}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"Enviar texto1":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"Enviar texto3","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Google Sheets Trigger":[{"json":{"Carimbo de data/hora":"08/01/2026 15:11:10","Nome\n":"Alessandro Torres","Quantas pessoas irão com você?":1,"Qual é o seu whatsapp?":62992445646},"pairedItem":{"item":0}}]},"versionId":"b0f4a642-b171-4d94-96b2-4b94ed220154","activeVersionId":"b0f4a642-b171-4d94-96b2-4b94ed220154","triggerCount":1,"shared":[{"updatedAt":"2026-01-08T17:56:12.506Z","createdAt":"2026-01-08T17:56:12.506Z","role":"workflow:owner","workflowId":"Ej249jVvNE8dFkXwM4JQ7","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":{"updatedAt":"2026-01-08T18:57:43.044Z","createdAt":"2026-01-08T18:23:36.085Z","versionId":"b0f4a642-b171-4d94-96b2-4b94ed220154","workflowId":"Ej249jVvNE8dFkXwM4JQ7","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1vD2ZbHti9udjhoUrdhMeFqrTBdTJ0NNED-I4d745UQg","mode":"list","cachedResultName":"Gravação Fernando e Renan (respostas)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vD2ZbHti9udjhoUrdhMeFqrTBdTJ0NNED-I4d745UQg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1588352899,"mode":"list","cachedResultName":"Respostas ao formulário 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vD2ZbHti9udjhoUrdhMeFqrTBdTJ0NNED-I4d745UQg/edit#gid=1588352899"},"event":"rowAdded","options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[3152,-16],"id":"8768c7e7-2542-4918-b86f-1721a279c606","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"yNjkc2V3pNI3oQZP","name":"Google Sheets Trigger [aterrafluxo@gmail.com]"}}},{"parameters":{"promptType":"define","text":"={{ $json['Qual é o seu whatsapp?'] }}","hasOutputParser":true,"options":{"systemMessage":"Converta para um numero de whatsapp, inclua o 55 antes do ddd se não existir"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[3360,-16],"id":"40a61783-ab67-45c2-b420-da17a9789368","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3264,160],"id":"3522aba8-7781-4241-a8f5-2764ad44f9d6","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"1eRhrPexZ1WlWgeo","name":"OpenAi"}}},{"parameters":{"resource":"messages-api","instanceName":"Rich","remoteJid":"={{ $json.output.telefone }}","messageText":"=Olá! Aqui é Rich da *Terra Produções* a sua presença e de seus convidados foram confirmadas para a Gravação do DVD da dupla *Fernando e Renan*.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3712,-16],"id":"75f7925f-7d5e-48bc-8cfe-48187b12dddb","name":"Enviar texto","credentials":{"evolutionApi":{"id":"gqMlUQxrxPNWPCn1","name":"Evolution - Hetzner Scala Server-1"}}},{"parameters":{"resource":"messages-api","instanceName":"Rich","remoteJid":"={{ $('AI Agent').item.json.output.telefone }}","messageText":"=Segue a seguir o link da localização onde acontecerá a gravação, lembrando que será dia 20/01 às 19 hs","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3936,-16],"id":"e777d1bf-df26-4cc0-a390-720e6026fcc4","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"gqMlUQxrxPNWPCn1","name":"Evolution - Hetzner Scala Server-1"}}},{"parameters":{"resource":"messages-api","instanceName":"Rich","remoteJid":"={{ $('AI Agent').item.json.output.telefone }}","messageText":"=https://maps.app.goo.gl/MGhKD3UkVBkwKNFCA","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4128,-16],"id":"a6ec706e-56d8-4cfd-967e-d46cfb8ea69f","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"gqMlUQxrxPNWPCn1","name":"Evolution - Hetzner Scala Server-1"}}},{"parameters":{"resource":"messages-api","instanceName":"Rich","remoteJid":"={{ $('AI Agent').item.json.output.telefone }}","messageText":"=_ps. Essa é uma mensagem automática de confirmação, não há necessidade de interagir_ 😉","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4320,-16],"id":"f4d6b106-5a4c-4201-8fd2-76106fb7332f","name":"Enviar texto3","credentials":{"evolutionApi":{"id":"gqMlUQxrxPNWPCn1","name":"Evolution - Hetzner Scala Server-1"}}},{"parameters":{"jsonSchemaExample":"{\n  \"telefone\": \"+5599999999999\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[3536,192],"id":"73d36563-67bb-45de-8867-f0d9ce372ac1","name":"Structured Output Parser"}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"Enviar texto1":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"Enviar texto3","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]}},"authors":"Alessadro Torres","name":"Version 1","description":"","autosaved":false},"tags":[]}