Workflows/gCkAdBPKVozmjYt9.json
{"updatedAt":"2026-01-10T16:58:29.100Z","createdAt":"2026-01-10T16:58:29.100Z","id":"gCkAdBPKVozmjYt9","name":"[ADM] Backup Fluxos e Credenciais copy","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2048,-416],"id":"ef2ddaf1-dfd8-47c4-b321-22e32ce66591","name":"When clicking ‘Test workflow’"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"torresnet"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/torresnet/n8n-backups"},"filePath":"=Workflows/{{ $json.id }}.json","binaryPropertyName":"json","additionalParameters":{},"path":"c16e054f-4104-4f87-9724-7abd2b0f8ab9"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1648,-416],"id":"acd194ee-ff80-4f3a-8581-f40c00d5ca69","name":"Pega arquivo","webhookId":"c16e054f-4104-4f87-9724-7abd2b0f8ab9","alwaysOutputData":true,"credentials":{"githubApi":{"id":"K2xAk753m04MGoCP","name":"GitHub [torresnet]"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"jN6TQ-kw4xRxwuh9r7FWE","mode":"list","cachedResultName":"[ADM] Backup Fluxos e Credenciais (#jN6TQ-kw4xRxwuh9r7FWE)"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1856,-416],"id":"be08b009-35a5-475d-b590-f9e90dba401a","name":"Pega workflows","credentials":{"n8nApi":{"id":"d0TYnoKqO76TKegP","name":"n8n [Interno]"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json[\"error\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"4327981d-dc81-47bc-ac80-5570d61a71a8"}],"combinator":"and"},"renameOutput":true,"outputKey":"Criar backup"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"64ac9b15-ddd0-46ca-921e-9798115bcfee","leftValue":"={{ $node[\"Pega workflows\"].json[\"updatedAt\"] }}","rightValue":"={{ $json.updatedAt }}","operator":{"type":"dateTime","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Atualizar backup"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-1216,-432],"id":"744f38e7-b303-4cd3-a60e-adf715aaae83","name":"Rotas"},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"torresnet"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/torresnet/n8n-backups"},"filePath":"=Workflows/{{ $('Pega workflows').item.json.id }}.json","fileContent":"={{ JSON.stringify($('Pega workflows').item.json) }}","commitMessage":"={{ $('Pega workflows').item.json.name }}","path":"093f5c01-4ad4-488d-9604-1131267d7f23"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-768,-608],"id":"73575245-a43b-4b7f-a8ec-f3b8cd54d8c4","name":"Cria backup","webhookId":"093f5c01-4ad4-488d-9604-1131267d7f23","alwaysOutputData":true,"credentials":{"githubApi":{"id":"K2xAk753m04MGoCP","name":"GitHub [torresnet]"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1216,-208],"id":"b070cf5e-27d3-41e7-bcc9-fc0ce592033c","name":"Fim"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"torresnet"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/torresnet/n8n-backups"},"filePath":"=Workflows/{{ $('Pega workflows').item.json.id }}.json","fileContent":"={{ JSON.stringify($('Pega workflows').item.json) }}","commitMessage":"={{ $('Pega workflows').item.json.name }}","path":"d8c90d22-8ea7-48ee-bb47-0125f777ef38"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-768,-416],"id":"7800e335-167a-4a0d-bee4-5a77560f02f5","name":"Atualiza backup","webhookId":"d8c90d22-8ea7-48ee-bb47-0125f777ef38","alwaysOutputData":true,"credentials":{"githubApi":{"id":"K2xAk753m04MGoCP","name":"GitHub [torresnet]"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"84f6a778-9e0e-4395-8c43-0dc805ef546e","leftValue":"={{ $json.updatedAt }}","rightValue":"={{ $('Pega workflows').item.json.updatedAt }}","operator":{"type":"dateTime","operation":"notEquals"}},{"id":"d7c55493-8241-4092-a786-01b2a56899d7","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1456,-416],"id":"f6d780ea-2a0d-4a1b-9dc8-d1f2a7a3f9b6","name":"Precisa atualizar?"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Pega workflows","type":"main","index":0}]]},"Pega arquivo":{"main":[[{"node":"Precisa atualizar?","type":"main","index":0}]]},"Pega workflows":{"main":[[{"node":"Pega arquivo","type":"main","index":0}]]},"Rotas":{"main":[[{"node":"Cria backup","type":"main","index":0}],[{"node":"Atualiza backup","type":"main","index":0}]]},"Precisa atualizar?":{"main":[[{"node":"Rotas","type":"main","index":0}],[{"node":"Fim","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"52190213-1265-4786-9b3d-dc4bd4bea9a8","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-10T16:58:29.100Z","createdAt":"2026-01-10T16:58:29.100Z","role":"workflow:owner","workflowId":"gCkAdBPKVozmjYt9","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":null,"tags":[{"updatedAt":"2025-11-16T22:16:21.411Z","createdAt":"2025-11-16T22:16:21.411Z","id":"f80tkIbnpYWtgx9P","name":"Meus"},{"updatedAt":"2025-11-16T22:16:21.441Z","createdAt":"2025-11-16T22:16:21.441Z","id":"mVpu2CtzXTHTzLu8","name":"Rodando"},{"updatedAt":"2026-01-10T13:51:54.987Z","createdAt":"2026-01-10T13:51:54.987Z","id":"5YDum4WlQrJChs4q","name":"rotinas administrativas"}]}