Workflows/gCkAdBPKVozmjYt9.json
{"updatedAt":"2026-01-10T17:41:46.765Z","createdAt":"2026-01-10T16:58:29.100Z","id":"gCkAdBPKVozmjYt9","name":"Backup N8N para GitHub","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 2 * * *"}]}},"id":"e89f8c2b-09ed-47c9-89c9-24a0ba23262f","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3664,-592]},{"parameters":{"url":"https://sdn8n.scaladigital.com.br/api/v1/workflows","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"f6059ba2-6701-4539-9081-dd5514683487","name":"Get All Workflows","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3456,-592],"credentials":{"httpHeaderAuth":{"id":"OqcwbFUzUSVojUV4","name":"N8N Api Key"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"id":"19d4387d-a2fc-4a4f-91d1-74813a7113ca","name":"Format Workflows","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3264,-592]},{"parameters":{"operation":"get","owner":"torresnet","repository":"n8n-backups"},"id":"9169f3fe-e91c-442e-9a78-703b98be31a4","name":"Check File Exists","type":"n8n-nodes-base.github","typeVersion":1,"position":[-3056,-592],"webhookId":"27c2e305-abef-435b-af20-651472a5da18","credentials":{"githubApi":{"id":"K2xAk753m04MGoCP","name":"GitHub [torresnet]"}},"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition-1","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"object","operation":"notExists"}}],"combinator":"and"},"options":{}},"id":"12246412-8729-4e67-829f-34c34cd21291","name":"File Exists?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2864,-592]},{"parameters":{"jsCode":"const currentItem = $input.first().json;\nconst githubFile = $input.last().json;\n\n// Decodifica o conteúdo do GitHub (vem em base64)\nconst githubContent = JSON.parse(Buffer.from(githubFile.content, 'base64').toString('utf8'));\n\n// Compara o updatedAt\nconst needsUpdate = currentItem.updatedAt !== githubContent.updatedAt;\n\nreturn {\n  json: {\n    ...currentItem,\n    sha: githubFile.sha,\n    needsUpdate: needsUpdate,\n    githubUpdatedAt: githubContent.updatedAt\n  }\n};"},"id":"90baf681-5b50-4c2e-bc9d-5b42e42f1d02","name":"Compare UpdatedAt","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2656,-688]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition-1","leftValue":"={{ $json.needsUpdate }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"77c90a04-d939-4ef6-861c-d4914e6fe7d2","name":"Needs Update?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2464,-688]},{"parameters":{"operation":"update","owner":"torresnet","repository":"n8n-backups"},"id":"746b444e-ef33-4b4e-822c-dc6e37909d7d","name":"GitHub Update","type":"n8n-nodes-base.github","typeVersion":1,"position":[-2256,-784],"webhookId":"cdf8cd58-1af1-4541-881b-e7323e072510","credentials":{"githubApi":{"id":"K2xAk753m04MGoCP","name":"GitHub [torresnet]"}}},{"parameters":{"owner":"torresnet","repository":"n8n-backups","labels":[],"assignees":[]},"id":"6f53cb53-01cd-45bb-90a3-0b59a84b392f","name":"GitHub Create","type":"n8n-nodes-base.github","typeVersion":1,"position":[-2256,-480],"webhookId":"49058d27-8792-42b5-8bdb-93840c8b3aaf","credentials":{"githubApi":{"id":"K2xAk753m04MGoCP","name":"GitHub [torresnet]"}}},{"parameters":{},"id":"4b4c1669-1c3f-4ca8-b987-275c52b11399","name":"No Changes","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2256,-640]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get All Workflows","type":"main","index":0}]]},"Get All Workflows":{"main":[[{"node":"Format Workflows","type":"main","index":0}]]},"Format Workflows":{"main":[[{"node":"Check File Exists","type":"main","index":0}]]},"Check File Exists":{"main":[[{"node":"File Exists?","type":"main","index":0}]]},"File Exists?":{"main":[[{"node":"Compare UpdatedAt","type":"main","index":0}],[{"node":"GitHub Create","type":"main","index":0}]]},"Compare UpdatedAt":{"main":[[{"node":"Needs Update?","type":"main","index":0}]]},"Needs Update?":{"main":[[{"node":"GitHub Update","type":"main","index":0}],[{"node":"No Changes","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"14af3009-98b2-4a65-8326-916aef0beebe","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-10T16:58:29.100Z","createdAt":"2026-01-10T16:58:29.100Z","role":"workflow:owner","workflowId":"gCkAdBPKVozmjYt9","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":null,"tags":[{"updatedAt":"2025-11-16T22:16:21.411Z","createdAt":"2025-11-16T22:16:21.411Z","id":"f80tkIbnpYWtgx9P","name":"Meus"},{"updatedAt":"2025-11-16T22:16:21.441Z","createdAt":"2025-11-16T22:16:21.441Z","id":"mVpu2CtzXTHTzLu8","name":"Rodando"},{"updatedAt":"2026-01-10T13:51:54.987Z","createdAt":"2026-01-10T13:51:54.987Z","id":"5YDum4WlQrJChs4q","name":"rotinas administrativas"}]}