Workflows/gDKq88dnaCHNO7B2.json
{"updatedAt":"2025-12-11T14:06:45.632Z","createdAt":"2025-11-17T14:20:03.422Z","id":"gDKq88dnaCHNO7B2","name":"[ ClickUP ]  - Tratamento de Tarefas e Gerador de Conteúdo com IA","active":true,"isArchived":false,"nodes":[{"parameters":{"authentication":"oAuth2","team":"30948962","events":["taskStatusUpdated"],"filters":{}},"id":"26619700-225e-4d03-ad0c-23b2889986c9","name":"ClickUp Trigger","type":"n8n-nodes-base.clickUpTrigger","typeVersion":1,"position":[-3456,576],"webhookId":"86adf08b-920d-46e4-81f4-d6598c3dc70a","credentials":{"clickUpOAuth2Api":{"id":"oo8JTPlXCEx2y4Iq","name":"ClickUp"}}},{"parameters":{"authentication":"oAuth2","team":"30948962","space":"49037195","folder":"90070313080","list":"900700561471","name":"=TMZ Post: {{ $node[\"puxa dados da tarefa\"].json[\"name\"] }}","additionalFields":{"assignees":[49101880],"dueDate":"={{ (new Date(new Date().setDate(new Date().getDate() + 2))).toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }).replace(/\\//g, '-') }}","status":"fazendo","timeEstimate":15}},"id":"fb0e867b-124a-4bd9-a2a3-455cc429e653","name":"TMZ","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-2496,736],"notesInFlow":true,"credentials":{"clickUpOAuth2Api":{"id":"oo8JTPlXCEx2y4Iq","name":"ClickUp"}},"notes":"Cria tarefa"},{"parameters":{"authentication":"oAuth2","operation":"update","id":"={{ $node[\"puxa dados da tarefa\"].json[\"id\"] }}","updateFields":{"addAssignees":"49101880","dueDate":"={{ (new Date(new Date().setDate(new Date().getDate() + 2))).toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }).replace(/\\//g, '-') }}","name":"=T&T Post: {{ $node[\"puxa dados da tarefa\"].json[\"name\"] }}","status":"FAZENDO","timeEstimate":15}},"id":"82c3ac92-fbc3-499c-af35-583ff7e7bbb0","name":"T&T","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-2096,736],"notesInFlow":true,"credentials":{"clickUpOAuth2Api":{"id":"oo8JTPlXCEx2y4Iq","name":"ClickUp"}},"notes":"Atualiza Tarefa\n- Atualiza o nome e move para \"A FAZER\""},{"parameters":{"authentication":"oAuth2","resource":"comment","commentOn":"task","id":"={{ $('TMZ').item.json.id }}","commentText":"=Dias para as postagens:\n\nFeed: Segunda, Quarta, Sexta\nStories: Terça, Quinta, Sábado na semana seguinte do post no feed\n\nDepois de agendado mover a tarefa para \"PROGRAMADO\"\n\nLEGENDA\nMarcar localização: Goiânia\n\nTET GOIÁS\nFale com a nossa equipe de vendas\n(62) 3259-6518\n\nTET FORTALEZA\nFale com a nossa equipe de vendas\n(85) 2180-7090\n\nTET CRATO\nFale com a nossa equipe de vendas\n(88) 2557-9287\n\nTET RIBEIRÃO\nFale com a nossa equipe de vendas\n(16) 3911-7561\n\nTMZ MARABÁ\nFale com a nossa equipe de vendas\n(94) 3324-1178\n\n@adeel.alimentos\n@allesalimentos\n@boavistaalimentos\n@brf_global\n@daliaalimentos\n@easychefoficial\n@excelenciamt\n@friatooficial\n@frigorificobolson\n@frimesa\n@nossajbs\n@pamplonaalimentos\n@plenaalimentos\n@primafoodsbr\n@zinhooriginal (reserva one)\n\n#tmzalimentos\n","additionalFields":{}},"id":"614035bc-b66a-40fb-a92f-5ff728c5c4a0","name":"TMZ Post","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-2304,736],"notesInFlow":true,"credentials":{"clickUpOAuth2Api":{"id":"oo8JTPlXCEx2y4Iq","name":"ClickUp"}},"notes":"Add Comentário"},{"parameters":{"authentication":"oAuth2","resource":"comment","commentOn":"task","id":"={{ $node[\"puxa dados da tarefa\"].json[\"id\"] }}","commentText":"=Dias para as postagens:\n\nFeed: Segunda, Quarta, Sexta\nStories: Terça, Quinta, Sábado na semana seguinte do post no feed\n\nDepois de agendado mover a tarefa para \"PROGRAMADO\"\n\nLEGENDA\nMarcar localização: Goiânia\n\nTET GOIÁS\nFale com a nossa equipe de vendas\n(62) 3259-6518\n\nTET FORTALEZA\nFale com a nossa equipe de vendas\n(85) 2180-7090\n\nTET CRATO\nFale com a nossa equipe de vendas\n(88) 2557-9287\n\nTET RIBEIRÃO\nFale com a nossa equipe de vendas\n(16) 3911-7561\n\nTMZ MARABÁ\nFale com a nossa equipe de vendas\n(94) 3324-1178\n\n@adeel.alimentos\n@allesalimentos\n@boavistaalimentos\n@brf_global\n@daliaalimentos\n@easychefoficial\n@excelenciamt\n@friatooficial\n@frigorificobolson\n@frimesa\n@nossajbs\n@pamplonaalimentos\n@plenaalimentos\n@primafoodsbr\n@zinhooriginal (reserva one)\n\n#tetalimentos\n","additionalFields":{}},"id":"6d1ef5b5-d588-4ba2-aa6f-4bf79a29fc04","name":"T&T Post","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-1920,736],"notesInFlow":true,"credentials":{"clickUpOAuth2Api":{"id":"oo8JTPlXCEx2y4Iq","name":"ClickUp"}},"notes":"Add Comentário"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $item(\"0\").$node[\"TMZ\"].json[\"id\"] }}/attachment","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"multipart/form-data"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"attachment","inputDataFieldName":"data"}]},"options":{}},"id":"5cd046c0-2a85-4c8e-a6b3-483296bd4b23","name":"Anexar arquivo na tarefa TMZ","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1520,736],"disabled":true},{"parameters":{"url":"={{ $item(\"0\").$node[\"Tarefa\"].json[\"attachments\"][\"0\"][\"url\"] }}","options":{}},"id":"9f5a4527-6d7d-4c09-b6a4-07c263163e99","name":"Download binário do anexo1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1728,736],"disabled":true},{"parameters":{"resource":"messages-api","instanceName":"Alessandro","remoteJid":"5562996146119","messageText":"=✨Tem post no e-mail para você aprovar\n_{{ $json.name }}_","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2480,272],"id":"d51f5bce-153d-44dd-993d-d80c78442d01","name":"Enviar texto","credentials":{"evolutionApi":{"id":"gqMlUQxrxPNWPCn1","name":"Evolution - Hetzner Scala Server-1"}}},{"parameters":{"authentication":"oAuth2","operation":"get","id":"={{ $json.task_id }}"},"id":"7df19cdc-4612-4cdb-aadd-2fee8c2dcc21","name":"puxa dados da tarefa","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-3264,576],"alwaysOutputData":true,"credentials":{"clickUpOAuth2Api":{"id":"oo8JTPlXCEx2y4Iq","name":"ClickUp"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.folder.name }}","rightValue":"Colbiflex","operator":{"type":"string","operation":"equals"},"id":"8aabee0b-fa8b-4d04-b527-2b578a88623c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Colbiflex"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5ee8beca-5611-40fa-a694-ac1841e08724","leftValue":"={{ $json.folder.name }}","rightValue":"T&T Alimentos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"T&T Alimentos"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-3056,576],"id":"64c6d3ac-cc9d-4ac3-b6e3-54055fef2172","name":"Direciona baseado na pasta/cliente"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"56350e81-e073-4a3e-ab49-b1f1e05d340c","leftValue":"={{ $('ClickUp Trigger').item.json.history_items[0].before.status }}","rightValue":"a fazer","operator":{"type":"string","operation":"equals"}},{"id":"ca0b6557-a428-4dd4-bb91-f8c9e7751345","leftValue":"={{ $('ClickUp Trigger').item.json.history_items[0].after.status }}","rightValue":"para n8n","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"57f849b3-4cea-4464-b295-844a998d7047","name":"Moveu de \"a fazer\" para \"tratamento ia\"1","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-2720,752]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"56350e81-e073-4a3e-ab49-b1f1e05d340c","leftValue":"={{ $node[\"puxa dados da tarefa\"].json[\"list\"][\"name\"] }}","rightValue":"Redes Sociais","operator":{"type":"string","operation":"equals"}},{"id":"ca0b6557-a428-4dd4-bb91-f8c9e7751345","leftValue":"={{ $('ClickUp Trigger').item.json.history_items[0].after.status }}","rightValue":"cliente <-aguardando","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"99b1c149-7733-4e7c-bc1b-ee6719fc002c","name":"Moveu de \"equipe\" para \"cliente\"","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-2704,288]},{"parameters":{"content":"## COLBIFLEX\n\nNotifica o Flávio, via whatsapp, que tem post para aprovação","height":384,"width":480},"type":"n8n-nodes-base.stickyNote","position":[-2768,96],"typeVersion":1,"id":"fcb1b4ba-4cd4-4161-865e-2b570d256210","name":"Sticky Note"},{"parameters":{"content":"## T&T ALIMENTOS\n\nDuplica a tarefa para a TMZ e trata o titulo para identificação","height":384,"width":1456},"type":"n8n-nodes-base.stickyNote","position":[-2768,560],"typeVersion":1,"id":"75fc0a03-af04-4b48-8945-21fa70fb56d0","name":"Sticky Note1"}],"connections":{"ClickUp Trigger":{"main":[[{"node":"puxa dados da tarefa","type":"main","index":0}]]},"TMZ":{"main":[[{"node":"TMZ Post","type":"main","index":0}]]},"T&T":{"main":[[{"node":"T&T Post","type":"main","index":0}]]},"TMZ Post":{"main":[[{"node":"T&T","type":"main","index":0}]]},"Download binário do anexo1":{"main":[[{"node":"Anexar arquivo na tarefa TMZ","type":"main","index":0}]]},"T&T Post":{"main":[[{"node":"Download binário do anexo1","type":"main","index":0}]]},"puxa dados da tarefa":{"main":[[{"node":"Direciona baseado na pasta/cliente","type":"main","index":0}]]},"Direciona baseado na pasta/cliente":{"main":[[{"node":"Moveu de \"equipe\" para \"cliente\"","type":"main","index":0}],[{"node":"Moveu de \"a fazer\" para \"tratamento ia\"1","type":"main","index":0}]]},"Moveu de \"equipe\" para \"cliente\"":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Moveu de \"a fazer\" para \"tratamento ia\"1":{"main":[[{"node":"TMZ","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"CGfCVWSuvoZUb15y"},"staticData":{"node:ClickUp Trigger":{"webhookId":"72249005-71f6-432d-b0a1-708644ff55ca","secret":"1UJ4VV9NIAGVNXH6H9AAIDBFFOVPFBSIHXUGB73N84GW3HDWJVVWW0JSGNHIAA27"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"ClickUp Trigger":[{"json":{"event":"taskStatusUpdated","history_items":[{"id":"4859785826181835227","type":1,"date":"1765461947467","field":"status","parent_id":"901303446663","data":{"status_type":"custom"},"source":null,"user":{"id":42991982,"username":"Alessandro Torres","email":"suporte@alessandrotorres.com.br","color":"","initials":"AT","profilePicture":null,"role":1,"role_subtype":0},"before":{"status":"a fazer","color":"#87909e","orderindex":0,"type":"open"},"after":{"status":"cliente <-aguardando","color":"var(--cu-status-orange)","orderindex":3,"type":"custom"}}],"task_id":"86adw0d6d","team_id":"30948962","webhook_id":"d006eb22-9b7b-4ed7-8f6f-fe239cd84e63"}}]},"versionId":"64c824ee-8c7a-478b-a661-d716b5ce0772","activeVersionId":"64c824ee-8c7a-478b-a661-d716b5ce0772","triggerCount":1,"shared":[{"updatedAt":"2025-11-17T14:20:03.422Z","createdAt":"2025-11-17T14:20:03.422Z","role":"workflow:owner","workflowId":"gDKq88dnaCHNO7B2","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":{"updatedAt":"2025-12-11T14:06:45.640Z","createdAt":"2025-12-11T14:06:45.640Z","versionId":"64c824ee-8c7a-478b-a661-d716b5ce0772","workflowId":"gDKq88dnaCHNO7B2","nodes":[{"parameters":{"authentication":"oAuth2","team":"30948962","events":["taskStatusUpdated"],"filters":{}},"id":"26619700-225e-4d03-ad0c-23b2889986c9","name":"ClickUp Trigger","type":"n8n-nodes-base.clickUpTrigger","typeVersion":1,"position":[-3456,576],"webhookId":"86adf08b-920d-46e4-81f4-d6598c3dc70a","credentials":{"clickUpOAuth2Api":{"id":"oo8JTPlXCEx2y4Iq","name":"ClickUp"}}},{"parameters":{"authentication":"oAuth2","team":"30948962","space":"49037195","folder":"90070313080","list":"900700561471","name":"=TMZ Post: {{ $node[\"puxa dados da tarefa\"].json[\"name\"] }}","additionalFields":{"assignees":[49101880],"dueDate":"={{ (new Date(new Date().setDate(new Date().getDate() + 2))).toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }).replace(/\\//g, '-') }}","status":"fazendo","timeEstimate":15}},"id":"fb0e867b-124a-4bd9-a2a3-455cc429e653","name":"TMZ","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-2496,736],"notesInFlow":true,"credentials":{"clickUpOAuth2Api":{"id":"oo8JTPlXCEx2y4Iq","name":"ClickUp"}},"notes":"Cria tarefa"},{"parameters":{"authentication":"oAuth2","operation":"update","id":"={{ $node[\"puxa dados da tarefa\"].json[\"id\"] }}","updateFields":{"addAssignees":"49101880","dueDate":"={{ (new Date(new Date().setDate(new Date().getDate() + 2))).toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }).replace(/\\//g, '-') }}","name":"=T&T Post: {{ $node[\"puxa dados da tarefa\"].json[\"name\"] }}","status":"FAZENDO","timeEstimate":15}},"id":"82c3ac92-fbc3-499c-af35-583ff7e7bbb0","name":"T&T","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-2096,736],"notesInFlow":true,"credentials":{"clickUpOAuth2Api":{"id":"oo8JTPlXCEx2y4Iq","name":"ClickUp"}},"notes":"Atualiza Tarefa\n- Atualiza o nome e move para \"A FAZER\""},{"parameters":{"authentication":"oAuth2","resource":"comment","commentOn":"task","id":"={{ $('TMZ').item.json.id }}","commentText":"=Dias para as postagens:\n\nFeed: Segunda, Quarta, Sexta\nStories: Terça, Quinta, Sábado na semana seguinte do post no feed\n\nDepois de agendado mover a tarefa para \"PROGRAMADO\"\n\nLEGENDA\nMarcar localização: Goiânia\n\nTET GOIÁS\nFale com a nossa equipe de vendas\n(62) 3259-6518\n\nTET FORTALEZA\nFale com a nossa equipe de vendas\n(85) 2180-7090\n\nTET CRATO\nFale com a nossa equipe de vendas\n(88) 2557-9287\n\nTET RIBEIRÃO\nFale com a nossa equipe de vendas\n(16) 3911-7561\n\nTMZ MARABÁ\nFale com a nossa equipe de vendas\n(94) 3324-1178\n\n@adeel.alimentos\n@allesalimentos\n@boavistaalimentos\n@brf_global\n@daliaalimentos\n@easychefoficial\n@excelenciamt\n@friatooficial\n@frigorificobolson\n@frimesa\n@nossajbs\n@pamplonaalimentos\n@plenaalimentos\n@primafoodsbr\n@zinhooriginal (reserva one)\n\n#tmzalimentos\n","additionalFields":{}},"id":"614035bc-b66a-40fb-a92f-5ff728c5c4a0","name":"TMZ Post","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-2304,736],"notesInFlow":true,"credentials":{"clickUpOAuth2Api":{"id":"oo8JTPlXCEx2y4Iq","name":"ClickUp"}},"notes":"Add Comentário"},{"parameters":{"authentication":"oAuth2","resource":"comment","commentOn":"task","id":"={{ $node[\"puxa dados da tarefa\"].json[\"id\"] }}","commentText":"=Dias para as postagens:\n\nFeed: Segunda, Quarta, Sexta\nStories: Terça, Quinta, Sábado na semana seguinte do post no feed\n\nDepois de agendado mover a tarefa para \"PROGRAMADO\"\n\nLEGENDA\nMarcar localização: Goiânia\n\nTET GOIÁS\nFale com a nossa equipe de vendas\n(62) 3259-6518\n\nTET FORTALEZA\nFale com a nossa equipe de vendas\n(85) 2180-7090\n\nTET CRATO\nFale com a nossa equipe de vendas\n(88) 2557-9287\n\nTET RIBEIRÃO\nFale com a nossa equipe de vendas\n(16) 3911-7561\n\nTMZ MARABÁ\nFale com a nossa equipe de vendas\n(94) 3324-1178\n\n@adeel.alimentos\n@allesalimentos\n@boavistaalimentos\n@brf_global\n@daliaalimentos\n@easychefoficial\n@excelenciamt\n@friatooficial\n@frigorificobolson\n@frimesa\n@nossajbs\n@pamplonaalimentos\n@plenaalimentos\n@primafoodsbr\n@zinhooriginal (reserva one)\n\n#tetalimentos\n","additionalFields":{}},"id":"6d1ef5b5-d588-4ba2-aa6f-4bf79a29fc04","name":"T&T Post","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-1920,736],"notesInFlow":true,"credentials":{"clickUpOAuth2Api":{"id":"oo8JTPlXCEx2y4Iq","name":"ClickUp"}},"notes":"Add Comentário"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $item(\"0\").$node[\"TMZ\"].json[\"id\"] }}/attachment","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"multipart/form-data"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"attachment","inputDataFieldName":"data"}]},"options":{}},"id":"5cd046c0-2a85-4c8e-a6b3-483296bd4b23","name":"Anexar arquivo na tarefa TMZ","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1520,736],"disabled":true},{"parameters":{"url":"={{ $item(\"0\").$node[\"Tarefa\"].json[\"attachments\"][\"0\"][\"url\"] }}","options":{}},"id":"9f5a4527-6d7d-4c09-b6a4-07c263163e99","name":"Download binário do anexo1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1728,736],"disabled":true},{"parameters":{"resource":"messages-api","instanceName":"Alessandro","remoteJid":"5562996146119","messageText":"=✨Tem post no e-mail para você aprovar\n_{{ $json.name }}_","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2480,272],"id":"d51f5bce-153d-44dd-993d-d80c78442d01","name":"Enviar texto","credentials":{"evolutionApi":{"id":"gqMlUQxrxPNWPCn1","name":"Evolution - Hetzner Scala Server-1"}}},{"parameters":{"authentication":"oAuth2","operation":"get","id":"={{ $json.task_id }}"},"id":"7df19cdc-4612-4cdb-aadd-2fee8c2dcc21","name":"puxa dados da tarefa","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-3264,576],"alwaysOutputData":true,"credentials":{"clickUpOAuth2Api":{"id":"oo8JTPlXCEx2y4Iq","name":"ClickUp"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.folder.name }}","rightValue":"Colbiflex","operator":{"type":"string","operation":"equals"},"id":"8aabee0b-fa8b-4d04-b527-2b578a88623c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Colbiflex"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5ee8beca-5611-40fa-a694-ac1841e08724","leftValue":"={{ $json.folder.name }}","rightValue":"T&T Alimentos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"T&T Alimentos"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-3056,576],"id":"64c6d3ac-cc9d-4ac3-b6e3-54055fef2172","name":"Direciona baseado na pasta/cliente"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"56350e81-e073-4a3e-ab49-b1f1e05d340c","leftValue":"={{ $('ClickUp Trigger').item.json.history_items[0].before.status }}","rightValue":"a fazer","operator":{"type":"string","operation":"equals"}},{"id":"ca0b6557-a428-4dd4-bb91-f8c9e7751345","leftValue":"={{ $('ClickUp Trigger').item.json.history_items[0].after.status }}","rightValue":"para n8n","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"57f849b3-4cea-4464-b295-844a998d7047","name":"Moveu de \"a fazer\" para \"tratamento ia\"1","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-2720,752]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"56350e81-e073-4a3e-ab49-b1f1e05d340c","leftValue":"={{ $node[\"puxa dados da tarefa\"].json[\"list\"][\"name\"] }}","rightValue":"Redes Sociais","operator":{"type":"string","operation":"equals"}},{"id":"ca0b6557-a428-4dd4-bb91-f8c9e7751345","leftValue":"={{ $('ClickUp Trigger').item.json.history_items[0].after.status }}","rightValue":"cliente <-aguardando","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"99b1c149-7733-4e7c-bc1b-ee6719fc002c","name":"Moveu de \"equipe\" para \"cliente\"","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-2704,288]},{"parameters":{"content":"## COLBIFLEX\n\nNotifica o Flávio, via whatsapp, que tem post para aprovação","height":384,"width":480},"type":"n8n-nodes-base.stickyNote","position":[-2768,96],"typeVersion":1,"id":"fcb1b4ba-4cd4-4161-865e-2b570d256210","name":"Sticky Note"},{"parameters":{"content":"## T&T ALIMENTOS\n\nDuplica a tarefa para a TMZ e trata o titulo para identificação","height":384,"width":1456},"type":"n8n-nodes-base.stickyNote","position":[-2768,560],"typeVersion":1,"id":"75fc0a03-af04-4b48-8945-21fa70fb56d0","name":"Sticky Note1"}],"connections":{"ClickUp Trigger":{"main":[[{"node":"puxa dados da tarefa","type":"main","index":0}]]},"TMZ":{"main":[[{"node":"TMZ Post","type":"main","index":0}]]},"T&T":{"main":[[{"node":"T&T Post","type":"main","index":0}]]},"TMZ Post":{"main":[[{"node":"T&T","type":"main","index":0}]]},"Download binário do anexo1":{"main":[[{"node":"Anexar arquivo na tarefa TMZ","type":"main","index":0}]]},"T&T Post":{"main":[[{"node":"Download binário do anexo1","type":"main","index":0}]]},"puxa dados da tarefa":{"main":[[{"node":"Direciona baseado na pasta/cliente","type":"main","index":0}]]},"Direciona baseado na pasta/cliente":{"main":[[{"node":"Moveu de \"equipe\" para \"cliente\"","type":"main","index":0}],[{"node":"Moveu de \"a fazer\" para \"tratamento ia\"1","type":"main","index":0}]]},"Moveu de \"equipe\" para \"cliente\"":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Moveu de \"a fazer\" para \"tratamento ia\"1":{"main":[[{"node":"TMZ","type":"main","index":0}]]}},"authors":"Alessadro Torres","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2025-11-16T22:16:21.411Z","createdAt":"2025-11-16T22:16:21.411Z","id":"f80tkIbnpYWtgx9P","name":"Meus"},{"updatedAt":"2025-11-16T22:16:21.441Z","createdAt":"2025-11-16T22:16:21.441Z","id":"mVpu2CtzXTHTzLu8","name":"Rodando"},{"updatedAt":"2025-11-17T14:03:16.362Z","createdAt":"2025-11-17T14:03:16.362Z","id":"40nN9GoVn1ubTbyI","name":"ClickUP"},{"updatedAt":"2025-11-17T14:14:38.769Z","createdAt":"2025-11-17T14:14:38.769Z","id":"ZynBWPYhCRd5kTFD","name":"Conteúdo"}]}