Workflows/h6qpFYxykc18d7dg.json
{"updatedAt":"2025-11-28T17:33:49.449Z","createdAt":"2025-11-28T16:40:03.276Z","id":"h6qpFYxykc18d7dg","name":"[A&A] Responde comentário do YouTube","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-832,-16],"id":"923b3c69-75d4-412e-9c5b-b8ca14165af1","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[480,-16],"id":"68498c47-927d-4026-9a1a-479b2259c98d","name":"Loop Over Items","executeOnce":false},{"parameters":{"method":"POST","url":"https://www.googleapis.com/youtube/v3/comments?part=snippet","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"snippet\": {\n    \"parentId\": \"{{ $('Loop Over Items').item.json.snippet.topLevelComment.id }}\",\n    \"textOriginal\": {{ $item(\"0\").$node[\"IA Resposta\"].json[\"text\"].toJsonString() }}\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,16],"id":"374c1988-912c-423e-b44e-63e2448145f7","name":"HTTP Request","credentials":{"youTubeOAuth2Api":{"id":"8USrDniXL8DIYcMQ","name":"[A&A] YouTube"}}},{"parameters":{"assignments":{"assignments":[{"id":"62af8a4c-719b-4665-9b0d-7e108749dcec","name":"v_Resposta","value":"obrigado pelo comentário","type":"string"},{"id":"2bde9769-7d97-4b26-924d-13144dd24085","name":"v_IdCanal","value":"UCWuliQQdfuSUEPEhLCMM51w","type":"string"},{"id":"b75e8875-8d5d-45b7-99b7-1c72a393ba0a","name":"v_DiasAnteriores","value":"=2","type":"number"},{"id":"7f305a76-17b7-44b1-a738-508bf6591e8e","name":"v_PromptResposta","value":"=Responda o comentário do fã da dupla sertaneja de Goiás, André e Andrade, forneça uma resposta seguindo as seguintes instruções:\n\n# Análise:\n- Se pedirem a letra da música, diga que pode encontrar nas plataformas digitais e no Google.\n- ** IMPORTANTE: Se pedirem ajuda financeira,  responda \"estamos enviando toda a nossa energia positiva na esperança para que você encontre uma solução para essa situação\". **\n- Se o comentário não fizer sentido ou infringir alguma política de conteúdo ou ser polêmico, simplesmente agradeça a interação.\n- Se no comentário disser que vai baixar ou fazer download da música, incentive a não baixar e sim que ele ouças nas plataformas digitais, pq é gratuito e ajuda demais a dupla, baixando não contribui em nada para a dupla.\n- Se quiserem comprar o CD, hoje em dia os CDS são raros, explique isso e sugira para ouvir nas plataformas digitais, como no YouTube por exemplo.\n- Se perguntarem o dia, horário do show ou programa, diga para nos acompanhar nas redes sociais que informamos lá.\n- Mantenha uma relação saudável entre fã e artista.\n- Se oferecer uma composição para nós gravarmos, agradeça e diga que não estamos pegando composições no momento, deseje sucesso.\n- Se contarem uma história longa e particular, positiva, relacionada a música ou a dupla, interaja de forma ativa e positiva mencionando o assunto mais importante da história. Se a história for algo negativo, lamente mas não tome as dores sobre o assunto.\n- Se um comentário não for especificado ou você não entendeu o comentário fornecido, simplesmente agradeça.\n\n# O que você não pode fazer:\n- Não faça críticas sobre o comentário.\n- Não nos coloque a disposição para ajudar.\n- Não dê sentido que somos muito próximos.\n- Não desmereça a pessoa ou o comentário deixado.\n- Não faça referência a gênero, como por exemplo amigo ou amiga, Vê-lo ou Vê-la, amigo(a)\n\n## Finalize com:\n- No final escreva \"Compartilhe esse vídeo com os seus amigos\" e acrescente as hastags #AndréeAndrade #Gratidão.\n\n# Principais Regras:\n- Escreva a resposta em um paragrafo\n- Responda em primeira pessoa do plural (nós).\n- ** IMPORTANTE: Forneça uma resposta de até 200 caracteres**\n- Seja carismático, atencioso e muito humilde (a humildade é a principal característica da dupla).\n- Responda em português (pt-br)","type":"string"},{"id":"65cbe4c9-0f1c-41cc-bb4a-76cda3729bea","name":"v_TipoDosVideos","value":"Musica","type":"string"},{"id":"101ab4b0-2596-4786-8f50-b89c2dad8414","name":"v_contador","value":0,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-624,-16],"id":"d741c25d-9f15-4442-973e-97d9ab0d46c5","name":"Parametros"},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/commentThreads","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet,replies"},{"name":"allThreadsRelatedToChannelId","value":"UCWuliQQdfuSUEPEhLCMM51w"},{"name":"maxResults","value":"100"},{"name":"order","value":"time"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-16,-16],"id":"d3ebc13e-6665-41f0-81eb-7f803b141eb8","name":"YT - Pega comentários","credentials":{"youTubeOAuth2Api":{"id":"8USrDniXL8DIYcMQ","name":"[A&A] YouTube"}}},{"parameters":{"assignments":{"assignments":[{"id":"56ff4b14-5912-4f26-9360-27c8056f4ae7","name":"v_UltimaData","value":"={{ new Date(Date.now() - ( $node[\"Parametros\"].json[\"v_DiasAnteriores\"] * 24 * 60 * 60 * 1000)).toISOString() }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,-16],"id":"e77923cc-e069-4489-bca2-252fa2e83489","name":"Data de comentário","notesInFlow":true,"notes":"A partir de"},{"parameters":{"jsCode":"// --- Pega Dados de Entrada e Parâmetros ---\n\n// Pega a lista de commentThreads da entrada (output do nó 'YT - Pega comentários')\nconst commentThreadsInput = $input.first().json;\nconst commentThreads = commentThreadsInput.items;\n\n// Pega o ID do seu canal do nó 'Parametros'\nconst MY_CHANNEL_ID = $('Parametros').item.json.v_IdCanal;\n\nconsole.log(\"--- INÍCIO DA VERIFICAÇÃO DE RESPOSTAS ---\");\nconsole.log(\"Meu Channel ID:\", MY_CHANNEL_ID);\n\n// --- Validações Essenciais ---\n\n// Valida se 'items' é um array\nif (!Array.isArray(commentThreads)) {\n  console.error(\"VALIDAÇÃO FALHOU: Entrada 'items' não é um array.\");\n  return []; // Retorna array vazio diretamente\n}\n\n// Valida o ID do Canal\nif (!MY_CHANNEL_ID) {\n  const errorMessage = \"Erro Crítico: 'v_IdCanal' não encontrado ou vazio no nó 'Parametros'.\";\n  console.error(errorMessage);\n  throw new Error(errorMessage); // Lança erro para parar o fluxo\n}\n\n// --- Filtra os Comment Threads ---\nconsole.log(`--- INICIANDO FILTRAGEM DE ${commentThreads.length} THREADS PELA EXISTÊNCIA DE RESPOSTA PRÓPRIA ---`);\n\nconst threadsToReply = commentThreads.filter((thread, index) => {\n  const commentId = thread?.snippet?.topLevelComment?.id || `[Thread ${index + 1} sem ID]`;\n  console.log(`\\nVerificando Thread ID: ${commentId}`);\n\n  // Valida estrutura básica necessária para a verificação\n  if (!thread?.snippet?.topLevelComment) {\n     console.log(`   -> DESCARTADO: Estrutura básica do thread/comentário inválida.`);\n     return false;\n  }\n\n  // --- Filtro Principal: Verificar se JÁ FOI RESPONDIDO PELO SEU CANAL ---\n  let alreadyRepliedByMe = false;\n  console.log(`   Verificando respostas...`);\n\n  // Verifica se existe o campo 'replies' e se 'comments' é um array dentro dele\n  if (thread.replies && Array.isArray(thread.replies.comments) && thread.replies.comments.length > 0) {\n     console.log(`   Encontradas ${thread.replies.comments.length} respostas.`);\n    for (const reply of thread.replies.comments) {\n      const authorId = reply?.snippet?.authorChannelId?.value;\n      console.log(`      - Resposta de: ${authorId || 'ID Desconhecido'}`);\n      // Compara o ID do autor da resposta com o SEU ID de canal\n      if (authorId === MY_CHANNEL_ID) {\n        alreadyRepliedByMe = true;\n        console.log(`      -> ENCONTRADA resposta de ${MY_CHANNEL_ID}!`);\n        break; // Encontrou uma resposta sua, não precisa verificar mais neste thread\n      }\n    }\n  } else {\n     console.log(`   Nenhuma resposta encontrada neste thread.`);\n  }\n\n  // Mantém o thread APENAS se NÃO foi respondido por você\n  const shouldKeep = !alreadyRepliedByMe;\n  console.log(`   -> DECISÃO FINAL: ${shouldKeep ? 'MANTER (Precisa de resposta)' : 'DESCARTAR (Já respondido)'}`);\n  return shouldKeep;\n});\n\nconsole.log(`--- FILTRAGEM CONCLUÍDA ---`);\nconsole.log(`${threadsToReply.length} comentários selecionados para resposta.`);\n\n// --- Retorna o Resultado ---\n// Retorna DIRETAMENTE o array filtrado.\n// O N8N automaticamente o colocará em { json: [...] } na saída do nó.\nreturn threadsToReply;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,-16],"id":"d9741451-364b-4b3d-822a-a673ae876364","name":"Filtra comentários não respondidos","executeOnce":false},{"parameters":{"promptType":"define","text":"=Titulo do vídeo de {{ $('Parametros').item.json.v_TipoDosVideos }}: \nComentário: {{ $('Loop Over Items').item.json.snippet.topLevelComment.snippet.textDisplay }}","messages":{"messageValues":[{"message":"={{ $('Parametros').item.json.v_PromptResposta }}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[1136,16],"id":"e5a5a957-ca50-4e5c-871c-071cf3931e1a","name":"IA Resposta"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1YcdXcjwq3L9oVmmMI8BEjT9ja4Pdqu90YcowvhCYQvo/edit?gid=631617911#gid=631617911","mode":"url"},"sheetName":{"__rl":true,"value":631617911,"mode":"list","cachedResultName":"YouTube","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YcdXcjwq3L9oVmmMI8BEjT9ja4Pdqu90YcowvhCYQvo/edit#gid=631617911"},"columns":{"mappingMode":"defineBelow","value":{"Data":"={{(() => { \n    const now = new Date(); \n    return now.toLocaleDateString('pt-BR'); \n})()}}","Hora":"={{(() => {    const date = new Date().toLocaleTimeString('pt-BR', { timeZone: 'America/Sao_Paulo', hour: '2-digit', minute: '2-digit' });   return date; })()}}","Usuario":"={{ $('Loop Over Items').item.json.snippet.topLevelComment.snippet.authorDisplayName }}","Video":"=youtube.com/watch?v={{ $('Loop Over Items').item.json.snippet.topLevelComment.snippet.videoId }}","Comentario":"={{ $('Loop Over Items').item.json.snippet.topLevelComment.snippet.textDisplay }}","Resposta":"={{ $('IA Resposta').item.json.text }}","Titulo":"={{ $('Pega título do vídeo').item.json.items[0].snippet.title }}"},"matchingColumns":[],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Video","displayName":"Video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Titulo","displayName":"Titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Usuario","displayName":"Usuario","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Comentario","displayName":"Comentario","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Resposta","displayName":"Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1744,16],"id":"7f4162a0-eef1-4ca0-ad51-030b28e613af","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (20 - 5 + 1)) + 5 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1936,144],"id":"b9e783f5-7670-4b66-b23c-fca64cb5ed21","name":"Wait","webhookId":"2a9a925f-d991-4d8b-a572-2adad930e220"},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/videos","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"id","value":"={{ $json.snippet.topLevelComment.snippet.videoId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,16],"id":"036ea104-e8e6-4780-8e73-13fd3102b2ca","name":"Pega título do vídeo","credentials":{"youTubeOAuth2Api":{"id":"8USrDniXL8DIYcMQ","name":"[A&A] YouTube"}}},{"parameters":{"resource":"messages-api","instanceName":"Rich","remoteJid":"5562992445646","messageText":"=*Canal:* {{ $item(\"0\").$node[\"Pega título do canal\"].json[\"items\"][\"0\"][\"snippet\"][\"title\"] }}\n_{{ $json.totalComments }} Comentários do YouTube respondidos_","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[944,-176],"id":"34a6fd40-695a-4d22-a073-e59a8d58d50c","name":"Evolution API1","executeOnce":true,"credentials":{"evolutionApi":{"id":"gqMlUQxrxPNWPCn1","name":"Evolution - Hetzner Scala Server-1"}}},{"parameters":{"jsCode":"// Acessa todos os itens de entrada\nconst comentarios = items;\n// Calcula o número total de comentários\nconst totalComments = comentarios.length;\n// Retorna o resultado no formato correto para o N8N\nreturn [{ json: { totalComments } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,-176],"id":"2f437deb-5a9d-40c6-953b-3922e880a46b","name":"Code"},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/channels","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"id","value":"={{ $('Parametros').item.json.v_IdCanal }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-208,-16],"id":"3627aac4-0b8d-4152-90bc-e04d53428629","name":"Pega título do canal","credentials":{"youTubeOAuth2Api":{"id":"8USrDniXL8DIYcMQ","name":"[A&A] YouTube"}}},{"parameters":{"model":"meta-llama/llama-4-scout-17b-16e-instruct","options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[1136,192],"id":"18c6e106-d407-4de0-afa5-538ee84e31be","name":"llama 4 scout 17b","credentials":{"groqApi":{"id":"6rn8J5eLJzXo1VuJ","name":"Groq account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Parametros","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Pega título do vídeo","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Parametros":{"main":[[{"node":"Data de comentário","type":"main","index":0}]]},"YT - Pega comentários":{"main":[[{"node":"Filtra comentários não respondidos","type":"main","index":0}]]},"Data de comentário":{"main":[[{"node":"Pega título do canal","type":"main","index":0}]]},"Filtra comentários não respondidos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"IA Resposta":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Pega título do vídeo":{"main":[[{"node":"IA Resposta","type":"main","index":0}]]},"Code":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Pega título do canal":{"main":[[{"node":"YT - Pega comentários","type":"main","index":0}]]},"llama 4 scout 17b":{"ai_languageModel":[[{"node":"IA Resposta","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9d43abfb-3d32-49f7-b7bd-e82fbc1d86a8","activeVersionId":"9d43abfb-3d32-49f7-b7bd-e82fbc1d86a8","triggerCount":1,"shared":[{"updatedAt":"2025-11-28T16:40:03.276Z","createdAt":"2025-11-28T16:40:03.276Z","role":"workflow:owner","workflowId":"h6qpFYxykc18d7dg","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":{"updatedAt":"2025-11-28T16:42:14.117Z","createdAt":"2025-11-28T16:42:14.117Z","versionId":"9d43abfb-3d32-49f7-b7bd-e82fbc1d86a8","workflowId":"h6qpFYxykc18d7dg","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-832,-16],"id":"923b3c69-75d4-412e-9c5b-b8ca14165af1","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[480,-16],"id":"68498c47-927d-4026-9a1a-479b2259c98d","name":"Loop Over Items","executeOnce":false},{"parameters":{"method":"POST","url":"https://www.googleapis.com/youtube/v3/comments?part=snippet","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"snippet\": {\n    \"parentId\": \"{{ $('Loop Over Items').item.json.snippet.topLevelComment.id }}\",\n    \"textOriginal\": {{ $item(\"0\").$node[\"IA Resposta\"].json[\"text\"].toJsonString() }}\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,16],"id":"374c1988-912c-423e-b44e-63e2448145f7","name":"HTTP Request","credentials":{"youTubeOAuth2Api":{"id":"8USrDniXL8DIYcMQ","name":"[A&A] YouTube"}}},{"parameters":{"assignments":{"assignments":[{"id":"62af8a4c-719b-4665-9b0d-7e108749dcec","name":"v_Resposta","value":"obrigado pelo comentário","type":"string"},{"id":"2bde9769-7d97-4b26-924d-13144dd24085","name":"v_IdCanal","value":"UCWuliQQdfuSUEPEhLCMM51w","type":"string"},{"id":"b75e8875-8d5d-45b7-99b7-1c72a393ba0a","name":"v_DiasAnteriores","value":"=2","type":"number"},{"id":"7f305a76-17b7-44b1-a738-508bf6591e8e","name":"v_PromptResposta","value":"=Responda o comentário do fã da dupla sertaneja de Goiás, André e Andrade, forneça uma resposta seguindo as seguintes instruções:\n\n# Análise:\n- Se pedirem a letra da música, diga que pode encontrar nas plataformas digitais e no Google.\n- ** IMPORTANTE: Se pedirem ajuda financeira,  responda \"estamos enviando toda a nossa energia positiva na esperança para que você encontre uma solução para essa situação\". **\n- Se o comentário não fizer sentido ou infringir alguma política de conteúdo ou ser polêmico, simplesmente agradeça a interação.\n- Se no comentário disser que vai baixar ou fazer download da música, incentive a não baixar e sim que ele ouças nas plataformas digitais, pq é gratuito e ajuda demais a dupla, baixando não contribui em nada para a dupla.\n- Se quiserem comprar o CD, hoje em dia os CDS são raros, explique isso e sugira para ouvir nas plataformas digitais, como no YouTube por exemplo.\n- Se perguntarem o dia, horário do show ou programa, diga para nos acompanhar nas redes sociais que informamos lá.\n- Mantenha uma relação saudável entre fã e artista.\n- Se oferecer uma composição para nós gravarmos, agradeça e diga que não estamos pegando composições no momento, deseje sucesso.\n- Se contarem uma história longa e particular, positiva, relacionada a música ou a dupla, interaja de forma ativa e positiva mencionando o assunto mais importante da história. Se a história for algo negativo, lamente mas não tome as dores sobre o assunto.\n- Se um comentário não for especificado ou você não entendeu o comentário fornecido, simplesmente agradeça.\n\n# O que você não pode fazer:\n- Não faça críticas sobre o comentário.\n- Não nos coloque a disposição para ajudar.\n- Não dê sentido que somos muito próximos.\n- Não desmereça a pessoa ou o comentário deixado.\n- Não faça referência a gênero, como por exemplo amigo ou amiga, Vê-lo ou Vê-la, amigo(a)\n\n## Finalize com:\n- No final escreva \"Compartilhe esse vídeo com os seus amigos\" e acrescente as hastags #AndréeAndrade #Gratidão.\n\n# Principais Regras:\n- Escreva a resposta em um paragrafo\n- Responda em primeira pessoa do plural (nós).\n- ** IMPORTANTE: Forneça uma resposta de até 200 caracteres**\n- Seja carismático, atencioso e muito humilde (a humildade é a principal característica da dupla).\n- Responda em português (pt-br)","type":"string"},{"id":"65cbe4c9-0f1c-41cc-bb4a-76cda3729bea","name":"v_TipoDosVideos","value":"Musica","type":"string"},{"id":"101ab4b0-2596-4786-8f50-b89c2dad8414","name":"v_contador","value":0,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-624,-16],"id":"d741c25d-9f15-4442-973e-97d9ab0d46c5","name":"Parametros"},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/commentThreads","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet,replies"},{"name":"allThreadsRelatedToChannelId","value":"UCWuliQQdfuSUEPEhLCMM51w"},{"name":"maxResults","value":"100"},{"name":"order","value":"time"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-16,-16],"id":"d3ebc13e-6665-41f0-81eb-7f803b141eb8","name":"YT - Pega comentários","credentials":{"youTubeOAuth2Api":{"id":"8USrDniXL8DIYcMQ","name":"[A&A] YouTube"}}},{"parameters":{"assignments":{"assignments":[{"id":"56ff4b14-5912-4f26-9360-27c8056f4ae7","name":"v_UltimaData","value":"={{ new Date(Date.now() - ( $node[\"Parametros\"].json[\"v_DiasAnteriores\"] * 24 * 60 * 60 * 1000)).toISOString() }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,-16],"id":"e77923cc-e069-4489-bca2-252fa2e83489","name":"Data de comentário","notesInFlow":true,"notes":"A partir de"},{"parameters":{"jsCode":"// --- Pega Dados de Entrada e Parâmetros ---\n\n// Pega a lista de commentThreads da entrada (output do nó 'YT - Pega comentários')\nconst commentThreadsInput = $input.first().json;\nconst commentThreads = commentThreadsInput.items;\n\n// Pega o ID do seu canal do nó 'Parametros'\nconst MY_CHANNEL_ID = $('Parametros').item.json.v_IdCanal;\n\nconsole.log(\"--- INÍCIO DA VERIFICAÇÃO DE RESPOSTAS ---\");\nconsole.log(\"Meu Channel ID:\", MY_CHANNEL_ID);\n\n// --- Validações Essenciais ---\n\n// Valida se 'items' é um array\nif (!Array.isArray(commentThreads)) {\n  console.error(\"VALIDAÇÃO FALHOU: Entrada 'items' não é um array.\");\n  return []; // Retorna array vazio diretamente\n}\n\n// Valida o ID do Canal\nif (!MY_CHANNEL_ID) {\n  const errorMessage = \"Erro Crítico: 'v_IdCanal' não encontrado ou vazio no nó 'Parametros'.\";\n  console.error(errorMessage);\n  throw new Error(errorMessage); // Lança erro para parar o fluxo\n}\n\n// --- Filtra os Comment Threads ---\nconsole.log(`--- INICIANDO FILTRAGEM DE ${commentThreads.length} THREADS PELA EXISTÊNCIA DE RESPOSTA PRÓPRIA ---`);\n\nconst threadsToReply = commentThreads.filter((thread, index) => {\n  const commentId = thread?.snippet?.topLevelComment?.id || `[Thread ${index + 1} sem ID]`;\n  console.log(`\\nVerificando Thread ID: ${commentId}`);\n\n  // Valida estrutura básica necessária para a verificação\n  if (!thread?.snippet?.topLevelComment) {\n     console.log(`   -> DESCARTADO: Estrutura básica do thread/comentário inválida.`);\n     return false;\n  }\n\n  // --- Filtro Principal: Verificar se JÁ FOI RESPONDIDO PELO SEU CANAL ---\n  let alreadyRepliedByMe = false;\n  console.log(`   Verificando respostas...`);\n\n  // Verifica se existe o campo 'replies' e se 'comments' é um array dentro dele\n  if (thread.replies && Array.isArray(thread.replies.comments) && thread.replies.comments.length > 0) {\n     console.log(`   Encontradas ${thread.replies.comments.length} respostas.`);\n    for (const reply of thread.replies.comments) {\n      const authorId = reply?.snippet?.authorChannelId?.value;\n      console.log(`      - Resposta de: ${authorId || 'ID Desconhecido'}`);\n      // Compara o ID do autor da resposta com o SEU ID de canal\n      if (authorId === MY_CHANNEL_ID) {\n        alreadyRepliedByMe = true;\n        console.log(`      -> ENCONTRADA resposta de ${MY_CHANNEL_ID}!`);\n        break; // Encontrou uma resposta sua, não precisa verificar mais neste thread\n      }\n    }\n  } else {\n     console.log(`   Nenhuma resposta encontrada neste thread.`);\n  }\n\n  // Mantém o thread APENAS se NÃO foi respondido por você\n  const shouldKeep = !alreadyRepliedByMe;\n  console.log(`   -> DECISÃO FINAL: ${shouldKeep ? 'MANTER (Precisa de resposta)' : 'DESCARTAR (Já respondido)'}`);\n  return shouldKeep;\n});\n\nconsole.log(`--- FILTRAGEM CONCLUÍDA ---`);\nconsole.log(`${threadsToReply.length} comentários selecionados para resposta.`);\n\n// --- Retorna o Resultado ---\n// Retorna DIRETAMENTE o array filtrado.\n// O N8N automaticamente o colocará em { json: [...] } na saída do nó.\nreturn threadsToReply;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,-16],"id":"d9741451-364b-4b3d-822a-a673ae876364","name":"Filtra comentários não respondidos","executeOnce":false},{"parameters":{"promptType":"define","text":"=Titulo do vídeo de {{ $('Parametros').item.json.v_TipoDosVideos }}: \nComentário: {{ $('Loop Over Items').item.json.snippet.topLevelComment.snippet.textDisplay }}","messages":{"messageValues":[{"message":"={{ $('Parametros').item.json.v_PromptResposta }}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[1136,16],"id":"e5a5a957-ca50-4e5c-871c-071cf3931e1a","name":"IA Resposta"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1YcdXcjwq3L9oVmmMI8BEjT9ja4Pdqu90YcowvhCYQvo/edit?gid=631617911#gid=631617911","mode":"url"},"sheetName":{"__rl":true,"value":631617911,"mode":"list","cachedResultName":"YouTube","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YcdXcjwq3L9oVmmMI8BEjT9ja4Pdqu90YcowvhCYQvo/edit#gid=631617911"},"columns":{"mappingMode":"defineBelow","value":{"Data":"={{(() => { \n    const now = new Date(); \n    return now.toLocaleDateString('pt-BR'); \n})()}}","Hora":"={{(() => {    const date = new Date().toLocaleTimeString('pt-BR', { timeZone: 'America/Sao_Paulo', hour: '2-digit', minute: '2-digit' });   return date; })()}}","Usuario":"={{ $('Loop Over Items').item.json.snippet.topLevelComment.snippet.authorDisplayName }}","Video":"=youtube.com/watch?v={{ $('Loop Over Items').item.json.snippet.topLevelComment.snippet.videoId }}","Comentario":"={{ $('Loop Over Items').item.json.snippet.topLevelComment.snippet.textDisplay }}","Resposta":"={{ $('IA Resposta').item.json.text }}","Titulo":"={{ $('Pega título do vídeo').item.json.items[0].snippet.title }}"},"matchingColumns":[],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Video","displayName":"Video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Titulo","displayName":"Titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Usuario","displayName":"Usuario","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Comentario","displayName":"Comentario","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Resposta","displayName":"Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1744,16],"id":"7f4162a0-eef1-4ca0-ad51-030b28e613af","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (20 - 5 + 1)) + 5 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1936,144],"id":"b9e783f5-7670-4b66-b23c-fca64cb5ed21","name":"Wait","webhookId":"2a9a925f-d991-4d8b-a572-2adad930e220"},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/videos","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"id","value":"={{ $json.snippet.topLevelComment.snippet.videoId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,16],"id":"036ea104-e8e6-4780-8e73-13fd3102b2ca","name":"Pega título do vídeo","credentials":{"youTubeOAuth2Api":{"id":"8USrDniXL8DIYcMQ","name":"[A&A] YouTube"}}},{"parameters":{"resource":"messages-api","instanceName":"Rich","remoteJid":"5562992445646","messageText":"=*Canal:* {{ $item(\"0\").$node[\"Pega título do canal\"].json[\"items\"][\"0\"][\"snippet\"][\"title\"] }}\n_{{ $json.totalComments }} Comentários do YouTube respondidos_","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[944,-176],"id":"34a6fd40-695a-4d22-a073-e59a8d58d50c","name":"Evolution API1","executeOnce":true,"credentials":{"evolutionApi":{"id":"gqMlUQxrxPNWPCn1","name":"Evolution - Hetzner Scala Server-1"}}},{"parameters":{"jsCode":"// Acessa todos os itens de entrada\nconst comentarios = items;\n// Calcula o número total de comentários\nconst totalComments = comentarios.length;\n// Retorna o resultado no formato correto para o N8N\nreturn [{ json: { totalComments } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,-176],"id":"2f437deb-5a9d-40c6-953b-3922e880a46b","name":"Code"},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/channels","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"id","value":"={{ $('Parametros').item.json.v_IdCanal }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-208,-16],"id":"3627aac4-0b8d-4152-90bc-e04d53428629","name":"Pega título do canal","credentials":{"youTubeOAuth2Api":{"id":"8USrDniXL8DIYcMQ","name":"[A&A] YouTube"}}},{"parameters":{"model":"meta-llama/llama-4-scout-17b-16e-instruct","options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[1136,192],"id":"18c6e106-d407-4de0-afa5-538ee84e31be","name":"llama 4 scout 17b","credentials":{"groqApi":{"id":"6rn8J5eLJzXo1VuJ","name":"Groq account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Parametros","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Pega título do vídeo","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Parametros":{"main":[[{"node":"Data de comentário","type":"main","index":0}]]},"YT - Pega comentários":{"main":[[{"node":"Filtra comentários não respondidos","type":"main","index":0}]]},"Data de comentário":{"main":[[{"node":"Pega título do canal","type":"main","index":0}]]},"Filtra comentários não respondidos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"IA Resposta":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Pega título do vídeo":{"main":[[{"node":"IA Resposta","type":"main","index":0}]]},"Code":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Pega título do canal":{"main":[[{"node":"YT - Pega comentários","type":"main","index":0}]]},"llama 4 scout 17b":{"ai_languageModel":[[{"node":"IA Resposta","type":"ai_languageModel","index":0}]]}},"authors":"Alessadro Torres","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2025-11-16T22:16:21.411Z","createdAt":"2025-11-16T22:16:21.411Z","id":"f80tkIbnpYWtgx9P","name":"Meus"},{"updatedAt":"2025-11-16T22:16:21.441Z","createdAt":"2025-11-16T22:16:21.441Z","id":"mVpu2CtzXTHTzLu8","name":"Rodando"},{"updatedAt":"2025-11-20T22:36:03.838Z","createdAt":"2025-11-20T22:36:03.838Z","id":"IdhsOPdeFphuivxQ","name":"Youtube"}]}