Workflows/i1Plh0lLc75ApWkXaPnOP.json
{"updatedAt":"2026-01-14T16:40:44.982Z","createdAt":"2026-01-14T15:25:48.848Z","id":"i1Plh0lLc75ApWkXaPnOP","name":"YouTube - Pesquisar 100 Vídeos","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"e2c23e29-f1e8-4de9-8362-728f71c3e213","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[656,0],"webhookId":"youtube-100-videos"},{"parameters":{"jsCode":"// Prepara a primeira requisição com aspas para busca exata\nconst input = $input.first().json;\nlet query = input.chatInput || input.query || input.text || '';\n\n// Adiciona aspas se não tiver\nif (query && !query.startsWith('\"')) {\n  query = `\"${query}\"`;\n}\n\nreturn [{\n  json: {\n    query: query,\n    pageToken: '',\n    pagina: 1\n  }\n}];"},"id":"b45498cf-984c-4855-ae9d-9796ea55a74a","name":"Preparar Busca","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,0]},{"parameters":{"jsCode":"// Extrai vídeos da página 1 e prepara página 2\nconst response = $input.first().json;\nconst items = response.items || [];\nconst nextPageToken = response.nextPageToken || '';\nconst query = $('Preparar Busca').first().json.query;\n\n// Formata vídeos da página 1\nconst videosPagina1 = items.map(item => ({\n  titulo: item.snippet?.title || 'Sem título',\n  canal: item.snippet?.channelTitle || 'Canal desconhecido',\n  link: `https://www.youtube.com/watch?v=${item.id?.videoId}`\n}));\n\nreturn [{\n  json: {\n    query: query,\n    pageToken: nextPageToken,\n    pagina: 2,\n    videosPagina1: videosPagina1\n  }\n}];"},"id":"79b59cbb-dd4d-4193-b401-969b9a8cafdf","name":"Processar Página 1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,0]},{"parameters":{"jsCode":"// Combina resultados das duas páginas\nconst response = $input.first().json;\nconst pagina1Data = $('Processar Página 1').first().json;\nconst items = response.items || [];\n\n// Formata vídeos da página 2\nconst videosPagina2 = items.map(item => ({\n  titulo: item.snippet?.title || 'Sem título',\n  canal: item.snippet?.channelTitle || 'Canal desconhecido',\n  link: `https://www.youtube.com/watch?v=${item.id?.videoId}`\n}));\n\n// Combina todas as páginas\nconst todosVideos = [...pagina1Data.videosPagina1, ...videosPagina2];\n\n// Retorna cada vídeo como item separado (ideal para loop/planilha)\nreturn todosVideos.map(v => ({ json: v }));"},"id":"bc7a617e-8ac6-4f72-8e8c-d4a0927b4232","name":"Combinar Resultados","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,0]},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/search","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"q","value":"={{ $json.query }}"},{"name":"type","value":"video"},{"name":"maxResults","value":"50"},{"name":"pageToken","value":"={{ $json.pageToken || '' }}"}]},"options":{}},"id":"a7df3435-fc1f-46a6-bb07-ab66f97cc472","name":"Busca no YouTube - Página 1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1104,0],"credentials":{"httpQueryAuth":{"id":"kB9zP6hbdGBZGA0E","name":"Query Auth [André e Andrade]"}}},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/search","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"q","value":"={{ $json.query }}"},{"name":"type","value":"video"},{"name":"maxResults","value":"50"},{"name":"pageToken","value":"={{ $json.pageToken }}"}]},"options":{}},"id":"d426bf0e-a4b1-4e1f-8d6b-7cc42527ff17","name":"Busca no YouTube - Página 2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1536,0],"credentials":{"httpQueryAuth":{"id":"kB9zP6hbdGBZGA0E","name":"Query Auth [André e Andrade]"}}}],"connections":{"Chat Trigger":{"main":[[{"node":"Preparar Busca","type":"main","index":0}]]},"Preparar Busca":{"main":[[{"node":"Busca no YouTube - Página 1","type":"main","index":0}]]},"Processar Página 1":{"main":[[{"node":"Busca no YouTube - Página 2","type":"main","index":0}]]},"Busca no YouTube - Página 1":{"main":[[{"node":"Processar Página 1","type":"main","index":0}]]},"Busca no YouTube - Página 2":{"main":[[{"node":"Combinar Resultados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"4b36245e-a807-4162-ab38-956c115de1b2","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-14T15:25:48.848Z","createdAt":"2026-01-14T15:25:48.848Z","role":"workflow:owner","workflowId":"i1Plh0lLc75ApWkXaPnOP","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":null,"tags":[]}