Workflows/IMBa8elL5PVuqRIn.json
{"updatedAt":"2025-12-03T12:44:39.280Z","createdAt":"2025-11-30T12:11:59.963Z","id":"IMBa8elL5PVuqRIn","name":"[TERRA] UBC Compositor Scraper - Simples (Síncrono)","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1088,0],"id":"0ad7c869-b4b5-44c3-aa17-986902b1bcf4","name":"When clicking 'Execute workflow'"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $node[\"Parametros\"].json[\"v_url_planilha\"] }}","mode":"url"},"sheetName":{"__rl":true,"value":1915576128,"mode":"list","cachedResultName":"Baixado Deezer"},"filtersUI":{"values":[{"lookupColumn":"Compositor"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-640,0],"id":"77ed57f1-1e8d-4586-8358-8c858baa4ef9","name":"Carrega Tabela","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"assignments":{"assignments":[{"id":"url-param","name":"v_url_planilha","value":"https://docs.google.com/spreadsheets/d/1tBkM6H5xjwPe9qlS1LE4xqXdYhYGOhXnl4IGPEv_jvM/edit?gid=1915576128#gid=1915576128","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-864,0],"id":"7219981f-308b-4767-8f9f-ea6b18060a97","name":"Parametros"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-416,0],"id":"759f3903-095c-4749-94b9-87304f574401","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"https://pega-compositor-ubc.onrender.com/api/scrape","sendBody":true,"bodyParameters":{"parameters":[{"name":"isrc","value":"={{ $node[\"Loop Over Items\"].json[\"ISRC\"] }}"}]},"options":{"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-192,96],"id":"679b8004-f4ef-45d9-9917-94119b096568","name":"Puxa compositor (Síncrono)"},{"parameters":{"assignments":{"assignments":[{"id":"format-composers","name":"compositores_formatados","value":"={{ $json.data ? $json.data.map(c => c.name.toLowerCase().split(' ').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ')).join(', ') : 'Erro: ' + ($json.error || 'Desconhecido') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,96],"id":"5f02ddff-2a0f-44b3-8db3-a0819ef6e86c","name":"Formatar Compositores"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1tBkM6H5xjwPe9qlS1LE4xqXdYhYGOhXnl4IGPEv_jvM/edit?gid=1915576128#gid=1915576128","mode":"url"},"sheetName":{"__rl":true,"value":1915576128,"mode":"list","cachedResultName":"Baixado Deezer"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Loop Over Items').item.json.row_number }}","Compositor":"={{ $json.compositores_formatados }}"},"matchingColumns":["row_number"]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[256,96],"id":"943a71c2-f520-432e-a38a-7c06e3a6cb55","name":"Inclui os compositores","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[480,96],"id":"a31bbfef-b6b0-4e51-a60f-5492497ef08f","name":"2s","webhookId":"wait-loop"}],"connections":{"When clicking 'Execute workflow'":{"main":[[{"node":"Parametros","type":"main","index":0}]]},"Parametros":{"main":[[{"node":"Carrega Tabela","type":"main","index":0}]]},"Carrega Tabela":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Puxa compositor (Síncrono)","type":"main","index":0}]]},"Puxa compositor (Síncrono)":{"main":[[{"node":"Formatar Compositores","type":"main","index":0}]]},"Formatar Compositores":{"main":[[{"node":"Inclui os compositores","type":"main","index":0}]]},"Inclui os compositores":{"main":[[{"node":"2s","type":"main","index":0}]]},"2s":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"91da8dc3-f446-49c7-b9d4-3e3885f25312","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-30T12:11:59.963Z","createdAt":"2025-11-30T12:11:59.963Z","role":"workflow:owner","workflowId":"IMBa8elL5PVuqRIn","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-03T12:44:36.860Z","createdAt":"2025-12-03T12:44:36.860Z","id":"p2u6aSuLGBrHNkBT","name":"Migração de Artistas"}]}