Workflows/JG_kTAwXvf-ilNngqzz8E.json
{"updatedAt":"2026-01-13T22:27:30.246Z","createdAt":"2026-01-13T22:10:38.522Z","id":"JG_kTAwXvf-ilNngqzz8E","name":"YouTube - Pesquisar Vídeos (HTTP Request)","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"youtube-search","responseMode":"responseNode","options":{}},"id":"aaa49a72-f9d0-4919-8a36-908452820b14","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[880,-32],"webhookId":"youtube-search-http"},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/search","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"q","value":"={{ $json.chatInput || $json.query || $json.musica || $json.nome }}"},{"name":"type","value":"video"},{"name":"maxResults","value":"={{ $json.maxResults || 5 }}"},{"name":"videoCategoryId","value":"10"}]},"options":{}},"id":"1e433940-107e-44c4-b300-07184b65144a","name":"HTTP - YouTube Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1104,-32],"credentials":{"httpQueryAuth":{"id":"kB9zP6hbdGBZGA0E","name":"Query Auth [André e Andrade]"}}},{"parameters":{"jsCode":"// Processa a resposta da API do YouTube\nconst response = $input.first().json;\nconst items = response.items || [];\nconst inputData = $('Webhook').first().json;\nconst searchQuery = inputData.chatInput || inputData.query || inputData.musica || inputData.nome;\n\nconst videos = items.map(item => ({\n  titulo: item.snippet?.title || 'Sem título',\n  canal: item.snippet?.channelTitle || 'Canal desconhecido',\n  video_id: item.id?.videoId,\n  url: `https://www.youtube.com/watch?v=${item.id?.videoId}`,\n  url_curta: `https://youtu.be/${item.id?.videoId}`,\n  thumbnail: item.snippet?.thumbnails?.high?.url || item.snippet?.thumbnails?.default?.url,\n  descricao: item.snippet?.description || '',\n  publicado_em: item.snippet?.publishedAt || null\n}));\n\nreturn [{\n  json: {\n    success: true,\n    query: searchQuery,\n    total: videos.length,\n    videos: videos\n  }\n}];"},"id":"86a4eb49-7420-4d1d-b839-4024ca16d913","name":"Formatar Resultados","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,-32]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json, null, 2) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"id":"dbf17780-f28f-4fd3-b18f-75e2eb694487","name":"Responder Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1552,-32]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[848,112],"id":"4ff3c0e4-49cf-4345-a72f-5496bcd71cb0","name":"When chat message received","webhookId":"2dfeabac-7028-4da5-b0b5-1ce909191ff5"}],"connections":{"Webhook":{"main":[[{"node":"HTTP - YouTube Search","type":"main","index":0}]]},"HTTP - YouTube Search":{"main":[[{"node":"Formatar Resultados","type":"main","index":0}]]},"Formatar Resultados":{"main":[[{"node":"Responder Webhook","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"HTTP - YouTube Search","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9d911add-9589-4bdf-a61a-9c5752bd9681","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-13T22:10:38.522Z","createdAt":"2026-01-13T22:10:38.522Z","role":"workflow:owner","workflowId":"JG_kTAwXvf-ilNngqzz8E","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":null,"tags":[]}