Workflows/JG_kTAwXvf-ilNngqzz8E.json
{"updatedAt":"2026-01-14T16:40:52.281Z","createdAt":"2026-01-13T22:10:38.522Z","id":"JG_kTAwXvf-ilNngqzz8E","name":"YouTube - Pesquisar Vídeos via Chat","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"c094baee-d4a4-420b-a152-baf06a832b7d","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[784,272],"webhookId":"youtube-chat-search"},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/search","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"q","value":"={{ $input.first().json.chatInput || $input.first().json.query || $input.first().json.text || '' }}"},{"name":"type","value":"video"},{"name":"maxResults","value":"50"}]},"options":{}},"id":"1730c431-6c12-43bb-886c-271efdc8e222","name":"HTTP - YouTube Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,272],"credentials":{"httpQueryAuth":{"id":"kB9zP6hbdGBZGA0E","name":"Query Auth [André e Andrade]"}}},{"parameters":{"jsCode":"// Processa a resposta da API do YouTube\nconst response = $input.first().json;\nconst items = response.items || [];\n\n// Retorna cada vídeo como um item separado (ideal para loops)\nconst videos = items.map(item => ({\n  json: {\n    titulo: item.snippet?.title || 'Sem título',\n    canal: item.snippet?.channelTitle || 'Canal desconhecido',\n    link: `https://www.youtube.com/watch?v=${item.id?.videoId}`\n  }\n}));\n\nreturn videos;"},"id":"504b9486-8882-459a-8b19-c3b12bec6349","name":"Formatar para Planilha","type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,272]}],"connections":{"Chat Trigger":{"main":[[{"node":"HTTP - YouTube Search","type":"main","index":0}]]},"HTTP - YouTube Search":{"main":[[{"node":"Formatar para Planilha","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2fefe148-0176-4346-a411-e08dd0e8b14d","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-13T22:10:38.522Z","createdAt":"2026-01-13T22:10:38.522Z","role":"workflow:owner","workflowId":"JG_kTAwXvf-ilNngqzz8E","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":null,"tags":[]}