Workflows/jN6TQ-kw4xRxwuh9r7FWE.json
{"updatedAt":"2026-01-10T21:27:35.388Z","createdAt":"2026-01-10T13:52:17.808Z","id":"jN6TQ-kw4xRxwuh9r7FWE","name":"[ADM] Backup Fluxos e Credenciais para GitHub","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2080,-576],"id":"74e8e580-e2c9-42a4-8367-f920a0e14ee9","name":"When clicking ‘Test workflow’"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"torresnet"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/torresnet/n8n-backups"},"filePath":"=Workflows/{{ $json.id }}.json","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1392,-496],"id":"6f986460-ea4e-49b3-b35e-079a43755e5e","name":"Pega arquivo","webhookId":"103881df-465e-4792-9ea9-293d6d2463d0","alwaysOutputData":true,"credentials":{"githubApi":{"id":"K2xAk753m04MGoCP","name":"GitHub [torresnet]"}},"onError":"continueRegularOutput"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1616,-496],"id":"2f580c4d-9586-4665-9c6e-93222426cf54","name":"Pega workflows","credentials":{"n8nApi":{"id":"d0TYnoKqO76TKegP","name":"n8n [Interno]"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Pega arquivo').item.json[\"error\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"4327981d-dc81-47bc-ac80-5570d61a71a8"}],"combinator":"and"},"renameOutput":true,"outputKey":"Criar backup"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"64ac9b15-ddd0-46ca-921e-9798115bcfee","leftValue":"={{ $json.data.updatedAt }}","rightValue":"={{ $('Pega workflows').item.json.updatedAt }}","operator":{"type":"dateTime","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Atualizar backup"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-496,-672],"id":"bbecb002-58c6-4e48-bdb3-4222595f4033","name":"Rotas"},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"torresnet"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/torresnet/n8n-backups"},"filePath":"=Workflows/{{ $('Pega workflows').item.json.id }}.json","fileContent":"={{ JSON.stringify($('Pega workflows').item.json) }}","commitMessage":"={{ $('Pega workflows').item.json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-272,-752],"id":"1c8b7533-7736-4f96-9c3b-c3e8dc174088","name":"Cria backup","webhookId":"103881df-465e-4792-9ea9-293d6d2463d0","alwaysOutputData":true,"credentials":{"githubApi":{"id":"K2xAk753m04MGoCP","name":"GitHub [torresnet]"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"torresnet"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/torresnet/n8n-backups"},"filePath":"=Workflows/{{ $('Pega workflows').item.json.id }}.json","fileContent":"={{ JSON.stringify($('Pega workflows').item.json) }}","commitMessage":"={{ $('Pega workflows').item.json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-272,-560],"id":"20eefcea-93e2-4be6-ba27-71f7b62e9c72","name":"Atualiza backup","webhookId":"103881df-465e-4792-9ea9-293d6d2463d0","alwaysOutputData":true,"credentials":{"githubApi":{"id":"K2xAk753m04MGoCP","name":"GitHub [torresnet]"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cf6b3f3e-c177-471d-a109-0e6221ea3c88","leftValue":"={{ $json.data.updatedAt }}","rightValue":"={{ $('Pega workflows').item.json.updatedAt }}","operator":{"type":"dateTime","operation":"notEquals"}},{"id":"ea6c7d5f-8f33-44f1-89e3-b00f22225b6e","leftValue":"={{ $node[\"Extract from File\"].json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-720,-496],"id":"aa040d8f-527e-49cc-a862-4aa624f45aff","name":"Atualiza backup?"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-944,-496],"id":"1f23bd24-7078-4446-8e0b-5a6c818f38ec","name":"Extract from File","alwaysOutputData":true,"executeOnce":false},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1168,-496],"id":"f10bfbad-b3f1-4208-a354-5b15f690c82e","name":"Loop"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"FIM 1","typeVersion":1,"position":[-928,-736],"id":"981ab672-b262-495a-9417-96ab67b22773"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-48,-432],"id":"f2d7e9a6-60e7-4cea-9952-0271517a9534","name":"Nada"},{"parameters":{"rule":{"interval":[{"triggerAtHour":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-2080,-400],"id":"d3e1b41e-779b-4257-b5d2-93355013e0f9","name":"Schedule Trigger"},{"parameters":{"content":"## Pega os arquivos","height":384,"width":384},"type":"n8n-nodes-base.stickyNote","position":[-1648,-608],"typeVersion":1,"id":"748ae679-aa44-4605-a3a8-fa1c4f9f380e","name":"Sticky Note"},{"parameters":{"content":"## Atualiza","height":544,"width":384},"type":"n8n-nodes-base.stickyNote","position":[-528,-864],"typeVersion":1,"id":"0a10f02e-381d-4e4a-ac5d-c76776618e5d","name":"Sticky Note1"},{"parameters":{"content":"## IMPORTANTE\n\n- Habilitar a API do N8N","height":224,"width":720},"type":"n8n-nodes-base.stickyNote","position":[-2096,-944],"typeVersion":1,"id":"3007125c-d6f2-4166-be9d-aa1ddf7036e3","name":"Sticky Note2"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Pega workflows","type":"main","index":0}]]},"Pega arquivo":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Pega workflows":{"main":[[{"node":"Pega arquivo","type":"main","index":0}]]},"Rotas":{"main":[[{"node":"Cria backup","type":"main","index":0}],[{"node":"Atualiza backup","type":"main","index":0}],[{"node":"Nada","type":"main","index":0}]]},"Atualiza backup?":{"main":[[{"node":"Rotas","type":"main","index":0}],[{"node":"Nada","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Atualiza backup?","type":"main","index":0}]]},"Loop":{"main":[[{"node":"FIM 1","type":"main","index":0}],[{"node":"Extract from File","type":"main","index":0}]]},"FIM 1":{"main":[[]]},"Atualiza backup":{"main":[[{"node":"Nada","type":"main","index":0}]]},"Cria backup":{"main":[[{"node":"Nada","type":"main","index":0}]]},"Nada":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Pega workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"CGfCVWSuvoZUb15y"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f800228c-b332-4e26-b8a3-709c89e12f44","activeVersionId":"f800228c-b332-4e26-b8a3-709c89e12f44","triggerCount":1,"shared":[{"updatedAt":"2026-01-10T13:52:17.808Z","createdAt":"2026-01-10T13:52:17.808Z","role":"workflow:owner","workflowId":"jN6TQ-kw4xRxwuh9r7FWE","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":{"updatedAt":"2026-01-10T21:27:39.718Z","createdAt":"2026-01-10T18:34:27.017Z","versionId":"f800228c-b332-4e26-b8a3-709c89e12f44","workflowId":"jN6TQ-kw4xRxwuh9r7FWE","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2080,-576],"id":"74e8e580-e2c9-42a4-8367-f920a0e14ee9","name":"When clicking ‘Test workflow’"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"torresnet"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/torresnet/n8n-backups"},"filePath":"=Workflows/{{ $json.id }}.json","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1392,-496],"id":"6f986460-ea4e-49b3-b35e-079a43755e5e","name":"Pega arquivo","webhookId":"103881df-465e-4792-9ea9-293d6d2463d0","alwaysOutputData":true,"credentials":{"githubApi":{"id":"K2xAk753m04MGoCP","name":"GitHub [torresnet]"}},"onError":"continueRegularOutput"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1616,-496],"id":"2f580c4d-9586-4665-9c6e-93222426cf54","name":"Pega workflows","credentials":{"n8nApi":{"id":"d0TYnoKqO76TKegP","name":"n8n [Interno]"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Pega arquivo').item.json[\"error\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"4327981d-dc81-47bc-ac80-5570d61a71a8"}],"combinator":"and"},"renameOutput":true,"outputKey":"Criar backup"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"64ac9b15-ddd0-46ca-921e-9798115bcfee","leftValue":"={{ $json.data.updatedAt }}","rightValue":"={{ $('Pega workflows').item.json.updatedAt }}","operator":{"type":"dateTime","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Atualizar backup"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-496,-672],"id":"bbecb002-58c6-4e48-bdb3-4222595f4033","name":"Rotas"},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"torresnet"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/torresnet/n8n-backups"},"filePath":"=Workflows/{{ $('Pega workflows').item.json.id }}.json","fileContent":"={{ JSON.stringify($('Pega workflows').item.json) }}","commitMessage":"={{ $('Pega workflows').item.json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-272,-752],"id":"1c8b7533-7736-4f96-9c3b-c3e8dc174088","name":"Cria backup","webhookId":"103881df-465e-4792-9ea9-293d6d2463d0","alwaysOutputData":true,"credentials":{"githubApi":{"id":"K2xAk753m04MGoCP","name":"GitHub [torresnet]"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"torresnet"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/torresnet/n8n-backups"},"filePath":"=Workflows/{{ $('Pega workflows').item.json.id }}.json","fileContent":"={{ JSON.stringify($('Pega workflows').item.json) }}","commitMessage":"={{ $('Pega workflows').item.json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-272,-560],"id":"20eefcea-93e2-4be6-ba27-71f7b62e9c72","name":"Atualiza backup","webhookId":"103881df-465e-4792-9ea9-293d6d2463d0","alwaysOutputData":true,"credentials":{"githubApi":{"id":"K2xAk753m04MGoCP","name":"GitHub [torresnet]"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cf6b3f3e-c177-471d-a109-0e6221ea3c88","leftValue":"={{ $json.data.updatedAt }}","rightValue":"={{ $('Pega workflows').item.json.updatedAt }}","operator":{"type":"dateTime","operation":"notEquals"}},{"id":"ea6c7d5f-8f33-44f1-89e3-b00f22225b6e","leftValue":"={{ $node[\"Extract from File\"].json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-720,-496],"id":"aa040d8f-527e-49cc-a862-4aa624f45aff","name":"Atualiza backup?"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-944,-496],"id":"1f23bd24-7078-4446-8e0b-5a6c818f38ec","name":"Extract from File","alwaysOutputData":true,"executeOnce":false},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1168,-496],"id":"f10bfbad-b3f1-4208-a354-5b15f690c82e","name":"Loop"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"FIM 1","typeVersion":1,"position":[-928,-736],"id":"981ab672-b262-495a-9417-96ab67b22773"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-48,-432],"id":"f2d7e9a6-60e7-4cea-9952-0271517a9534","name":"Nada"},{"parameters":{"rule":{"interval":[{"triggerAtHour":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-2080,-400],"id":"d3e1b41e-779b-4257-b5d2-93355013e0f9","name":"Schedule Trigger"},{"parameters":{"content":"## Pega os arquivos","height":384,"width":384},"type":"n8n-nodes-base.stickyNote","position":[-1648,-608],"typeVersion":1,"id":"748ae679-aa44-4605-a3a8-fa1c4f9f380e","name":"Sticky Note"},{"parameters":{"content":"## Atualiza","height":544,"width":384},"type":"n8n-nodes-base.stickyNote","position":[-528,-864],"typeVersion":1,"id":"0a10f02e-381d-4e4a-ac5d-c76776618e5d","name":"Sticky Note1"},{"parameters":{"content":"## IMPORTANTE\n\n- Habilitar a API do N8N","height":224,"width":720},"type":"n8n-nodes-base.stickyNote","position":[-2096,-944],"typeVersion":1,"id":"3007125c-d6f2-4166-be9d-aa1ddf7036e3","name":"Sticky Note2"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Pega workflows","type":"main","index":0}]]},"Pega arquivo":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Pega workflows":{"main":[[{"node":"Pega arquivo","type":"main","index":0}]]},"Rotas":{"main":[[{"node":"Cria backup","type":"main","index":0}],[{"node":"Atualiza backup","type":"main","index":0}],[{"node":"Nada","type":"main","index":0}]]},"Atualiza backup?":{"main":[[{"node":"Rotas","type":"main","index":0}],[{"node":"Nada","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Atualiza backup?","type":"main","index":0}]]},"Loop":{"main":[[{"node":"FIM 1","type":"main","index":0}],[{"node":"Extract from File","type":"main","index":0}]]},"FIM 1":{"main":[[]]},"Atualiza backup":{"main":[[{"node":"Nada","type":"main","index":0}]]},"Cria backup":{"main":[[{"node":"Nada","type":"main","index":0}]]},"Nada":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Pega workflows","type":"main","index":0}]]}},"authors":"Alessadro Torres","name":"Version f800228c","description":"","autosaved":false},"tags":[{"updatedAt":"2026-01-10T13:51:54.987Z","createdAt":"2026-01-10T13:51:54.987Z","id":"5YDum4WlQrJChs4q","name":"rotinas administrativas"},{"updatedAt":"2025-11-16T22:16:21.441Z","createdAt":"2025-11-16T22:16:21.441Z","id":"mVpu2CtzXTHTzLu8","name":"Rodando"},{"updatedAt":"2025-11-16T22:16:21.411Z","createdAt":"2025-11-16T22:16:21.411Z","id":"f80tkIbnpYWtgx9P","name":"Meus"}]}