Workflows/jN6TQ-kw4xRxwuh9r7FWE.json
{"updatedAt":"2026-01-10T17:35:31.992Z","createdAt":"2026-01-10T13:52:17.808Z","id":"jN6TQ-kw4xRxwuh9r7FWE","name":"[ADM] Backup Fluxos e Credenciais","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2048,-416],"id":"74e8e580-e2c9-42a4-8367-f920a0e14ee9","name":"When clicking ‘Test workflow’"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"torresnet"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/torresnet/n8n-backups"},"filePath":"=Workflows/{{ $json.id }}.json","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1648,-416],"id":"6f986460-ea4e-49b3-b35e-079a43755e5e","name":"Pega arquivo","webhookId":"103881df-465e-4792-9ea9-293d6d2463d0","alwaysOutputData":true,"credentials":{"githubApi":{"id":"K2xAk753m04MGoCP","name":"GitHub [torresnet]"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"jN6TQ-kw4xRxwuh9r7FWE","mode":"list","cachedResultName":"[ADM] Backup Fluxos e Credenciais (#jN6TQ-kw4xRxwuh9r7FWE)"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1856,-416],"id":"2f580c4d-9586-4665-9c6e-93222426cf54","name":"Pega workflows","credentials":{"n8nApi":{"id":"d0TYnoKqO76TKegP","name":"n8n [Interno]"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Pega arquivo').item.json[\"error\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"4327981d-dc81-47bc-ac80-5570d61a71a8"}],"combinator":"and"},"renameOutput":true,"outputKey":"Criar backup"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"64ac9b15-ddd0-46ca-921e-9798115bcfee","leftValue":"={{ $json.data.updatedAt }}","rightValue":"={{ $('Pega workflows').item.json.updatedAt }}","operator":{"type":"dateTime","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Atualizar backup"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-1008,-432],"id":"bbecb002-58c6-4e48-bdb3-4222595f4033","name":"Rotas"},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"torresnet"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/torresnet/n8n-backups"},"filePath":"=Workflows/{{ $('Pega workflows').item.json.id }}.json","fileContent":"={{ JSON.stringify($('Pega workflows').item.json) }}","commitMessage":"={{ $('Pega workflows').item.json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-560,-608],"id":"1c8b7533-7736-4f96-9c3b-c3e8dc174088","name":"Cria backup","webhookId":"103881df-465e-4792-9ea9-293d6d2463d0","alwaysOutputData":true,"credentials":{"githubApi":{"id":"K2xAk753m04MGoCP","name":"GitHub [torresnet]"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1024,-208],"id":"faa369dd-bafd-4c3c-906b-e612316a0d10","name":"Fim"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"torresnet"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/torresnet/n8n-backups"},"filePath":"=Workflows/{{ $('Pega workflows').item.json.id }}.json","fileContent":"={{ JSON.stringify($('Pega workflows').item.json) }}","commitMessage":"={{ $('Pega workflows').item.json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-560,-416],"id":"20eefcea-93e2-4be6-ba27-71f7b62e9c72","name":"Atualiza backup","webhookId":"103881df-465e-4792-9ea9-293d6d2463d0","alwaysOutputData":true,"credentials":{"githubApi":{"id":"K2xAk753m04MGoCP","name":"GitHub [torresnet]"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cf6b3f3e-c177-471d-a109-0e6221ea3c88","leftValue":"={{ $json.data.updatedAt }}","rightValue":"={{ $('Pega workflows').item.json.updatedAt }}","operator":{"type":"dateTime","operation":"notEquals"}},{"id":"ea6c7d5f-8f33-44f1-89e3-b00f22225b6e","leftValue":"={{ $node[\"Extract from File\"].json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1280,-416],"id":"aa040d8f-527e-49cc-a862-4aa624f45aff","name":"Atualiza backup?"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-1472,-416],"id":"1f23bd24-7078-4446-8e0b-5a6c818f38ec","name":"Extract from File","alwaysOutputData":true}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Pega workflows","type":"main","index":0}]]},"Pega arquivo":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Pega workflows":{"main":[[{"node":"Pega arquivo","type":"main","index":0}]]},"Rotas":{"main":[[{"node":"Cria backup","type":"main","index":0}],[{"node":"Atualiza backup","type":"main","index":0}]]},"Atualiza backup?":{"main":[[{"node":"Rotas","type":"main","index":0}],[{"node":"Fim","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Atualiza backup?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"448136f1-ff24-4ed0-a2f5-1912376ed20e","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-10T13:52:17.808Z","createdAt":"2026-01-10T13:52:17.808Z","role":"workflow:owner","workflowId":"jN6TQ-kw4xRxwuh9r7FWE","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":null,"tags":[{"updatedAt":"2026-01-10T13:51:54.987Z","createdAt":"2026-01-10T13:51:54.987Z","id":"5YDum4WlQrJChs4q","name":"rotinas administrativas"},{"updatedAt":"2025-11-16T22:16:21.441Z","createdAt":"2025-11-16T22:16:21.441Z","id":"mVpu2CtzXTHTzLu8","name":"Rodando"},{"updatedAt":"2025-11-16T22:16:21.411Z","createdAt":"2025-11-16T22:16:21.411Z","id":"f80tkIbnpYWtgx9P","name":"Meus"}]}