Workflows/jN6TQ-kw4xRxwuh9r7FWE.json
{"updatedAt":"2026-01-10T16:58:39.535Z","createdAt":"2026-01-10T13:52:17.808Z","id":"jN6TQ-kw4xRxwuh9r7FWE","name":"[ADM] Backup Fluxos e Credenciais","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2048,-416],"id":"74e8e580-e2c9-42a4-8367-f920a0e14ee9","name":"When clicking ‘Test workflow’"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"torresnet"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/torresnet/n8n-backups"},"filePath":"=Workflows/{{ $json.id }}.json","binaryPropertyName":"json","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1648,-416],"id":"6f986460-ea4e-49b3-b35e-079a43755e5e","name":"Pega arquivo","webhookId":"103881df-465e-4792-9ea9-293d6d2463d0","alwaysOutputData":true,"credentials":{"githubApi":{"id":"K2xAk753m04MGoCP","name":"GitHub [torresnet]"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"jN6TQ-kw4xRxwuh9r7FWE","mode":"list","cachedResultName":"[ADM] Backup Fluxos e Credenciais (#jN6TQ-kw4xRxwuh9r7FWE)"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1856,-416],"id":"2f580c4d-9586-4665-9c6e-93222426cf54","name":"Pega workflows","credentials":{"n8nApi":{"id":"d0TYnoKqO76TKegP","name":"n8n [Interno]"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json[\"error\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"4327981d-dc81-47bc-ac80-5570d61a71a8"}],"combinator":"and"},"renameOutput":true,"outputKey":"Criar backup"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"64ac9b15-ddd0-46ca-921e-9798115bcfee","leftValue":"={{ $node[\"Pega workflows\"].json[\"updatedAt\"] }}","rightValue":"={{ $json.updatedAt }}","operator":{"type":"dateTime","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Atualizar backup"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-1008,-432],"id":"bbecb002-58c6-4e48-bdb3-4222595f4033","name":"Rotas"},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"torresnet"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/torresnet/n8n-backups"},"filePath":"=Workflows/{{ $('Pega workflows').item.json.id }}.json","fileContent":"={{ JSON.stringify($('Pega workflows').item.json) }}","commitMessage":"={{ $('Pega workflows').item.json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-560,-608],"id":"1c8b7533-7736-4f96-9c3b-c3e8dc174088","name":"Cria backup","webhookId":"103881df-465e-4792-9ea9-293d6d2463d0","alwaysOutputData":true,"credentials":{"githubApi":{"id":"K2xAk753m04MGoCP","name":"GitHub [torresnet]"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1008,-208],"id":"faa369dd-bafd-4c3c-906b-e612316a0d10","name":"Fim"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"torresnet"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/torresnet/n8n-backups"},"filePath":"=Workflows/{{ $('Pega workflows').item.json.id }}.json","fileContent":"={{ JSON.stringify($('Pega workflows').item.json) }}","commitMessage":"={{ $('Pega workflows').item.json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-560,-416],"id":"20eefcea-93e2-4be6-ba27-71f7b62e9c72","name":"Atualiza backup","webhookId":"103881df-465e-4792-9ea9-293d6d2463d0","alwaysOutputData":true,"credentials":{"githubApi":{"id":"K2xAk753m04MGoCP","name":"GitHub [torresnet]"}},"onError":"continueRegularOutput"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Pega workflows","type":"main","index":0}]]},"Pega arquivo":{"main":[[{"node":"Rotas","type":"main","index":0}]]},"Pega workflows":{"main":[[{"node":"Pega arquivo","type":"main","index":0}]]},"Rotas":{"main":[[{"node":"Cria backup","type":"main","index":0}],[{"node":"Atualiza backup","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4bfc87cb-b5ac-4a5c-8fa4-fb7168ebc778","activeVersionId":null,"versionCounter":17,"triggerCount":0,"shared":[{"updatedAt":"2026-01-10T13:52:17.808Z","createdAt":"2026-01-10T13:52:17.808Z","role":"workflow:owner","workflowId":"jN6TQ-kw4xRxwuh9r7FWE","projectId":"Cf0rhzAQivp560yX","project":{"updatedAt":"2025-11-16T14:36:59.049Z","createdAt":"2025-11-16T14:22:12.584Z","id":"Cf0rhzAQivp560yX","name":"Alessadro Torres <suporte@alessandrotorres.com.br>","type":"personal","icon":null,"description":null,"creatorId":"7350e018-56bf-4dc5-9ef4-b231b7b8c1c3","projectRelations":[{"updatedAt":"2025-11-16T14:22:12.584Z","createdAt":"2025-11-16T14:22:12.584Z","userId":"7350e018-56bf-4dc5-9ef4-b231b7b8c1c3","projectId":"Cf0rhzAQivp560yX","user":{"updatedAt":"2026-01-10T10:52:39.997Z","createdAt":"2025-11-16T14:22:11.051Z","id":"7350e018-56bf-4dc5-9ef4-b231b7b8c1c3","email":"suporte@alessandrotorres.com.br","firstName":"Alessadro","lastName":"Torres","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-16T14:37:02.467Z","personalization_survey_n8n_version":"1.119.2"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"gDKq88dnaCHNO7B2","userActivatedAt":1763390277102,"npsSurvey":{"responded":true,"lastShownAt":1763660154267}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-10","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-10T13:51:54.987Z","createdAt":"2026-01-10T13:51:54.987Z","id":"5YDum4WlQrJChs4q","name":"rotinas administrativas"},{"updatedAt":"2025-11-16T22:16:21.441Z","createdAt":"2025-11-16T22:16:21.441Z","id":"mVpu2CtzXTHTzLu8","name":"Rodando"},{"updatedAt":"2025-11-16T22:16:21.411Z","createdAt":"2025-11-16T22:16:21.411Z","id":"f80tkIbnpYWtgx9P","name":"Meus"}],"activeVersion":null}