Workflows/l-9Wuxa4BtZBe84KpCEVe.json
{"updatedAt":"2026-01-23T15:13:36.440Z","createdAt":"2026-01-14T15:49:44.456Z","id":"l-9Wuxa4BtZBe84KpCEVe","name":"[ TERRA ] 2 / 3 - Monitoramento Spotify + YouTube - OTIMIZADO (Sem Rate Limit)","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5],"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[4608,720],"id":"7d3dce07-80d6-4627-bb91-cacac337905f","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"b0d2006d-0464-4658-8fee-c4913f2bbc5a","name":"v_id_planilha","value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","type":"string"},{"id":"838f0fc2-3408-4398-8672-298d054a2601","name":"v_instancia_evolution","value":"Rich","type":"string"},{"id":"01d58034-4c4c-4799-939d-d2bae371e50a","name":"v_numero_para_enviar_alerta","value":"5562992445646","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4816,720],"id":"022902be-99bd-4b40-8e7a-f331bb043177","name":"Parametros"},{"parameters":{"documentId":{"__rl":true,"value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","mode":"id"},"sheetName":{"__rl":true,"value":8523260,"mode":"list","cachedResultName":"Monitorando","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=8523260"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[5024,608],"id":"eaf56585-d1a6-48bb-93bd-a388732af2a4","name":"Carrega Planilha Monitorando","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"documentId":{"__rl":true,"value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","mode":"id"},"sheetName":{"__rl":true,"value":915258316,"mode":"list","cachedResultName":"Links encontrados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=915258316"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[5024,848],"id":"6dafee67-0052-4d89-a342-1802f42a19a2","name":"Carrega Planilha Links Encontrados","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[5232,720],"id":"a531a988-b877-4c15-829c-704fbcd58537","name":"Aguarda Ambas Planilhas"},{"parameters":{"jsCode":"// ========================================================\n// PREPARA CACHE - Combina URLs de ambas planilhas\n// ========================================================\n// Recebe os dados já combinados do Merge\n\nconst todosOsDados = $input.all();\n\n// Extrai todas as URLs existentes\nconst urlsExistentes = [];\n\nfor (const item of todosOsDados) {\n  const url = item.json['URL Spotify'];\n  if (url) urlsExistentes.push(url.trim());\n}\n\n// Retorna array de URLs como JSON string para passar ao sub-workflow\nreturn [{\n  json: {\n    urlsExistentesCache: JSON.stringify(urlsExistentes),\n    totalUrlsCache: urlsExistentes.length\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5456,720],"id":"97d54711-a578-48db-8ff4-fed6bbf2c6f1","name":"Prepara Cache de URLs"},{"parameters":{"documentId":{"__rl":true,"value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","mode":"id"},"sheetName":{"__rl":true,"value":1283597464,"mode":"list","cachedResultName":"Musica para monitorar","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=1283597464"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[5664,720],"id":"850626f8-5e49-4f40-946d-ce3c17c93ae1","name":"Carrega Músicas para Monitorar","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5872,720],"id":"0f78e1b0-06b7-4326-8ced-879515a37b3c","name":"Loop Over Items"},{"parameters":{"resource":"track","operation":"search","query":"=\"{{ $item(\"0\").$node[\"Loop Over Items\"].json[\"Nome da Música\"] }}\"","returnAll":true,"filters":{}},"type":"n8n-nodes-base.spotify","typeVersion":1,"position":[6128,784],"id":"cb038082-585c-4dfb-992f-d5ebfde7630c","name":"Procura música Spotify","credentials":{"spotifyOAuth2Api":{"id":"JwkIB1F2cpDaCBxK","name":"Spotify account"}}},{"parameters":{"jsCode":"// Função para remover acentos e deixar minúsculo\nconst normalize = (str) => {\n  if (!str) return \"\";\n  return str\n    .toString()\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\") // Remove acentos\n    .trim();\n};\n\n// Pega o termo de busca e normaliza\nconst rawSearchTerm = $item(\"0\").$node[\"Loop Over Items\"].json[\"Nome da Música\"];\nconst searchTerm = normalize(rawSearchTerm);\n\n// Obtém o valor fixo do campo \"Artista\"\nconst artistaFixo = $item(0).$node[\"Loop Over Items\"].json[\"Artista\"];\n\nconst results = items\n  .filter(item => {\n    const trackName = normalize(item.json.name);\n    const albumName = normalize(item.json.album?.name);\n    return trackName.includes(searchTerm) || albumName.includes(searchTerm);\n  })\n  .map(item => {\n    const trackArtist = item.json.artists?.[0]?.name;\n    const albumArtist = item.json.album?.artists?.[0]?.name;\n    const finalArtist = trackArtist || albumArtist || \"Desconhecido\";\n\n    return {\n      json: {\n        \"Artista\": artistaFixo,\n        \"Nome da Música\": item.json.name,\n        \"Quem Gravou\": finalArtist,\n        \"Link da Música\": item.json.external_urls?.spotify || \"Não disponível\",\n        \"Plataforma\": \"Spotify\"\n      }\n    };\n  });\n\nreturn results.length > 0\n  ? results\n  : [{ json: { aviso: \"Nenhum dado retornado\", \"Artista\": artistaFixo } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6336,784],"id":"2716dfe1-99cb-46f6-b68b-645ca09bf028","name":"Filtro Spotify"},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/search","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"q","value":"=\"{{ $item(\"0\").$node[\"Loop Over Items\"].json[\"Nome da Música\"] }}\" {{ $item(\"0\").$node[\"Loop Over Items\"].json[\"Artista\"] }}"},{"name":"type","value":"video"},{"name":"maxResults","value":"50"}]},"options":{}},"id":"ae5ccb29-a885-4ad4-bc0b-576d892190fd","name":"YouTube - Página 1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6128,992],"credentials":{"httpQueryAuth":{"id":"kB9zP6hbdGBZGA0E","name":"Query Auth [André e Andrade]"}}},{"parameters":{"jsCode":"// Extrai vídeos da página 1 e prepara página 2\nconst response = $input.first().json;\nconst items = response.items || [];\nconst nextPageToken = response.nextPageToken || '';\nconst loopData = $item(\"0\").$node[\"Loop Over Items\"].json;\nconst query = loopData[\"Nome da Música\"];\nconst artista = loopData[\"Artista\"];\n\n// Formata vídeos da página 1\nconst videosPagina1 = items.map(item => ({\n  titulo: item.snippet?.title || 'Sem título',\n  canal: item.snippet?.channelTitle || 'Canal desconhecido',\n  videoId: item.id?.videoId\n}));\n\nreturn [{\n  json: {\n    query: query,\n    artista: artista,\n    pageToken: nextPageToken,\n    pagina: 2,\n    videosPagina1: videosPagina1\n  }\n}];"},"id":"b6e901a5-679f-4497-9104-2b1dafa3f563","name":"Processar YouTube Página 1","type":"n8n-nodes-base.code","typeVersion":2,"position":[6336,992]},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/search","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"q","value":"=\"{{ $json.query }}\" {{ $json.artista }}"},{"name":"type","value":"video"},{"name":"maxResults","value":"50"},{"name":"pageToken","value":"={{ $json.pageToken }}"}]},"options":{}},"id":"40ea368c-8183-4165-a6a1-4220ed60a2af","name":"YouTube - Página 2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6544,992],"credentials":{"httpQueryAuth":{"id":"kB9zP6hbdGBZGA0E","name":"Query Auth [André e Andrade]"}}},{"parameters":{"jsCode":"// Combina resultados das duas páginas do YouTube\nconst response = $input.first().json;\nconst pagina1Data = $('Processar YouTube Página 1').first().json;\nconst items = response.items || [];\nconst artista = pagina1Data.artista;\nconst nomeMusica = pagina1Data.query;\n\n// Formata vídeos da página 2\nconst videosPagina2 = items.map(item => ({\n  titulo: item.snippet?.title || 'Sem título',\n  canal: item.snippet?.channelTitle || 'Canal desconhecido',\n  videoId: item.id?.videoId\n}));\n\n// Combina todas as páginas\nconst todosVideos = [...pagina1Data.videosPagina1, ...videosPagina2];\n\n// Retorna cada vídeo formatado para a planilha\nconst resultados = todosVideos.map(v => ({\n  json: {\n    \"Artista\": artista,\n    \"Nome da Música\": v.titulo,\n    \"Quem Gravou\": v.canal,\n    \"Link da Música\": `https://www.youtube.com/watch?v=${v.videoId}`,\n    \"Plataforma\": \"YouTube\"\n  }\n}));\n\nreturn resultados.length > 0 ? resultados : [{ json: { aviso: \"Nenhum vídeo encontrado no YouTube\", \"Artista\": artista } }];"},"id":"9fcdb74b-d878-4a09-8a3b-99942b00319d","name":"Filtro YouTube","type":"n8n-nodes-base.code","typeVersion":2,"position":[6752,992]},{"parameters":{},"id":"4ea59879-d18c-4526-9ea7-0d3915345f41","name":"Merge Spotify + YouTube","type":"n8n-nodes-base.merge","typeVersion":3,"position":[6960,928]},{"parameters":{"jsCode":"// ========================================================\n// ADICIONA CACHE AOS RESULTADOS\n// ========================================================\n// Adiciona o cache de URLs aos resultados para enviar ao sub-workflow\n\nconst resultados = $input.all();\nconst cacheData = $('Prepara Cache de URLs').first().json;\n\n// Adiciona o cache a cada item\nreturn resultados.map(item => ({\n  json: {\n    ...item.json,\n    _urlsExistentesCache: cacheData.urlsExistentesCache\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7168,928],"id":"a8a2dd63-64ea-4842-b799-5ce0d35c98e5","name":"Adiciona Cache aos Resultados"},{"parameters":{"workflowId":{"__rl":true,"value":"B2sFlaGEqSEyB0A_8KqTy","mode":"id","cachedResultUrl":"/workflow/B2sFlaGEqSEyB0A_8KqTy"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[7408,1024],"id":"5800e6e2-59e6-4e5a-b6db-6b35983b5fd2","name":"Enviar para Processamento","alwaysOutputData":true},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Parametros').first().json[\"v_instancia_evolution\"] }}","remoteJid":"={{ $('Parametros').first().json[\"v_numero_para_enviar_alerta\"] }}","messageText":"=Tem músicas para você verificar\n\nhttps://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit?gid=915258316#gid=915258316","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6128,592],"id":"5b5fc994-ce5a-4701-b8d5-ba4d0d7bc10a","name":"Enviar texto","credentials":{"evolutionApi":{"id":"gqMlUQxrxPNWPCn1","name":"Evolution - Hetzner Scala Server-1"}}},{"parameters":{"content":"## 🚀 VERSÃO OTIMIZADA - SEM RATE LIMIT\n\n### O que mudou:\n1. **Planilhas carregadas UMA vez** antes do loop\n2. **Merge** aguarda ambas planilhas\n3. **Cache de URLs** passado ao sub-workflow\n4. **Sub-workflow NÃO lê** Google Sheets\n\n### Resultado:\n- ✅ Apenas 3 leituras no total (não N×2)\n- ✅ Sem erro 429\n- ✅ Execução muito mais rápida","height":400,"width":444},"type":"n8n-nodes-base.stickyNote","position":[4528,256],"typeVersion":1,"id":"6ad824fb-74a4-404b-8c76-dff9daa7b613","name":"Sticky Note"},{"parameters":{"content":"## 💾 CACHE\n\nAguarda AMBAS planilhas\nvia Merge antes de\npreparar o cache","height":460,"width":200},"type":"n8n-nodes-base.stickyNote","position":[5408,448],"typeVersion":1,"id":"24c5399e-b9d2-4205-882a-d229357107c6","name":"Sobre Cache"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[4608,880],"id":"a9efb4b9-f771-449a-89ba-4afe17e2f379","name":"When clicking 'Execute workflow'"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Parametros","type":"main","index":0}]]},"Parametros":{"main":[[{"node":"Carrega Planilha Monitorando","type":"main","index":0},{"node":"Carrega Planilha Links Encontrados","type":"main","index":0}]]},"Carrega Planilha Monitorando":{"main":[[{"node":"Aguarda Ambas Planilhas","type":"main","index":0}]]},"Carrega Planilha Links Encontrados":{"main":[[{"node":"Aguarda Ambas Planilhas","type":"main","index":1}]]},"Aguarda Ambas Planilhas":{"main":[[{"node":"Prepara Cache de URLs","type":"main","index":0}]]},"Prepara Cache de URLs":{"main":[[{"node":"Carrega Músicas para Monitorar","type":"main","index":0}]]},"Carrega Músicas para Monitorar":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[{"node":"Procura música Spotify","type":"main","index":0},{"node":"YouTube - Página 1","type":"main","index":0}]]},"Procura música Spotify":{"main":[[{"node":"Filtro Spotify","type":"main","index":0}]]},"Filtro Spotify":{"main":[[{"node":"Merge Spotify + YouTube","type":"main","index":0}]]},"YouTube - Página 1":{"main":[[{"node":"Processar YouTube Página 1","type":"main","index":0}]]},"Processar YouTube Página 1":{"main":[[{"node":"YouTube - Página 2","type":"main","index":0}]]},"YouTube - Página 2":{"main":[[{"node":"Filtro YouTube","type":"main","index":0}]]},"Filtro YouTube":{"main":[[{"node":"Merge Spotify + YouTube","type":"main","index":1}]]},"Merge Spotify + YouTube":{"main":[[{"node":"Adiciona Cache aos Resultados","type":"main","index":0}]]},"Adiciona Cache aos Resultados":{"main":[[{"node":"Enviar para Processamento","type":"main","index":0}]]},"Enviar para Processamento":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking 'Execute workflow'":{"main":[[{"node":"Parametros","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"39ec2769-cebc-4105-a84b-d1c330dcd9da","activeVersionId":"39ec2769-cebc-4105-a84b-d1c330dcd9da","triggerCount":1,"shared":[{"updatedAt":"2026-01-14T15:49:44.456Z","createdAt":"2026-01-14T15:49:44.456Z","role":"workflow:owner","workflowId":"l-9Wuxa4BtZBe84KpCEVe","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":{"updatedAt":"2026-01-23T15:13:39.373Z","createdAt":"2026-01-23T15:13:36.444Z","versionId":"39ec2769-cebc-4105-a84b-d1c330dcd9da","workflowId":"l-9Wuxa4BtZBe84KpCEVe","nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5],"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[4608,720],"id":"7d3dce07-80d6-4627-bb91-cacac337905f","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"b0d2006d-0464-4658-8fee-c4913f2bbc5a","name":"v_id_planilha","value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","type":"string"},{"id":"838f0fc2-3408-4398-8672-298d054a2601","name":"v_instancia_evolution","value":"Rich","type":"string"},{"id":"01d58034-4c4c-4799-939d-d2bae371e50a","name":"v_numero_para_enviar_alerta","value":"5562992445646","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4816,720],"id":"022902be-99bd-4b40-8e7a-f331bb043177","name":"Parametros"},{"parameters":{"documentId":{"__rl":true,"value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","mode":"id"},"sheetName":{"__rl":true,"value":8523260,"mode":"list","cachedResultName":"Monitorando","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=8523260"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[5024,608],"id":"eaf56585-d1a6-48bb-93bd-a388732af2a4","name":"Carrega Planilha Monitorando","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"documentId":{"__rl":true,"value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","mode":"id"},"sheetName":{"__rl":true,"value":915258316,"mode":"list","cachedResultName":"Links encontrados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=915258316"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[5024,848],"id":"6dafee67-0052-4d89-a342-1802f42a19a2","name":"Carrega Planilha Links Encontrados","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[5232,720],"id":"a531a988-b877-4c15-829c-704fbcd58537","name":"Aguarda Ambas Planilhas"},{"parameters":{"jsCode":"// ========================================================\n// PREPARA CACHE - Combina URLs de ambas planilhas\n// ========================================================\n// Recebe os dados já combinados do Merge\n\nconst todosOsDados = $input.all();\n\n// Extrai todas as URLs existentes\nconst urlsExistentes = [];\n\nfor (const item of todosOsDados) {\n  const url = item.json['URL Spotify'];\n  if (url) urlsExistentes.push(url.trim());\n}\n\n// Retorna array de URLs como JSON string para passar ao sub-workflow\nreturn [{\n  json: {\n    urlsExistentesCache: JSON.stringify(urlsExistentes),\n    totalUrlsCache: urlsExistentes.length\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5456,720],"id":"97d54711-a578-48db-8ff4-fed6bbf2c6f1","name":"Prepara Cache de URLs"},{"parameters":{"documentId":{"__rl":true,"value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","mode":"id"},"sheetName":{"__rl":true,"value":1283597464,"mode":"list","cachedResultName":"Musica para monitorar","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=1283597464"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[5664,720],"id":"850626f8-5e49-4f40-946d-ce3c17c93ae1","name":"Carrega Músicas para Monitorar","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5872,720],"id":"0f78e1b0-06b7-4326-8ced-879515a37b3c","name":"Loop Over Items"},{"parameters":{"resource":"track","operation":"search","query":"=\"{{ $item(\"0\").$node[\"Loop Over Items\"].json[\"Nome da Música\"] }}\"","returnAll":true,"filters":{}},"type":"n8n-nodes-base.spotify","typeVersion":1,"position":[6128,784],"id":"cb038082-585c-4dfb-992f-d5ebfde7630c","name":"Procura música Spotify","credentials":{"spotifyOAuth2Api":{"id":"JwkIB1F2cpDaCBxK","name":"Spotify account"}}},{"parameters":{"jsCode":"// Função para remover acentos e deixar minúsculo\nconst normalize = (str) => {\n  if (!str) return \"\";\n  return str\n    .toString()\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\") // Remove acentos\n    .trim();\n};\n\n// Pega o termo de busca e normaliza\nconst rawSearchTerm = $item(\"0\").$node[\"Loop Over Items\"].json[\"Nome da Música\"];\nconst searchTerm = normalize(rawSearchTerm);\n\n// Obtém o valor fixo do campo \"Artista\"\nconst artistaFixo = $item(0).$node[\"Loop Over Items\"].json[\"Artista\"];\n\nconst results = items\n  .filter(item => {\n    const trackName = normalize(item.json.name);\n    const albumName = normalize(item.json.album?.name);\n    return trackName.includes(searchTerm) || albumName.includes(searchTerm);\n  })\n  .map(item => {\n    const trackArtist = item.json.artists?.[0]?.name;\n    const albumArtist = item.json.album?.artists?.[0]?.name;\n    const finalArtist = trackArtist || albumArtist || \"Desconhecido\";\n\n    return {\n      json: {\n        \"Artista\": artistaFixo,\n        \"Nome da Música\": item.json.name,\n        \"Quem Gravou\": finalArtist,\n        \"Link da Música\": item.json.external_urls?.spotify || \"Não disponível\",\n        \"Plataforma\": \"Spotify\"\n      }\n    };\n  });\n\nreturn results.length > 0\n  ? results\n  : [{ json: { aviso: \"Nenhum dado retornado\", \"Artista\": artistaFixo } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6336,784],"id":"2716dfe1-99cb-46f6-b68b-645ca09bf028","name":"Filtro Spotify"},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/search","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"q","value":"=\"{{ $item(\"0\").$node[\"Loop Over Items\"].json[\"Nome da Música\"] }}\" {{ $item(\"0\").$node[\"Loop Over Items\"].json[\"Artista\"] }}"},{"name":"type","value":"video"},{"name":"maxResults","value":"50"}]},"options":{}},"id":"ae5ccb29-a885-4ad4-bc0b-576d892190fd","name":"YouTube - Página 1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6128,992],"credentials":{"httpQueryAuth":{"id":"kB9zP6hbdGBZGA0E","name":"Query Auth [André e Andrade]"}}},{"parameters":{"jsCode":"// Extrai vídeos da página 1 e prepara página 2\nconst response = $input.first().json;\nconst items = response.items || [];\nconst nextPageToken = response.nextPageToken || '';\nconst loopData = $item(\"0\").$node[\"Loop Over Items\"].json;\nconst query = loopData[\"Nome da Música\"];\nconst artista = loopData[\"Artista\"];\n\n// Formata vídeos da página 1\nconst videosPagina1 = items.map(item => ({\n  titulo: item.snippet?.title || 'Sem título',\n  canal: item.snippet?.channelTitle || 'Canal desconhecido',\n  videoId: item.id?.videoId\n}));\n\nreturn [{\n  json: {\n    query: query,\n    artista: artista,\n    pageToken: nextPageToken,\n    pagina: 2,\n    videosPagina1: videosPagina1\n  }\n}];"},"id":"b6e901a5-679f-4497-9104-2b1dafa3f563","name":"Processar YouTube Página 1","type":"n8n-nodes-base.code","typeVersion":2,"position":[6336,992]},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/search","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"q","value":"=\"{{ $json.query }}\" {{ $json.artista }}"},{"name":"type","value":"video"},{"name":"maxResults","value":"50"},{"name":"pageToken","value":"={{ $json.pageToken }}"}]},"options":{}},"id":"40ea368c-8183-4165-a6a1-4220ed60a2af","name":"YouTube - Página 2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6544,992],"credentials":{"httpQueryAuth":{"id":"kB9zP6hbdGBZGA0E","name":"Query Auth [André e Andrade]"}}},{"parameters":{"jsCode":"// Combina resultados das duas páginas do YouTube\nconst response = $input.first().json;\nconst pagina1Data = $('Processar YouTube Página 1').first().json;\nconst items = response.items || [];\nconst artista = pagina1Data.artista;\nconst nomeMusica = pagina1Data.query;\n\n// Formata vídeos da página 2\nconst videosPagina2 = items.map(item => ({\n  titulo: item.snippet?.title || 'Sem título',\n  canal: item.snippet?.channelTitle || 'Canal desconhecido',\n  videoId: item.id?.videoId\n}));\n\n// Combina todas as páginas\nconst todosVideos = [...pagina1Data.videosPagina1, ...videosPagina2];\n\n// Retorna cada vídeo formatado para a planilha\nconst resultados = todosVideos.map(v => ({\n  json: {\n    \"Artista\": artista,\n    \"Nome da Música\": v.titulo,\n    \"Quem Gravou\": v.canal,\n    \"Link da Música\": `https://www.youtube.com/watch?v=${v.videoId}`,\n    \"Plataforma\": \"YouTube\"\n  }\n}));\n\nreturn resultados.length > 0 ? resultados : [{ json: { aviso: \"Nenhum vídeo encontrado no YouTube\", \"Artista\": artista } }];"},"id":"9fcdb74b-d878-4a09-8a3b-99942b00319d","name":"Filtro YouTube","type":"n8n-nodes-base.code","typeVersion":2,"position":[6752,992]},{"parameters":{},"id":"4ea59879-d18c-4526-9ea7-0d3915345f41","name":"Merge Spotify + YouTube","type":"n8n-nodes-base.merge","typeVersion":3,"position":[6960,928]},{"parameters":{"jsCode":"// ========================================================\n// ADICIONA CACHE AOS RESULTADOS\n// ========================================================\n// Adiciona o cache de URLs aos resultados para enviar ao sub-workflow\n\nconst resultados = $input.all();\nconst cacheData = $('Prepara Cache de URLs').first().json;\n\n// Adiciona o cache a cada item\nreturn resultados.map(item => ({\n  json: {\n    ...item.json,\n    _urlsExistentesCache: cacheData.urlsExistentesCache\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7168,928],"id":"a8a2dd63-64ea-4842-b799-5ce0d35c98e5","name":"Adiciona Cache aos Resultados"},{"parameters":{"workflowId":{"__rl":true,"value":"B2sFlaGEqSEyB0A_8KqTy","mode":"id","cachedResultUrl":"/workflow/B2sFlaGEqSEyB0A_8KqTy"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[7408,1024],"id":"5800e6e2-59e6-4e5a-b6db-6b35983b5fd2","name":"Enviar para Processamento","alwaysOutputData":true},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Parametros').first().json[\"v_instancia_evolution\"] }}","remoteJid":"={{ $('Parametros').first().json[\"v_numero_para_enviar_alerta\"] }}","messageText":"=Tem músicas para você verificar\n\nhttps://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit?gid=915258316#gid=915258316","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6128,592],"id":"5b5fc994-ce5a-4701-b8d5-ba4d0d7bc10a","name":"Enviar texto","credentials":{"evolutionApi":{"id":"gqMlUQxrxPNWPCn1","name":"Evolution - Hetzner Scala Server-1"}}},{"parameters":{"content":"## 🚀 VERSÃO OTIMIZADA - SEM RATE LIMIT\n\n### O que mudou:\n1. **Planilhas carregadas UMA vez** antes do loop\n2. **Merge** aguarda ambas planilhas\n3. **Cache de URLs** passado ao sub-workflow\n4. **Sub-workflow NÃO lê** Google Sheets\n\n### Resultado:\n- ✅ Apenas 3 leituras no total (não N×2)\n- ✅ Sem erro 429\n- ✅ Execução muito mais rápida","height":400,"width":444},"type":"n8n-nodes-base.stickyNote","position":[4528,256],"typeVersion":1,"id":"6ad824fb-74a4-404b-8c76-dff9daa7b613","name":"Sticky Note"},{"parameters":{"content":"## 💾 CACHE\n\nAguarda AMBAS planilhas\nvia Merge antes de\npreparar o cache","height":460,"width":200},"type":"n8n-nodes-base.stickyNote","position":[5408,448],"typeVersion":1,"id":"24c5399e-b9d2-4205-882a-d229357107c6","name":"Sobre Cache"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[4608,880],"id":"a9efb4b9-f771-449a-89ba-4afe17e2f379","name":"When clicking 'Execute workflow'"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Parametros","type":"main","index":0}]]},"Parametros":{"main":[[{"node":"Carrega Planilha Monitorando","type":"main","index":0},{"node":"Carrega Planilha Links Encontrados","type":"main","index":0}]]},"Carrega Planilha Monitorando":{"main":[[{"node":"Aguarda Ambas Planilhas","type":"main","index":0}]]},"Carrega Planilha Links Encontrados":{"main":[[{"node":"Aguarda Ambas Planilhas","type":"main","index":1}]]},"Aguarda Ambas Planilhas":{"main":[[{"node":"Prepara Cache de URLs","type":"main","index":0}]]},"Prepara Cache de URLs":{"main":[[{"node":"Carrega Músicas para Monitorar","type":"main","index":0}]]},"Carrega Músicas para Monitorar":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[{"node":"Procura música Spotify","type":"main","index":0},{"node":"YouTube - Página 1","type":"main","index":0}]]},"Procura música Spotify":{"main":[[{"node":"Filtro Spotify","type":"main","index":0}]]},"Filtro Spotify":{"main":[[{"node":"Merge Spotify + YouTube","type":"main","index":0}]]},"YouTube - Página 1":{"main":[[{"node":"Processar YouTube Página 1","type":"main","index":0}]]},"Processar YouTube Página 1":{"main":[[{"node":"YouTube - Página 2","type":"main","index":0}]]},"YouTube - Página 2":{"main":[[{"node":"Filtro YouTube","type":"main","index":0}]]},"Filtro YouTube":{"main":[[{"node":"Merge Spotify + YouTube","type":"main","index":1}]]},"Merge Spotify + YouTube":{"main":[[{"node":"Adiciona Cache aos Resultados","type":"main","index":0}]]},"Adiciona Cache aos Resultados":{"main":[[{"node":"Enviar para Processamento","type":"main","index":0}]]},"Enviar para Processamento":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking 'Execute workflow'":{"main":[[{"node":"Parametros","type":"main","index":0}]]}},"authors":"Alessadro Torres","name":"Version 39ec2769","description":"","autosaved":false},"tags":[]}