Workflows/l-9Wuxa4BtZBe84KpCEVe.json
{"updatedAt":"2026-01-14T16:39:54.119Z","createdAt":"2026-01-14T15:49:44.456Z","id":"l-9Wuxa4BtZBe84KpCEVe","name":"[ TERRA ] 2 / 3 - Monitoramento de Derrubada de Música - Spotify + YouTube","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5],"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[3008,464],"id":"8f0d3215-f067-42ac-bbbb-d457d1508822","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"b0d2006d-0464-4658-8fee-c4913f2bbc5a","name":"v_id_planilha","value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","type":"string"},{"id":"838f0fc2-3408-4398-8672-298d054a2601","name":"v_instancia_evolution","value":"Rich","type":"string"},{"id":"01d58034-4c4c-4799-939d-d2bae371e50a","name":"v_numero_para_enviar_alerta","value":"5562992445646","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3216,464],"id":"1eae50f2-c63a-4b9b-8077-0dcc8d6993cd","name":"Parametros"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3632,464],"id":"667f0da2-d4e5-48e3-a60f-ac011f0737c2","name":"Loop Over Items"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Parametros\"].json[\"v_id_planilha\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":1283597464,"mode":"list","cachedResultName":"Musica para monitorar","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=1283597464"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3424,464],"id":"72f4d70d-7ae4-4e0a-ae54-0b3bb4a142b2","name":"Carrega Dados","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"resource":"track","operation":"search","query":"=\"{{ $item(\"0\").$node[\"Loop Over Items\"].json[\"Nome da Música\"] }}\"","returnAll":true,"filters":{}},"type":"n8n-nodes-base.spotify","typeVersion":1,"position":[3888,560],"id":"77174226-8ca7-4cfe-9431-a6d5578c8f50","name":"Procura música Spotify","credentials":{"spotifyOAuth2Api":{"id":"JwkIB1F2cpDaCBxK","name":"Spotify account"}}},{"parameters":{"jsCode":"// Função para remover acentos e deixar minúsculo\nconst normalize = (str) => {\n  if (!str) return \"\";\n  return str\n    .toString()\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\") // Remove acentos\n    .trim();\n};\n\n// Pega o termo de busca e normaliza\nconst rawSearchTerm = $item(\"0\").$node[\"Loop Over Items\"].json[\"Nome da Música\"];\nconst searchTerm = normalize(rawSearchTerm);\n\n// Obtém o valor fixo do campo \"Artista\"\nconst artistaFixo = $item(0).$node[\"Loop Over Items\"].json[\"Artista\"];\n\nconst results = items\n  .filter(item => {\n    const trackName = normalize(item.json.name);\n    const albumName = normalize(item.json.album?.name);\n    return trackName.includes(searchTerm) || albumName.includes(searchTerm);\n  })\n  .map(item => {\n    const trackArtist = item.json.artists?.[0]?.name;\n    const albumArtist = item.json.album?.artists?.[0]?.name;\n    const finalArtist = trackArtist || albumArtist || \"Desconhecido\";\n\n    return {\n      json: {\n        \"Artista\": artistaFixo,\n        \"Nome da Música\": item.json.name,\n        \"Quem Gravou\": finalArtist,\n        \"Link da Música\": item.json.external_urls?.spotify || \"Não disponível\",\n        \"Plataforma\": \"Spotify\"\n      }\n    };\n  });\n\nreturn results.length > 0\n  ? results\n  : [{ json: { aviso: \"Nenhum dado retornado\", \"Artista\": artistaFixo } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4096,560],"id":"70bcc4e2-05f7-458b-bac1-2b527b46c18c","name":"Filtro Spotify"},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/search","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"q","value":"=\"{{ $item(\"0\").$node[\"Loop Over Items\"].json[\"Nome da Música\"] }}\" {{ $item(\"0\").$node[\"Loop Over Items\"].json[\"Artista\"] }}"},{"name":"type","value":"video"},{"name":"maxResults","value":"50"}]},"options":{}},"id":"deab7e40-26e5-4e7b-9660-01392ef3f126","name":"YouTube - Página 1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3888,768],"credentials":{"httpQueryAuth":{"id":"kB9zP6hbdGBZGA0E","name":"Query Auth [André e Andrade]"}}},{"parameters":{"jsCode":"// Extrai vídeos da página 1 e prepara página 2\nconst response = $input.first().json;\nconst items = response.items || [];\nconst nextPageToken = response.nextPageToken || '';\nconst loopData = $item(\"0\").$node[\"Loop Over Items\"].json;\nconst query = loopData[\"Nome da Música\"];\nconst artista = loopData[\"Artista\"];\n\n// Formata vídeos da página 1\nconst videosPagina1 = items.map(item => ({\n  titulo: item.snippet?.title || 'Sem título',\n  canal: item.snippet?.channelTitle || 'Canal desconhecido',\n  videoId: item.id?.videoId\n}));\n\nreturn [{\n  json: {\n    query: query,\n    artista: artista,\n    pageToken: nextPageToken,\n    pagina: 2,\n    videosPagina1: videosPagina1\n  }\n}];"},"id":"229d86e8-a568-4af5-a6f1-0b4799b284f6","name":"Processar YouTube Página 1","type":"n8n-nodes-base.code","typeVersion":2,"position":[4096,768]},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/search","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"q","value":"=\"{{ $json.query }}\" {{ $json.artista }}"},{"name":"type","value":"video"},{"name":"maxResults","value":"50"},{"name":"pageToken","value":"={{ $json.pageToken }}"}]},"options":{}},"id":"c6b03b91-26d6-4325-a268-778b2e969bed","name":"YouTube - Página 2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4304,768],"credentials":{"httpQueryAuth":{"id":"kB9zP6hbdGBZGA0E","name":"Query Auth [André e Andrade]"}}},{"parameters":{"jsCode":"// Combina resultados das duas páginas do YouTube\nconst response = $input.first().json;\nconst pagina1Data = $('Processar YouTube Página 1').first().json;\nconst items = response.items || [];\nconst artista = pagina1Data.artista;\nconst nomeMusica = pagina1Data.query;\n\n// Formata vídeos da página 2\nconst videosPagina2 = items.map(item => ({\n  titulo: item.snippet?.title || 'Sem título',\n  canal: item.snippet?.channelTitle || 'Canal desconhecido',\n  videoId: item.id?.videoId\n}));\n\n// Combina todas as páginas\nconst todosVideos = [...pagina1Data.videosPagina1, ...videosPagina2];\n\n// Retorna cada vídeo formatado para a planilha\nconst resultados = todosVideos.map(v => ({\n  json: {\n    \"Artista\": artista,\n    \"Nome da Música\": v.titulo,\n    \"Quem Gravou\": v.canal,\n    \"Link da Música\": `https://www.youtube.com/watch?v=${v.videoId}`,\n    \"Plataforma\": \"YouTube\"\n  }\n}));\n\nreturn resultados.length > 0 ? resultados : [{ json: { aviso: \"Nenhum vídeo encontrado no YouTube\", \"Artista\": artista } }];"},"id":"bb60cf80-0d17-42e8-924e-ad4f83f0b919","name":"Filtro YouTube","type":"n8n-nodes-base.code","typeVersion":2,"position":[4512,768]},{"parameters":{},"id":"26e06b37-c8b9-4944-be73-cc769803344a","name":"Merge Spotify + YouTube","type":"n8n-nodes-base.merge","typeVersion":3,"position":[4720,672]},{"parameters":{"workflowId":{"__rl":true,"value":"Vn4OEpJWaZZ12D5J","mode":"list","cachedResultUrl":"/workflow/Vn4OEpJWaZZ12D5J","cachedResultName":"[ TERRA ] 3 / 5- Monitoramento de Derrubada de Música - Encontra no Spotify e manda pra checagem"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[4928,672],"id":"d357f51c-f430-4c68-a963-f85d632a273c","name":"Enviar para Processamento"},{"parameters":{"resource":"messages-api","instanceName":"={{ $node[\"Parametros\"].json[\"v_instancia_evolution\"] }}","remoteJid":"={{ $node[\"Parametros\"].json[\"v_numero_para_enviar_alerta\"] }}","messageText":"=Tem músicas para você verificar\n\nhttps://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit?gid=915258316#gid=915258316","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3888,368],"id":"ec7f1d0f-9638-4831-a6c4-77f89a701104","name":"Enviar texto","credentials":{"evolutionApi":{"id":"gqMlUQxrxPNWPCn1","name":"Evolution - Hetzner Scala Server-1"}}},{"parameters":{"content":"## O que faz?\n\nProcura as músicas no **Spotify** e no **YouTube** e manda para o fluxo de checagem.\n\nSaída contém:\n- Artista\n- Nome da Música\n- Quem Gravou (artista/canal)\n- Link da Música\n- Plataforma (Spotify/YouTube)\n","width":400},"type":"n8n-nodes-base.stickyNote","position":[3024,240],"typeVersion":1,"id":"8ef0893f-13f9-4532-8319-ac9fdfb541c6","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[3008,624],"id":"6db897dc-30c5-4459-bc99-5b08365354d1","name":"When clicking 'Execute workflow'"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Parametros","type":"main","index":0}]]},"Parametros":{"main":[[{"node":"Carrega Dados","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[{"node":"Procura música Spotify","type":"main","index":0},{"node":"YouTube - Página 1","type":"main","index":0}]]},"Carrega Dados":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Procura música Spotify":{"main":[[{"node":"Filtro Spotify","type":"main","index":0}]]},"Filtro Spotify":{"main":[[{"node":"Merge Spotify + YouTube","type":"main","index":0}]]},"YouTube - Página 1":{"main":[[{"node":"Processar YouTube Página 1","type":"main","index":0}]]},"Processar YouTube Página 1":{"main":[[{"node":"YouTube - Página 2","type":"main","index":0}]]},"YouTube - Página 2":{"main":[[{"node":"Filtro YouTube","type":"main","index":0}]]},"Filtro YouTube":{"main":[[{"node":"Merge Spotify + YouTube","type":"main","index":1}]]},"Merge Spotify + YouTube":{"main":[[{"node":"Enviar para Processamento","type":"main","index":0}]]},"Enviar para Processamento":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking 'Execute workflow'":{"main":[[{"node":"Parametros","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"d53843d8-c799-4bd7-9673-fe5c222b5b9c","activeVersionId":"d53843d8-c799-4bd7-9673-fe5c222b5b9c","triggerCount":1,"shared":[{"updatedAt":"2026-01-14T15:49:44.456Z","createdAt":"2026-01-14T15:49:44.456Z","role":"workflow:owner","workflowId":"l-9Wuxa4BtZBe84KpCEVe","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":{"updatedAt":"2026-01-14T16:39:03.753Z","createdAt":"2026-01-14T15:53:31.433Z","versionId":"d53843d8-c799-4bd7-9673-fe5c222b5b9c","workflowId":"l-9Wuxa4BtZBe84KpCEVe","nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5],"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[3008,464],"id":"8f0d3215-f067-42ac-bbbb-d457d1508822","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"b0d2006d-0464-4658-8fee-c4913f2bbc5a","name":"v_id_planilha","value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","type":"string"},{"id":"838f0fc2-3408-4398-8672-298d054a2601","name":"v_instancia_evolution","value":"Rich","type":"string"},{"id":"01d58034-4c4c-4799-939d-d2bae371e50a","name":"v_numero_para_enviar_alerta","value":"5562992445646","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3216,464],"id":"1eae50f2-c63a-4b9b-8077-0dcc8d6993cd","name":"Parametros"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3632,464],"id":"667f0da2-d4e5-48e3-a60f-ac011f0737c2","name":"Loop Over Items"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Parametros\"].json[\"v_id_planilha\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":1283597464,"mode":"list","cachedResultName":"Musica para monitorar","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=1283597464"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3424,464],"id":"72f4d70d-7ae4-4e0a-ae54-0b3bb4a142b2","name":"Carrega Dados","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"resource":"track","operation":"search","query":"=\"{{ $item(\"0\").$node[\"Loop Over Items\"].json[\"Nome da Música\"] }}\"","returnAll":true,"filters":{}},"type":"n8n-nodes-base.spotify","typeVersion":1,"position":[3888,560],"id":"77174226-8ca7-4cfe-9431-a6d5578c8f50","name":"Procura música Spotify","credentials":{"spotifyOAuth2Api":{"id":"JwkIB1F2cpDaCBxK","name":"Spotify account"}}},{"parameters":{"jsCode":"// Função para remover acentos e deixar minúsculo\nconst normalize = (str) => {\n  if (!str) return \"\";\n  return str\n    .toString()\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\") // Remove acentos\n    .trim();\n};\n\n// Pega o termo de busca e normaliza\nconst rawSearchTerm = $item(\"0\").$node[\"Loop Over Items\"].json[\"Nome da Música\"];\nconst searchTerm = normalize(rawSearchTerm);\n\n// Obtém o valor fixo do campo \"Artista\"\nconst artistaFixo = $item(0).$node[\"Loop Over Items\"].json[\"Artista\"];\n\nconst results = items\n  .filter(item => {\n    const trackName = normalize(item.json.name);\n    const albumName = normalize(item.json.album?.name);\n    return trackName.includes(searchTerm) || albumName.includes(searchTerm);\n  })\n  .map(item => {\n    const trackArtist = item.json.artists?.[0]?.name;\n    const albumArtist = item.json.album?.artists?.[0]?.name;\n    const finalArtist = trackArtist || albumArtist || \"Desconhecido\";\n\n    return {\n      json: {\n        \"Artista\": artistaFixo,\n        \"Nome da Música\": item.json.name,\n        \"Quem Gravou\": finalArtist,\n        \"Link da Música\": item.json.external_urls?.spotify || \"Não disponível\",\n        \"Plataforma\": \"Spotify\"\n      }\n    };\n  });\n\nreturn results.length > 0\n  ? results\n  : [{ json: { aviso: \"Nenhum dado retornado\", \"Artista\": artistaFixo } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4096,560],"id":"70bcc4e2-05f7-458b-bac1-2b527b46c18c","name":"Filtro Spotify"},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/search","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"q","value":"=\"{{ $item(\"0\").$node[\"Loop Over Items\"].json[\"Nome da Música\"] }}\" {{ $item(\"0\").$node[\"Loop Over Items\"].json[\"Artista\"] }}"},{"name":"type","value":"video"},{"name":"maxResults","value":"50"}]},"options":{}},"id":"deab7e40-26e5-4e7b-9660-01392ef3f126","name":"YouTube - Página 1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3888,768],"credentials":{"httpQueryAuth":{"id":"kB9zP6hbdGBZGA0E","name":"Query Auth [André e Andrade]"}}},{"parameters":{"jsCode":"// Extrai vídeos da página 1 e prepara página 2\nconst response = $input.first().json;\nconst items = response.items || [];\nconst nextPageToken = response.nextPageToken || '';\nconst loopData = $item(\"0\").$node[\"Loop Over Items\"].json;\nconst query = loopData[\"Nome da Música\"];\nconst artista = loopData[\"Artista\"];\n\n// Formata vídeos da página 1\nconst videosPagina1 = items.map(item => ({\n  titulo: item.snippet?.title || 'Sem título',\n  canal: item.snippet?.channelTitle || 'Canal desconhecido',\n  videoId: item.id?.videoId\n}));\n\nreturn [{\n  json: {\n    query: query,\n    artista: artista,\n    pageToken: nextPageToken,\n    pagina: 2,\n    videosPagina1: videosPagina1\n  }\n}];"},"id":"229d86e8-a568-4af5-a6f1-0b4799b284f6","name":"Processar YouTube Página 1","type":"n8n-nodes-base.code","typeVersion":2,"position":[4096,768]},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/search","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"q","value":"=\"{{ $json.query }}\" {{ $json.artista }}"},{"name":"type","value":"video"},{"name":"maxResults","value":"50"},{"name":"pageToken","value":"={{ $json.pageToken }}"}]},"options":{}},"id":"c6b03b91-26d6-4325-a268-778b2e969bed","name":"YouTube - Página 2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4304,768],"credentials":{"httpQueryAuth":{"id":"kB9zP6hbdGBZGA0E","name":"Query Auth [André e Andrade]"}}},{"parameters":{"jsCode":"// Combina resultados das duas páginas do YouTube\nconst response = $input.first().json;\nconst pagina1Data = $('Processar YouTube Página 1').first().json;\nconst items = response.items || [];\nconst artista = pagina1Data.artista;\nconst nomeMusica = pagina1Data.query;\n\n// Formata vídeos da página 2\nconst videosPagina2 = items.map(item => ({\n  titulo: item.snippet?.title || 'Sem título',\n  canal: item.snippet?.channelTitle || 'Canal desconhecido',\n  videoId: item.id?.videoId\n}));\n\n// Combina todas as páginas\nconst todosVideos = [...pagina1Data.videosPagina1, ...videosPagina2];\n\n// Retorna cada vídeo formatado para a planilha\nconst resultados = todosVideos.map(v => ({\n  json: {\n    \"Artista\": artista,\n    \"Nome da Música\": v.titulo,\n    \"Quem Gravou\": v.canal,\n    \"Link da Música\": `https://www.youtube.com/watch?v=${v.videoId}`,\n    \"Plataforma\": \"YouTube\"\n  }\n}));\n\nreturn resultados.length > 0 ? resultados : [{ json: { aviso: \"Nenhum vídeo encontrado no YouTube\", \"Artista\": artista } }];"},"id":"bb60cf80-0d17-42e8-924e-ad4f83f0b919","name":"Filtro YouTube","type":"n8n-nodes-base.code","typeVersion":2,"position":[4512,768]},{"parameters":{},"id":"26e06b37-c8b9-4944-be73-cc769803344a","name":"Merge Spotify + YouTube","type":"n8n-nodes-base.merge","typeVersion":3,"position":[4720,672]},{"parameters":{"workflowId":{"__rl":true,"value":"Vn4OEpJWaZZ12D5J","mode":"list","cachedResultUrl":"/workflow/Vn4OEpJWaZZ12D5J","cachedResultName":"[ TERRA ] 3 / 5- Monitoramento de Derrubada de Música - Encontra no Spotify e manda pra checagem"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[4928,672],"id":"d357f51c-f430-4c68-a963-f85d632a273c","name":"Enviar para Processamento"},{"parameters":{"resource":"messages-api","instanceName":"={{ $node[\"Parametros\"].json[\"v_instancia_evolution\"] }}","remoteJid":"={{ $node[\"Parametros\"].json[\"v_numero_para_enviar_alerta\"] }}","messageText":"=Tem músicas para você verificar\n\nhttps://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit?gid=915258316#gid=915258316","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3888,368],"id":"ec7f1d0f-9638-4831-a6c4-77f89a701104","name":"Enviar texto","credentials":{"evolutionApi":{"id":"gqMlUQxrxPNWPCn1","name":"Evolution - Hetzner Scala Server-1"}}},{"parameters":{"content":"## O que faz?\n\nProcura as músicas no **Spotify** e no **YouTube** e manda para o fluxo de checagem.\n\nSaída contém:\n- Artista\n- Nome da Música\n- Quem Gravou (artista/canal)\n- Link da Música\n- Plataforma (Spotify/YouTube)\n","width":400},"type":"n8n-nodes-base.stickyNote","position":[3024,240],"typeVersion":1,"id":"8ef0893f-13f9-4532-8319-ac9fdfb541c6","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[3008,624],"id":"6db897dc-30c5-4459-bc99-5b08365354d1","name":"When clicking 'Execute workflow'"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Parametros","type":"main","index":0}]]},"Parametros":{"main":[[{"node":"Carrega Dados","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[{"node":"Procura música Spotify","type":"main","index":0},{"node":"YouTube - Página 1","type":"main","index":0}]]},"Carrega Dados":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Procura música Spotify":{"main":[[{"node":"Filtro Spotify","type":"main","index":0}]]},"Filtro Spotify":{"main":[[{"node":"Merge Spotify + YouTube","type":"main","index":0}]]},"YouTube - Página 1":{"main":[[{"node":"Processar YouTube Página 1","type":"main","index":0}]]},"Processar YouTube Página 1":{"main":[[{"node":"YouTube - Página 2","type":"main","index":0}]]},"YouTube - Página 2":{"main":[[{"node":"Filtro YouTube","type":"main","index":0}]]},"Filtro YouTube":{"main":[[{"node":"Merge Spotify + YouTube","type":"main","index":1}]]},"Merge Spotify + YouTube":{"main":[[{"node":"Enviar para Processamento","type":"main","index":0}]]},"Enviar para Processamento":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking 'Execute workflow'":{"main":[[{"node":"Parametros","type":"main","index":0}]]}},"authors":"Alessadro Torres","name":"Version d53843d8","description":"","autosaved":false},"tags":[]}