Workflows/lgRmNDSUTVylDBR8.json
{"updatedAt":"2025-11-17T17:15:02.928Z","createdAt":"2025-11-17T16:57:34.806Z","id":"lgRmNDSUTVylDBR8","name":"[ TERRA ] 2 / 3 - Monitoramento de Derrubada de Música - Encontra Música no Spotify","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-640,0],"id":"1718b843-c0e8-4825-91f3-5a284eedabad","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"b0d2006d-0464-4658-8fee-c4913f2bbc5a","name":"v_id_planilha","value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,0],"id":"cfaf7923-47ee-4769-b3a8-502a38385f9e","name":"Parametros"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-16,0],"id":"9306eecc-8139-48d5-a4d8-ad7858ef7b5f","name":"Loop Over Items"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Parametros\"].json[\"v_id_planilha\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":1283597464,"mode":"list","cachedResultName":"Musica para monitorar","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=1283597464"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-224,0],"id":"9dc93f55-e6a0-4e7f-870e-0c999ce62f7c","name":"Carrega Dados","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"resource":"track","operation":"search","query":"=\"{{ $item(\"0\").$node[\"Loop Over Items\"].json[\"Nome da Música\"] }}\"","returnAll":true,"filters":{"market":"BR"}},"type":"n8n-nodes-base.spotify","typeVersion":1,"position":[240,96],"id":"4245064a-9f87-4158-9dbf-5922014fed56","name":"Procura música","credentials":{"spotifyOAuth2Api":{"id":"JwkIB1F2cpDaCBxK","name":"Spotify account"}}},{"parameters":{"jsCode":"// Define o termo buscado (pode ser dinâmico se desejar)\nconst searchTerm = $item(\"0\").$node[\"Loop Over Items\"].json[\"Nome da Música\"].toLowerCase().trim();\n\n// Obtém o valor fixo do campo \"Artista\" do nó \"Loop Over Items\"\nconst artistaFixo = $item(0).$node[\"Loop Over Items\"].json[\"Artista\"];\n\nconst results = items\n  .filter(item => {\n    const trackName = item.json.name?.toLowerCase() || \"\";\n    const albumName = item.json.album?.name?.toLowerCase() || \"\";\n    return trackName.includes(searchTerm) || albumName.includes(searchTerm);\n  })\n  .map(item => {\n    const artist = item.json.album?.artists?.[0];\n    return {\n      json: {\n        \"Artista\": artistaFixo,\n        \"Nome da Música\": item.json.name || \"Não disponível\",\n        \"Quem Gravou\": artist?.name || \"Não disponível\",\n        \"Link da Música\": item.json.external_urls?.spotify || \"Não disponível\"\n      }\n    };\n  });\n\n// Garante que sempre exista uma saída\nreturn results.length > 0\n  ? results\n  : [{ json: { aviso: \"Nenhum dado retornado\", \"Artista\": artistaFixo } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,96],"id":"42cf92e0-27bd-48d1-92f1-ce80f1eb9520","name":"Filtro"},{"parameters":{"content":"## O que faz?\n\nProcura as músicas no Spotify e as manda para o fluxo de checagem\n[ TERRA ] 3 / 5- Monitoramento de Derrubada de Música - Encontra no Spotify e manda pra checagem\n","width":384},"type":"n8n-nodes-base.stickyNote","position":[-624,-224],"typeVersion":1,"id":"f611181b-6e4b-4d68-a41b-3ca797ecc457","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-640,160],"id":"7bf1e0e8-1dfb-4b68-a3b0-8c190bf15e91","name":"When clicking ‘Execute workflow’"},{"parameters":{"workflowId":{"__rl":true,"value":"Vn4OEpJWaZZ12D5J","mode":"list","cachedResultUrl":"/workflow/Vn4OEpJWaZZ12D5J","cachedResultName":"[ TERRA ] 3 / 5- Monitoramento de Derrubada de Música - Encontra no Spotify e manda pra checagem"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[656,96],"id":"a19ffef5-4796-4689-a239-3fd89545853d","name":"[ TERRA ] 3 / 5- Monitoramento de Derrubada de Música - Encontra no Spotify e manda pra checagem"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Parametros","type":"main","index":0}]]},"Parametros":{"main":[[{"node":"Carrega Dados","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Procura música","type":"main","index":0}]]},"Carrega Dados":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Procura música":{"main":[[{"node":"Filtro","type":"main","index":0}]]},"Filtro":{"main":[[{"node":"[ TERRA ] 3 / 5- Monitoramento de Derrubada de Música - Encontra no Spotify e manda pra checagem","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Parametros","type":"main","index":0}]]},"[ TERRA ] 3 / 5- Monitoramento de Derrubada de Música - Encontra no Spotify e manda pra checagem":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"CGfCVWSuvoZUb15y"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3bc3d5f7-24e8-469f-8c78-d8dfb49ce8f2","activeVersionId":"3bc3d5f7-24e8-469f-8c78-d8dfb49ce8f2","triggerCount":1,"shared":[{"updatedAt":"2025-11-17T16:57:34.806Z","createdAt":"2025-11-17T16:57:34.806Z","role":"workflow:owner","workflowId":"lgRmNDSUTVylDBR8","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":{"updatedAt":"2025-11-26T21:17:26.817Z","createdAt":"2025-11-26T21:17:26.817Z","versionId":"3bc3d5f7-24e8-469f-8c78-d8dfb49ce8f2","workflowId":"lgRmNDSUTVylDBR8","nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-640,0],"id":"1718b843-c0e8-4825-91f3-5a284eedabad","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"b0d2006d-0464-4658-8fee-c4913f2bbc5a","name":"v_id_planilha","value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,0],"id":"cfaf7923-47ee-4769-b3a8-502a38385f9e","name":"Parametros"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-16,0],"id":"9306eecc-8139-48d5-a4d8-ad7858ef7b5f","name":"Loop Over Items"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Parametros\"].json[\"v_id_planilha\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":1283597464,"mode":"list","cachedResultName":"Musica para monitorar","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=1283597464"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-224,0],"id":"9dc93f55-e6a0-4e7f-870e-0c999ce62f7c","name":"Carrega Dados","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"resource":"track","operation":"search","query":"=\"{{ $item(\"0\").$node[\"Loop Over Items\"].json[\"Nome da Música\"] }}\"","returnAll":true,"filters":{"market":"BR"}},"type":"n8n-nodes-base.spotify","typeVersion":1,"position":[240,96],"id":"4245064a-9f87-4158-9dbf-5922014fed56","name":"Procura música","credentials":{"spotifyOAuth2Api":{"id":"JwkIB1F2cpDaCBxK","name":"Spotify account"}}},{"parameters":{"jsCode":"// Define o termo buscado (pode ser dinâmico se desejar)\nconst searchTerm = $item(\"0\").$node[\"Loop Over Items\"].json[\"Nome da Música\"].toLowerCase().trim();\n\n// Obtém o valor fixo do campo \"Artista\" do nó \"Loop Over Items\"\nconst artistaFixo = $item(0).$node[\"Loop Over Items\"].json[\"Artista\"];\n\nconst results = items\n  .filter(item => {\n    const trackName = item.json.name?.toLowerCase() || \"\";\n    const albumName = item.json.album?.name?.toLowerCase() || \"\";\n    return trackName.includes(searchTerm) || albumName.includes(searchTerm);\n  })\n  .map(item => {\n    const artist = item.json.album?.artists?.[0];\n    return {\n      json: {\n        \"Artista\": artistaFixo,\n        \"Nome da Música\": item.json.name || \"Não disponível\",\n        \"Quem Gravou\": artist?.name || \"Não disponível\",\n        \"Link da Música\": item.json.external_urls?.spotify || \"Não disponível\"\n      }\n    };\n  });\n\n// Garante que sempre exista uma saída\nreturn results.length > 0\n  ? results\n  : [{ json: { aviso: \"Nenhum dado retornado\", \"Artista\": artistaFixo } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,96],"id":"42cf92e0-27bd-48d1-92f1-ce80f1eb9520","name":"Filtro"},{"parameters":{"content":"## O que faz?\n\nProcura as músicas no Spotify e as manda para o fluxo de checagem\n[ TERRA ] 3 / 5- Monitoramento de Derrubada de Música - Encontra no Spotify e manda pra checagem\n","width":384},"type":"n8n-nodes-base.stickyNote","position":[-624,-224],"typeVersion":1,"id":"f611181b-6e4b-4d68-a41b-3ca797ecc457","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-640,160],"id":"7bf1e0e8-1dfb-4b68-a3b0-8c190bf15e91","name":"When clicking ‘Execute workflow’"},{"parameters":{"workflowId":{"__rl":true,"value":"Vn4OEpJWaZZ12D5J","mode":"list","cachedResultUrl":"/workflow/Vn4OEpJWaZZ12D5J","cachedResultName":"[ TERRA ] 3 / 5- Monitoramento de Derrubada de Música - Encontra no Spotify e manda pra checagem"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[656,96],"id":"a19ffef5-4796-4689-a239-3fd89545853d","name":"[ TERRA ] 3 / 5- Monitoramento de Derrubada de Música - Encontra no Spotify e manda pra checagem"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Parametros","type":"main","index":0}]]},"Parametros":{"main":[[{"node":"Carrega Dados","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Procura música","type":"main","index":0}]]},"Carrega Dados":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Procura música":{"main":[[{"node":"Filtro","type":"main","index":0}]]},"Filtro":{"main":[[{"node":"[ TERRA ] 3 / 5- Monitoramento de Derrubada de Música - Encontra no Spotify e manda pra checagem","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Parametros","type":"main","index":0}]]},"[ TERRA ] 3 / 5- Monitoramento de Derrubada de Música - Encontra no Spotify e manda pra checagem":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2025-11-16T22:16:21.441Z","createdAt":"2025-11-16T22:16:21.441Z","id":"mVpu2CtzXTHTzLu8","name":"Rodando"},{"updatedAt":"2025-11-17T15:34:22.271Z","createdAt":"2025-11-17T15:34:22.271Z","id":"4mZt4Tj9U8vgK8P4","name":"Terra"}]}