Workflows/pUZkNg6GvjtEpEo0.json
{"updatedAt":"2026-01-10T21:24:21.034Z","createdAt":"2025-12-09T21:34:18.782Z","id":"pUZkNg6GvjtEpEo0","name":"[ TERRA ] 5 / 5 - Monitoramento de Derrubada de M칰sica - Checa M칰sica Ativa e Envia para a TAO","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"55de174f-cdc6-4d44-b609-e3fb7d0d49d9","name":"v_instancia_evo","value":"Alessandro","type":"string"},{"id":"2462072f-4b06-498c-aa12-99cd098c2ba3","name":"v_evo_envia","value":"120363386053644740@g.us","type":"string"},{"id":"0385b7ef-eada-45f4-b785-a9d5f97d2bb8","name":"v_airtop_profile","value":"terragravadora","type":"string"},{"id":"301dc0aa-be08-4e42-8242-8d64e8d76ddd","name":"$execution.context.musicasAtivas","value":"[]","type":"array"},{"id":"b851a578-54e4-4ef1-abbe-1f66d1c8e4d2","name":"v_conta","value":1,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,320],"id":"df24911b-f3a3-4144-b3b8-ac83e24413f8","name":"Parametros"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1328,304],"id":"cacd9644-87f5-45c7-9b74-8747e67e8aac","name":"Loop Over Items"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-144,320],"id":"ec5845fc-395f-4241-ba71-0296621dbfba","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","mode":"id"},"sheetName":{"__rl":true,"value":8523260,"mode":"list","cachedResultName":"Monitorando","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=8523260"},"filtersUI":{"values":[{"lookupColumn":"URL Spotify","lookupValue":"={{ $item(\"0\").$node[\"Loop Over Items\"].json[\"URL Spotify\"] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2000,496],"id":"21c3bb83-7e8c-4aeb-9800-dbbc9e48a776","name":"Pega a linha da tabela","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","mode":"id"},"sheetName":{"__rl":true,"value":8523260,"mode":"list","cachedResultName":"Monitorando","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=8523260"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $item(\"0\").$node[\"Pega a linha da tabela\"].json[\"row_number\"] }}","Ativa no Spotify":"N칚o"},"matchingColumns":["row_number"],"schema":[{"id":"Solicitou Remo칞칚o","displayName":"Solicitou Remo칞칚o","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data de inclus칚o","displayName":"Data de inclus칚o","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Artista Solicitante","displayName":"Artista Solicitante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Artista que gravou","displayName":"Artista que gravou","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"M칰sica","displayName":"M칰sica","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ativa no Spotify","displayName":"Ativa no Spotify","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL Spotify","displayName":"URL Spotify","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2224,496],"id":"d2cc6a52-80a5-4a8d-8035-b65fcbfd9696","name":"Atualiza Musica Inativa","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"documentId":{"__rl":true,"value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","mode":"id"},"sheetName":{"__rl":true,"value":8523260,"mode":"list","cachedResultName":"Monitorando","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=8523260"},"filtersUI":{"values":[{"lookupColumn":"Ativa no Spotify","lookupValue":"Sim"}]},"combineFilters":"OR","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1136,304],"id":"a25c4a42-55d4-4683-b5ed-d1d5b8ca0abc","name":"Carrega Tabela","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"documentId":{"__rl":true,"value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","mode":"id"},"sheetName":{"__rl":true,"value":8523260,"mode":"list","cachedResultName":"Monitorando","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=8523260"},"filtersUI":{"values":[{"lookupColumn":"URL Spotify","lookupValue":"={{ $item(\"0\").$node[\"Loop Over Items\"].json[\"URL Spotify\"] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2000,256],"id":"7a2f2a85-c87e-42aa-92f6-a6bbede484a4","name":"Pega a linha da tabela1","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","mode":"id"},"sheetName":{"__rl":true,"value":8523260,"mode":"list","cachedResultName":"Monitorando","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=8523260"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $item(\"0\").$node[\"Pega a linha da tabela1\"].json[\"row_number\"] }}","Ativa no Spotify":"Sim","Solicitou Remo칞칚o":"Sim"},"matchingColumns":["row_number"],"schema":[{"id":"Solicitou Remo칞칚o","displayName":"Solicitou Remo칞칚o","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data de inclus칚o","displayName":"Data de inclus칚o","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Artista Solicitante","displayName":"Artista Solicitante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Artista que gravou","displayName":"Artista que gravou","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"M칰sica","displayName":"M칰sica","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ativa no Spotify","displayName":"Ativa no Spotify","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL Spotify","displayName":"URL Spotify","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2208,256],"id":"dee42bc0-511e-47b9-bf7b-59bddba16343","name":"Atualiza Musica Ativa","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"documentId":{"__rl":true,"value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","mode":"id"},"sheetName":{"__rl":true,"value":8523260,"mode":"list","cachedResultName":"Monitorando","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=8523260"},"filtersUI":{"values":[{"lookupColumn":"Ativa no Spotify","lookupValue":"Sim"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1792,32],"id":"296d51c2-e699-40aa-824c-6caba8850608","name":"Carrega s칩 as ativas","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"jsCode":"const urls = items.map(item => item.json[\"URL Spotify\"]).join(\"\\n\");\nconst quantidade = items.length;\n\nreturn [{\n  json: {\n    urls_spotify: urls,\n    quantidade: quantidade\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,32],"id":"91f4c014-a52c-42f7-ab7a-a7caf23b65f8","name":"Lista a urls"},{"parameters":{"resource":"messages-api","instanceName":"={{ $item(\"0\").$node[\"Parametros\"].json[\"v_instancia_evo\"] }}","remoteJid":"={{ $item(\"0\").$node[\"Parametros\"].json[\"v_evo_envia\"] }}","messageText":"={{ $item(\"0\").$node[\"Lista a urls\"].json[\"urls_spotify\"] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2192,32],"id":"20e43901-1afa-4707-b5af-e1557a3ac5fc","name":"Enviar Links","credentials":{"evolutionApi":{"id":"gqMlUQxrxPNWPCn1","name":"Evolution - Hetzner Scala Server-1"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $item(\"0\").$node[\"Parametros\"].json[\"v_instancia_evo\"] }}","remoteJid":"={{ $item(\"0\").$node[\"Parametros\"].json[\"v_evo_envia\"] }}","messageText":"=九Bom dia.游녡 Derrubar as {{ $item(\"0\").$node[\"Lista a urls\"].json[\"quantidade\"] }}, pf Mayara (+5511934644047)","options_message":{"mentions":{"mentionsSettings":{"mentioned":"5511934644047"}}}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2400,32],"id":"4d6a20ca-fa71-44b0-be40-bcc98592e98c","name":"Enviar texto","credentials":{"evolutionApi":{"id":"gqMlUQxrxPNWPCn1","name":"Evolution - Hetzner Scala Server-1"}}},{"parameters":{"content":"## O que faz?\n\nValida a lista de m칰sicas para derrubar, checa se est칚o ativas ou n칚o\n"},"type":"n8n-nodes-base.stickyNote","position":[496,64],"typeVersion":1,"id":"8d72dbee-2c1b-41c7-8d72-fb4af0960ebb","name":"Sticky Note"},{"parameters":{"method":"POST","url":"https://music-link-validator.onrender.com/api/validate","sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $json[\"URL Spotify\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1552,400],"id":"ebf4f2bf-77c6-4093-b25e-9c920b21ba69","name":"API Verifica link","notesInFlow":true,"notes":"API est치 no render\nhttps://music-link-validator.onrender.com/"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2480,576],"id":"d28f13fc-af0a-4af1-8440-69e6c983f248","name":"10s","webhookId":"49acda36-b15a-4342-898b-d9412c11e164"},{"parameters":{"url":"https://music-link-validator.onrender.com/api/health","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[288,320],"id":"ecabbb25-44d3-416d-8340-0f4981e05ff8","name":"Desperta Servidor Render","notesInFlow":true,"onError":"continueErrorOutput","notes":"API est치 no render\nhttps://music-link-validator.onrender.com/"},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[992,480],"id":"537a61ff-ae3d-4b0c-ae52-e84e10febaa0","name":"1m","webhookId":"fe6cd945-6682-49c3-bda3-6d29cf70731e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"50527f17-6f6a-4bf2-a716-dc3aff7f1760","leftValue":"={{ $node[\"API Verifica link\"].json[\"available\"] }}","rightValue":"Start listening with a free Spotify account","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1776,400],"id":"5a03cdfe-f794-449d-b6a3-7844a30489af","name":"M칰sica dispon칤vel para ouvir?"},{"parameters":{"assignments":{"assignments":[{"id":"6f5c25f1-5a08-4fc3-b67e-13ff8d5fd15e","name":"v_conta","value":"={{ ($json.v_conta || 0) + 1 }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,464],"id":"51314fa6-1b98-4daf-8e61-dc07d3fb2fa7","name":"Contagem"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"d8050b41-fcba-4ef3-a4ac-fafce5bb1677","leftValue":"={{ $json.v_conta }}","rightValue":5,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[656,464],"id":"029309d4-533a-44cc-8c51-145c50cc0b7f","name":"If"},{"parameters":{"errorMessage":"N칚o iniciou o servidor (5 tentativas)"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[848,384],"id":"abeb22ab-8707-4605-bb34-b618969af38f","name":"Stop and Error"}],"connections":{"Parametros":{"main":[[{"node":"Desperta Servidor Render","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Carrega s칩 as ativas","type":"main","index":0}],[{"node":"API Verifica link","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Parametros","type":"main","index":0}]]},"Pega a linha da tabela":{"main":[[{"node":"Atualiza Musica Inativa","type":"main","index":0}]]},"Atualiza Musica Inativa":{"main":[[{"node":"10s","type":"main","index":0}]]},"Carrega Tabela":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Pega a linha da tabela1":{"main":[[{"node":"Atualiza Musica Ativa","type":"main","index":0}]]},"Atualiza Musica Ativa":{"main":[[{"node":"10s","type":"main","index":0}]]},"Carrega s칩 as ativas":{"main":[[{"node":"Lista a urls","type":"main","index":0}]]},"Lista a urls":{"main":[[{"node":"Enviar Links","type":"main","index":0}]]},"Enviar Links":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"API Verifica link":{"main":[[{"node":"M칰sica dispon칤vel para ouvir?","type":"main","index":0}]]},"10s":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Desperta Servidor Render":{"main":[[{"node":"Carrega Tabela","type":"main","index":0}],[{"node":"Contagem","type":"main","index":0}]]},"1m":{"main":[[{"node":"Desperta Servidor Render","type":"main","index":0}]]},"M칰sica dispon칤vel para ouvir?":{"main":[[{"node":"Pega a linha da tabela1","type":"main","index":0}],[{"node":"Pega a linha da tabela","type":"main","index":0}]]},"Contagem":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"1m","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"CGfCVWSuvoZUb15y"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"583044d9-3896-4dd6-b2ac-8c21b179ff3e","activeVersionId":"583044d9-3896-4dd6-b2ac-8c21b179ff3e","triggerCount":1,"shared":[{"updatedAt":"2025-12-09T21:34:18.782Z","createdAt":"2025-12-09T21:34:18.782Z","role":"workflow:owner","workflowId":"pUZkNg6GvjtEpEo0","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":{"updatedAt":"2026-01-10T21:24:25.304Z","createdAt":"2026-01-10T21:24:21.037Z","versionId":"583044d9-3896-4dd6-b2ac-8c21b179ff3e","workflowId":"pUZkNg6GvjtEpEo0","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"55de174f-cdc6-4d44-b609-e3fb7d0d49d9","name":"v_instancia_evo","value":"Alessandro","type":"string"},{"id":"2462072f-4b06-498c-aa12-99cd098c2ba3","name":"v_evo_envia","value":"120363386053644740@g.us","type":"string"},{"id":"0385b7ef-eada-45f4-b785-a9d5f97d2bb8","name":"v_airtop_profile","value":"terragravadora","type":"string"},{"id":"301dc0aa-be08-4e42-8242-8d64e8d76ddd","name":"$execution.context.musicasAtivas","value":"[]","type":"array"},{"id":"b851a578-54e4-4ef1-abbe-1f66d1c8e4d2","name":"v_conta","value":1,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,320],"id":"df24911b-f3a3-4144-b3b8-ac83e24413f8","name":"Parametros"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1328,304],"id":"cacd9644-87f5-45c7-9b74-8747e67e8aac","name":"Loop Over Items"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-144,320],"id":"ec5845fc-395f-4241-ba71-0296621dbfba","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","mode":"id"},"sheetName":{"__rl":true,"value":8523260,"mode":"list","cachedResultName":"Monitorando","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=8523260"},"filtersUI":{"values":[{"lookupColumn":"URL Spotify","lookupValue":"={{ $item(\"0\").$node[\"Loop Over Items\"].json[\"URL Spotify\"] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2000,496],"id":"21c3bb83-7e8c-4aeb-9800-dbbc9e48a776","name":"Pega a linha da tabela","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","mode":"id"},"sheetName":{"__rl":true,"value":8523260,"mode":"list","cachedResultName":"Monitorando","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=8523260"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $item(\"0\").$node[\"Pega a linha da tabela\"].json[\"row_number\"] }}","Ativa no Spotify":"N칚o"},"matchingColumns":["row_number"],"schema":[{"id":"Solicitou Remo칞칚o","displayName":"Solicitou Remo칞칚o","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data de inclus칚o","displayName":"Data de inclus칚o","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Artista Solicitante","displayName":"Artista Solicitante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Artista que gravou","displayName":"Artista que gravou","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"M칰sica","displayName":"M칰sica","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ativa no Spotify","displayName":"Ativa no Spotify","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL Spotify","displayName":"URL Spotify","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2224,496],"id":"d2cc6a52-80a5-4a8d-8035-b65fcbfd9696","name":"Atualiza Musica Inativa","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"documentId":{"__rl":true,"value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","mode":"id"},"sheetName":{"__rl":true,"value":8523260,"mode":"list","cachedResultName":"Monitorando","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=8523260"},"filtersUI":{"values":[{"lookupColumn":"Ativa no Spotify","lookupValue":"Sim"}]},"combineFilters":"OR","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1136,304],"id":"a25c4a42-55d4-4683-b5ed-d1d5b8ca0abc","name":"Carrega Tabela","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"documentId":{"__rl":true,"value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","mode":"id"},"sheetName":{"__rl":true,"value":8523260,"mode":"list","cachedResultName":"Monitorando","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=8523260"},"filtersUI":{"values":[{"lookupColumn":"URL Spotify","lookupValue":"={{ $item(\"0\").$node[\"Loop Over Items\"].json[\"URL Spotify\"] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2000,256],"id":"7a2f2a85-c87e-42aa-92f6-a6bbede484a4","name":"Pega a linha da tabela1","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","mode":"id"},"sheetName":{"__rl":true,"value":8523260,"mode":"list","cachedResultName":"Monitorando","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=8523260"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $item(\"0\").$node[\"Pega a linha da tabela1\"].json[\"row_number\"] }}","Ativa no Spotify":"Sim","Solicitou Remo칞칚o":"Sim"},"matchingColumns":["row_number"],"schema":[{"id":"Solicitou Remo칞칚o","displayName":"Solicitou Remo칞칚o","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data de inclus칚o","displayName":"Data de inclus칚o","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Artista Solicitante","displayName":"Artista Solicitante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Artista que gravou","displayName":"Artista que gravou","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"M칰sica","displayName":"M칰sica","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ativa no Spotify","displayName":"Ativa no Spotify","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL Spotify","displayName":"URL Spotify","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2208,256],"id":"dee42bc0-511e-47b9-bf7b-59bddba16343","name":"Atualiza Musica Ativa","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"documentId":{"__rl":true,"value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","mode":"id"},"sheetName":{"__rl":true,"value":8523260,"mode":"list","cachedResultName":"Monitorando","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=8523260"},"filtersUI":{"values":[{"lookupColumn":"Ativa no Spotify","lookupValue":"Sim"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1792,32],"id":"296d51c2-e699-40aa-824c-6caba8850608","name":"Carrega s칩 as ativas","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"jsCode":"const urls = items.map(item => item.json[\"URL Spotify\"]).join(\"\\n\");\nconst quantidade = items.length;\n\nreturn [{\n  json: {\n    urls_spotify: urls,\n    quantidade: quantidade\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,32],"id":"91f4c014-a52c-42f7-ab7a-a7caf23b65f8","name":"Lista a urls"},{"parameters":{"resource":"messages-api","instanceName":"={{ $item(\"0\").$node[\"Parametros\"].json[\"v_instancia_evo\"] }}","remoteJid":"={{ $item(\"0\").$node[\"Parametros\"].json[\"v_evo_envia\"] }}","messageText":"={{ $item(\"0\").$node[\"Lista a urls\"].json[\"urls_spotify\"] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2192,32],"id":"20e43901-1afa-4707-b5af-e1557a3ac5fc","name":"Enviar Links","credentials":{"evolutionApi":{"id":"gqMlUQxrxPNWPCn1","name":"Evolution - Hetzner Scala Server-1"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $item(\"0\").$node[\"Parametros\"].json[\"v_instancia_evo\"] }}","remoteJid":"={{ $item(\"0\").$node[\"Parametros\"].json[\"v_evo_envia\"] }}","messageText":"=九Bom dia.游녡 Derrubar as {{ $item(\"0\").$node[\"Lista a urls\"].json[\"quantidade\"] }}, pf Mayara (+5511934644047)","options_message":{"mentions":{"mentionsSettings":{"mentioned":"5511934644047"}}}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2400,32],"id":"4d6a20ca-fa71-44b0-be40-bcc98592e98c","name":"Enviar texto","credentials":{"evolutionApi":{"id":"gqMlUQxrxPNWPCn1","name":"Evolution - Hetzner Scala Server-1"}}},{"parameters":{"content":"## O que faz?\n\nValida a lista de m칰sicas para derrubar, checa se est칚o ativas ou n칚o\n"},"type":"n8n-nodes-base.stickyNote","position":[496,64],"typeVersion":1,"id":"8d72dbee-2c1b-41c7-8d72-fb4af0960ebb","name":"Sticky Note"},{"parameters":{"method":"POST","url":"https://music-link-validator.onrender.com/api/validate","sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $json[\"URL Spotify\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1552,400],"id":"ebf4f2bf-77c6-4093-b25e-9c920b21ba69","name":"API Verifica link","notesInFlow":true,"notes":"API est치 no render\nhttps://music-link-validator.onrender.com/"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2480,576],"id":"d28f13fc-af0a-4af1-8440-69e6c983f248","name":"10s","webhookId":"49acda36-b15a-4342-898b-d9412c11e164"},{"parameters":{"url":"https://music-link-validator.onrender.com/api/health","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[288,320],"id":"ecabbb25-44d3-416d-8340-0f4981e05ff8","name":"Desperta Servidor Render","notesInFlow":true,"onError":"continueErrorOutput","notes":"API est치 no render\nhttps://music-link-validator.onrender.com/"},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[992,480],"id":"537a61ff-ae3d-4b0c-ae52-e84e10febaa0","name":"1m","webhookId":"fe6cd945-6682-49c3-bda3-6d29cf70731e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"50527f17-6f6a-4bf2-a716-dc3aff7f1760","leftValue":"={{ $node[\"API Verifica link\"].json[\"available\"] }}","rightValue":"Start listening with a free Spotify account","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1776,400],"id":"5a03cdfe-f794-449d-b6a3-7844a30489af","name":"M칰sica dispon칤vel para ouvir?"},{"parameters":{"assignments":{"assignments":[{"id":"6f5c25f1-5a08-4fc3-b67e-13ff8d5fd15e","name":"v_conta","value":"={{ ($json.v_conta || 0) + 1 }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,464],"id":"51314fa6-1b98-4daf-8e61-dc07d3fb2fa7","name":"Contagem"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"d8050b41-fcba-4ef3-a4ac-fafce5bb1677","leftValue":"={{ $json.v_conta }}","rightValue":5,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[656,464],"id":"029309d4-533a-44cc-8c51-145c50cc0b7f","name":"If"},{"parameters":{"errorMessage":"N칚o iniciou o servidor (5 tentativas)"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[848,384],"id":"abeb22ab-8707-4605-bb34-b618969af38f","name":"Stop and Error"}],"connections":{"Parametros":{"main":[[{"node":"Desperta Servidor Render","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Carrega s칩 as ativas","type":"main","index":0}],[{"node":"API Verifica link","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Parametros","type":"main","index":0}]]},"Pega a linha da tabela":{"main":[[{"node":"Atualiza Musica Inativa","type":"main","index":0}]]},"Atualiza Musica Inativa":{"main":[[{"node":"10s","type":"main","index":0}]]},"Carrega Tabela":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Pega a linha da tabela1":{"main":[[{"node":"Atualiza Musica Ativa","type":"main","index":0}]]},"Atualiza Musica Ativa":{"main":[[{"node":"10s","type":"main","index":0}]]},"Carrega s칩 as ativas":{"main":[[{"node":"Lista a urls","type":"main","index":0}]]},"Lista a urls":{"main":[[{"node":"Enviar Links","type":"main","index":0}]]},"Enviar Links":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"API Verifica link":{"main":[[{"node":"M칰sica dispon칤vel para ouvir?","type":"main","index":0}]]},"10s":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Desperta Servidor Render":{"main":[[{"node":"Carrega Tabela","type":"main","index":0}],[{"node":"Contagem","type":"main","index":0}]]},"1m":{"main":[[{"node":"Desperta Servidor Render","type":"main","index":0}]]},"M칰sica dispon칤vel para ouvir?":{"main":[[{"node":"Pega a linha da tabela1","type":"main","index":0}],[{"node":"Pega a linha da tabela","type":"main","index":0}]]},"Contagem":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"1m","type":"main","index":0}]]}},"authors":"Alessadro Torres","name":"Version 583044d9","description":"","autosaved":false},"tags":[{"updatedAt":"2025-11-16T22:16:21.441Z","createdAt":"2025-11-16T22:16:21.441Z","id":"mVpu2CtzXTHTzLu8","name":"Rodando"},{"updatedAt":"2025-11-17T15:34:22.271Z","createdAt":"2025-11-17T15:34:22.271Z","id":"4mZt4Tj9U8vgK8P4","name":"Terra"}]}