Workflows/qE04aSQTD6HVNs2R.json
{"updatedAt":"2025-12-03T19:59:23.151Z","createdAt":"2025-12-03T12:45:50.634Z","id":"qE04aSQTD6HVNs2R","name":"[TERRA] Tratamento de música sem compositor","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1424,128],"id":"81fccc51-855f-4411-9456-282df5d1bba6","name":"When clicking 'Execute workflow'"},{"parameters":{"assignments":{"assignments":[{"id":"951aa895-01e9-4eee-b2a7-e2bd6a35c66d","name":"v_url_planilha","value":"https://docs.google.com/spreadsheets/d/1tBkM6H5xjwPe9qlS1LE4xqXdYhYGOhXnl4IGPEv_jvM/edit?gid=9690422#gid=9690422","type":"string"},{"id":"edbd5472-7076-4566-afc2-afc9ac9b2e22","name":"v_aba_planilha","value":"Músicas com o Terra (com compositores)","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1216,128],"id":"983fea52-2b05-49f3-acc0-872455ad975f","name":"Parâmetros"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $node[\"Parâmetros\"].json[\"v_url_planilha\"] }}","mode":"url"},"sheetName":{"__rl":true,"value":"={{ $node[\"Parâmetros\"].json[\"v_aba_planilha\"] }}","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1008,128],"id":"ea3329ab-f6ca-492d-bb29-6eef284cdaea","name":"Pega todas as músicas","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-592,128],"id":"6560e7f1-9cbc-463b-9711-3bba21327c6b","name":"Loop Over Items"},{"parameters":{"jsCode":"// Remove caracteres e frases específicas do título da música\nconst title = $node[\"Loop Over Items\"].json[\"Nome\"] || '';\n\n// Lista de termos a remover\nconst termsToRemove = [\n  'ao vivo',\n  'acustico',\n  'acústico',\n  'acustica',\n  'acústica'\n];\n\n// Remove parênteses, aspas e hífens\nlet cleanTitle = title\n  .replace(/\\(/g, '')\n  .replace(/\\)/g, '')\n  .replace(/\"/g, '')\n  .replace(/-/g, ' ');\n\n// Remove os termos específicos (case insensitive)\ntermsToRemove.forEach(term => {\n  const regex = new RegExp(term, 'gi');\n  cleanTitle = cleanTitle.replace(regex, '');\n});\n\n// Remove espaços extras, trim e normaliza acentos\ncleanTitle = cleanTitle\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .normalize(\"NFD\").replace(/[̀-ͯ]/g, \"\");\n\nreturn {\n  json: {\n    ...($json || {}),\n    originalTitle: title,\n    cleanTitle: cleanTitle\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-368,240],"id":"b48b61df-1216-42ed-b658-64b37435cfd6","name":"Limpa o nome do título"},{"parameters":{"jsCode":"// Recupera o cleanTitle do item atual (do nó anterior)\nconst cleanTitle = $json.cleanTitle || '';\n\n// Recupera todas as músicas da planilha original\nconst allSongs = $items(\"Pega todas as músicas\");\n\n// Filtra as músicas que têm compositor E cujo nome contém o cleanTitle\nconst matches = allSongs.filter(item => {\n  const song = item.json;\n  const hasComposer = song.Compositor && song.Compositor.toString().trim() !== '';\n  \n  // Normaliza o nome da música para comparação\n  const songNameNormalized = (song.Nome || '')\n    .toString()\n    .toLowerCase()\n    .normalize(\"NFD\").replace(/[̀-ͯ]/g, \"\");\n    \n  // Verifica se o nome da música contém o cleanTitle (case insensitive e sem acentos)\n  const titleMatches = songNameNormalized.includes(cleanTitle.toLowerCase());\n  \n  return hasComposer && titleMatches;\n});\n\n// Se não encontrar nada, retorna um objeto indicando falha\nif (matches.length === 0) {\n  return [ { json: { found: false } } ];\n}\n\nreturn matches;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,240],"id":"4566b8ef-cb19-4e2c-8c22-a04ec70925a2","name":"Filtra a música que tem o compositor"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd8a974e-eaba-4e64-bde0-0a7a21a39a4b","leftValue":"={{ $json.Compositor }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[48,240],"id":"a2e29760-3629-4ab4-90fb-6c383333f43c","name":"Encontrou?"},{"parameters":{"assignments":{"assignments":[{"id":"9e8d9297-80f9-4cd0-b82f-b8611f153154","name":"v_musica","value":"={{ $('Limpa o nome do título').item.json.cleanTitle }}","type":"string"},{"id":"7573441d-4063-4af4-adc1-3be404a472e4","name":"v_compositor","value":"={{ $('Encontrou?').item.json.Compositor }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,224],"id":"6374a4c1-3bc8-4ff3-bf78-c2da86cdb721","name":"Armazenar o nome da música e compositor"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[688,224],"id":"a334da65-b416-4d24-bb09-d625b9284a3e","name":"Loop Over Items1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b56ec16c-6670-4f75-b057-6069105a4826","leftValue":"={{ $json.Compositor }}","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-800,128],"id":"37ee3ca5-1e83-4716-b0a7-af3e688a433e","name":"Filtra a música sem compositor","alwaysOutputData":true},{"parameters":{"jsCode":"// Recupera valores do nó anterior\nconst cleanTitle = $json.v_musica;\nconst compositor = $json.v_compositor;\n\n// Se não tiver compositor válido, retorna vazio (segurança)\nif (!compositor) {\n    return [];\n}\n\n// Recupera todas as músicas da planilha original\n// IMPORTANTE: Assume que a ordem não mudou\nconst allSongs = $items(\"Pega todas as músicas\");\n\nconst updates = [];\n\nallSongs.forEach((item, index) => {\n  const song = item.json;\n  // Verifica se está sem compositor\n  const noComposer = !song.Compositor || song.Compositor.toString().trim() === '';\n\n  // Normaliza o nome da música para comparação\n  const songNameNormalized = (song.Nome || '')\n    .toString()\n    .toLowerCase()\n    .normalize(\"NFD\").replace(/[̀-ͯ]/g, \"\");\n\n  // Verifica se o título contém o cleanTitle (case insensitive e sem acentos)\n  if (noComposer && songNameNormalized.includes(cleanTitle.toLowerCase())) {\n    updates.push({\n      json: {\n        row: index + 2, // Linha 1 é cabeçalho\n        Compositor: compositor,\n        Nome: song.Nome // Debug\n      }\n    });\n  }\n});\n\nreturn updates;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,224],"id":"5de2eea7-f2dc-4262-bec1-2ccb2c22ac6b","name":"Encontrar músicas sem compositor"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $node[\"Parâmetros\"].json[\"v_url_planilha\"] }}","mode":"url"},"sheetName":{"__rl":true,"value":"={{ $node[\"Parâmetros\"].json[\"v_aba_planilha\"] }}","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Compositor":"={{ $json.Compositor }}","row_number":"={{ $json.row }}"},"matchingColumns":["row_number"],"schema":[{"id":"Data Release","displayName":"Data Release","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID Album","displayName":"ID Album","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Álbum","displayName":"Álbum","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Faixa","displayName":"Faixa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ISRC","displayName":"ISRC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"UPC","displayName":"UPC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Compositor","displayName":"Compositor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Artistas","displayName":"Artistas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link Deezer","displayName":"Link Deezer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[928,304],"id":"7b0934a1-9fac-419c-8016-03d0f2f0476a","name":"Atualizar Planilha","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1136,304],"id":"17b7cc53-3af7-43ac-9eae-2c9a61d396c5","name":"5s","webhookId":"512b2681-d4d8-449f-a8df-8d1b63370b29"}],"connections":{"When clicking 'Execute workflow'":{"main":[[{"node":"Parâmetros","type":"main","index":0}]]},"Parâmetros":{"main":[[{"node":"Pega todas as músicas","type":"main","index":0}]]},"Pega todas as músicas":{"main":[[{"node":"Filtra a música sem compositor","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Limpa o nome do título","type":"main","index":0}]]},"Limpa o nome do título":{"main":[[{"node":"Filtra a música que tem o compositor","type":"main","index":0}]]},"Filtra a música que tem o compositor":{"main":[[{"node":"Encontrou?","type":"main","index":0}]]},"Encontrou?":{"main":[[{"node":"Armazenar o nome da música e compositor","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Armazenar o nome da música e compositor":{"main":[[{"node":"Encontrar músicas sem compositor","type":"main","index":0}]]},"Filtra a música sem compositor":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Encontrar músicas sem compositor":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Atualizar Planilha":{"main":[[{"node":"5s","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Atualizar Planilha","type":"main","index":0}]]},"5s":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ef3347fa-d03b-41de-a122-0e68f94ec502","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-03T12:45:50.634Z","createdAt":"2025-12-03T12:45:50.634Z","role":"workflow:owner","workflowId":"qE04aSQTD6HVNs2R","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-03T12:44:36.860Z","createdAt":"2025-12-03T12:44:36.860Z","id":"p2u6aSuLGBrHNkBT","name":"Migração de Artistas"},{"updatedAt":"2025-12-03T19:59:21.111Z","createdAt":"2025-12-03T19:59:21.111Z","id":"OYEGgDCASxeb8ZB5","name":"Tem Bug"}]}