Workflows/RbFJxBqcakvI9Hrr.json
{"updatedAt":"2025-11-17T14:20:08.468Z","createdAt":"2025-11-17T14:19:09.951Z","id":"RbFJxBqcakvI9Hrr","name":"2[ ClickUP ]  - Tratamento de Tarefas e Gerador de Conteúdo com IA","active":false,"isArchived":true,"nodes":[{"parameters":{"authentication":"oAuth2","team":"30948962","events":["taskStatusUpdated"],"filters":{}},"id":"73f232b0-b415-4f1a-9ef6-60469930a23e","name":"ClickUp Trigger","type":"n8n-nodes-base.clickUpTrigger","typeVersion":1,"position":[-4688,560],"webhookId":"86adf08b-920d-46e4-81f4-d6598c3dc70a","credentials":{"clickUpOAuth2Api":{"id":"oo8JTPlXCEx2y4Iq","name":"ClickUp"}}},{"parameters":{"authentication":"oAuth2","operation":"update","id":"={{ $('Tarefa').item.json.id }}","updateFields":{"addAssignees":"49101880","content":"={{ $json.output }}","dueDate":"={{ (new Date(new Date().setDate(new Date().getDate() + 3))).toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }).replace(/\\//g, '-') }}\n\n","markdownContent":true,"status":"={{ \"Fazendo\" }}"}},"id":"40991793-71fe-4664-b6fd-58877f6132ab","name":"Tarefa Concluída","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-2912,144],"credentials":{"clickUpOAuth2Api":{"id":"oo8JTPlXCEx2y4Iq","name":"ClickUp"}}},{"parameters":{"authentication":"oAuth2","operation":"update","id":"={{ $('Tarefa').item.json.id }}","updateFields":{"content":"={{ $json.output }}","dueDate":"={{ (new Date(new Date().setDate(new Date().getDate() + 1))).toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }).replace(/\\//g, '-') }}\n\n","markdownContent":true,"status":"={{ \"Fazendo\" }}"}},"id":"cfc3a545-92ba-40e6-b0ad-5e81c9015d38","name":"Com Erro -> Status \"Fazendo\"","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-2912,352],"credentials":{"clickUpOAuth2Api":{"id":"oo8JTPlXCEx2y4Iq","name":"ClickUp"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6388884b-6b6a-4811-94e3-f9e34e8ba3e7","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"f550d461-0621-4bb0-82a2-453e029bdc72","name":"Gerou conteúdo?","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-3184,224]},{"parameters":{"authentication":"oAuth2","operation":"get","id":"={{ $json.task_id }}"},"id":"a5700cb2-49d0-4c6c-8dcd-b4db0c0a8daa","name":"Tarefa","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-4272,464],"alwaysOutputData":true,"credentials":{"clickUpOAuth2Api":{"id":"oo8JTPlXCEx2y4Iq","name":"ClickUp"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"56350e81-e073-4a3e-ab49-b1f1e05d340c","leftValue":"={{ $('ClickUp Trigger').item.json.history_items[0].before.status }}","rightValue":"a fazer","operator":{"type":"string","operation":"equals"}},{"id":"ca0b6557-a428-4dd4-bb91-f8c9e7751345","leftValue":"={{ $('ClickUp Trigger').item.json.history_items[0].after.status }}","rightValue":"para n8n","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"9ec61119-571a-4ad2-a181-d75f5a21151f","name":"Moveu de \"a fazer\" para \"tratamento ia\"","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-4496,560]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.folder.id }}","rightValue":"90132385597","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Se7e"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"f2a1d36f-257c-49ce-98d4-b027ac519ebf","leftValue":"={{ $json.folder.id }}","rightValue":"115022562","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"T&T"}]},"options":{}},"id":"f8b7d205-bf5c-4197-a8f9-40cb8848304c","name":"Rota Cliente","type":"n8n-nodes-base.switch","typeVersion":3.1,"position":[-4112,464]},{"parameters":{"authentication":"oAuth2","team":"30948962","space":"49037195","folder":"90070313080","list":"900700561471","name":"=TMZ Post: {{ $('Tarefa').item.json.name }}","additionalFields":{"assignees":[49101880],"dueDate":"={{ (new Date(new Date().setDate(new Date().getDate() + 2))).toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }).replace(/\\//g, '-') }}","status":"fazendo","timeEstimate":15}},"id":"c7abe8fb-a762-4ea4-aa05-5463aac1aeb8","name":"TMZ","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-3360,608],"notesInFlow":true,"credentials":{"clickUpOAuth2Api":{"id":"oo8JTPlXCEx2y4Iq","name":"ClickUp"}},"notes":"Cria tarefa"},{"parameters":{"authentication":"oAuth2","operation":"update","id":"={{ $('Tarefa').item.json.id }}","updateFields":{"addAssignees":"49101880","dueDate":"={{ (new Date(new Date().setDate(new Date().getDate() + 2))).toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }).replace(/\\//g, '-') }}","name":"=T&T Post: {{ $('Tarefa').item.json.name }}","status":"FAZENDO","timeEstimate":15}},"id":"f70eb04c-82b7-424f-9cbb-dc4130101fe7","name":"T&T","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-2960,608],"notesInFlow":true,"credentials":{"clickUpOAuth2Api":{"id":"oo8JTPlXCEx2y4Iq","name":"ClickUp"}},"notes":"Atualiza Tarefa\n- Atualiza o nome e move para \"A FAZER\""},{"parameters":{"authentication":"oAuth2","resource":"comment","commentOn":"task","id":"={{ $('TMZ').item.json.id }}","commentText":"=Dias para as postagens:\n\nFeed: Segunda, Quarta, Sexta\nStories: Terça, Quinta, Sábado na semana seguinte do post no feed\n\nDepois de agendado mover a tarefa para \"PROGRAMADO\"\n\nLEGENDA\nMarcar localização: Goiânia\n\nTET GOIÁS\nFale com a nossa equipe de vendas\n(62) 3259-6518\n\nTET FORTALEZA\nFale com a nossa equipe de vendas\n(85) 2180-7090\n\nTET CRATO\nFale com a nossa equipe de vendas\n(88) 2557-9287\n\nTET RIBEIRÃO\nFale com a nossa equipe de vendas\n(16) 3911-7561\n\nTMZ MARABÁ\nFale com a nossa equipe de vendas\n(94) 3324-1178\n\n@adeel.alimentos\n@allesalimentos\n@boavistaalimentos\n@brf_global\n@daliaalimentos\n@easychefoficial\n@excelenciamt\n@friatooficial\n@frigorificobolson\n@frimesa\n@nossajbs\n@pamplonaalimentos\n@plenaalimentos\n@primafoodsbr\n@zinhooriginal (reserva one)\n\n#tmzalimentos\n","additionalFields":{}},"id":"fae6bb19-f36e-4d1a-9ed7-b72b14c74851","name":"TMZ Post","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-3168,608],"notesInFlow":true,"credentials":{"clickUpOAuth2Api":{"id":"oo8JTPlXCEx2y4Iq","name":"ClickUp"}},"notes":"Add Comentário"},{"parameters":{"authentication":"oAuth2","resource":"comment","commentOn":"task","id":"={{ $('Tarefa').item.json.id }}","commentText":"=Dias para as postagens:\n\nFeed: Segunda, Quarta, Sexta\nStories: Terça, Quinta, Sábado na semana seguinte do post no feed\n\nDepois de agendado mover a tarefa para \"PROGRAMADO\"\n\nLEGENDA\nMarcar localização: Goiânia\n\nTET GOIÁS\nFale com a nossa equipe de vendas\n(62) 3259-6518\n\nTET FORTALEZA\nFale com a nossa equipe de vendas\n(85) 2180-7090\n\nTET CRATO\nFale com a nossa equipe de vendas\n(88) 2557-9287\n\nTET RIBEIRÃO\nFale com a nossa equipe de vendas\n(16) 3911-7561\n\nTMZ MARABÁ\nFale com a nossa equipe de vendas\n(94) 3324-1178\n\n@adeel.alimentos\n@allesalimentos\n@boavistaalimentos\n@brf_global\n@daliaalimentos\n@easychefoficial\n@excelenciamt\n@friatooficial\n@frigorificobolson\n@frimesa\n@nossajbs\n@pamplonaalimentos\n@plenaalimentos\n@primafoodsbr\n@zinhooriginal (reserva one)\n\n#tetalimentos\n","additionalFields":{}},"id":"df68854f-5670-4167-8cf4-207c01670653","name":"T&T Post","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-2784,608],"notesInFlow":true,"credentials":{"clickUpOAuth2Api":{"id":"oo8JTPlXCEx2y4Iq","name":"ClickUp"}},"notes":"Add Comentário"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $item(\"0\").$node[\"TMZ\"].json[\"id\"] }}/attachment","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"multipart/form-data"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"attachment","inputDataFieldName":"data"}]},"options":{}},"id":"231741cf-80aa-4729-8fc5-0abeb3cd46a6","name":"Anexar arquivo na tarefa TMZ","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2384,608],"disabled":true},{"parameters":{"url":"={{ $item(\"0\").$node[\"Tarefa\"].json[\"attachments\"][\"0\"][\"url\"] }}","options":{}},"id":"e1d57329-3c72-42c3-a614-f500869dde72","name":"Download binário do anexo1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2592,608],"disabled":true},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_xvB1PY1KHmT9OtvipK1Dfeuh","mode":"list","cachedResultName":"Contabil - Redator Redes Sociais"},"prompt":"define","text":"={{ $json.name }}","options":{}},"id":"ab0ccf2e-39d1-4557-b774-e2115930ecba","name":"Contabil - Redator Redes Sociais","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[-3568,224],"credentials":{"openAiApi":{"id":"1eRhrPexZ1WlWgeo","name":"OpenAi"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3560587c-e6bb-4050-8d8c-219b6c6569db","leftValue":"={{ $('Tarefa').item.json.description }}","rightValue":"https","operator":{"type":"string","operation":"contains"}},{"id":"9f775e1c-7b77-4ac2-b838-44f6aaa81d66","leftValue":"={{ $('Tarefa').item.json.name }}","rightValue":"https","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3792,208],"id":"4a4e0447-c84a-4634-bee7-a9f55aa97331","name":"Tem link?"},{"parameters":{"jsCode":"// Loop pelos itens recebidos\nreturn $input.all().map(item => {\n    // Obtém os valores de \"name\" e \"description\" do nó \"Tem link?\"\n    const name = $item(0).$node[\"Tem link?\"].json[\"name\"] || \"\";\n    const description = $item(0).$node[\"Tem link?\"].json[\"description\"] || \"\";\n\n    // Expressão regular para encontrar URLs\n    const regex = /https?:\\/\\/[^\\s]+/g;\n    \n    // Busca URLs separadamente e retorna apenas a primeira encontrada\n    const urls = [...name.matchAll(regex), ...description.matchAll(regex)];\n    \n    return {\n        json: {\n            Url_pagina: urls.length > 0 ? urls[0][0] : null // Retorna a primeira URL encontrada ou null\n        }\n    };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3568,-32],"id":"09af035d-af2a-4a24-bc72-99c827803575","name":"Code"},{"parameters":{"url":"={{ $json.Url_pagina }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3344,-32],"id":"90ac9468-c0a2-4e56-822b-a42c0b737f75","name":"HTTP Request"},{"parameters":{"jsCode":"const html =  $('HTTP Request').first().json.data || \"\";\n\n// Expressão regular para capturar o conteúdo dentro da <section>\nconst match = html.match(/<section id=\"pag-interna\">(.*?)<\\/section>/s);\n\n// Se encontrou a section, remove todas as tags HTML e retorna só o texto\nconst cleanText = match \n    ? match[1].replace(/<[^>]+>/g, '').trim()  // Remove tags HTML\n    : null;\n\nreturn [{\n    json: {\n        sectionText: cleanText // Retorna só o texto limpo\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2912,-32],"id":"010d521c-a26b-4fcb-8145-105670567e39","name":"Code1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2640,208],"id":"2a935569-848d-420c-9d24-5d5120a599d7","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"1eRhrPexZ1WlWgeo","name":"OpenAi"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"6388884b-6b6a-4811-94e3-f9e34e8ba3e7","leftValue":"={{ $json.text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"ac1ecb70-eba1-4193-a88b-827930070122","name":"Gerou conteúdo?1","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-2224,-80]},{"parameters":{"authentication":"oAuth2","operation":"update","id":"={{ $('Tarefa').item.json.id }}","updateFields":{"addAssignees":"49101880","content":"=# Instagram\n## Carrossel\n{{ $('IA 5 topicos').item.json.text }}\n## Legenda\n{{ $('IA resumo').item.json.text }}\n\n🔗 Veja o artigo completo no nosso site: {{ $json.link }}?ref=Se7e  \n\nSe7e Consultoria\n⭐ www.se7e.cnt.br | 📞 (62) 99507-7777\n📍 Rua 128, nº 67, Sala 202, Setor Sul, Goiânia/GO\"\n\n# Linkedin\nPegar o texto do link:\n{{ $('Code').item.json.Url_pagina }}","dueDate":"={{ (new Date(new Date().setDate(new Date().getDate() + 3))).toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }).replace(/\\//g, '-') }}\n\n","markdownContent":true,"name":"=Post Se7e: {{ $('Code2').item.json.title }}","status":"={{ \"Fazendo\" }}"}},"id":"b8c2df63-fe80-4c47-a816-e841cdf9619e","name":"Tarefa Concluída1","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-1552,-176],"credentials":{"clickUpOAuth2Api":{"id":"oo8JTPlXCEx2y4Iq","name":"ClickUp"}}},{"parameters":{"authentication":"oAuth2","operation":"update","id":"={{ $('Tarefa').item.json.id }}","updateFields":{"content":"={{ $json.output }}","dueDate":"={{ (new Date(new Date().setDate(new Date().getDate() + 1))).toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }).replace(/\\//g, '-') }}\n\n","markdownContent":true,"status":"={{ \"Fazendo\" }}"}},"id":"c0f84084-dfed-433b-a75c-4e28075ad985","name":"Com Erro -> Status \"Fazendo\"1","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-1920,48],"credentials":{"clickUpOAuth2Api":{"id":"oo8JTPlXCEx2y4Iq","name":"ClickUp"}}},{"parameters":{"jsCode":"const html = $input.first().json.data || ''; // Obtém o HTML da entrada\n\n// Extrai o título usando regex\nconst match = html.match(/<title>(.*?)<\\/title>/i);\nlet title = match ? match[1] : 'Título não encontrado';\n\n// Remove o sufixo indesejado\nconst suffix = \" - Contabilidade em Goiânia, Consultoria Empresarial | Se7e\";\nif (title.endsWith(suffix)) {\n    title = title.slice(0, -suffix.length);\n}\n\n// Retorna o título limpo\nreturn [{ title }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3120,-32],"id":"e93ff961-09a3-430e-97c5-bddf43655354","name":"Code2"},{"parameters":{"promptType":"define","text":"={{ $json.sectionText }}\n","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","message":"=com base no texto, gere 5 tópicos curtos, numerados de 1 a 5, para colocar como texto nas imagens do carrossel no instagram\n"},{"message":"Resposta objetiva"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-2672,-160],"id":"3d677740-1053-4b25-91ad-1ca81406e211","name":"IA 5 topicos"},{"parameters":{"promptType":"define","text":"={{ $('Code1').item.json.sectionText }}\n","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","message":"=com base no texto, faça um post para o instagram, inclua 10 hashtags relevantes e um CTA\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-2672,48],"id":"e0bde090-7d12-49c5-8f80-ba134e89f695","name":"IA resumo"},{"parameters":{"method":"POST","url":"https://api-ssl.bitly.com/v4/shorten","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer a5a16b095a0f8b9956491387d850185c84c593c3"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"long_url\": \"{{ $('Code').item.json.Url_pagina }}www\",\n  \"domain\": \"bit.ly\",\n  \"tags\": [\"Se7e\"]\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2000,-176],"id":"f97b3fab-9bbd-4982-a2c8-01856c8f94d0","name":"Encurta o link","notesInFlow":false},{"parameters":{"method":"PATCH","url":"=https://api-ssl.bitly.com/v4/bitlinks/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer a5a16b095a0f8b9956491387d850185c84c593c3"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"tags\": [\"Se7e\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1792,-176],"id":"3f275c71-04ba-49d6-9227-414f17daf43b","name":"Define TAG Bitly"}],"connections":{"ClickUp Trigger":{"main":[[{"node":"Moveu de \"a fazer\" para \"tratamento ia\"","type":"main","index":0}]]},"Gerou conteúdo?":{"main":[[{"node":"Tarefa Concluída","type":"main","index":0}],[{"node":"Com Erro -> Status \"Fazendo\"","type":"main","index":0}]]},"Tarefa":{"main":[[{"node":"Rota Cliente","type":"main","index":0}]]},"Moveu de \"a fazer\" para \"tratamento ia\"":{"main":[[{"node":"Tarefa","type":"main","index":0}]]},"Rota Cliente":{"main":[[{"node":"Tem link?","type":"main","index":0}],[{"node":"TMZ","type":"main","index":0}]]},"TMZ":{"main":[[{"node":"TMZ Post","type":"main","index":0}]]},"T&T":{"main":[[{"node":"T&T Post","type":"main","index":0}]]},"TMZ Post":{"main":[[{"node":"T&T","type":"main","index":0}]]},"Download binário do anexo1":{"main":[[{"node":"Anexar arquivo na tarefa TMZ","type":"main","index":0}]]},"Contabil - Redator Redes Sociais":{"main":[[{"node":"Gerou conteúdo?","type":"main","index":0}]]},"T&T Post":{"main":[[{"node":"Download binário do anexo1","type":"main","index":0}]]},"Tem link?":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Contabil - Redator Redes Sociais","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code1":{"main":[[{"node":"IA 5 topicos","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"IA resumo","type":"ai_languageModel","index":0},{"node":"IA 5 topicos","type":"ai_languageModel","index":0}]]},"Gerou conteúdo?1":{"main":[[{"node":"Encurta o link","type":"main","index":0}],[{"node":"Com Erro -> Status \"Fazendo\"1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Code1","type":"main","index":0}]]},"IA resumo":{"main":[[{"node":"Gerou conteúdo?1","type":"main","index":0}]]},"IA 5 topicos":{"main":[[{"node":"IA resumo","type":"main","index":0}]]},"Encurta o link":{"main":[[{"node":"Define TAG Bitly","type":"main","index":0}]]},"Define TAG Bitly":{"main":[[{"node":"Tarefa Concluída1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"ClickUp Trigger":[{"json":{"event":"taskStatusUpdated","history_items":[{"id":"4754409710081009156","type":1,"date":"1759181041503","field":"status","parent_id":"198965335","data":{"status_type":"custom"},"source":null,"user":{"id":42991982,"username":"Alessandro Torres","email":"suporte@alessandrotorres.com.br","color":"","initials":"AT","profilePicture":null,"role":1,"role_subtype":0},"before":{"status":"a fazer","color":"#87909e","orderindex":0,"type":"open"},"after":{"status":"para n8n","color":"#656f7d","orderindex":1,"type":"custom"}}],"task_id":"86ac61xn2","team_id":"30948962","webhook_id":"b3e30c1a-35e8-4d6c-8ae9-984b6916c397"}}]},"versionId":"a868bb19-0f07-46f4-93bb-12a5db64e175","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-17T14:19:09.951Z","createdAt":"2025-11-17T14:19:09.951Z","role":"workflow:owner","workflowId":"RbFJxBqcakvI9Hrr","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":null,"tags":[]}