Workflows/W8Ol1E3YypfEZYW5.json
{"updatedAt":"2026-01-15T20:58:04.200Z","createdAt":"2026-01-15T20:58:04.200Z","id":"W8Ol1E3YypfEZYW5","name":"BACKUP [ TERRA ] 2 / 3 - Monitoramento de Derrubada de Música - Spotify + YouTube copy","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5],"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[3008,464],"id":"d3c6582f-990b-4ca7-980d-f330604fbc57","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"b0d2006d-0464-4658-8fee-c4913f2bbc5a","name":"v_id_planilha","value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","type":"string"},{"id":"838f0fc2-3408-4398-8672-298d054a2601","name":"v_instancia_evolution","value":"Rich","type":"string"},{"id":"01d58034-4c4c-4799-939d-d2bae371e50a","name":"v_numero_para_enviar_alerta","value":"5562992445646","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3216,464],"id":"6c57a332-7846-485b-90c7-b8cf500ed32d","name":"Parametros"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3632,464],"id":"d15055a8-ba9e-4fb4-9ef2-9786af0fcee1","name":"Loop Over Items"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Parametros\"].json[\"v_id_planilha\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":1283597464,"mode":"list","cachedResultName":"Musica para monitorar","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=1283597464"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3424,464],"id":"29c5f103-26de-4814-ae76-46b0f50caeb2","name":"Carrega Dados","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"resource":"track","operation":"search","query":"=\"{{ $item(\"0\").$node[\"Loop Over Items\"].json[\"Nome da Música\"] }}\"","returnAll":true,"filters":{}},"type":"n8n-nodes-base.spotify","typeVersion":1,"position":[3888,560],"id":"c03db908-b7da-451b-a9cf-f397f6c54718","name":"Procura música Spotify","credentials":{"spotifyOAuth2Api":{"id":"JwkIB1F2cpDaCBxK","name":"Spotify account"}}},{"parameters":{"jsCode":"// Função para remover acentos e deixar minúsculo\nconst normalize = (str) => {\n  if (!str) return \"\";\n  return str\n    .toString()\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\") // Remove acentos\n    .trim();\n};\n\n// Pega o termo de busca e normaliza\nconst rawSearchTerm = $item(\"0\").$node[\"Loop Over Items\"].json[\"Nome da Música\"];\nconst searchTerm = normalize(rawSearchTerm);\n\n// Obtém o valor fixo do campo \"Artista\"\nconst artistaFixo = $item(0).$node[\"Loop Over Items\"].json[\"Artista\"];\n\nconst results = items\n  .filter(item => {\n    const trackName = normalize(item.json.name);\n    const albumName = normalize(item.json.album?.name);\n    return trackName.includes(searchTerm) || albumName.includes(searchTerm);\n  })\n  .map(item => {\n    const trackArtist = item.json.artists?.[0]?.name;\n    const albumArtist = item.json.album?.artists?.[0]?.name;\n    const finalArtist = trackArtist || albumArtist || \"Desconhecido\";\n\n    return {\n      json: {\n        \"Artista\": artistaFixo,\n        \"Nome da Música\": item.json.name,\n        \"Quem Gravou\": finalArtist,\n        \"Link da Música\": item.json.external_urls?.spotify || \"Não disponível\",\n        \"Plataforma\": \"Spotify\"\n      }\n    };\n  });\n\nreturn results.length > 0\n  ? results\n  : [{ json: { aviso: \"Nenhum dado retornado\", \"Artista\": artistaFixo } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4096,560],"id":"060292ae-7e10-4869-8500-27ceb775e6b5","name":"Filtro Spotify"},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/search","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"q","value":"=\"{{ $item(\"0\").$node[\"Loop Over Items\"].json[\"Nome da Música\"] }}\" {{ $item(\"0\").$node[\"Loop Over Items\"].json[\"Artista\"] }}"},{"name":"type","value":"video"},{"name":"maxResults","value":"50"}]},"options":{}},"id":"70368abf-384b-426b-a494-d885fe3ab4fb","name":"YouTube - Página 1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3888,768],"credentials":{"httpQueryAuth":{"id":"kB9zP6hbdGBZGA0E","name":"Query Auth [André e Andrade]"}}},{"parameters":{"jsCode":"// Extrai vídeos da página 1 e prepara página 2\nconst response = $input.first().json;\nconst items = response.items || [];\nconst nextPageToken = response.nextPageToken || '';\nconst loopData = $item(\"0\").$node[\"Loop Over Items\"].json;\nconst query = loopData[\"Nome da Música\"];\nconst artista = loopData[\"Artista\"];\n\n// Formata vídeos da página 1\nconst videosPagina1 = items.map(item => ({\n  titulo: item.snippet?.title || 'Sem título',\n  canal: item.snippet?.channelTitle || 'Canal desconhecido',\n  videoId: item.id?.videoId\n}));\n\nreturn [{\n  json: {\n    query: query,\n    artista: artista,\n    pageToken: nextPageToken,\n    pagina: 2,\n    videosPagina1: videosPagina1\n  }\n}];"},"id":"57529502-d029-4307-8dda-3c1e2b50cd19","name":"Processar YouTube Página 1","type":"n8n-nodes-base.code","typeVersion":2,"position":[4096,768]},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/search","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"q","value":"=\"{{ $json.query }}\" {{ $json.artista }}"},{"name":"type","value":"video"},{"name":"maxResults","value":"50"},{"name":"pageToken","value":"={{ $json.pageToken }}"}]},"options":{}},"id":"34877f84-bacc-477a-a0c2-dd18906efe64","name":"YouTube - Página 2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4304,768],"credentials":{"httpQueryAuth":{"id":"kB9zP6hbdGBZGA0E","name":"Query Auth [André e Andrade]"}}},{"parameters":{"jsCode":"// Combina resultados das duas páginas do YouTube\nconst response = $input.first().json;\nconst pagina1Data = $('Processar YouTube Página 1').first().json;\nconst items = response.items || [];\nconst artista = pagina1Data.artista;\nconst nomeMusica = pagina1Data.query;\n\n// Formata vídeos da página 2\nconst videosPagina2 = items.map(item => ({\n  titulo: item.snippet?.title || 'Sem título',\n  canal: item.snippet?.channelTitle || 'Canal desconhecido',\n  videoId: item.id?.videoId\n}));\n\n// Combina todas as páginas\nconst todosVideos = [...pagina1Data.videosPagina1, ...videosPagina2];\n\n// Retorna cada vídeo formatado para a planilha\nconst resultados = todosVideos.map(v => ({\n  json: {\n    \"Artista\": artista,\n    \"Nome da Música\": v.titulo,\n    \"Quem Gravou\": v.canal,\n    \"Link da Música\": `https://www.youtube.com/watch?v=${v.videoId}`,\n    \"Plataforma\": \"YouTube\"\n  }\n}));\n\nreturn resultados.length > 0 ? resultados : [{ json: { aviso: \"Nenhum vídeo encontrado no YouTube\", \"Artista\": artista } }];"},"id":"664b52f9-5601-4e08-9c05-f32f03543d38","name":"Filtro YouTube","type":"n8n-nodes-base.code","typeVersion":2,"position":[4512,768]},{"parameters":{},"id":"13de4a2c-e218-4f50-9202-16cbbd2fbd81","name":"Merge Spotify + YouTube","type":"n8n-nodes-base.merge","typeVersion":3,"position":[4720,672]},{"parameters":{"workflowId":{"__rl":true,"value":"B2sFlaGEqSEyB0A_8KqTy","mode":"id","cachedResultUrl":"/workflow/B2sFlaGEqSEyB0A_8KqTy"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[4928,672],"id":"ed08e1d5-6485-4a3e-a7e0-91c2d9997598","name":"Enviar para Processamento"},{"parameters":{"resource":"messages-api","instanceName":"={{ $node[\"Parametros\"].json[\"v_instancia_evolution\"] }}","remoteJid":"={{ $node[\"Parametros\"].json[\"v_numero_para_enviar_alerta\"] }}","messageText":"=Tem músicas para você verificar\n\nhttps://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit?gid=915258316#gid=915258316","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3888,368],"id":"15c5b1e3-1cf3-4f8a-b2c1-6e9a1984e7e8","name":"Enviar texto","credentials":{"evolutionApi":{"id":"gqMlUQxrxPNWPCn1","name":"Evolution - Hetzner Scala Server-1"}}},{"parameters":{"content":"## O que faz?\n\nProcura as músicas no **Spotify** e no **YouTube** e manda para o fluxo de checagem.\n\nSaída contém:\n- Artista\n- Nome da Música\n- Quem Gravou (artista/canal)\n- Link da Música\n- Plataforma (Spotify/YouTube)\n","width":400},"type":"n8n-nodes-base.stickyNote","position":[3024,240],"typeVersion":1,"id":"2024e4c6-ff40-45b1-9224-159545779d8f","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[3008,624],"id":"1cf5ee42-fa80-4117-bb0a-986f42d5a4e2","name":"When clicking 'Execute workflow'"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Parametros","type":"main","index":0}]]},"Parametros":{"main":[[{"node":"Carrega Dados","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[{"node":"Procura música Spotify","type":"main","index":0},{"node":"YouTube - Página 1","type":"main","index":0}]]},"Carrega Dados":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Procura música Spotify":{"main":[[{"node":"Filtro Spotify","type":"main","index":0}]]},"Filtro Spotify":{"main":[[{"node":"Merge Spotify + YouTube","type":"main","index":0}]]},"YouTube - Página 1":{"main":[[{"node":"Processar YouTube Página 1","type":"main","index":0}]]},"Processar YouTube Página 1":{"main":[[{"node":"YouTube - Página 2","type":"main","index":0}]]},"YouTube - Página 2":{"main":[[{"node":"Filtro YouTube","type":"main","index":0}]]},"Filtro YouTube":{"main":[[{"node":"Merge Spotify + YouTube","type":"main","index":1}]]},"Merge Spotify + YouTube":{"main":[[{"node":"Enviar para Processamento","type":"main","index":0}]]},"Enviar para Processamento":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking 'Execute workflow'":{"main":[[{"node":"Parametros","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"7692a01c-381c-41aa-bf68-3fe9bbcad913","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-01-15T20:58:04.200Z","createdAt":"2026-01-15T20:58:04.200Z","role":"workflow:owner","workflowId":"W8Ol1E3YypfEZYW5","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":null,"tags":[]}