Workflows/WMCjKBOvMZUS1h3e.json
{"updatedAt":"2026-01-15T20:31:40.898Z","createdAt":"2026-01-15T20:31:40.898Z","id":"WMCjKBOvMZUS1h3e","name":"BACKUP [ TERRA ] 3 / 5 - NOVA VERSÃO para testar - Monitoramento OTIMIZADO - Sem Wait copy","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[4688,544],"id":"23607e3e-a438-4f2a-bf36-c04d70dafbe3","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"1f3cb18e-cb56-49b1-9a9e-6f7a7cf12b0c","name":"v_id_planilha","value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4912,544],"id":"d7b20b94-1fdb-4c75-b776-e3f414c3ea50","name":"Parametro"},{"parameters":{"documentId":{"__rl":true,"value":"1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ","mode":"id"},"sheetName":{"__rl":true,"value":8523260,"mode":"list","cachedResultName":"Monitorando","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=8523260"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[5264,416],"id":"4124e2da-0f88-46a0-8394-1c0278da464c","name":"Carrega TODA Planilha Monitorando","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('Parametro').item.json.v_id_planilha }}","mode":"id"},"sheetName":{"__rl":true,"value":915258316,"mode":"list","cachedResultName":"Links encontrados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=915258316"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[5264,656],"id":"e58a6c8f-f5e7-43bb-8351-6f5bb6208afe","name":"Carrega TODA Planilha Links Encontrados","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[5488,544],"id":"754eebe0-19d0-4ba9-981f-64ffabeb56c3","name":"Aguarda Ambas Planilhas"},{"parameters":{"jsCode":"// ========================================================\n// FLUXO OTIMIZADO - Processamento em Lote (Batch)\n// ========================================================\n// Este código substitui múltiplas consultas individuais\n// ao Google Sheets por processamento local.\n// --------------------------------------------------------\n\n// 1. Recebe os dados combinados do Merge (ambas planilhas + trigger)\nconst todosOsInputs = $input.all();\n\n// 2. Obtém os dados de entrada originais (do workflow pai)\nconst itemsEntrada = $('When Executed by Another Workflow').all();\n\n// 3. Separa as URLs das planilhas (todos os items recebidos têm URL Spotify se forem das planilhas)\nconst urlsExistentes = new Set();\n\nfor (const item of todosOsInputs) {\n  const urlSpotify = item.json['URL Spotify'];\n  if (urlSpotify) {\n    urlsExistentes.add(urlSpotify.trim());\n  }\n}\n\n// 4. Processa cada item de entrada localmente\nconst urlsParaIncluir = [];\nconst dataInclusao = new Date().toISOString().slice(0,10).split('-').reverse().join('/');\n\nfor (const item of itemsEntrada) {\n  const dados = item.json || item;\n  \n  // Converte URL (adiciona /intl-pt/)\n  const urlOriginal = dados['Link da Música'] || '';\n  const urlConvertida = urlOriginal.replace('open.spotify.com/', 'open.spotify.com/intl-pt/');\n  \n  // Verifica se é o artista original (ignora se for)\n  const artistaOriginal = dados['Artista'] || '';\n  const quemGravou = dados['Quem Gravou'] || '';\n  \n  if (artistaOriginal === quemGravou) {\n    // É o artista original, pula\n    continue;\n  }\n  \n  // Verifica se a URL já existe em alguma das planilhas\n  if (!urlsExistentes.has(urlConvertida)) {\n    // URL nova! Adiciona à lista para inclusão\n    urlsParaIncluir.push({\n      json: {\n        'Data de inclusão': dataInclusao,\n        'Artista Original': artistaOriginal,\n        'Música': dados['Nome da Música'] || '',\n        'Artista que gravou': quemGravou,\n        'Derrubar': '???',\n        'URL Spotify': urlConvertida\n      }\n    });\n    // Adiciona ao Set para evitar duplicatas no mesmo lote\n    urlsExistentes.add(urlConvertida);\n  }\n}\n\n// 5. Retorna apenas as URLs novas para inserção em batch\nif (urlsParaIncluir.length === 0) {\n  // Se não há URLs novas, retorna um item vazio para sinalizar\n  return [{ json: { _nenhumaUrlNova: true, mensagem: 'Nenhuma URL nova encontrada' } }];\n}\n\nreturn urlsParaIncluir;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5712,544],"id":"fa5cfb17-0d57-44d4-80fa-6ef4ff9bbaa8","name":"Processa Localmente (Sem Wait)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-tem-urls","leftValue":"={{ $json._nenhumaUrlNova }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5936,544],"id":"25a003bb-0269-4a7e-8bb9-114ef0243dab","name":"Tem URLs novas?"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Parametro').first().json.v_id_planilha }}","mode":"id"},"sheetName":{"__rl":true,"value":915258316,"mode":"list","cachedResultName":"Links encontrados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_HUsyUlQQPw94qtlBa25ONNKy70Z43hTWqQvEEnv-GQ/edit#gid=915258316"},"columns":{"mappingMode":"defineBelow","value":{"Data de inclusão":"={{ $json['Data de inclusão'] }}","URL Spotify":"={{ $json['URL Spotify'] }}","Artista que gravou":"={{ $json['Artista que gravou'] }}","Música":"={{ $json['Música'] }}","Artista Original":"={{ $json['Artista Original'] }}","Derrubar":"={{ $json['Derrubar'] }}"},"matchingColumns":[],"schema":[{"id":"Data de inclusão","displayName":"Data de inclusão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Artista Original","displayName":"Artista Original","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Música","displayName":"Música","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Artista que gravou","displayName":"Artista que gravou","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Derrubar","displayName":"Derrubar","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL Spotify","displayName":"URL Spotify","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[6144,480],"id":"3bc2d784-4477-4e60-84b6-5f84f6c2e36b","name":"Insere TODAS URLs de uma vez (Batch)","credentials":{"googleSheetsOAuth2Api":{"id":"UtOnopf2ReArCy7F","name":"Google Sheets [ ale@alessandrotorres.com.br ]"}}},{"parameters":{"content":"## 🚀 FLUXO OTIMIZADO\n\n**Antes:** N × 3 chamadas à API (com waits de 10s cada)\n**Agora:** Apenas 3 chamadas no total!\n\n### Como funciona:\n1. Baixa TODA a planilha \"Monitorando\" (1 chamada)\n2. Baixa TODA a planilha \"Links Encontrados\" (1 chamada)\n3. Processa TUDO localmente via JavaScript (0 chamadas)\n4. Insere TODAS as URLs novas de uma vez (1 chamada)\n\n### Resultado:\n- Sem waits!\n- Execução ~10x mais rápida\n- Menos risco de rate limiting","height":400,"width":448},"type":"n8n-nodes-base.stickyNote","position":[4560,80],"typeVersion":1,"id":"310e83ee-0d0b-4ba2-aceb-316d782b833f","name":"Explicação"},{"parameters":{"content":"## ⚡ Processamento Local\n\nEste nó de código:\n1. Converte as URLs\n2. Filtra artistas originais\n3. Compara com AMBAS planilhas\n4. Retorna apenas URLs NOVAS\n\nTudo em memória, sem chamadas à API!","height":640,"width":256},"type":"n8n-nodes-base.stickyNote","position":[5632,144],"typeVersion":1,"id":"fa5499d3-8caf-4ce9-9da3-b229f12ab4ce","name":"Sobre o Código"},{"parameters":{"content":"## ✅ Inserção em Batch\n\nO nó Google Sheets aceita múltiplos items.\nTodos serão inseridos em UMA ÚNICA chamada à API!","height":640,"width":256},"type":"n8n-nodes-base.stickyNote","position":[6080,144],"typeVersion":1,"id":"309e2290-9497-4b17-8a98-8efa965e8263","name":"Sobre o Batch"},{"parameters":{"assignments":{"assignments":[{"id":"resultado-final","name":"resultado","value":"Nenhuma URL nova para inserir","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6144,640],"id":"0c2e71bb-8b20-4564-815b-25ca3f4453a0","name":"Sem URLs novas"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Parametro","type":"main","index":0}]]},"Parametro":{"main":[[{"node":"Carrega TODA Planilha Monitorando","type":"main","index":0},{"node":"Carrega TODA Planilha Links Encontrados","type":"main","index":0}]]},"Carrega TODA Planilha Monitorando":{"main":[[{"node":"Aguarda Ambas Planilhas","type":"main","index":0}]]},"Carrega TODA Planilha Links Encontrados":{"main":[[{"node":"Aguarda Ambas Planilhas","type":"main","index":1}]]},"Aguarda Ambas Planilhas":{"main":[[{"node":"Processa Localmente (Sem Wait)","type":"main","index":0}]]},"Processa Localmente (Sem Wait)":{"main":[[{"node":"Tem URLs novas?","type":"main","index":0}]]},"Tem URLs novas?":{"main":[[{"node":"Insere TODAS URLs de uma vez (Batch)","type":"main","index":0}],[{"node":"Sem URLs novas","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"Artista":"Muriel Alves","Nome da Música":"Bufalo do Marajo","Quem Gravou":"Banda AR-15","Link da Música":"https://open.spotify.com/track/5slf5vJtOhDc52BxIbZ6CF","Plataforma":"Spotify"},"pairedItem":{"item":0}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo Do Marajó - Ao Vivo","Quem Gravou":"O Muriel","Link da Música":"https://open.spotify.com/track/4ScIxqcGDrJI8jCrd31brK","Plataforma":"Spotify"},"pairedItem":{"item":1}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Bufalo do Marajo","Quem Gravou":"BANDA XARADA","Link da Música":"https://open.spotify.com/track/4ruR5ck14iWUJ1lIRWhrMS","Plataforma":"Spotify"},"pairedItem":{"item":2}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó","Quem Gravou":"O Muriel","Link da Música":"https://open.spotify.com/track/5JOqMN734zqcTt5k5drwfj","Plataforma":"Spotify"},"pairedItem":{"item":3}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó","Quem Gravou":"Banda 007","Link da Música":"https://open.spotify.com/track/6xDjpCRQkiEIwcdjRVswjm","Plataforma":"Spotify"},"pairedItem":{"item":4}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Bufalo do Marajo","Quem Gravou":"BANDA XARADA","Link da Música":"https://open.spotify.com/track/1ltqQrRE8x2dIaXfBi016F","Plataforma":"Spotify"},"pairedItem":{"item":5}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Faz o Chifrinho Com o Bufalo do Marajó","Quem Gravou":"Banda Ravelly","Link da Música":"https://open.spotify.com/track/25EzoBef716zOQiqUQPQEc","Plataforma":"Spotify"},"pairedItem":{"item":6}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó","Quem Gravou":"Aretuza Lovi","Link da Música":"https://open.spotify.com/track/76tnBMbH2D5HbvZ3g5ZRSI","Plataforma":"Spotify"},"pairedItem":{"item":7}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó 2 (O Badala É Show)","Quem Gravou":"Banda Pancadance","Link da Música":"https://open.spotify.com/track/6EKgk9JIiEzGcyu1Df1fFB","Plataforma":"Spotify"},"pairedItem":{"item":8}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Tum Tum Tum Bufalo do Marajo","Quem Gravou":"BANDA XARADA","Link da Música":"https://open.spotify.com/track/6e1HeozhW69XE0qEfxzodK","Plataforma":"Spotify"},"pairedItem":{"item":9}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó","Quem Gravou":"Aretuza Lovi","Link da Música":"https://open.spotify.com/track/5UMFk3vUe7rWvMYVnZEJk7","Plataforma":"Spotify"},"pairedItem":{"item":10}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó","Quem Gravou":"Banda Kenner","Link da Música":"https://open.spotify.com/track/47x0lh8xYgyKfxS0A2LPnt","Plataforma":"Spotify"},"pairedItem":{"item":11}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó","Quem Gravou":"Gibão e 500","Link da Música":"https://open.spotify.com/track/0y2kTqDgw3wPkeX6sju3sg","Plataforma":"Spotify"},"pairedItem":{"item":12}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó","Quem Gravou":"Banda Quero+","Link da Música":"https://open.spotify.com/track/2QnTK0BK7WUmerkEgTmK7F","Plataforma":"Spotify"},"pairedItem":{"item":13}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Ela Tá Com Piripake No Búfalo do Marajó","Quem Gravou":"Marlon Branco","Link da Música":"https://open.spotify.com/track/3zUyhTFURAEfPBtQsfNKDD","Plataforma":"Spotify"},"pairedItem":{"item":14}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Para de Pegar no Meu Pé (Búfalo do Marajó)","Quem Gravou":"Batiddao Oficial","Link da Música":"https://open.spotify.com/track/1oBXRPC3wYZCPEeg04mNwj","Plataforma":"Spotify"},"pairedItem":{"item":15}},{"json":{"Artista":"Muriel Alves","Nome da Música":"BUFALO DO MARAJÓ - Muriel (DVD O Pipoco Das Cavalgadas) IG omurieloficial","Quem Gravou":"Muriel Alves","Link da Música":"https://www.youtube.com/watch?v=lsv3A5fw6no","Plataforma":"YouTube"},"pairedItem":{"item":16}},{"json":{"Artista":"Muriel Alves","Nome da Música":"BÚFALO DO MARAJÓ - Muriel Alves (Ao Vivo Em Goiânia)","Quem Gravou":"Muriel Alves","Link da Música":"https://www.youtube.com/watch?v=1dXgB4-JmKo","Plataforma":"YouTube"},"pairedItem":{"item":17}},{"json":{"Artista":"Muriel Alves","Nome da Música":"BÚFALO DO MARAJÓ - Muriel Alves (Coreografia Move mix)","Quem Gravou":"MOVE MIX","Link da Música":"https://www.youtube.com/watch?v=JCJ2Oqnt-mE","Plataforma":"YouTube"},"pairedItem":{"item":18}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Muriel Alves - Búfalo do Marajó (Letra)","Quem Gravou":"VibeIn","Link da Música":"https://www.youtube.com/watch?v=K5PSZvLZb4Q","Plataforma":"YouTube"},"pairedItem":{"item":19}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó","Quem Gravou":"Banda 007 - Topic","Link da Música":"https://www.youtube.com/watch?v=20ymv6jjqbU","Plataforma":"YouTube"},"pairedItem":{"item":20}},{"json":{"Artista":"Muriel Alves","Nome da Música":"BÚFALO DO MARAJO - Muriel alves/Com grave","Quem Gravou":"@Deusa_Do_You tube","Link da Música":"https://www.youtube.com/watch?v=bnic1yniGD4","Plataforma":"YouTube"},"pairedItem":{"item":21}},{"json":{"Artista":"Muriel Alves","Nome da Música":"BUFALO DO MARAJÓ - Muriel|Rubinho Araujo","Quem Gravou":"Rubinho Araújo","Link da Música":"https://www.youtube.com/watch?v=T1AbYWVYlyA","Plataforma":"YouTube"},"pairedItem":{"item":22}},{"json":{"Artista":"Muriel Alves","Nome da Música":"BÚFALO DO MARAJÓ REMIX - MURIEL ALVES FEAT. DJ ALEX PEREIRA","Quem Gravou":"Dj Alex Pereira","Link da Música":"https://www.youtube.com/watch?v=0tKM78jf_wM","Plataforma":"YouTube"},"pairedItem":{"item":23}},{"json":{"Artista":"Muriel Alves","Nome da Música":"SONZÃO - Muriel (DVD O Pipoco Das Cavalgadas) IG murieloficial","Quem Gravou":"Muriel Alves","Link da Música":"https://www.youtube.com/watch?v=heeORxWxg20","Plataforma":"YouTube"},"pairedItem":{"item":24}},{"json":{"Artista":"Muriel Alves","Nome da Música":"BUFALO DO MARAJÓ - Muriel (DVD OPipoco Das Cavalgadas) IG omurieloficial COM GRAVE FORTE 🔊🔥","Quem Gravou":"GRAVE BR PBS ®","Link da Música":"https://www.youtube.com/watch?v=IRwysPdFBl8","Plataforma":"YouTube"},"pairedItem":{"item":25}},{"json":{"Artista":"Muriel Alves","Nome da Música":"FOI COM BADALASOM QUE ME APAIXONEI • MURIEL ALVES - BÚFALO DO MARAJÓ ( VIRAL TIK TOK )","Quem Gravou":"Lukas Graves","Link da Música":"https://www.youtube.com/watch?v=UKDUV3jUblc","Plataforma":"YouTube"},"pairedItem":{"item":26}},{"json":{"Artista":"Muriel Alves","Nome da Música":"BÚFALO DO MARAJÓ - Muriel Alves","Quem Gravou":"Funk dos Fluxos","Link da Música":"https://www.youtube.com/watch?v=iGGsYDfcmnU","Plataforma":"YouTube"},"pairedItem":{"item":27}},{"json":{"Artista":"Muriel Alves","Nome da Música":"FAIXA ROSA - Muriel Alves, Mac Júlia e Guilherme Silva (Ao Vivo Em Goiânia)","Quem Gravou":"Muriel Alves","Link da Música":"https://www.youtube.com/watch?v=4i5FuEawNhM","Plataforma":"YouTube"},"pairedItem":{"item":28}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Karaokê Búfalo do Marajó - Muriel Alves (Com Letra) #VersãoRa-Stúdios","Quem Gravou":"Portal dos Play Backs ","Link da Música":"https://www.youtube.com/watch?v=w5dhDxnHy2k","Plataforma":"YouTube"},"pairedItem":{"item":29}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Banda 007 - Búfalo do Marajó","Quem Gravou":"Canal Das Marcantes","Link da Música":"https://www.youtube.com/watch?v=pl_zwfpwmbk","Plataforma":"YouTube"},"pairedItem":{"item":30}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó - Muriel - Fellipe produçõesdj","Quem Gravou":"Fellipe produçõesdj🔥","Link da Música":"https://www.youtube.com/watch?v=DAAqm9B6CKc","Plataforma":"YouTube"},"pairedItem":{"item":31}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Muriel - Bufalo Do Marajo @murielalvesoficial ((COM GRAVE))","Quem Gravou":"DR Divulgações","Link da Música":"https://www.youtube.com/watch?v=vIc9lkR8xYs","Plataforma":"YouTube"},"pairedItem":{"item":32}},{"json":{"Artista":"Muriel Alves","Nome da Música":"É O BÚFALO DO MARAJÓ - Muriel Alves (Web Clipe)","Quem Gravou":"Funk dos Fluxos","Link da Música":"https://www.youtube.com/watch?v=NDEeVrKg1OE","Plataforma":"YouTube"},"pairedItem":{"item":33}},{"json":{"Artista":"Muriel Alves","Nome da Música":"BEBA DOIDA - Muriel Alves (Ao Vivo Em Goiânia)","Quem Gravou":"Muriel Alves","Link da Música":"https://www.youtube.com/watch?v=nSIAdqBV39c","Plataforma":"YouTube"},"pairedItem":{"item":34}},{"json":{"Artista":"Muriel Alves","Nome da Música":"MORENA TRAIADA - Muriel Alves, Sérgio Silva (Ao Vivo Em Goiânia)","Quem Gravou":"Muriel Alves","Link da Música":"https://www.youtube.com/watch?v=za3owRi2chA","Plataforma":"YouTube"},"pairedItem":{"item":35}},{"json":{"Artista":"Muriel Alves","Nome da Música":"APAIXONADO EM TU - Muriel (DVD O Pipoco Das Cavalgadas)","Quem Gravou":"Muriel Alves","Link da Música":"https://www.youtube.com/watch?v=tStZfj0omcY","Plataforma":"YouTube"},"pairedItem":{"item":36}},{"json":{"Artista":"Muriel Alves","Nome da Música":"É o BÚFALO do MARAJÓ 😂😍 #shorts","Quem Gravou":"Atum maloka","Link da Música":"https://www.youtube.com/watch?v=wdR368cSEgs","Plataforma":"YouTube"},"pairedItem":{"item":37}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó","Quem Gravou":"Diego Medeiros","Link da Música":"https://www.youtube.com/watch?v=aPmehQKO3lg","Plataforma":"YouTube"},"pairedItem":{"item":38}},{"json":{"Artista":"Muriel Alves","Nome da Música":"BÚFALO DO MARAJÓ - Muriel Alves","Quem Gravou":"OMENA GOOD MUSIC","Link da Música":"https://www.youtube.com/watch?v=MIFX18DzacE","Plataforma":"YouTube"},"pairedItem":{"item":39}},{"json":{"Artista":"Muriel Alves","Nome da Música":"BUFALO DO MARAJO karaokê de MURIEL ALVES | KARAOKE com letra rolante","Quem Gravou":"PlayOke Karaoke","Link da Música":"https://www.youtube.com/watch?v=_5mN5FfdFkk","Plataforma":"YouTube"},"pairedItem":{"item":40}},{"json":{"Artista":"Muriel Alves","Nome da Música":"OS BRUTOS DO FORRÓ- MURIEL ALVES - MULEKY LOKO ","Quem Gravou":"forró muleky loko pancadão","Link da Música":"https://www.youtube.com/watch?v=6Au8_g0nl6c","Plataforma":"YouTube"},"pairedItem":{"item":41}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Bufalo do Marajo - Dj Carlos Henrique , Dj DanLive , Muriel Alves","Quem Gravou":"DJ CARLOS HENRIQUE ","Link da Música":"https://www.youtube.com/watch?v=1IpaOWXP7dA","Plataforma":"YouTube"},"pairedItem":{"item":42}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó #passinho","Quem Gravou":"Isa e bim ","Link da Música":"https://www.youtube.com/watch?v=2FzCMcrThXA","Plataforma":"YouTube"},"pairedItem":{"item":43}},{"json":{"Artista":"Muriel Alves","Nome da Música":"ORQUESTRA - Muriel Alves (Ao Vivo Em Goiânia)","Quem Gravou":"Muriel Alves","Link da Música":"https://www.youtube.com/watch?v=2qDCb0xzlpw","Plataforma":"YouTube"},"pairedItem":{"item":44}},{"json":{"Artista":"Muriel Alves","Nome da Música":"O MURIEL - O BÚFALO DO MARAJO","Quem Gravou":"Mix Show","Link da Música":"https://www.youtube.com/watch?v=lgGhAEtXN-g","Plataforma":"YouTube"},"pairedItem":{"item":45}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Muriel Alves - Rancho Do Vaqueiro 🐎 [Clipe Oficial]","Quem Gravou":"Muriel Alves","Link da Música":"https://www.youtube.com/watch?v=5PnlrcbfIPg","Plataforma":"YouTube"},"pairedItem":{"item":46}},{"json":{"Artista":"Muriel Alves","Nome da Música":"MELODY - BUFALO DO MARAJO","Quem Gravou":"Danilo Ferreira","Link da Música":"https://www.youtube.com/watch?v=Gaw02W3jiGA","Plataforma":"YouTube"},"pairedItem":{"item":47}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Passinho do Marajó ​⁠@Rafaelfioti","Quem Gravou":"Rafael Fioti","Link da Música":"https://www.youtube.com/watch?v=W950wPSZdWA","Plataforma":"YouTube"},"pairedItem":{"item":48}},{"json":{"Artista":"Muriel Alves","Nome da Música":"DVD - BÚFALO DO MARAJÓ A FORÇA - FESTIVAL DO ABACAXI PORTO GRANDE - AP 2023","Quem Gravou":"BÚFALO DO MARAJÓ - A FORÇA","Link da Música":"https://www.youtube.com/watch?v=BVAJ5wNX8-w","Plataforma":"YouTube"},"pairedItem":{"item":49}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Guilherme Silva - DANÇA COMO EU DANÇO (TBT Na Roça)","Quem Gravou":"Guilherme Silva Oficial","Link da Música":"https://www.youtube.com/watch?v=pVgRChucjj4","Plataforma":"YouTube"},"pairedItem":{"item":50}},{"json":{"Artista":"Muriel Alves","Nome da Música":"BUFALO DO MARAJÓ - MURIEL ALVES ‹ NOVO HIT 2025 ›","Quem Gravou":"Rm Divulga","Link da Música":"https://www.youtube.com/watch?v=oD9n-B3jA08","Plataforma":"YouTube"},"pairedItem":{"item":51}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó 😌 #dance #look","Quem Gravou":"Lorena Laurêncio","Link da Música":"https://www.youtube.com/watch?v=djHnfIGLV9Y","Plataforma":"YouTube"},"pairedItem":{"item":52}},{"json":{"Artista":"Muriel Alves","Nome da Música":"DVD - Chicote De Luxo- Morena Bonitona Ao Vivo  2025","Quem Gravou":"Chicote De Luxo Oficial","Link da Música":"https://www.youtube.com/watch?v=KvrYmPp0IXY","Plataforma":"YouTube"},"pairedItem":{"item":53}},{"json":{"Artista":"Muriel Alves","Nome da Música":"búfalo do Marajó                                                      #dance #bufalodomarajo","Quem Gravou":"Isa e bim ","Link da Música":"https://www.youtube.com/watch?v=WBq0m25Yekc","Plataforma":"YouTube"},"pairedItem":{"item":54}},{"json":{"Artista":"Muriel Alves","Nome da Música":"BUFALO DO MARAJO - MURIEL ALVES ( VERSÃO PISEIRO REMIX ) @Nei_Silva_Remix ","Quem Gravou":"Divulga REMIX ","Link da Música":"https://www.youtube.com/watch?v=YHwOrfEPEjU","Plataforma":"YouTube"},"pairedItem":{"item":55}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Bufalo do Marajo   Dj Carlos Henrique   Dj DanLive   Muriel Alves FUNK REMIX","Quem Gravou":"FUNKRemix DJ erick","Link da Música":"https://www.youtube.com/watch?v=SgLLCAHj4x8","Plataforma":"YouTube"},"pairedItem":{"item":56}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Passinho do Búfalo do Marajó","Quem Gravou":"Sintonizaê","Link da Música":"https://www.youtube.com/watch?v=7UMN29TTIqE","Plataforma":"YouTube"},"pairedItem":{"item":57}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Morena Bonitona","Quem Gravou":"Forrozão Chicote D' Luxo - Topic","Link da Música":"https://www.youtube.com/watch?v=AgNnKLzVYmE","Plataforma":"YouTube"},"pairedItem":{"item":58}},{"json":{"Artista":"Muriel Alves","Nome da Música":"DEIXA EU TE AMAR - Muriel Alves, Brisa Star (Ao Vivo Em Goiânia)","Quem Gravou":"Muriel Alves","Link da Música":"https://www.youtube.com/watch?v=4OxOCkARM8g","Plataforma":"YouTube"},"pairedItem":{"item":59}},{"json":{"Artista":"Muriel Alves","Nome da Música":"BUFALO DO MARAJÓ _ MURIEL ( DVD O PIPOCO DAS CAVELGADAS ) IG OMURIELOFICIAL ( M8 DIVULGAÇÕES )","Quem Gravou":"M8 DIVULGAÇÕES ","Link da Música":"https://www.youtube.com/watch?v=XeIOFhzci-k","Plataforma":"YouTube"},"pairedItem":{"item":60}},{"json":{"Artista":"Muriel Alves","Nome da Música":"&quot;vídeo aula&quot; BÚFALO DO MARAJÓ - MURIEL ALVES (Tutorial) NO PSR S670 ","Quem Gravou":"MazioTeclado Music Show","Link da Música":"https://www.youtube.com/watch?v=fOfO6ispUvM","Plataforma":"YouTube"},"pairedItem":{"item":61}},{"json":{"Artista":"Muriel Alves","Nome da Música":"“Eo Búfalo Do Marajó” #bufalodomarajo #dança #ferias #memes #humor #comedia","Quem Gravou":"Rafic_oficial","Link da Música":"https://www.youtube.com/watch?v=pbYgTCKzY1A","Plataforma":"YouTube"},"pairedItem":{"item":62}},{"json":{"Artista":"Muriel Alves","Nome da Música":"MELODY BUFALO DO MARAJÓ - BANDA 007","Quem Gravou":"miley Jungsu","Link da Música":"https://www.youtube.com/watch?v=Mun1lEcYE6A","Plataforma":"YouTube"},"pairedItem":{"item":63}},{"json":{"Artista":"Muriel Alves","Nome da Música":"MURIEL - BÚFALO DO MARAJÓ (vídeo aula) #SHORTS","Quem Gravou":"MazioTeclado Music Show","Link da Música":"https://www.youtube.com/watch?v=jvzZ3pQWrmw","Plataforma":"YouTube"},"pairedItem":{"item":64}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo de Marajó - Muriel 🔥 #shorts","Quem Gravou":"Reels Bolado","Link da Música":"https://www.youtube.com/watch?v=1IovHCYFf0k","Plataforma":"YouTube"},"pairedItem":{"item":65}},{"json":{"Artista":"Muriel Alves","Nome da Música":"DANÇAMOS BÚFALO DO MARAJÓ EM BARRETOS @Rafaelfioti","Quem Gravou":"Rafael Fioti","Link da Música":"https://www.youtube.com/watch?v=GYVura_k64Y","Plataforma":"YouTube"},"pairedItem":{"item":66}},{"json":{"Artista":"Muriel Alves","Nome da Música":"É o Búfalo do Marajó","Quem Gravou":"Duda Óliver","Link da Música":"https://www.youtube.com/watch?v=WPQPRqomNs8","Plataforma":"YouTube"},"pairedItem":{"item":67}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Quem consegue dançar o búfalo do marajó eles do lado Del passam do buffo do marajó","Quem Gravou":"Dj guilherme freiree.12","Link da Música":"https://www.youtube.com/watch?v=DukUTTvX4_U","Plataforma":"YouTube"},"pairedItem":{"item":68}},{"json":{"Artista":"Muriel Alves","Nome da Música":"É o Búfalo do Marajó (Passinho)","Quem Gravou":"Sintonizaê","Link da Música":"https://www.youtube.com/watch?v=-YaeO3IHE1A","Plataforma":"YouTube"},"pairedItem":{"item":69}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo 🐃 do Marajó #viral2025 #flaviomemes #pecuarista #bufalos #marajó #rodeiobrasileiro #touro","Quem Gravou":"Alison Sonhador","Link da Música":"https://www.youtube.com/watch?v=0KFIRa46h90","Plataforma":"YouTube"},"pairedItem":{"item":70}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó – versão [ Gedessouza1]”","Quem Gravou":"Gedessouza ","Link da Música":"https://www.youtube.com/watch?v=ksxc37ZsdZs","Plataforma":"YouTube"},"pairedItem":{"item":71}},{"json":{"Artista":"Muriel Alves","Nome da Música":"MEGAMIX | SERTANEJO + PISEIRO | ForróNejo 2025 [ SAMUK-A NO BEAT ] 03","Quem Gravou":"Samuka Perfect","Link da Música":"https://www.youtube.com/watch?v=YsL6eRCIwqw","Plataforma":"YouTube"},"pairedItem":{"item":72}},{"json":{"Artista":"Muriel Alves","Nome da Música":"O que é  búfalo do Marajó? #Marajó #pará #murielalves #geonysxavieroficial","Quem Gravou":"Geonys Xavier Oficial","Link da Música":"https://www.youtube.com/watch?v=F0TO2ckflM4","Plataforma":"YouTube"},"pairedItem":{"item":73}},{"json":{"Artista":"Muriel Alves","Nome da Música":"UÉ UÉ - Robinho Estilizado &amp; Thomas Vaqueiro  ( Clipe Oficial)","Quem Gravou":"Robinho Estilizado","Link da Música":"https://www.youtube.com/watch?v=CwUt70fTLbo","Plataforma":"YouTube"},"pairedItem":{"item":74}},{"json":{"Artista":"Muriel Alves","Nome da Música":"#BUFALO DO MARAJO","Quem Gravou":"YAN SA","Link da Música":"https://www.youtube.com/watch?v=MpaBL1NVZ8I","Plataforma":"YouTube"},"pairedItem":{"item":75}},{"json":{"Artista":"Muriel Alves","Nome da Música":"BUFALO DO MARAJÓ - Muriel  playback, karaokê","Quem Gravou":"Elvis Aguiar","Link da Música":"https://www.youtube.com/watch?v=jPNLEpAIQCc","Plataforma":"YouTube"},"pairedItem":{"item":76}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Bufalo do Marajó","Quem Gravou":"Alan Carvalho (A Batida que Vicia) - Topic","Link da Música":"https://www.youtube.com/watch?v=Oz6BoQX6Meo","Plataforma":"YouTube"},"pairedItem":{"item":77}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó","Quem Gravou":"Duda Óliver","Link da Música":"https://www.youtube.com/watch?v=dPMpSeT0u8E","Plataforma":"YouTube"},"pairedItem":{"item":78}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Oque é “Búfalo do Marajo”? #dance #shortsviral #shortsdance #bufalodomarajo #shorts","Quem Gravou":"Gustavo Santana","Link da Música":"https://www.youtube.com/watch?v=ExkjU0Gw9bI","Plataforma":"YouTube"},"pairedItem":{"item":79}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó","Quem Gravou":"FAMILIA LIMA","Link da Música":"https://www.youtube.com/watch?v=3lMB7eRG2k0","Plataforma":"YouTube"},"pairedItem":{"item":80}},{"json":{"Artista":"Muriel Alves","Nome da Música":"música búfalo do Marajó","Quem Gravou":"Izabela Alves","Link da Música":"https://www.youtube.com/watch?v=KYVw_lwzf_M","Plataforma":"YouTube"},"pairedItem":{"item":81}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó - alojas da casper (vídeo amador)","Quem Gravou":"Fala!Universidades","Link da Música":"https://www.youtube.com/watch?v=EItqoKPuzP4","Plataforma":"YouTube"},"pairedItem":{"item":82}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Cd Bufalo Recordações - Festa do Círio de Belém (( dj Iran )) CD relíquea","Quem Gravou":"FREQUÊNCIA AMAZÔNIA OFFICIAL","Link da Música":"https://www.youtube.com/watch?v=65neLXq6o3E","Plataforma":"YouTube"},"pairedItem":{"item":83}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do marajo #shorts #short #Thayna","Quem Gravou":"Thaynar","Link da Música":"https://www.youtube.com/watch?v=nEL2hCu1t1s","Plataforma":"YouTube"},"pairedItem":{"item":84}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Bufalo Marajoara","Quem Gravou":"Diego Valerio","Link da Música":"https://www.youtube.com/watch?v=iz4KLqHGJxY","Plataforma":"YouTube"},"pairedItem":{"item":85}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Como fazer o passinho Búfalo do Marajó ​⁠@Rafaelfioti","Quem Gravou":"Rafael Fioti","Link da Música":"https://www.youtube.com/watch?v=rXVUuii1QSo","Plataforma":"YouTube"},"pairedItem":{"item":86}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó","Quem Gravou":"FK10 - Topic","Link da Música":"https://www.youtube.com/watch?v=FoHhxbcu76U","Plataforma":"YouTube"},"pairedItem":{"item":87}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Como fazer o passinho búfalo do Marajó @Rafaelfioti","Quem Gravou":"Rafael Fioti","Link da Música":"https://www.youtube.com/watch?v=Nxmvh_EK0gM","Plataforma":"YouTube"},"pairedItem":{"item":88}},{"json":{"Artista":"Muriel Alves","Nome da Música":"🐃 POLICIAMENTO MONTADO COM BÚFALOS: UMA TRADIÇÃO ÚNICA DA ILHA DE MARAJÓ #culturaparaense #cop30","Quem Gravou":"Na Boca do Povo Paraense","Link da Música":"https://www.youtube.com/watch?v=fhJP4dDzZr8","Plataforma":"YouTube"},"pairedItem":{"item":89}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó 🦬 #dance #shortvideo #dança #memes","Quem Gravou":"Bruno Leonardo Maciel","Link da Música":"https://www.youtube.com/watch?v=EGyiOkXOJno","Plataforma":"YouTube"},"pairedItem":{"item":90}},{"json":{"Artista":"Muriel Alves","Nome da Música":"o bufalo do marajo","Quem Gravou":"IRMÃOS UAI","Link da Música":"https://www.youtube.com/watch?v=OPsvRh6mXys","Plataforma":"YouTube"},"pairedItem":{"item":91}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó","Quem Gravou":"FAMILIA LIMA","Link da Música":"https://www.youtube.com/watch?v=WjVYfMAGdTc","Plataforma":"YouTube"},"pairedItem":{"item":92}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó (Ao Vivo)","Quem Gravou":"kau Araujo - Topic","Link da Música":"https://www.youtube.com/watch?v=r-VlgxtYxRI","Plataforma":"YouTube"},"pairedItem":{"item":93}},{"json":{"Artista":"Muriel Alves","Nome da Música":"￼ é o búfalo do Marajó","Quem Gravou":"EMILLY ALVEZ","Link da Música":"https://www.youtube.com/watch?v=0aYH2mKhjEA","Plataforma":"YouTube"},"pairedItem":{"item":94}},{"json":{"Artista":"Muriel Alves","Nome da Música":"BÚFALO DO MARAJO NO AMAPÁ 🔥🤠🤘","Quem Gravou":"Show Das Aparelhagens","Link da Música":"https://www.youtube.com/watch?v=8GeCmapl7o0","Plataforma":"YouTube"},"pairedItem":{"item":95}},{"json":{"Artista":"Muriel Alves","Nome da Música":"#cover #Bufalo do Marajo#Murielalves","Quem Gravou":"Taninha","Link da Música":"https://www.youtube.com/watch?v=_3D80N_xN7s","Plataforma":"YouTube"},"pairedItem":{"item":96}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Bernard Bear | Bullfighter AND MORE | 30 min Compilation | Cartoons for Children","Quem Gravou":"Bernard Bear","Link da Música":"https://www.youtube.com/watch?v=lYtvrExgcJU","Plataforma":"YouTube"},"pairedItem":{"item":97}},{"json":{"Artista":"Muriel Alves","Nome da Música":"BANDA 007 - BÚFALO DO MARAJÓ (MARCANTE)","Quem Gravou":"ERIK CALDAS 🎵","Link da Música":"https://www.youtube.com/watch?v=eFVvamwvQxc","Plataforma":"YouTube"},"pairedItem":{"item":98}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo de Marajó","Quem Gravou":"Duda Óliver","Link da Música":"https://www.youtube.com/watch?v=9EoCsa2Mc1o","Plataforma":"YouTube"},"pairedItem":{"item":99}},{"json":{"Artista":"Muriel Alves","Nome da Música":"É o búfalo do Marajó","Quem Gravou":"Duda Óliver","Link da Música":"https://www.youtube.com/watch?v=2Kr6NRMog9U","Plataforma":"YouTube"},"pairedItem":{"item":100}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Polícia militar montada em búfalo Soure Marajó","Quem Gravou":"Thiaguinhomarajo","Link da Música":"https://www.youtube.com/watch?v=cSRfsQTe2CE","Plataforma":"YouTube"},"pairedItem":{"item":101}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Tum Tum Tum Bufalo do Marajo","Quem Gravou":"Banda Xarada - Topic","Link da Música":"https://www.youtube.com/watch?v=6lfdWKymonU","Plataforma":"YouTube"},"pairedItem":{"item":102}},{"json":{"Artista":"Muriel Alves","Nome da Música":"A FÊNIX E ÁGUIA DO MARAJÓ J SOM ENCONTRO DE MILHÕES (MARCANTES)","Quem Gravou":"Renan Cd's do Pará","Link da Música":"https://www.youtube.com/watch?v=HmkeoQa8fVY","Plataforma":"YouTube"},"pairedItem":{"item":103}},{"json":{"Artista":"Muriel Alves","Nome da Música":"BÚFALO DO MARAJÓ MANÇO","Quem Gravou":"AGRONORTE","Link da Música":"https://www.youtube.com/watch?v=2xxV4f3AV0k","Plataforma":"YouTube"},"pairedItem":{"item":104}},{"json":{"Artista":"Muriel Alves","Nome da Música":"É O BÚFALO DO MARAJÓ 🤠🔥 - O meu amor é só pra você 😚💫🍃 | Alvin Musik","Quem Gravou":"Alvin Musik","Link da Música":"https://www.youtube.com/watch?v=QU3lV69uj9s","Plataforma":"YouTube"},"pairedItem":{"item":105}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó- Coreografia G da dança ","Quem Gravou":"G “G da dança” da dança","Link da Música":"https://www.youtube.com/watch?v=5Nh4BnbOM_M","Plataforma":"YouTube"},"pairedItem":{"item":106}},{"json":{"Artista":"Muriel Alves","Nome da Música":"#robsonabrreu","Quem Gravou":"Portal Leozinn 077","Link da Música":"https://www.youtube.com/watch?v=cDL8ep_Bknw","Plataforma":"YouTube"},"pairedItem":{"item":107}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do Marajó (Ao Vivo)","Quem Gravou":"Romário Amaral - Topic","Link da Música":"https://www.youtube.com/watch?v=o_Xdx4zM-QY","Plataforma":"YouTube"},"pairedItem":{"item":108}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Marajó ilha encantada, só aqui você nada com búfalos nas praias de água doce.","Quem Gravou":"Mikenfranca","Link da Música":"https://www.youtube.com/watch?v=M0FpJlfx7iM","Plataforma":"YouTube"},"pairedItem":{"item":109}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Mangalarga música é o búfalo do marajó pra quem pediu","Quem Gravou":"cavalos_edits","Link da Música":"https://www.youtube.com/watch?v=qFScX_0_P48","Plataforma":"YouTube"},"pairedItem":{"item":110}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Muriel Alves - Pagina de Amigos","Quem Gravou":"Elias Josue","Link da Música":"https://www.youtube.com/watch?v=kGYzzaRYYSE","Plataforma":"YouTube"},"pairedItem":{"item":111}},{"json":{"Artista":"Muriel Alves","Nome da Música":"Búfalo do marajó 💥","Quem Gravou":"aparelhagem nó pará","Link da Música":"https://www.youtube.com/watch?v=pSOjN6rSQfU","Plataforma":"YouTube"},"pairedItem":{"item":112}},{"json":{"Artista":"Muriel Alves","Nome da Música":"O final kkkkkkkkk ❤️😍","Quem Gravou":"Choquei Loures ","Link da Música":"https://www.youtube.com/watch?v=A-sm2wPuzjE","Plataforma":"YouTube"},"pairedItem":{"item":113}},{"json":{"Artista":"Muriel Alves","Nome da Música":"BÚFALO DO MARAJÓ - Alan Carvalho ao vivo 2k25","Quem Gravou":"Alan Carvalho🎙️","Link da Música":"https://www.youtube.com/watch?v=PnEGb35LCik","Plataforma":"YouTube"},"pairedItem":{"item":114}},{"json":{"Artista":"Muriel Alves","Nome da Música":"BANDA 007 - BUFALO DO MARAJÓ (MARCANTE) ÁUDIO CLIPE 2025","Quem Gravou":"Portal do Melody","Link da Música":"https://www.youtube.com/watch?v=BSlNkTLc6XA","Plataforma":"YouTube"},"pairedItem":{"item":115}}]},"versionId":"10ffb85e-86be-40b2-93cb-812ac278837b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-15T20:31:40.898Z","createdAt":"2026-01-15T20:31:40.898Z","role":"workflow:owner","workflowId":"WMCjKBOvMZUS1h3e","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":null,"tags":[]}