Workflows/YDlcYqDKhqwuTouZ8Mg8r.json
{"updatedAt":"2026-01-24T14:13:47.958Z","createdAt":"2026-01-24T14:12:59.862Z","id":"YDlcYqDKhqwuTouZ8Mg8r","name":"[PARA TESTAR] Instagram responde comentarios","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"webhook-comentarios-instagram","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-848,384],"id":"0ef90878-a6df-49a4-8363-212bbfc9bab6","name":"Webhook","webhookId":"30248fdf-7dfb-4ece-a289-305cb10c00cb"},{"parameters":{"assignments":{"assignments":[{"id":"f7761158-8430-4a0e-a03d-b0201f24f392","name":"from_id","value":"={{ $json.body.entry[0].changes[0].value.from.id }}","type":"string"},{"id":"247ed4cd-88bc-4229-a142-673d1486ea0b","name":"from_username","value":"={{ $json.body.entry[0].changes[0].value.from.username }}","type":"string"},{"id":"d8d93412-177c-4366-bec6-9e2a6455dce5","name":"media_id","value":"={{ $json.body.entry[0].changes[0].value.media.id }}","type":"string"},{"id":"93562112-cc6a-4573-a372-09eddaed4a1e","name":"media_type","value":"={{ $json.body.entry[0].changes[0].value.media.media_product_type }}","type":"string"},{"id":"ae85f20d-7024-4b2d-ba27-3d36baf09e85","name":"id","value":"={{ $json.body.entry[0].changes[0].value.id }}","type":"string"},{"id":"650a1a4b-3021-459a-bc26-b24ac1da66bf","name":"parent_id","value":"={{ $json.body.entry[0].changes[0].value.parent_id }}","type":"string"},{"id":"6d641686-d9b5-4b89-8858-658d4ae0d955","name":"text","value":"={{ \n  $json.body.entry[0].changes[0].value.text\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[^a-zA-Z0-9]/g, \"\")\n    .toUpperCase()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-624,384],"id":"7f7d71fd-2f24-4867-b3f2-d47610db985e","name":"Dados do webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"da9d913d-f365-4163-9d26-3288477fbfb1","leftValue":"={{ $json.from_id }}","rightValue":"ID_DO_SEU_INSTAGRAM","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-416,384],"id":"3afc1915-f5e8-431f-9997-a7de3e7c3793","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-192,640],"id":"5d5e0853-9f25-4ac2-870c-aaa34e477e2c","name":"No Operation, do nothing"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"EUQUERO","operator":{"type":"string","operation":"equals"},"id":"86e7f4ea-b1be-4bf1-9ced-7f1b8981f8a6"}],"combinator":"and"},"renameOutput":true,"outputKey":"EUQUERO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5787acae-5dd4-4cf1-a27f-70aa2e29df2d","leftValue":"={{ $json.text }}","rightValue":"QUEROCUPOM","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"QUEROCUPOM"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-208,288],"id":"6c3277db-7a8e-41db-b441-07a7959e453b","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[192,176],"id":"0d081dcf-837d-452e-979d-8aeee479781b","name":"Merge"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[16,480],"id":"63b4a6f0-7178-4ad6-9c37-9abe7980e476","name":"No Operation, do nothing1"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"CJ3ttxxvwLzsKVRS","mode":"list","cachedResultName":"mesagens_instagram","cachedResultUrl":"/projects/le0944HT8qQIM17k/datatables/CJ3ttxxvwLzsKVRS"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"codigo","keyValue":"={{ $json.text }}"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[400,176],"id":"a99d19a6-816e-4afe-a256-e3f6e8d6952e","name":"Get row(s)"},{"parameters":{"assignments":{"assignments":[{"id":"8d3d0015-e47a-4509-8706-2460050c8b67","name":"mensagem_usuario","value":"={{ $json.mensagem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,176],"id":"6644fe84-9bd3-46f5-b1dd-2a607f52c86f","name":"Mensagem para usuario"},{"parameters":{"method":"POST","url":"https://graph.instagram.com/v24.0/ID_DO_SEU_INSTAGRAM/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer SUA_API_KEY"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"recipient.id","value":"={{ $('Dados do webhook').item.json.from_id }}"},{"name":"message.text","value":"={{ $json.mensagem_usuario }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[848,176],"id":"44972b94-cc87-4745-9909-86fc4566a82e","name":"HTTP Request1"},{"parameters":{"content":"## LINK DO VÍDEO EXPLICATIVO\n\nhttps://www.youtube.com/watch?v=aFdD_18vgs0","height":240,"width":368},"type":"n8n-nodes-base.stickyNote","position":[-880,16],"typeVersion":1,"id":"33de83f8-8449-4bb5-89fe-786838ae5c04","name":"Sticky Note"}],"connections":{"Webhook":{"main":[[{"node":"Dados do webhook","type":"main","index":0}]]},"Dados do webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Mensagem para usuario","type":"main","index":0}]]},"Mensagem para usuario":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"1157c87d-7b0d-483a-96b6-8aa6d76e4ac6","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-24T14:12:59.862Z","createdAt":"2026-01-24T14:12:59.862Z","role":"workflow:owner","workflowId":"YDlcYqDKhqwuTouZ8Mg8r","projectId":"Cf0rhzAQivp560yX"}],"activeVersion":null,"tags":[]}